﻿<!-- 스티커 -->
<div class="box box-primary" id="module_sticker">
    <div class="box-header with-border">
        파티클 스티커 목록
    </div>
    <div class="box-body">
        <div id="module_sticker_module_sticker" class="col-xs-12 text-center" style="min-height: 272px;"></div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        var $area = $('div#module_sticker');

        var InsertSticker = function (src, title) {
            CKEDITOR.instances.editor1.insertHtml('<img src="' + src + '" style="width:150px;" title="' + title + '"/><br/>');
        };

        var LoadStickerList = function (page) {
            $area.find('div#module_sticker_module_sticker').load("/sully/product/module/type1/sticker/list", {
                page: page,
                page_size: 10
            }, function () {
                $(this).find('ul.pagination a').on('click', function (e) {
                    LoadStickerList(parseInt($(this).data('page')));
                    return false;
                }).end().find('div#sticker_img img').on('click', function (event) {
                    InsertSticker($(this).attr("src"), $(this).attr("title"));
                }).end();
            });
        };

        LoadStickerList(1);
    });
    //]]>
</script>