﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.StickerData>


<div class="form-group" id="sticker_img" style="cursor: pointer;">
    @foreach (var item in Model.Data)
    {
        <img src="@item.Sticker_URL" style="width:75px; height:75px; overflow:hidden; margin:2px;" title="@item.Sticker_Name">
    }
</div>
<div class="row text-center">
    @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Request.QueryString })
</div>