﻿<!-- 3줄요약 입력 모듈 -->
<div class="box box-primary" id="module_summary">
    <div class="box-header with-border">
        3줄 요약
    </div>
    <div class="box-body">
        <div class="form-group">
            <button id="btn_Insert_module_summary" class="btn btn-app">
                <i class="fa fa-edit"></i> 3줄요약
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        var $area = $('div#module_summary');

        var InsertSummary = function () {
            var html = '<ol ssully_type="summary">'
                + '    <li>여기에 입력해 주세요</li>'
                + '    <li>여기에 입력해 주세요</li>'
                + '    <li>여기에 입력해 주세요</li>'
                + '</ol>';
            CKEDITOR.instances.editor1.insertHtml(html + "<br/>");
        };

        $area.find('button#btn_Insert_module_summary').on('click', function (e) {
            InsertSummary();
            return false;
        });
    });
    //]]>
</script>