﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.BannedList>

@{
    ViewBag.MenuCode = "M030402";
}
@Html.Navigator("댓글차단관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "댓글차단관리", Active = true }
})

<section class="content">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <form action="/Sully/Comment/BannedList" method="get">
                    <input type="hidden" name="ps" value="@JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,50)" />
                    <table class="table table-hover dataTable">
                        <tbody>
                            <tr>
                                <td>
                                    <select name="status" class="form-control" style="min-width:120px">
                                        <option value=""> - 전 체 - </option>
                                        <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>차단</option>
                                        <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>차단제외</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="search" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.search, "")" placeholder="검색어(IP,작성자명,별명등) 입력..." style="min-width:250px">
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="sdt" id="sdt" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt, "")" data-date-format="yyyy-mm-dd" placeholder="검색시작일" style="min-width:120px;max-width:120px">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="edt" id="edt" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.edt, "")" data-date-format="yyyy-mm-dd" placeholder="검색종료일" style="min-width:120px;max-width:120px">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default">검색</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
        <table class="table table-hover dataTable">
            <thead>
                <tr class="bg-gray-light">
                    <th>번호</th>
                    <th>차단정보</th>
                    <th>차단사유</th>
                    <th>차단기간(일)</th>
                    <th>등록일시</th>
                    <th>차단해제예정일</th>
                    <th>상태</th>
                    <th>변경</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data != null && Model.Data.Count() > 0)
                {
                    foreach (var exart in Model.Data)
                    {
                        <tr class="odd">
                            <td>
                                @(Model.TotalItemCount - (exart.rownum - 1))
                            </td>
                            <td>
                                @if ("M".Equals(exart.bnd_type, StringComparison.OrdinalIgnoreCase))
                                {
                                    <small style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px; border: 1px solid #666;">Member</small>
                                    @exart.mem_nick_nm

                                    if ("G".Equals(exart.mem_type))
                                    {
                                        <span class="bg-red" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Google</span>
                                    }
                                    else if ("F".Equals(exart.mem_type))
                                    {
                                        <span class="bg-blue" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Facebook</span>
                                    }
                                    else if ("K".Equals(exart.mem_type))
                                    {
                                        <span class="bg-yellow" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Kakao</span>
                                    }
                                    else if ("N".Equals(exart.mem_type))
                                    {
                                        <span class="bg-green" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Naver</span>
                                    }
                                    else
                                    {
                                        <span class="bg-gray-light" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Unknown (@exart.mem_type)</span>
                                    }
                                }
                                else
                                {
                                    <small style="font-size: 10px; font-weight: bold; padding: 3px 22px; border-radius: 10px; border: 1px solid #666;">IP</small>
                                    <small class="label label-default">@exart.bnd_ip</small>
                                }
                            </td>
                            <td>
                                @exart.bnd_desc
                            </td>
                            <td>
                                @exart.bnd_days 일
                            </td>
                            <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.reg_dt)</td>
                            <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.reg_dt.AddDays(exart.bnd_days))</td>
                            <td>
                                @if (DateTime.Now > exart.reg_dt.AddDays(exart.bnd_days))
                                {
                                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 기간종료</small>
                                }
                                else
                                {
                                    if ("N".Equals(exart.bnd_yn, StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-default"><i class="fa fa-clock-o"></i> 차단해제</small>
                                    }
                                    else
                                    {
                                        <small class="label label-success"><i class="fa fa-clock-o"></i> 차단</small>
                                    }
                                }
                            </td>
                            <td>
                                <div class="pull-right">
                                    @if (DateTime.Now <= exart.reg_dt.AddDays(exart.bnd_days))
                                    {
                                        if ("Y".Equals(exart.bnd_yn, StringComparison.OrdinalIgnoreCase))
                                        {
                                            <button type="button" class="btn btn-danger btn-xs pull-right" onclick="fn_banned_status('N', '@exart.seq')">차단해제</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-warning btn-xs" onclick="fn_banned_status('Y','@exart.seq')">차단</button>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center">데이터가 없습니다.</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row text-center">
            @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions
       {
           Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "ps", JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,50).ToString() },
                                   { "status", JCube.AF.Util.Converts.ToString(ViewBag.Data.status,"") },
                                   { "search", JCube.AF.Util.Converts.ToString(ViewBag.Data.search,"")  },
                                   { "sdt", JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt,"")  },
                                   { "edt", JCube.AF.Util.Converts.ToString(ViewBag.Data.edt,"")  }
                               }
       })
        </div>
    </div>

    <div class="modal fade" id="modal-banned">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">차단 등록</h5>
                </div>
                <form method="post" action="/Sully/Comment/Banned" class="form-horizontal frmWrite">
                    <input type="hidden" name="b_mseq" id="b_mseq">
                    <input type="hidden" name="b_ip" id="b_ip">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="days" class="col-sm-2 control-label">차단일수 </label>
                            <div class="col-sm-10">
                                <select name="b_days" id="b_days" class="form-control">
                                    <option value="3"> 3일 </option>
                                    <option value="7"> 7일 </option>
                                    <option value="30"> 30일 </option>
                                    <option value="3000"> 영구 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="desc" class="col-sm-2 control-label">차단사유</label>
                            <div class="col-sm-10">
                                <input type="text" id="b_desc" name="b_desc" class="form-control" placeholder="차단사유" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">적용</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
@section script {
<script src="~/scripts/jquery.form.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
    //<![CDATA[

    //초기셋팅
    $(function () {
        $('#edt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });
        $('#sdt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });
    });
    function fn_banned_status(status, cseq) {
        if (cseq == undefined || (cseq <= 0)) { alert("잘못된 정보입니다."); return; }
        if (status == undefined || (status != "Y" && status != "N")) { alert("잘못된 정보입니다."); return; }
        var msg = "";
        if (status == "Y") { msg = "차단"; } else { msg = "차단해제"; }
        if (confirm(msg + ' 처리 하시겠습니까?')) {
            $.post("/sully/Comment/BannedStatus", { seq: cseq, st: status }, function (data) {
                alert(data.message);
                if (data.result) { window.location.href = location.href; }
            }, "json");
        }
    }
    //]]>
    </script>
}

