﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.CommentList>

@{
    ViewBag.MenuCode = "M030401";
}
@Html.Navigator("댓글관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "댓글관리", Active = true }
})

<section class="content">
    <div class="box">
        <div class="box-body">
            <form action="/Sully/Comment/" class="form-inline" method="get">
                <input type="hidden" name="pgi" value="1" />
                <input type="hidden" name="ps" value="@JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,30)" />

                <div class="form-group col-xs-1">
                    <select name="status" class="form-control">
                        <option value="">- 전체 -</option>
                        <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>노출</option>
                        <option value="S" @(("S").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>숨김</option>
                        <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>삭제</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <input type="text" class="form-control" name="search" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.search, "")" placeholder="검색어(프로덕트명,작성자명,댓글내용)" />
                </div>
                <div class="form-group col-xs-2">
                    <div class="form-control text-center">
                        <input type="text" class="no-border text-center" name="sdt" id="sdt" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt, "")" data-date-format="yyyy-mm-dd" placeholder="시작일" style="width:80px" />
                        <span>~</span>
                        <input type="text" class="no-border text-center" name="edt" id="edt" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.edt, "")" data-date-format="yyyy-mm-dd" placeholder="종료일" style="width:80px" />
                    </div>
                </div>
                
                <button type="submit" class="btn btn-default">검색</button>
            </form>
        </div>
    </div>

    <div class="box">
        <table class="table table-hover dataTable">
            <thead>
                <tr class="bg-gray-light">
                    <th>번호</th>
                    <th class="sorting" onclick="fn_order()" id="pd_sorting">프로덕트명</th>
                    <th>작성자</th>
                    <th>상태</th>
                    <th>댓글내용</th>
                    <th>공감수</th>
                    <th>등록IP</th>
                    <th>등록일시</th>
                    <th>변경</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data != null && Model.Data.Count() > 0)
                {
                    foreach (var exart in Model.Data)
                    {
                        <tr class="odd" role="row">
                            <td>
                                @(Model.TotalItemCount - (exart.rownum - 1))
                            </td>
                            <td>
                                <a href="#" onclick="fn_Comment_popup('@exart.pd_seq',0)" alt="@exart.pd_title 댓글보기" title="@exart.pd_title 댓글보기">@exart.pd_title.Ellipsis(30, "...")</a>
                            </td>
                            <td>
                                <a href="#" onclick="fn_Comment_popup(0,@exart.mem_seq)" alt="@exart.mem_nick_nm 댓글보기" title="@exart.mem_nick_nm 댓글보기">@exart.mem_nick_nm</a>
                                @if ("G".Equals(exart.mem_type))
                                {
                                    <span class="bg-red" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Google</span>
                                }
                                else if ("F".Equals(exart.mem_type))
                                {
                                    <span class="bg-blue" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Facebook</span>
                                }
                                else if ("K".Equals(exart.mem_type))
                                {
                                    <span class="bg-yellow" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Kakao</span>
                                }
                                else if ("N".Equals(exart.mem_type))
                                {
                                    <span class="bg-green" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Naver</span>
                                }
                                else
                                {
                                    <span class="bg-gray-light" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Unknown (@exart.mem_type)</span>
                                }
                            </td>
                            <td>
                                @if ("Y".Equals(exart.cmt_status, StringComparison.OrdinalIgnoreCase))
                                {
                                    <small class="label label-success"><i class="fa fa-clock-o"></i> 노출</small>
                                }
                                else if ("S".Equals(exart.cmt_status, StringComparison.OrdinalIgnoreCase))
                                {
                                    <small class="label label-warning"><i class="fa fa-clock-o"></i> 숨김</small>
                                }
                                else if ("N".Equals(exart.cmt_status, StringComparison.OrdinalIgnoreCase))
                                {
                                    <small class="label label-default"><i class="fa fa-clock-o"></i> 삭제</small>
                                }
                            </td>
                            <td>
                                <a class="comment" href="javascript:void(0);">@exart.cmt_content.Ellipsis(30, "...")</a>
                                <div class="title" style="display: none;">@exart.pd_title</div>
                                <div class="comment" style="display: none;">
                                    @exart.cmt_content
                                </div>
                            </td>
                            <td>
                                @exart.cmt_like_cnt
                            </td>
                            <td>@exart.reg_ip</td>
                            <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.reg_dt)</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" onclick="fn_banned('@exart.mem_seq','')">작성자 차단</button>
                                    <button type="button" class="btn btn-default btn-xs" onclick="fn_banned(0,'@exart.reg_ip')">IP차단</button>
                                </div>

                                <div class="btn-group">
                                    @if ("Y".Equals(exart.cmt_status, StringComparison.OrdinalIgnoreCase))
                                    {
                                        <button type="button" class="btn btn-danger btn-xs" onclick="fn_comment_status('S','@exart.cmt_seq')">숨김</button>
                                    }
                                    @if (!"N".Equals(exart.cmt_status, StringComparison.OrdinalIgnoreCase))
                                    {
                                        <button type="button" class="btn btn-danger btn-xs" onclick="fn_comment_status('N', '@exart.cmt_seq')">삭제</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9" class="text-center">데이터가 없습니다.</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row text-center">
            @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions
       {
           Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "ps", JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,30).ToString() },
                                   { "status", JCube.AF.Util.Converts.ToString(ViewBag.Data.status,"") },
                                   { "search", JCube.AF.Util.Converts.ToString(ViewBag.Data.search,"")  },
                                   { "sdt", JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt,"")  },
                                   { "edt", JCube.AF.Util.Converts.ToString(ViewBag.Data.edt,"")  },
                                   { "order", JCube.AF.Util.Converts.ToString(Request["order"],"")  }
                               }
       })
        </div>
    </div>

    <div class="modal fade" id="modal-banned">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">차단 등록</h5>
                </div>
                <form method="post" action="/Sully/Comment/Banned" class="form-horizontal frmWrite">
                    <input type="hidden" name="b_mseq" id="b_mseq">
                    <input type="hidden" name="b_ip" id="b_ip">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="days" class="col-sm-2 control-label">차단일수 </label>
                            <div class="col-sm-10">
                                <select name="b_days" id="b_days" class="form-control">
                                    <option value="3"> 3일 </option>
                                    <option value="7"> 7일 </option>
                                    <option value="30"> 30일 </option>
                                    <option value="9999"> 영구 </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desc" class="col-sm-2 control-label">차단사유</label>
                            <div class="col-sm-10">
                                <input type="text" id="b_desc" name="b_desc" class="form-control" placeholder="차단사유" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">적용</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-comment">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
@section script {
<script src="~/scripts/jquery.form.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript">
    //<![CDATA[

        //초기셋팅
        $(function () {
            $('#edt, #sdt').datepicker({
                dateFormat: 'yyyy-mm-dd',
                pickerPosition: 'bottom-right',
                autoclose: true
            });

            var or = "@JCube.AF.Util.Converts.ToString(Request["order"], "")";
            if (or == "pd")
                $("#pd_sorting").attr("class", "sorting_desc");
            else
                $("#pd_sorting").attr("class", "sorting");

            $('a.comment').on('click', function (e) {
                var comment = $(this).closest('td').find('div.comment').text();
                var title = $(this).closest('td').find('div.title').text();
                $('div#modal-comment')
                    .find('.modal-title').text(title).end()
                    .find('.modal-body').text(comment).end()
                    .modal('show');
                return false;
            });
        });

        function fn_comment_status(status, cseq) {
            if (cseq == undefined || (cseq <= 0)) { alert("잘못된 정보입니다."); return; }
            if (status == undefined || (status != "S" && status != "N")) { alert("잘못된 정보입니다."); return; }
            var msg = "";
            if (status == "S") { msg = "숨김"; } else { msg = "삭제"; }
            if (confirm(msg + ' 처리 하시겠습니까?')) {
                $.post("/sully/comment/commentstatus", { cmtseq: cseq, st: status }, function (data) {
                    alert(data.message);
                    if (data.result) { window.location.href = location.href; }
                }, "json");
            }
        }

        /*등록*/
        $('form.frmWrite').ajaxForm({
            beforeSerialize: function () {
                // param = "?pgi=" + querystring("pgi");
            },
            beforeSubmit: function (data, frm, option) {
                var m = true; ip = true;
                var bmseq = frm.find('#b_mseq');
                var bip = frm.find('#b_ip');
                if ($.trim(bmseq.val()).length == 0) { m = false; }
                if ($.trim(bip.val()).length == 0) { ip = false; }

                if (!m && ip) { alert("사용자 정보가 유효하지 않습니다."); return false; }

                var bdays = frm.find('#b_days');
                var bdesc = frm.find('#b_desc');
                if ($.trim(bdays.val()).length == 0) {
                    alert('차단 일수를 선택하여 주시기 바랍니다.');
                    bdays.focus();
                    return false;
                }
                if ($.trim(bdesc.val()).length == 0) {
                    alert('차단 사유를 입력하여 주시기 바랍니다.');
                    bdesc.focus();
                    return false;
                }
                return true;
            },
            success: function (response, status) {
                if ('success' === status.toLowerCase()) {
                    if (response.result) {
                        alert(response.message);
                    } else { alert(response.message); }
                }
                $('#modal-banned').modal('hide');
            },
            error: function (e) {
                alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                return false;
            }
        });

        function fn_banned(mseq, ip) {
            $('#b_mseq').val('');
            $('#b_ip').val('');
            $('#b_desc').val('');

            if (!mseq && !ip) {
                alert("정보가 유효하지 않습니다.");
                return;
            }

            $('#b_mseq').val(mseq);
            $('#b_ip').val(ip);
            $('#modal-banned').modal('show');
            return false;
        }

        function fn_Comment_popup(pno, mno) {
            window.open("/Sully/Comment/PopList?pdseq=" + pno + "&mseq=" + mno + "&popup=Y", "JoinsComment", "width=1800px,height=800px,scrollbars=yes,resizable=yes");
        }

        function fn_order() {
            @{
            string sOrder = "";
            if (string.IsNullOrEmpty(JCube.AF.Util.Converts.ToString(Request["order"]))) {sOrder = "pd";}
            }
            location.href = "@Html.GenerateLink("/Sully/Comment/", new System.Collections.Specialized.NameValueCollection {
                { "ps", JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,30).ToString() },
                { "status", JCube.AF.Util.Converts.ToString(ViewBag.Data.status,"") },
                { "search", JCube.AF.Util.Converts.ToString(ViewBag.Data.search,"")  },
                { "sdt", JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt,"")  },
                { "edt", JCube.AF.Util.Converts.ToString(ViewBag.Data.edt,"")  },
                { "order", sOrder}})";
            }
    //]]>
    </script>
}