﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.CommentReportList>

@{
    ViewBag.MenuCode = "M030403";
}

@Html.Navigator("댓글신고 관리", "사용자의 의해 신고된 댓글에 대한 관리 페이지 입니다.", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "댓글신고 관리", Active = true }
})

<section class="content">
    <div class="box">
        <table class="table table-hover dataTable">
            <thead>
                <tr class="bg-gray-light">
                    <th>번호</th>
                    <th>프로덕트명</th>
                    <th>댓글 작성자</th>
                    <th>신고 수</th>
                    <th>댓글 등록일시</th>
                    <th>처리</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data != null)
                {
                    foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@string.Format("{0:N0}", Model.TotalItemCount - item.rownum + 1)</td>
                            <td><a href="/sully/product/edit?pno=@item.pd_seq" target="_blank">@item.pd_title.Ellipsis(100, "...")</a> <i class="fa fa-fw fa-external-link"></i></td>
                            <td>@item.mem_nick_nm</td>
                            <td>@string.Format("{0:N0}", item.report_cnt)</td>
                            <td>@string.Format("{0:yyyy-MM-dd HH:mm}", item.reg_dt)</td>
                            <td>
                                <input type="hidden" class="hdf_report_cmt_seq" value="@item.cmt_seq" />
                                <button class="btn_report_info btn btn-xs">댓글보기</button>
                                <button class="btn_report_accept btn btn-xs btn-danger">수락</button>
                                <button class="btn_report_reject btn btn-xs btn-warning">반려</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">신고 내역이 없습니다.</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row text-center">
            @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Request.QueryString })
        </div>
    </div>

</section>

<div class="modal fade" id="modal-comment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">신고 댓글정보</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                <button type="submit" class="btn_modal_report_accept btn btn-danger">수락</button>
                <button type="submit" class="btn_modal_report_reject btn btn-warning">반려</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    //<![CDATA[
    var getCommentInfo = function (el, is_modal) {
        return {
            cmt_seq: is_modal ? $(el).closest('div#modal-comment').data('cmt_seq') : $(el).closest('td').find('.hdf_report_cmt_seq').val()
        };
    };

    // 댓글 상세보기
    var loadCommentRepostDetail = function (page, cmt_seq) {
        $('div#modal-comment .modal-body').load('/sully/comment/report/info', {
            cmt_seq: cmt_seq,
            page: page,
            page_size: 10
        }, function (responseText, textStatus, jqXHR) {
            $('div#modal-comment').modal('show').find('.pagination a').on('click', function (e) {
                if ($(this).data('page')) {
                    var $area = $(this).closest('div#modal-comment');

                    $area.find('.pagination a').off('click');
                    loadCommentRepostDetail($(this).data('page'), $area.data('cmt_seq'));
                }
                return false;
            }).end().data('cmt_seq', cmt_seq);
        });
    };

    // 댓글 숨김처리
    var setCommentReportAccept = function (cmt_seq, is_modal) {
        $.getJSON("/sully/comment/report/accept", {
            cmt_seq: cmt_seq
        }, function (data) {
            if (data.result) {
                alert('처리되었습니다.');
                location.href = '/sully/comment/report';
            } else {
                alert(result.message);
            }

            if (is_modal)
                $('div#modal-comment').modal('hide');
        });
    };

    // 댓글 숨김처리 반려
    var setCommentReportReject = function (cmt_seq, is_modal) {
        $.getJSON("/sully/comment/report/reject", {
            cmt_seq: cmt_seq
        }, function (data) {
            if (data.result) {
                alert('처리되었습니다.');
                location.href = '/sully/comment/report';
            } else {
                alert(result.message);
            }

            if (is_modal)
                $('div#modal-comment').modal('hide');
        });
    };

    $(function () {
        $('button.btn_report_info').on('click', function (e) {
            var info = getCommentInfo(this, false);
            loadCommentRepostDetail(1, info.cmt_seq);
            return false;
        });
        
        $('button.btn_report_accept, button.btn_modal_report_accept').on('click', function (e) {
            var is_modal = $(this).hasClass('btn_modal_report_accept');
            var info = getCommentInfo(this, is_modal);

            if (confirm('정말 수락하시겠습니까? 처리 후 되돌릴 수 없습니다.\n댓글입력차단이 필요한 경우 별도로 처리해 주셔야 합니다.'))
                setCommentReportAccept(info.cmt_seq, is_modal);

            return false;
        });
        $('button.btn_report_reject, button.btn_modal_report_reject').on('click', function (e) {
            var is_modal = $(this).hasClass('btn_modal_report_reject');
            var info = getCommentInfo(this, is_modal);

            if (confirm('정말 반려하시겠습니까? 처리 후 되돌릴 수 없습니다.'))
                setCommentReportReject(info.cmt_seq, is_modal);

            return false;
        });
    });
    //]]>
</script>