﻿<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/guide/">중앙일보 APPs API</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/guide/">Home</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">News10 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/guide/news10/common.html">공통</a></li>
                        <li><a href="/guide/news10/card.html">카드</a></li>
                        <li><a href="/guide/news10/etc.html">기타</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>