﻿@model Joins.Apps.SSully.Models.Home.MainList.Banner

<!-- Module : Quiz (Background: 입력값)-->
<section class="module quiz" style="background-color:@Model.Color">
    <h3 class="sec-title indent">썰리퀴즈</h3>
    <a href="View/@Model.LinkSeq"><img src="@Model.ImageUrl" alt=""></a>
</section>
<!--// Module : Quiz (Background: 입력값) -->