﻿@model IEnumerable<Joins.Apps.Models.Sully.API.ProductMain>

<!-- Module : Pedia -->
<section class="module pedia">
    <h3 class="sec-title">썰리피디아 <span>썰리에게 물어봐! 대답해줄게~</span></h3>
    <a href="/?ptype=2&corner=y" class="go-cornerList" data-ssully-history="true">리스트로 이동</a>
    <ul class="def-list">
        @foreach (var item in Model)
        {
            <li>
                <a href="View/@item.Seq" data-ssully-history="true">
                    <figure>
                        <span class="thumb">
                            <img src="@item.ImageUrl" alt="" class="thumb-img">
                        </span>
                        <figcaption>
                            <p class="subject">@item.Title</p>
                            <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(item.ServiceDate))</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
        }
    </ul>
</section>
<!--// Module : Pedia -->