﻿@model Joins.Apps.Models.Sully.API.ProductMain

<!-- Module : Presso (2018.09 추가) START  -->
<section class="module presso">
    <h3 class="sec-title">썰리프레소 <span>짧지만 진한뉴스. 핵심만 간단히</span></h3>
    <a href="/?ptype=8&corner=y" class="go-cornerList" data-ssully-history="true">리스트로 이동</a>

    <a href="View/@Model.Seq" data-ssully-history="true">
        <figure>
            <img src="@Model.ImageUrl" alt="">
            <figcaption>@Model.Title</figcaption>
        </figure>
    </a>
</section>
<!--// Module : Presso (2018.09 추가) END -->