﻿@model IEnumerable<Joins.Apps.Models.Sully.API.ProductMain>

<!-- Module : List -->
<section id="infinite-module" class="module default">
    <h3 class="sec-title indent">기본리스트</h3>
    <ul class="def-list" id="append-list">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <li class="label">
                <a href="View/@item.Seq" data-ssully-history="true" data-ssully-product-seq="@item.Seq">
                    <figure>
                        <span class="thumb">
                            <img src="@item.ImageUrl" alt="" class="thumb-img">
                        </span>
                        <figcaption>
                            @if (!string.IsNullOrWhiteSpace(item.ProviderURL))
                            {
                                <span class="ic-label"><img src="@item.ProviderURL" alt=""></span>
                            }
                            <p class="subject">@item.Title</p>
                            <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(item.ServiceDate))</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            }
        }
    </ul>
    <div id="ajax-loading" class="motion-ellipsis"><span></span><span></span><span></span><span></span></div>
</section>
<!--// Module : List -->