﻿@model Joins.Apps.SSully.Models.Home.MainList

@if (Model.List != null)
{
    foreach (var product in Model.List)
    {
        foreach (var item in product.ProductData)
        {
            <li class="label">
                <a href="View/@item.Seq" data-ssully-history="true">
                    <figure>
                        <span class="thumb">
                            <img src="@item.ImageUrl" alt="" class="thumb-img">
                        </span>
                        <figcaption>
                            @if (!string.IsNullOrWhiteSpace(item.ProviderURL))
                        {
                                <span class="ic-label"><img src="@item.ProviderURL" alt=""></span>
                            }
                            <p class="subject">@item.Title</p>
                            <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(item.ServiceDate))</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
        }
    }
}