﻿@model IEnumerable<Joins.Apps.SSully.Models.Home.MainList.Ranking>
<!-- Module : 주간차트 -->
<section class="module weekly">
    <h3 class="sec-title">썰리의 주간 차트 <span>TOP5</span></h3>

    <!-- 연령별 차트 s -->
    <ul class="age-filter">
        <li class="item@(Model.Count(x => x.AgeGroup == 0 && x.Selected) > 0 ? " on" : string.Empty)" data-age="0"><a href="javascript:void(0);">전체</a></li>
        <li class="item@(Model.Count(x => x.AgeGroup == 10 && x.Selected) > 0 ? " on" : string.Empty)" data-age="10"><a href="javascript:void(0);">10대</a></li>
        <li class="item@(Model.Count(x => x.AgeGroup == 20 && x.Selected) > 0 ? " on" : string.Empty)" data-age="20"><a href="javascript:void(0);">20대</a></li>
        <li class="item@(Model.Count(x => x.AgeGroup == 30 && x.Selected) > 0 ? " on" : string.Empty)" data-age="30"><a href="javascript:void(0);">30대</a></li>
        <li class="item@(Model.Count(x => x.AgeGroup == 40 && x.Selected) > 0 ? " on" : string.Empty)" data-age="40"><a href="javascript:void(0);">40대 이상</a></li>
    </ul>
    <!--// 연령별 차트 e -->
    <!-- 코너명 : pedia, story, quiz, tour 클래스 부여 -->
    @foreach (var rank in Model)
    {
        <ul class="weekly-list" @Html.Raw(!rank.Selected ? @" style=""display: none;""" : string.Empty) data-age="@rank.AgeGroup">
            @foreach (var item in rank.Rank)
                {
                    var corner_type_class = string.Empty;
                    switch (item.CornerType)
                    {
                        case 1:
                            // 기본형 (대화형)
                            break;
                        case 2:
                            // 썰리피디아
                            corner_type_class = "pedia ";
                            break;
                        case 3:
                            // 썰록사무소
                            corner_type_class = "office ";
                            break;
                        case 4:
                            // 한컷썰리
                            corner_type_class = "one-cut ";
                            break;
                        case 5:
                            // 스토리썰링
                            corner_type_class = "story ";
                            break;
                        case 6:
                            // 여기가봤썰
                            corner_type_class = "tour ";
                            break;
                        case 7:
                            // 썰리퀴즈
                            corner_type_class = "quiz ";
                            break;
                        case 8:
                            // 썰리프레소
                            corner_type_class = "presso ";
                            break;
                    }

                <li class="@(corner_type_class)rank@(item.Rank)">
                    <a href="View/@item.Seq" data-ssully-history="true">
                        @if (item.CornerType != 1)
                        {
                            <span class="dist-corner">@item.CornerName</span>
                        }
                        <span>@item.Title</span>
                    </a>
                </li>
            }
        </ul>
    }
    <!--// 코너명 : pedia, story, quiz, tour 클래스 부여 -->
</section>
<!--// Module : 주간차트 -->

<script type="text/javascript">
        //<![CDATA[
    $('section.module.weekly li.item a').on('click', function (e) {
        var age = $(this).closest('li.item').data('age');

            $('section.module.weekly ul.weekly-list[data-age]').hide().filter('[data-age=' + age + ']').show();
            $('section.module.weekly li.item').removeClass('on');
            $(this).closest('li.item').addClass('on');
            return false;
        });
        //]]>
</script>