﻿@model IEnumerable<Joins.Apps.Models.Sully.API.ProductMain>

<!-- Module : Story -->
<section class="module story">
    <h3 class="sec-title">스토리 썰링 <span>너의 마음을 움직일 세상 이야기</span></h3>
    <a href="/?ptype=5&corner=y" class="go-cornerList" data-ssully-history="true">리스트로 이동</a>

    <!-- 스토리썰링 갤러리 : 5개 노출 -->
    <div class="story-gallery">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <a href="View/@item.Seq" data-ssully-history="true">
                        <figure>
                            <img src="@item.ImageUrl" alt="">

                            <figcaption>
                                <p class="story-title">@item.Title</p>
                                <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(item.ServiceDate))</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
    <!--// 스토리썰링 갤러리 : 5개 노출 -->
</section>
<!--// Module : Story -->