﻿@model Joins.Apps.SSully.Models.Home.MainList.ProductMainTour

<!-- Module : Tour -->
<section class="module tour">
    <h3 class="sec-title">여기가봤썰 <span>너만 모르는 요즘 핫플, 다 알려주겠어!</span></h3>
    <a href="/?ptype=6&corner=y" class="go-cornerList" data-ssully-history="true">리스트로 이동</a>

    <!-- 대표 이미지는 rep , 기타이미지는 sub -->
    <div class="tour-gallery">
        <div class="rep">
            <a href="View/@Model.Seq" data-ssully-history="true">
                @if (Model.ProductTourImages.Count() > 0)
                {
                    <img src="@Model.ProductTourImages.ToList()[0]" alt="">
                }
                <span class="tour-title">@Model.Title</span>
            </a>
        </div>
        <div class="sub top">
            <a href="View/@Model.Seq" data-ssully-history="true">
                @if (Model.ProductTourImages.Count() > 1)
                {
                    <img src="@Model.ProductTourImages.ToList()[1]" alt="">
                }
            </a>
        </div>
        <div class="sub bottom">
            <a href="View/@Model.Seq" data-ssully-history="true">
                @if (Model.ProductTourImages.Count() > 2)
                {
                    <img src="@Model.ProductTourImages.ToList()[2]" alt="">
                }
                @if (Model.ProductTourImages.Count() - 3 > 0)
                {
                    <span class="tour-etc">+@(Model.ProductTourImages.Count() - 3)장</span>
                }
            </a>
        </div>
    </div>
    <!--// 대표 이미지는 rep , 기타이미지는 sub -->
</section>
<!--// Module : Tour -->