﻿@{
    ViewBag.MenuCode = "M0309";
}
@Html.Navigator("통계", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "통계", Active = true }
})

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body no-pading">
                    <div class="form-group">
                        <label for="txt-search">검색할 통계 제목</label>
                        <input type="email" class="form-control" id="txt-search" name="txt-search" accesskey="s" placeholder="찾고자 하는 통계명을 입력해 주세요" />
                    </div>
                    <table class="table table-striped" style="margin-top: 10px;">
                        <tbody>
                            <tr>
                                <th class="text-center" style="width: 10px">#</th>
                                <th style="width: 250px;">통계명</th>
                                <th class="text-center">조건</th>
                                <th class="text-center" style="width: 150px">다운로드</th>
                            </tr>
                            <tr class="statistics-row">
                                <td class="text-center">1.</td>
                                <td class="statistics-title">코너별 유입량</td>
                                <td class="text-center">-</td>
                                <td class="text-center"><a class="btn btn-xs btn-info" href="/sully/statistics/statistics_001"><i class="fa fa-cloud-download"></i> 다운로드</a></td>
                            </tr>
                            <tr class="statistics-row">
                                <td class="text-center">2.</td>
                                <td class="statistics-title">썰리퀴즈 일별 응답자 수</td>
                                <td class="text-center">
                                    <form action="/sully/statistics/statistics_002" id="frm_statistics_002" class="form-inline" method="get">
                                        <div class="form-row">
                                            <div class="form-group">
                                                <label for="pst">검색일자</label>
                                                <input type="text" class="form-control bootstrap-date" id="statistics_002_search_date" name="statistics_002_search_date" placeholder="검색일자" />
                                            </div>
                                            <div class="form-group">
                                                <label for="pst">프로덕트 고유번호</label>
                                                <input type="text" class="form-control" id="statistics_002_pd_seq" name="statistics_002_pd_seq" placeholder="프로덕트 고유번호" />
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="text-center"><a class="btn btn-xs btn-info" href="/sully/statistics/statistics_002" onclick="javascript: $('form#frm_statistics_002').submit(); return false;"><i class="fa fa-cloud-download"></i> 다운로드</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $.fn.datepicker.dates['ko'] = {
            days: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
            daysShort: ["일", "월", "화", "수", "목", "금", "토"],
            daysMin: ["일", "월", "화", "수", "목", "금", "토"],
            months: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            monthsShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            today: "오늘",
            clear: "취소",
            format: "yyyy-mm-dd",
            titleFormat: "yyyy년 MM", /* Leverages same syntax as 'format' */
            weekStart: 0
        };
        $('.bootstrap-date').datepicker({ pickerPosition: 'bottom-right', language: 'ko', title: 'yyyy년 MM', autoclose: true });

        $('td.statistics-title').each(function (idx, el) {
            $(el).data('title', $(el).text());
        });

        $('input#txt-search').on('keyup', function (e) {
            var value = $(this).val();
            var selector = $('td.statistics-title:contains("' + value + '")');

            $('tr.statistics-row').hide();

            if (selector.length > 0) {
                selector.closest('tr.statistics-row').show();
                selector.each(function (idx, el) {
                    $(el).html($(el).data('title').replace(value, '<span style="background-color: #fd0;color: #f00;font-weight: bold;">' + value + '</span>'));
                });
            } else if ($.trim(value).length == 0) {
                $('tr.statistics-row').show();
            }
        });
    });
    //]]>
</script>