﻿<!doctype html>
<html lang="ko">
<head>
    <title>@(ViewBag.Title ?? "썰리 - 썰로 푸는 이슈 정리")</title>
    <link rel="shortcut icon" href="https://images.joins.com/ssully/common/favicon.ico" />
    <link rel="apple-touch-icon" href="https://images.joins.com/ssully/common/web_home_ic.png" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0" />
    <meta name="title" content="@(ViewBag.Meta_Title ?? "썰리 - 썰로 푸는 이슈 정리")" />
    <meta name="description" content="@(ViewBag.Meta_Description ?? "아무리 어려운 뉴스라도 ‘썰리’가 설명∙정리 해 드립니다.")" />
    <meta name="news_keywords" content="@(ViewBag.Meta_Keywords ?? "")" />
    <meta name="keywords" content="@(ViewBag.Meta_Keywords ?? "")" />
    <meta property="article:author" content="@(ViewBag.Meta_Article_Author ?? "https://www.facebook.com/ssullynews")" />
    <meta property="article:publisher" content="@(ViewBag.Meta_Article_Publisher ?? "https://www.facebook.com/ssullynews")" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@(ViewBag.Meta_Og_Url ?? "https://ssully.joins.com/")">
    <meta property="og:title" content="@(ViewBag.Meta_Og_Title ?? "썰리 - 썰로 푸는 이슈 정리")" />
    <meta property="og:description" content="@(ViewBag.Meta_Og_Description ?? "아무리 어려운 뉴스라도 ‘썰리’가 설명∙정리 해 드립니다.")" />
    <meta property="og:image" content="@(ViewBag.Meta_Og_Image ?? "https://images.joins.com/ssully/common/share_thum.png")" />
    <meta property="og:site_name" content="@(ViewBag.Meta_Og_Site_Name ?? "썰리")" />
    <meta property="og:locale" content="ko_KR" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="@(ViewBag.Meta_Og_Title ?? "썰리 - 썰로 푸는 이슈 정리")" />
    <meta name="twitter:description" content="@(ViewBag.Meta_Og_Description ?? "아무리 어려운 뉴스라도 ‘썰리’가 설명∙정리 해 드립니다.")">
    <meta name="twitter:image:src" content="@(ViewBag.Meta_Og_Image ?? "https://images.joins.com/ssully/common/share_thum.png")">
    
    <meta name="naver-site-verification" content="365bc05d503a3d8d7521ab536ab44cdf2ca0ac32" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />

    @if (IsSectionDefined("HeaderPublishCSSJavascript"))
    {
        @RenderSection("HeaderPublishCSSJavascript", false)
    }
    else
    {
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/ssully_ver3.css?t=@ViewContext.ViewBag.CssCacheString" />

        <script src="/Scripts/jquery-3.2.1.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/Scripts/jquery.inview.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <script src="/Scripts/jquery.youtube-inview-autoplay.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    }
    <script src="/Scripts/common.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    
    @RenderSection("header", false)
</head>
<body>
    <!-- 레이어 : 로그인 -->
    <div id="layer_loginbox" class="fulllayer layer_msg">
        <div class="content">
            <div class="msg">
                <i class="ic_ok"></i>
                <strong class="txt_b">로그인이 필요해요</strong>
                <p class="txt"></p>
                <button class="btn_txt btn_close" type="button">아니, 괜찮아</button>
                <button class="btn_txt btn_confirm" type="button">로그인하기</button>
            </div>
        </div>
    </div>

    @RenderBody()
    @RenderSection("script", false)

    <script type="text/javascript">
        $(function () {
            $(document).ajaxSuccess(function (event, jqXHR, ajaxOptions, data) {
                if (data && data.hasOwnProperty('ssully_login_result')) {
                    switch (data.ssully_login_result) {
                        case '1000':
                            // 로그인 필수
                            location.replace('/User/Login');
                            break;
                        case '2000':
                            // 로그인 필수
                            location.replace('/User/Logout');
                            break;
                        case '2001':
                            // 로그인 정보 올바르지 않음
                            location.replace('/User/Regist');
                            break;
                    }
                }
            });
        });
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '347447995804155');
        fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W32779P');</script>
    <!-- End Google Tag Manager -->

        @*<!-- Facebook Pixel Code (iOS Formsubmit 오류 이슈로 일단 사용비활성)-->
            <noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=347447995804155&ev=PageView&noscript=1" />
        </noscript>
            <!-- End Facebook Pixel Code -->*@

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W32779P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "name": "썰리",
        "url": "https://ssully.joins.com",
        "sameAs": [
        "https://play.google.com/store/apps/details?id=com.joins.joongang.ssully",
        "https://itunes.apple.com/app/id1335446055",
        "https://www.facebook.com/ssullynews",
        "https://www.instagram.com/ssullynews"
        ]
        }
    </script>

    <!-- Facebook Analytics -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1738112329574490',
                cookie: true,
                xfbml: true,
                version: 'v3.2'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--// Facebook Analytics -->
</body>
</html>