﻿@model Joins.Apps.Cms.Models.Sully.Notice.Detail

@{
    ViewBag.MenuCode = "M0306";
}
@Html.Navigator("공지사항", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "공지사항", Active = true }
})

<section class="content">
    <div class="box">
        <form class="form-horizontal" action="/Sully/Notice/Detail" method="post">
            <input type="hidden" name="seq" value="@(Model.IsEditMode ? Convert.ToString(Model.Data.Seq) : null)" />
            <div class="box-body">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해 주세요" value="@(Model.IsEditMode ? Model.Data.Title : string.Empty)">
                    </div>
                </div>
                <div class="form-group" id="push_title" style="display: none;">
                    <label for="title" class="col-sm-2 control-label">푸시용 제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="pushtitle" name="pushtitle" placeholder="공란시 공지사항 제목으로 발송됩니다" value="@(Model.IsEditMode ? Model.Data.PushTitle : string.Empty)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContent" class="col-sm-2 control-label">공지사항 내용</label>
                    <div class="col-sm-10">
                        <textarea id="content" name="content" rows="33">@(Model.IsEditMode ? Model.Data.Content : string.Empty)</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="notice_toggle btn @(Model.IsEditMode ? ("Y".Equals(Model.Data.UseYN) ? "btn-warning" : "btn-default") : "btn-default")">
                            <i class="fa fa-fw @(Model.IsEditMode ? ("Y".Equals(Model.Data.UseYN) ? "fa-check-circle-o" : "fa-circle-o") : "fa-circle-o")"></i><span>공개</span>
                        </button>
                        @if (!Model.IsEditMode)
                        {
                        <button type="button" class="notice_push btn btn-default">
                            <i class="fa fa-fw fa-bell-slash-o"></i><span>Push Notification</span>
                        </button>
                        }
                        
                        <input type="hidden" id="useyn" name="useyn" value="@(Model.IsEditMode ? Model.Data.UseYN : "N")" />
                        <input type="hidden" id="pushyn" name="pushyn" value="@(Model.IsEditMode ? Model.Data.PushYN : "N")" />
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a id="btn_back" href="javascript:void(0);" class="btn btn-default">
                    <i class="fa fa-fw fa-reply"></i> 취소
                </a>
                <a id="btn_save" href="javascript:void(0);" class="btn btn-info pull-right">
                    <i class="fa fa-fw fa-save"></i> @(Model.IsEditMode ? "수정" : "등록")
                </a>
            </div>
        </form>
</div>
</section>

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('a#btn_back').on('click', function () { history.go(-1); });
        $('a#btn_save').on('click', doSubmit);

        if ($('input:hidden#pushyn').val() == 'Y')
            $('#push_title').show();
        else
            $('#push_title').hide();

        $('button.notice_toggle').on('click', function (e) {
            $(this).toggleClass('btn-warning btn-default')
                .find('i').toggleClass('fa-circle-o fa-check-circle-o').end();

            $('input:hidden#useyn').val($(this).hasClass('btn-warning') ? 'Y' : 'N');
        });

        $('button.notice_push').on('click', function (e) {
            $(this).toggleClass('btn-warning btn-default')
                .find('i').toggleClass('fa-bell-o fa-bell-slash-o').end();

            var pushyn = $(this).hasClass('btn-warning') ? 'Y' : 'N';

            $('input:hidden#pushyn').val(pushyn);

            if (pushyn == 'Y')
                $('#push_title').show();
            else
                $('#push_title').hide();
        });

        CKEDITOR.replace('content', {
            toolbarGroups: [
                { name: 'clipboard', groups: ['clipboard', 'undo'] },
                { name: 'editing', groups: ['find', 'selection', 'spellchecker'] },
                { name: 'links' },
                { name: 'insert' },
                { name: 'forms' },
                { name: 'tools' },
                { name: 'document', groups: ['mode', 'document', 'doctools'] },
                { name: 'others' },
                { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
                { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'] },
                { name: 'styles' },
                { name: 'colors' }
            ],
            filebrowserUploadUrl: '/sully/notice/upload/image'
        });
        CKEDITOR.config.height = 570;
        CKEDITOR.config.allowedContent = true;//html 태그 허용옵션
    });

    var doSubmit = function () {
        if ($.trim($('input#title').val()).length == 0) {
            alert('공지사항 제목을 입력해 주시기 바랍니다.');
            return false;
        }

        if ($.trim($('input#title').val()).length == 500) {
            alert('공지사항 제목은 500자 이내로 입력해 주시기 바랍니다.');
            return false;
        }

        if ($.trim(CKEDITOR.instances.content.getData()).length == 0) {
            alert('공지사항 내용을 입력해 주시기 바랍니다.');
            return false;
        }

        if (confirm('@(Model.IsEditMode ? "수정" : "등록")하시겠습니까?')) {
            $('form').submit();
        }
    };
    //]]>
</script>