﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.NoticeList> 

@{
    ViewBag.MenuCode = "M0306";
}
@Html.Navigator("공지사항", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "공지사항", Active = true }
})

<section class="content">

    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <form action="/Sully/Notice/List" method="get" enctype="application/x-www-form-urlencoded">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <select name="searchtype" class="form-control">
                                    <option value="">- 검색종류 -</option>
                                    <option value="1" @(("1").Equals(ViewBag.Data.SearchType) ? "selected" : String.Empty)>제목</option>
                                    <option value="2" @(("2").Equals(ViewBag.Data.SearchType) ? "selected" : String.Empty)>내용</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="searchvalue" value="@ViewBag.Data.SearchValue" placeholder="검색어를 입력해 주세요">
                            </div>
                            <div class="col-sm-3">
                                <select name="useyn" class="form-control">
                                    <option value=""> - 공개여부 - </option>
                                    <option value="Y" @(("Y").Equals(ViewBag.Data.UseYN) ? "selected" : String.Empty)>공개</option>
                                    <option value="N" @(("N").Equals(ViewBag.Data.UseYN) ? "selected" : String.Empty)>비공개</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="form-control btn btn-default">검색</button>
                    </div>
                    <div class="col-md-offset-5 col-xs-1">
                        <a href="Detail" class="form-control btn btn-warning">등록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="box">
        <table class="table table-hover dataTable">
            <thead>
                <tr class="bg-gray-light">
                    <th class="text-center col-xs-1">번호</th>
                    <th class="text-center">제목</th>
                    <th class="text-center col-xs-1">공개여부</th>
                    <th class="text-center col-xs-2">작성일시</th>
                    <th class="text-center col-xs-2">수정일시</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data != null && Model.Data.Count() > 0)
                {
                    foreach (var item in Model.Data)
                    {
                    <tr>
                        <td class="text-center">@(Model.TotalItemCount - (item.RowNum - 1))</td>
                        <td>
                            @if ("Y".Equals(item.PushYn))
                            {
                                <span class="label label-warning"><i class="fa fa-fw fa-bell"></i></span>
                            }
                            else
                            {
                                <span class="label label-default"><i class="fa fa-fw fa-bell-slash-o"></i></span>
                            }
                            <a href="Detail/@item.Seq">@item.Title</a>
                        </td>
                        <td class="text-center">
                            @if ("Y".Equals(item.UseYn))
                            {
                                <small class="label bg-green">공개</small>
                            }
                            else
                            {
                                <small class="label bg-gray">비공개</small>
                            }
                        </td>
                        <td class="text-center">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.RegDate)</td>
                        <td class="text-center">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.ModifyDate)</td>
                    </tr>
                    }
                } else
                {
                    <tr><td colspan="5" class="text-center">검색된 데이터가 없습니다.</td></tr>
                }
            </tbody>
        </table>
        <div class="row text-center">
            @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { PageParameterName = "page", Parameters = Request.QueryString })
        </div>
    </div>
</section>