﻿<!-- 기사 링크 입력 모듈 -->
<div class="box box-primary" id="module_urllink">
    <div class="box-header with-border">
        링크기사 URL
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="txt_parse_url_module_urllink" placeholder="기사 주소">
                <span class="input-group-btn">
                    <button id="btnUrlInfo_module_urllink" class="btn btn-sm btn-primary">가져오기</button>
                </span>
            </div>
        </div>
    </div>
    <div class="box-body" style="border-top: 1px solid #eee;">
        <div class="form-group">
            <label>도메인</label>
            <input type="text" id="txt_link_domain_module_urllink" class="form-control" value="" placeholder="도메인" />
        </div>
        <div class="form-group">
            <label>기사 URL</label>
            <input type="text" id="txt_link_url_module_urllink" class="form-control" placeholder="기사 URL" />
        </div>
        <div class="form-group">
            <label>썸네일</label>
            <input type="text" id="txt_link_thumbnail_module_urllink" class="form-control" placeholder="썸네일 주소" />
        </div>
        <div class="form-group">
            <label>제목</label>
            <input type="text" id="txt_link_title_module_urllink" class="form-control" placeholder="기사 제목" />
        </div>
    </div>
    <div class="box-footer">
        <button id="btnInsert_module_urllink" class="btn btn-primary btn-xs pull-right">링크 추가</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var $area = $('div#module_urllink');

        var InsertUrlLinkInfo = function () {
            var txtDomain = $area.find('#txt_link_domain_module_urllink');
            var txtUrl = $area.find('#txt_link_url_module_urllink');
            var txtThumbnail = $area.find('#txt_link_thumbnail_module_urllink');
            var txtTitle = $area.find('#txt_link_title_module_urllink');

            if ($.trim(txtDomain.val()).length <= 0) {
                alert('도메인을 입력해 주시기 바랍니다.');
                txtDomain.focus();
                return false;
            }
            if ($.trim(txtUrl.val()).length <= 0) {
                alert('기사 URL을 입력해 주시기 바랍니다.');
                txtUrl.focus();
                return false;
            }
            if ($.trim(txtThumbnail.val()).length <= 0) {
                alert('썸네일 주소를 입력해 주시기 바랍니다.');
                txtThumbnail.focus();
                return false;
            }
            if ($.trim(txtTitle.val()).length <= 0) {
                alert('제목을 입력해 주시기 바랍니다.');
                txtTitle.focus();
                return false;
            }

            var html = '<div ssully_type="link" ssully_href="' + $.trim(txtUrl.val()) + '" style="max-width: 80%; border: 1px solid #000;">'
                + '  <div class="thumb"><img src="' + $.trim(txtThumbnail.val()) + '" style="width: 100%;"></div>'
                + '  <div class="title">' + $.trim(txtTitle.val()) + '</div>'
                + '  <div class="domain">' + $.trim(txtDomain.val()) + '</div>'
                + '</div>';

            if (!$(this).data('callback'))
                CKEDITOR.instances.editor1.insertHtml(html + '<br/>');
            else
                eval($(this).data('callback')).call(this, html + '<br/>');

            return false;
        };

        $area.find('button#btnInsert_module_urllink').on('click', InsertUrlLinkInfo).end()
            .find('button#btnUrlInfo_module_urllink').on('click', function (e) {
            // url 정보 가져오기
            var txtParseUrl = $area.find('#txt_parse_url_module_urllink');

            if ($.trim(txtParseUrl.val()).length <= 0) {
                alert('주소를 입력해 주시기 바랍니다.');
                txtParseUrl.focus();
                return false;
            }

            $.post('/sully/product/module/urllink/info', {
                url: txtParseUrl.val()
            }, function (responseText, responstStatus, jqXHR) {
                $area.find('#txt_link_domain_module_urllink').val(responseText['custom:domain']);
                $area.find('#txt_link_url_module_urllink').val(responseText['og:url']);
                $area.find('#txt_link_thumbnail_module_urllink').val(responseText['og:image']);
                $area.find('#txt_link_title_module_urllink').val(responseText['og:title']);

                alert('링크정보를 가져왔습니다. 아래 내용을 확인하시고 링크 추가 버튼을 클릭해 주세요.');
            });
        });
    });
</script>