﻿<!-- 영상 링크 입력 모듈 -->
<div class="box box-primary" id="module_videolink">
    <div class="box-header with-border">
        영상
    </div>
    <div class="box-body">
        <div class="form-group">
            <select id="optVideoType_module_videolink">
                <option value="">== 영상 출처 ==</option>
                <option value="YOUTUBE">Youtube</option>
            </select>
        </div>
        <div class="form-group">
            <textarea rows="5" class="form-control" id="txtVideoHtml_module_videolink" placeholder="추가할 영상 HTML 태그를 입력해 주세요."></textarea>
        </div>
    </div>
    <div class="box-footer">
        <button id="btnInsert_module_videolink" class="btn btn-primary btn-xs pull-right">적용</button>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        var $area = $('div#module_videolink');

        var InsertVideo = function (type, html) {
            var el = $(html).removeAttr('width').removeAttr('height').attr('ssully_type', 'video').attr('ssully_video_referrer', type).css({
                'max-width': '80%',
                'border': '1px solid #000'
            });
            var source = $('<div>').html(el);

            if (!$area.find('button#btnInsert_module_videolink').data('callback'))
                CKEDITOR.instances.editor1.insertHtml(source.html() + '<br/>');
            else
                eval($area.find('button#btnInsert_module_videolink').data('callback')).call(this, source.html() + '<br/>');
        };

        $area.find('button#btnInsert_module_videolink').on('click', function (e) {
            var txtVideoHtml_module_videolink = $("#txtVideoHtml_module_videolink");
            var optVideoType_module_videolink = $('#optVideoType_module_videolink');

            if ($.trim(optVideoType_module_videolink.val()).length == 0) {
                alert('추가할 영상의 종류를 선택해 주세요.');
                optVideoType_module_videolink.focus();
                return false;
            }

            if ($.trim(txtVideoHtml_module_videolink).length == 0) {
                alert('추가할 영상 HTML을 입력해 주세요.');
                txtVideoHtml_module_videolink.focus();
                return false;
            }

            InsertVideo(optVideoType_module_videolink.val(), txtVideoHtml_module_videolink.val());
            return false;
        });
    });
    //]]>
</script>