﻿@model Joins.Apps.Models.News10.NotiPush

@{
    ViewBag.MenuCode = "M0205";
}

@Html.Navigator("일반알림푸시 관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "일반알림푸시 관리", Active = true }
})

<section class="content">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
             일반 알림을 등록하시면 되겠습니다. (예약시간은 10분 단위로)<br />
            브리핑알림이 가는 매시 정각과 30분은 피해주시면 좋을듯 합니다.
        </div>
    </div>
    <div class="box">
        <form method="post" action="/Push/PushEdit" class="form-horizontal frmWrite" >
            <input type="hidden" name="pgi" value="@(JCube.AF.Util.Converts.ToInt32(Request["pgi"], 1))">
            <input type="hidden" name="seq" value="@Model.SEQ">
            <div class="box-body">
                <table class="table">
                   <tr>
                        <th class="col-xs-2 bg-gray-light">* 푸시OS타입</th>
                        <td class="col-xs-10">
                            <input type="radio" name="os_div" id="os_div1" value="ALL" @((JCube.AF.Util.Converts.ToString(Model.OS_DIV, "")).Equals("ALL") ? "checked" : String.Empty)>
                            <label for="weather_type1">전체</label>
                            <input type="radio" name="os_div" id="os_dive2" value="IOS" @((JCube.AF.Util.Converts.ToString(Model.OS_DIV, "")).Equals("IOS") ? "checked" : String.Empty)>
                            <label for="weather_type2">IOS</label>
                            <input type="radio" name="os_div" id="os_div3" value="AND" @((JCube.AF.Util.Converts.ToString(Model.OS_DIV, "")).Equals("AND") ? "checked" : String.Empty)>
                            <label for="weather_type3">AND</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 상태</th>
                        <td class="col-xs-10">
                            <input type="radio" name="used_yn" id="usedyn1" value="Y" @((JCube.AF.Util.Converts.ToString(Model.USED_YN, "")).Equals("Y") ? "checked" : String.Empty)>
                            <label for="usedyn1">사용</label>
                            <input type="radio" name="used_yn" id="usedyn2" value="N" @((JCube.AF.Util.Converts.ToString(Model.USED_YN, "")).Equals("N") ? "checked" : String.Empty)>
                            <label for="usedyn2">삭제</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 푸시메시지</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="pushmsg" name="push_msg" placeholder="푸시 메시지를 입력하여 주십시오." value="@Model.PUSH_MSG"  />
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 푸시발송일시</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="pushtime" name="push_time" placeholder="푸시 발송 일시를 입력하여 주십시오." value="@Model.PUSH_TIME" />
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">수정자/수정일</th>
                        <td class="col-xs-10">
                            @(Model.MOD_ID + " / " + string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.MOD_DT))
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">등록자/등록일</th>
                        <td class="col-xs-10">
                            @(Model.REG_ID + " / " + string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.REG_DT))
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button type="reset" class="btn btn-default">취소</button>
                    <button type="submit" class="btn btn-warning">@(Model.SEQ > 0 ? "수정" : "등록")</button>

                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>

@section script {
    @*<script src="~/Content/ckeditor/ckeditor.js"></script>*@
    <script src="~/scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
      //  CKEDITOR.replace('txtContents', { customConfig: '/Content/ckeditor/config.js?uploadPath=story&height=480' });

        $('button:reset').click(function (e) {
            history.go(-1);
            return false;
        });
        $(function () {
            $('#pushtime').datetimepicker({
                dateFormat: 'yyyy-mm-dd HH:mm' ,
                autoclose: true,
                minuteStep: 10,
                todayHighlight: true
            });
        });
        //$("input[name='weather_type']").click(function () {
        //    if ($(this).val() == 0) {
        //        $("#brief_type0").attr("checked", false);
        //        $("#brief_type0").attr("disabled", true);
        //    } else { $("#brief_type0").attr("disabled", false); }
        //    // Do something interesting here
        //});
        //function fn_submit() {
        //    var osdiv = $("input[name=os_div]:checked");
        //    var usedyn = $("input[name=used_yn]:checked");
        //    if ($.trim(osdiv.val()).length == 0) {
        //        alert('푸시OS타입을 선택하여 주시기 바랍니다.');
        //        return false;
        //    }
        //    if ($.trim(usedyn.val()).length == 0) {
        //        alert('상태를 선택하여 주시기 바랍니다.');
        //        return false;
        //    }
        //}
        var param = "";
        $('form.frmWrite').ajaxForm({

            beforeSerialize: function () {
                param = "?pgi=" + querystring("pgi");

             //   CKEDITOR.instances.txtContents.updateElement();
            },
            beforeSubmit: function (data, frm, option) {
                var osdiv = $("input[name=os_div]:checked");
                var usedyn = $("input[name=used_yn]:checked");
                var pushmsg = frm.find('#pushmsg');
                var pushtime = frm.find('#pushtime');
                
                if ($.trim(osdiv.val()).length == 0) {
                    alert('푸시OS타입을 선택하여 주시기 바랍니다.');
                    osdiv.focus();
                    return false;
                }
                if ($.trim(usedyn.val()).length == 0) {
                    alert('상태를 선택하여 주시기 바랍니다.');
                    return false;
                }
                if ($.trim(pushmsg.val()).length == 0) {
                    alert('푸시 메시지를 선택하여 주시기 바랍니다.');
                    osdiv.focus();
                    return false;
                }
                if ($.trim(pushtime.val()).length == 0) {
                    alert('푸시전송 일시를 선택하여 주시기 바랍니다.');
                    osdiv.focus();
                    return false;
                }

              

                return true;
            },
            success: function (response, status) {
                if ('success' === status.toLowerCase()) {
                    if (response.result) {
                        alert('@(Model.SEQ>0 ? "수정" : "등록")되었습니다.');
                        location.href = 'PushList' + param;
                    } else {
                        alert(response.message);
                    }
                }
            },
            error: function () {
                alert('@(Model.SEQ > 0 ? "수정" : "등록") 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                return false;
            }
        });
        function querystring(key) {
            var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
            var r = [], m;
            while ((m = re.exec(document.location.search)) != null) r[r.length] = m[1];
            return r;
        }
        //]]>
    </script>
}