﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.News10.NotiPush>

@{
    ViewBag.MenuCode = "M0205";
}

@Html.Navigator("일반알림푸시 관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "일반알림푸시 관리", Active = true }
})

<section class="content">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row margin-bottom">
                <form action="/Card/ExceptArticleList" method="get">
                    <div class="col-md-12 form-inline">
                        <input type="hidden" name="page" value="1" />
                        <select name="uyn" class="form-control">
                            <option value=""> - 전 체 - </option>
                            <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>사용</option>
                            <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>삭제</option>
                        </select>
                        <button type="submit" class="btn btn-default">검색</button>
                        <a href="/Push/PushEdit" class="btn btn-default pull-right">알림푸시등록</a>
                    </div>
                </form>
            </div>
            <table class="table table-hover dataTable">
                <thead>
                    <tr class="bg-gray-light">
                        <th>번호</th>
                        @*<th>푸시OS</th>*@
                        <th>푸시메시지</th>
                        <th>발송일시</th>
                        <th>상태</th>
                        <th>등록일</th>
                        <th>수정일</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0) {
                        foreach (var exart in Model.Data) {
                            <tr class="odd">
                                <td>
                                    @(Model.TotalItemCount - (exart.ROWNUM - 1))
                                </td>
                                @*<td>
                                    <a href="@Html.GenerateLink("/Push/PushEdit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "sno", Convert.ToString(@exart.SEQ) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) }
                                                                     })">@exart.OS_DIV</a>
                                                                </td>*@
                                                                <td><a href="@Html.GenerateLink("/Push/PushEdit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "sno", Convert.ToString(@exart.SEQ) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) }
                                                                     })">@exart.PUSH_MSG</a></td>
                                <td>
                                    @(exart.PUSH_TIME )
                                </td>
                                <td>@((exart.USED_YN == "Y") ? "사용" : "삭제")</td>
                                                              
                                <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.REG_DT)</td>
                                <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.MOD_DT)</td>
                        </tr>
                        }
                    }
                    else {
                        <tr>
                            <td colspan="6" class="text-center">데이터가 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row text-center">
                @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions {
               Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "sid", Request["sid"] },
                                   { "sdiv", Request["sdiv"] },
                                   { "sch", Request["sch"] }
                               }
           })
            </div>
        </div>
    </div>
</section>