﻿@model Joins.Apps.Cms.Models.loginChk
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Joins Mobile App CMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/blue.css">
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/icheck.min.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b> Joins Mobile App </b>CMS
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="/Auth/" method="post">
                @*<div class="form-group">
                    <select class="form-control" name="grp" id="grp">
                        <option value="news10">News10</option>
                        <option value="sully">Sully</option>
                    </select>
                </div>*@
                <div class="radio">
                    <label>
                        <input type="radio" name="grp" id="grp1" value="news10" @(Model == null || (Model != null && Model.group != "sully") ? "checked" : "")>
                       News10
                    </label>
                    <label>
                        <input type="radio" name="grp" id="grp2" value="sully" @((Model != null && Model.group=="sully") ? "checked" : "") >
                       썰리
                    </label>
                </div>
                <input type="hidden" name="returnUrl" value="@Request["returnUrl"]">
                <div class="form-group has-feedback">
                    <input type="text" name="mid" class="form-control" placeholder="ID" @((Model != null && !Model.relogin) ? "disabled" : "")>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="pwd" class="form-control" placeholder="Password" @((Model != null && !Model.relogin) ? "disabled" : "")>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        @*<div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                            </div>*@
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" @((Model != null && !Model.relogin) ? "disabled" : "")>Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="login-box-msg">@(Model != null && !(string.IsNullOrEmpty(Model.msg)) ? Model.msg : "")</p>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- iCheck -->

    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
    </script>
</body>
</html>
