﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductContentEdit

<div class="row">
    <div class="col-md-12">
        <div id="module_layout_area">
            @Html.Partial("~/views/sully/product/module/item/type7/layout.cshtml", Model)
        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        var lock = false;
        $('form#product_content_edit button.btn-save').on('click', function (e) {

            if (!lock) {
                lock = true;

                var $button = $(this);
                var $character_area = $('div#module_question_character');
                var $content = $('<div/>').append(CKEDITOR.instances.editor1.getData());

                // 문항의 보기는 4개 고정
                var item_list = $content.find('div.page div.question_item ul').map(function () {
                    return $(this).find('li').length;
                });
                if ($.grep(item_list, function (n, i) { return n != 4; }).length > 0) {
                    alert('문항의 보기 갯수가 4개가 아닌 항목이 존재합니다.');
                    lock = false;
                    return false;
                }

                if ($content.find('div.page[data-pd-seq!=@Model.Product.PD_SEQ]').length > 0 || $content.find('div.question_item ul li[data-pd-seq!=@Model.Product.PD_SEQ]').length) {
                    alert('썰리퀴즈는 다른 컨텐트에서 복사 금지입니다.');
                    lock = false;
                    return false;
                }

                var question = $content.find('div.page').map(function (page_idx, page) {
                    var entity = {
                        seq: $(page).find('div.question_title').attr('seq') ? $(page).find('div.question_title').attr('seq') : 0,
                        title: $(page).find('div.question_title').text(),
                        description: $(page).find('div.description').text(),
                        order: page_idx + 1
                    };

                    var latest_item_seq = 0;
                    entity.items = $(page).find('div.question_item ul li').map(function (item_idx, item) {
                        var item_seq = $(item).attr('seq') ? $(item).attr('seq') : 0;

                        if (latest_item_seq == item_seq)
                            item_seq = 0;

                        latest_item_seq = $(item).attr('seq') ? $(item).attr('seq') : 0;
                        return {
                            title: $(item).contents().filter(function () {
                                return this.nodeType === 3
                            }).text(),
                            correct: $(item).has('span.correct').length > 0 ? 'Y' : 'N',
                            seq: item_seq,
                            order: item_idx + 1
                        };
                    }).toArray();

                    return entity;
                }).toArray();

                try {
                    $.post('/sully/product/contentedit/validate/type7', {
                        seq: @Model.Product.PD_SEQ,
                        parameter: question
                    }, function (data) {
                        console.log(data);

                        var pages = CKEDITOR.instances.editor1.document.find('div.page');
                        $.each(data, function(question_idx, question){
                            var page = pages.getItem(question_idx);
                            var div_question = page.findOne('div.question_title');
                            var div_items = page.find('div.question_item ul li');

                            div_question.setAttribute('seq', question.question_seq);
                            $.each(question.items, function(item_idx, item) {
                                div_items.getItem(item_idx).setAttribute('seq', item.item_seq);
                            });
                        });

                        $button.closest('form').submit();
                    }).always(function () {
                        lock = false;
                    });
                } catch (e) {
                    lock = false;
                    alert(e.message);
                }
            } else {
                alert('처리중입니다. 잠시만 기다려 주세요.');
            }

            return false;
        });
    });
    //]]>
</script>