﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductContentEdit

<div class="row">
    <div class="col-md-8">
        <div id="module_layout_area">
            @Html.Partial("~/views/sully/product/module/item/type5/layout.cshtml", Model)
        </div>
        <div id="module_intro_area">
            @Html.Partial("~/views/sully/product/module/item/type5/intro.cshtml", Model)
        </div>
        <div id="module_image_area">
            @Html.Partial("~/views/sully/product/module/item/type5/image.cshtml", Model)
        </div>
    </div>
    <div class="col-md-4">
        <div id="module_urllink_area">
            <!-- URL링크 -->
            @Html.Partial("~/views/sully/product/module/item/common/urllink.cshtml")
        </div>
        <div id="module_videolink_area">
            <!-- 영상 링크 -->
            @Html.Partial("~/views/sully/product/module/item/common/videolink.cshtml")
        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('button#btnInsert_module_urllink, button#btnInsert_module_videolink').data('callback', 'setModuleLink');

        $('form#product_content_edit button.btn-save').on('click', function (e) {
            var $content = $('<div/>').append(CKEDITOR.instances.editor1.getData());

            // 인트로 필수
            if ($content.find('div.intro').length == 0) {
                alert('인트로영역이 존재하지 않습니다.');
                return false;
            }

            // 인트로 배경이미지 필수
            // 인트로 배경색 필수 (하얀색은 안됨)
            var intro_bgimage = $content.find('div.intro').css('background-image');
            var intro_bgcolor = function () {
                var colorval = $content.find('div.intro').css('background-color');

                if (colorval) {
                    var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                    delete (parts[0]);
                    for (var i = 1; i <= 3; ++i) {
                        parts[i] = parseInt(parts[i]).toString(16);
                        if (parts[i].length == 1) parts[i] = '0' + parts[i];
                    }

                    return '#' + parts.join('').toLowerCase();
                }

                return null;
            }();

            if ($.trim(intro_bgimage).length == 0 || $.trim(intro_bgcolor).length == 0) {
                alert('인트로에 이미지가 설정되지 않았습니다.');
                return false;
            }

            if (intro_bgcolor == '#ffffff') {
                alert('배경컬러는 하얀색을 사용할 수 없습니다.');
                return false;
            }
        });
    });

    var getFocusElementClosest = function (selector) {
        var elementPath = CKEDITOR.instances.editor1.elementPath();

        if (elementPath) {
            var elements = elementPath.elements;

            for (var idx in elements) {
                if ($(elements[idx].$).is(selector))
                    return { exists: true, node: elements[idx] };
            }
        }

        return { exists: false, node: null };
    };

    var setModuleLink = function () {
        var html = arguments[0];
        var getNode = function (node, tag, className) {
            if (!node)
                return null;

            var focus_tagname = node.getName();
            var focus_classname = node.$.className;

            if (focus_tagname == tag && focus_classname == className)
                return node;

            return getNode(node.getParent(), tag, className);
        };

        var element = getFocusElementClosest('div.page');

        if (element.exists)
            element.node.findOne('div.particle').setHtml(html);
        else
            alert('파티클 영역에 커서를 두고 추가해 주시기 바랍니다.');

        return false;
    };
    //]]>
</script>