﻿<div class="row">
    <div class="col-md-8">
        <div id="module_image_area">
            <!-- 이미지 -->
            @Html.Partial("~/views/sully/product/module/item/type1/image.cshtml")
        </div>

        <div id="module_sticker_area">
            <!-- 스티커 -->
            @Html.Partial("~/views/sully/product/module/item/type1/sticker.cshtml")
        </div>
    </div>
    <div class="col-md-4">
        <div id="module_urllink_area">
            <!-- URL링크 -->
            @Html.Partial("~/views/sully/product/module/item/common/urllink.cshtml")
        </div>
        <div id="module_videolink_area">
            <!-- 영상 링크 -->
            @Html.Partial("~/views/sully/product/module/item/common/videolink.cshtml")
        </div>
        <div id="module_summary_area">
            <!-- 3줄요약 -->
            @Html.Partial("~/views/sully/product/module/item/type1/summary.cshtml")
        </div>
    </div>
</div>