﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductContentEdit

<div class="row">
    <div class="col-md-12">
        <div id="module_layout_area">
            <div class="box box-primary" id="module_layout">
                <div class="box-header with-border">
                    상세뷰 레이아웃 셋팅
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <button id="btn_Insert_module_layout_title" class="btn btn-app">
                            <i class="fa fa-header"></i> 제목
                        </button>
                        <button id="btn_Insert_module_layout_textarea" class="btn btn-app">
                            <i class="fa fa-align-center"></i> 본문
                        </button>
                        <button id="btn_Insert_module_layout_quote" class="btn btn-app">
                            <i class="fa fa-quote-left"></i> 인용구
                        </button>
                        <button id="btn_Insert_module_layout_summary_title" class="btn btn-app">
                            <i class="fa fa-commenting-o"></i> 썰리 마무리
                        </button>
                        <button id="btn_Insert_module_layout_source" class="btn btn-app">
                            <i class="fa fa-bookmark-o"></i> 출처
                        </button>
                        <button id="btn_Insert_module_layout_remove" class="btn btn-app">
                            <i class="fa fa-eraser"></i> 영역삭제
                        </button>
                    </div>
                    <div class="form-group">
                        <small class="text-orange" style="margin-left: 10px;">* 각 위젯은 에디터의 포커스 다음 영역으로 추가됩니다.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="display: none;">
        <!-- 이미지 업로드 -->
        <div class="box box-primary" id="module_imageupload">
            <div class="box-header with-border">
                이미지 업로드
            </div>

            <div class="box-body">
                <div class="form-group">
                    <form method="post" name="form_imgupload" action="/sully/product/module/imageupload/upload" class="form-horizontal frmWrite" enctype="multipart/form-data">
                        <input type="file" name="file" />
                    </form>
                </div>
                <div class="form-group">
                    <label>설명</label>
                    <textarea class="form-control" id="txtCaption_module_imageupload" name="caption" rows="3" placeholder="이미지의 캡션이 필요한 경우에 작성해 주세요"></textarea>
                </div>
            </div>

            <div class="box-footer">
                <button id="btnInsert_module_imageupload" class="btn btn-primary btn-xs pull-right">업로드</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var editor = CKEDITOR.instances.editor1;
        editor.focusManager.focus(editor.editable());

        var getFocusElementClosest = function (selector) {
            var elementPath = CKEDITOR.instances.editor1.elementPath();

            if (elementPath) {
                var elements = elementPath.elements;

                for (var idx in elements) {
                    if ($(elements[idx].$).is(selector))
                        return { exists: true, node: elements[idx] };
                }
            }

            return { exists: false, node: null };
        };

        // 제목
        var InsertAfterTitle = function (e) {
            var editor = CKEDITOR.instances.editor1;
            var element = getFocusElementClosest('p.unit, blockquote.unit');
            var newElement = CKEDITOR.dom.element.createFromHtml('<p class="unit subject">제목</p>');

            if (element.exists) newElement.insertAfter(element.node);
            else editor.insertElement(newElement);
        };
        // 썰리 마무리
        var InsertAfterSummaryTitle = function (e) {
            var editor = CKEDITOR.instances.editor1;
            var element = getFocusElementClosest('p.unit, blockquote.unit');
            var newElementTitle = CKEDITOR.dom.element.createFromHtml('<p class="unit subject conclusion">썰리 :</p>');
            var newElementContent = CKEDITOR.dom.element.createFromHtml('<p class="unit plain">본문</p>')

            if (element.exists) {
                newElementTitle.insertAfter(element.node);
                newElementContent.insertAfter(newElementTitle);
            } else {
                editor.insertElement(newElementTitle);
                editor.insertElement(newElementContent);
            }
        };
        // 본문
        var InsertAfterTextArea = function (e) {
            var editor = CKEDITOR.instances.editor1;
            var element = getFocusElementClosest('p.unit, blockquote.unit');
            var newElement = CKEDITOR.dom.element.createFromHtml('<p class="unit plain">본문</p>');

            if (element.exists) newElement.insertAfter(element.node);
            else editor.insertElement(newElement);
        };
        // 인용구
        var InsertAfterQuote = function (e) {
            var editor = CKEDITOR.instances.editor1;
            var element = getFocusElementClosest('p.unit, blockquote.unit');
            var newElement = CKEDITOR.dom.element.createFromHtml('<blockquote class="unit">인용구</blockquote>');

            if (element.exists) newElement.insertAfter(element.node);
            else editor.insertElement(newElement);
        };
        // 영역삭제
        var RemoveElement = function (e) {
            var editor = CKEDITOR.instances.editor1;
            var element = getFocusElementClosest('p.unit, blockquote.unit');

            if (element.exists)
                element.node.remove();
            else
                alert('삭제할 영역에 포커스 위치해 주시기 바랍니다.');

            return false;
        };
        //출처
        var InsertAfterSource = function (e) {
            var editor = CKEDITOR.instances.editor1;
            var element = getFocusElementClosest('p.authorship');
            
            if (element.exists)
                alert('출처는 이미 추가된 항목입니다.');
            else
                editor.setData(editor.getData() + '<p class="unit authorship">출처</p>');
        };

        $('div#module_layout_area').find('button#btn_Insert_module_layout_title').on('click', InsertAfterTitle).end()
            .find('button#btn_Insert_module_layout_summary_title').on('click', InsertAfterSummaryTitle).end()
            .find('button#btn_Insert_module_layout_textarea').on('click', InsertAfterTextArea).end()
            .find('button#btn_Insert_module_layout_quote').on('click', InsertAfterQuote).end()
            .find('button#btn_Insert_module_layout_remove').on('click', RemoveElement).end()
            .find('button#btn_Insert_module_layout_source').on('click', InsertAfterSource).end();
    });
</script>


<script type="text/javascript">
    //<![CDATA[
    $(function () {
        var $area = $('div#module_imageupload');

        $area.find('button#btnInsert_module_imageupload').on('click', function (e) {
            /*이미지 등록*/
            $area.find('form.frmWrite').ajaxForm({
                success: function (response, status) {
                    if ('success' === status.toLowerCase())
                        alert(response.result ? '등록 되었습니다.' : response.message);

                    var html = CKEDITOR.dom.element.createFromHtml('<figure class="__ssully_image">'
                    + '	<img alt="' + $area.find('textarea#txtCaption_module_imageupload').val().replace(/"/gi, '&quote;').replace(/\n/gi, '') + '" src="' + response.Url + '" />'
                    + '	<figcaption>' + $area.find('textarea#txtCaption_module_imageupload').val().replace(/\n/gi, '<br/>') + '</figcaption>'
                    + '</figure>');

                    CKEDITOR.instances.editor1.insertElement(html);
                },
                error: function (e) {
                    alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                    return false;
                }
            }).submit();
        });
    });
    //]]>
</script>