﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductContentEdit

<!-- 이미지 업로드 -->
<div class="box box-primary" id="module_question_character">
    <div class="box-header with-border">
        캐릭터 셋팅
    </div>

    <div class="box-body">
        <div class="form-group">
            <label style="font-weight: normal; color: #999;">아래 캐릭터 이미지에서 캐릭터를 끌어와주시기 바랍니다.</label>
        </div>
        <div class="form-group">
            <ul style="list-style: none; padding: 0px; margin: 0px;">
                <li class="pull-left">
                    <label>기본</label>
                    <div class="module_question_character_img module_question_character_img_default" style="width: 100px; height: 100px; border: 1px solid #000;"></div>
                </li>
                <li class="pull-left" style="margin-left: 15px;">
                    <label>정답 (3개, 랜덤노출)</label>
                    <ul style="list-style: none; padding: 0px; margin: 0px;">
                        <li class="pull-left"><div class="module_question_character_img module_question_character_img_correct" style="width: 100px; height: 100px; border: 1px solid #000;"></div></li>
                        <li class="pull-left"><div class="module_question_character_img module_question_character_img_correct" style="width: 100px; height: 100px; border: 1px solid #000; margin-left: 5px;"></div></li>
                        <li class="pull-left"><div class="module_question_character_img module_question_character_img_correct" style="width: 100px; height: 100px; border: 1px solid #000; margin-left: 5px;"></div></li>
                    </ul>
                </li>
                <li class="pull-left" style="margin-left: 15px;">
                    <label>오답</label>
                    <div class="module_question_character_img module_question_character_img_incorrect" style="width: 100px; height: 100px; border: 1px solid #000;"></div>
                </li>
                <li class="pull-left" style="margin-left: 5px;">
                    <label>결과</label>
                    <div class="module_question_character_img module_question_character_img_result" style="width: 100px; height: 100px; border: 1px solid #000;"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 이미지 업로드 -->
<div class="box box-primary" id="module_character">
    <div class="box-header with-border">
        캐릭터 이미지
    </div>

    <div class="box-body">
        <div class="" id="partcle_img"></div>
        <div class="text-center" id="partcle_img_paging"></div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    var $area;
    var $area_character;

    $(function () {
        var editor = CKEDITOR.instances.editor1;
        $area = $('div#module_character');
        $area_character = $('div#module_question_character');

        $area_character.find('div.module_question_character_img').on('drop', function (e) {
            e.originalEvent.preventDefault();
            $(this).html('<img src="' + e.originalEvent.dataTransfer.getData("text") + '" style="width: 100%; height: 100%;"/>');
        }).on('dragover', function (e) {
            e.originalEvent.preventDefault();
        });

        getParticleImgList(1);
    });

    var getElementInFocus = function (selector) {
        var elementPath = CKEDITOR.instances.editor1.elementPath();

        if (elementPath) {
            var elements = elementPath.elements;

            for (var idx in elements) {
                if ($(elements[idx].$).is(selector))
                    return { exists: true, node: elements[idx] };
            }
        }

        return { exists: false, node: null };
    };

    /*이미지 리스트*/
    function getParticleImgList(page) {
        $.getJSON("/API/Sully/Particle/CharacterImgList", {
            pgi: page,
            ps: 30,
            t: '',
            my: 'N'
        }, function (data) {
            if (data.result != null) {
                if (data.result.r != 1) {
                    $area.find("#partcle_img").html('<div style="position:absolute;top:35%;left:30%"><span>캐릭터가 존재하지 않습니다.</span></div>');
                    return false;
                }

                $area.find("#partcle_img").find('img').off('click').end().html('');

                for (i = 0; i < data.result.Data.length; i++)
                    $area.find("#partcle_img").append("<img src='" + data.result.Data[i].IMG_URL + "' style='width:75px;height:75px;overflow:hidden;margin:2px;' title='" + data.result.Data[i].IMG_TAG + "'>");

                $area.find("#partcle_img_paging").html(Pager.PagingHtml(page, data.result.t_cnt, 30, "getParticleImgList"));
            } else {
                $area.find("#partcle_img").html('<div style="position:absolute;top:35%;left:30%"><span>캐릭터가 존재하지 않습니다.</span></div>');
            }
        });
    }
    //]]>
</script>