﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductContentEdit

<!-- 이미지 업로드 -->
<div class="box box-primary" id="module_layout">
    <div class="box-header with-border">
        상세뷰 레이아웃 셋팅
    </div>

    <div class="box-body">
        <div class="form-group">
            @*<button id="btn_Insert_module_layout_subtitle" class="btn btn-app">
                <i class="fa fa-leanpub"></i> 부제영역 추가
            </button>*@
            <button id="btn_Insert_module_layout_question" class="btn btn-app">
                <i class="fa fa-newspaper-o"></i> 문항 추가
            </button>
            <button id="btn_Insert_module_layout_question_item_correct" class="btn btn-app">
                <i class="fa fa-question-circle"></i> 정답 선택
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-question-item-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">문항 정답선택</h5>
            </div>
            <div class="modal-body">
                <div><input type="radio" id="radio_question_1" name="poll_question_item" /> <label for="radio_question_1" style="font-weight: normal;">test</label></div>
                <div><input type="radio" id="radio_question_2" name="poll_question_item" /> <label for="radio_question_2" style="font-weight: normal;">test</label></div>
                <div><input type="radio" id="radio_question_3" name="poll_question_item" /> <label for="radio_question_3" style="font-weight: normal;">test</label></div>
                <div><input type="radio" id="radio_question_4" name="poll_question_item" /> <label for="radio_question_4" style="font-weight: normal;">test</label></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btn-cancel">닫기</button>
                <button type="button" class="btn btn-info pull-right btn-apply">적용</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    var getFocusElementClosest = function (selector) {
        var elementPath = CKEDITOR.instances.editor1.elementPath();

        if (elementPath) {
            var elements = elementPath.elements;

            for (var idx in elements) {
                if ($(elements[idx].$).is(selector))
                    return { exists: true, node: elements[idx] };
            }
        }

        return { exists: false, node: null };
    };

    $(function () {
        var $area = $('div#module_layout');
        var editor = CKEDITOR.instances.editor1;

        $area.find('button#btn_Insert_module_layout_subtitle').on('click', function (e) {
            // 부제 영역 추가
            if ($(editor.getData()).filter('div#subtitle').length == 0)
                editor.setData('<div ssully_type="subtitle" id="subtitle" style="border-bottom: 1px dotted #999; font-size: 22px; font-weight: bold;">이곳에 부제를 입력해 주세요</div><br/><br/>' + editor.getData());
        }).end().find('button#btn_Insert_module_layout_question').on('click', function (e) {
            // 문항 영역 추가
            var html = '<div data-pd-seq="@Model.Product.PD_SEQ" ssully_type="page" class="page" style="padding: 10px; margin-top: 10px; border-top: 3px solid #ccc; border-bottom: 3px solid #ccc;">';
            html += '    <div class="question_title" style="border-bottom: 1px dotted #ccc; padding: 10px 0; font-size: 16px; font-weight: bold;">문항 질문을 입력해 주세요</div>';
            html += '    <div class="question_item" style="border-bottom: 1px dotted #ccc; padding: 10px 0;">';

            html += '        <div style="color: #999;">문항은 4개 고정이며, 모두 사용되어야 합니다.<br/>정답은 레이아웃 셋팅에서 정답을 선택해 주시기 바랍니다.</div>';
            html += '        <ul style="list-style-type: decimal;">';

            // 문항은 4개 고정
            for (var i = 0; i < 4; i++)
                html += '            <li data-pd-seq="@Model.Product.PD_SEQ" style="border-bottom: 1px dotted #999; padding: 5px 0;">보기 항목을 입력해 주세요</li>';

            html += '        </ul>';

            html += '    </div>';
            html += '    <div class="description" style="border-bottom: 1px dotted #ccc; padding: 10px 0;">해설을 입력해 주세요</div>';
            html += '</div><br/><br/>';

            var element = getFocusElementClosest('div.page');

            if (element.exists)
                CKEDITOR.dom.element.createFromHtml(html).insertAfter(element.node);
            else
                editor.setData(editor.getData() + html);
        }).end().find('button#btn_Insert_module_layout_question_item_correct').on('click', function (e) {
            // 문항 정답 선택
            var element = getFocusElementClosest('div.page');

            if (!element.exists) {
                alert('문항 영역에 커서를 두고 추가해 주시기 바랍니다.');
                return false;
            }

            var poll_items = element.node.find('div.question_item ul li');
            var html = '';
            for (var idx in poll_items.toArray()) {
                var poll_text = $('<div/>').append(poll_items.getItem(idx).getHtml()).find('span').remove().end().text();

                html += '<div style="border-bottom: 1px dotted #999; padding: 5px 0;">';
                html += '    <input type="radio" id="radio_question_' + idx + '" name="poll_question_item" /> <label for="radio_question_' + idx + '" style="font-weight: normal;">' + poll_text + '</label>';
                html += '</div>';
            }

            $('div#modal-question-item-info').find('div.modal-body').html(html)
                .end().find('button.btn-apply').on('click', function (e) {
                    var radios = $('div#modal-question-item-info').find('div.modal-body div input:radio');
                    var element = getFocusElementClosest('div.page');

                    if (!element.exists) {
                        alert('문항 영역에 커서를 두고 추가해 주시기 바랍니다.');
                        return false;
                    }

                    if (radios.index(radios.filter(':checked')) < 0) {
                        alert('정답을 선택해 주세요.');
                        return false;
                    }

                    var poll_item = element.node.find('div.question_item ul li').getItem(radios.index(radios.filter(':checked')));
                    var corrent_poll_item = element.node.findOne('div.question_item ul li span');

                    corrent_poll_item && corrent_poll_item.remove();
                    poll_item.setHtml('<span class="correct" style="color: #ff0000; margin-right: 5px;">[정답]</span>' + poll_item.getText());

                    $(this).closest('#modal-question-item-info').find('button.btn-apply').off('click').end().modal('hide');
                }).end().find('button.btn-cancel').one('click', function (e) {
                    $(this).closest('#modal-question-item-info').find('button.btn-apply').off('click').end().modal('hide');
                }).end().modal('show');
            return false;
        }).end();
    });
    //]]>
</script>