﻿@{
    string data = JCube.AF.Module.PageCall.LoadPage("http://static.joins.com/joongang_15re/scripts/data/weather/now.xml");
    //   ViewBag.Title = "Home Page";
    ViewBag.MenuCode = "M0204";
}

<div class="lockscreen-logo">
    <b>날씨 API 확인 </b>
</div>
<div style="position:relative;margin:0 30px;">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            날씨를 확인할 수 있습니다.<br />
        </div>
    </div>
    <form onsubmit="return false">
        <section class="content">
            <div class="row">
                <div class="box box-solid" style="min-height:550px">
                    <div class="box-body" style="display: block;">
                        <table class="table table-bordered">
                            <tbody id="table_news10_list">
                                <tr>
                                    <th style="text-align:center;">지역</th>
                                    <th style="text-align:center;">현재</th>
                                    <th style="text-align:center;" colspan="5">이후날씨</th>
                                </tr>
                                <tr>
                                    <td colspan="6" style="height:60px;text-align:center"><strong>상단의 검색을 통하여 news10 카드를 보실 수 있습니다.</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <div id="layer_overlay" style="position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.5;z-index:1;display:none;"></div>
    <div class="box box-widget" style="position:absolute;width: 80%;height:607px;z-index:1000;top:0px;box-sizing:border-box;left: 50%;margin:0 0 0 -40%;z-index:2;display:none;">
        <div class="box-header with-border">
            <div class="user-block"></div>
            <!-- /.user-block -->
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="remove" id="btn_layer_speechall"><i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="overflow-y:auto;overflow-x:hidden;height:400px"></div>
        <div class="box-footer box-comments">
            <div class="box-comment">
                <span class="username">
                    키워드
                </span>
                <div class="comment-text" id="speech_kwd"></div>
            </div>
            <div class="box-comment">
                <span class="username">
                    관련링크
                </span>
                <div class="comment-text" id="speech_url"></div>

            </div>
        </div>
    </div>
</div>
<div class="lockscreen-footer text-center">
    Copyright &copy; 2017 <b><a href="http://Joongang.co.kr" class="text-black" target="_blank">Joongangilbo</a></b> All rights reserved
</div>
<script type="text/javascript">
                $(document).ready(function () {
                    //$.ajax({
                    //    type: 'GET',
                    //    url: 'http://static.joins.com/joongang_15re/scripts/data/weather/now.xml?wr0e9ure=235432',
                    //    crossDomain: true,
                    //    dataType: 'jsonp xml',
                    //    success: function (data) {
                    //       parseXml(data);
                    //    }
                    //});
                    parseXml();
                });
                function parseXml() {
                    var data1 = ("@data").replace("&lt;", "<").replace("&gt;", ">");
                    var data = data1.replace(/&lt;/gi, "<").replace(/&gt;/gi, ">");
                   var xml = $.parseXML(data);
                   var idx = 0;
                   $("#table_news10_list tr").each(function () { if (idx > 0) { $(this).remove(); } idx++; });
                   $(xml).find('area').each(function () {
                       //var tid = $('admin', val);
                       var area = $(this).find('admin').html();
                       var con = $(this).find('conditionText').html();
                       var t = $(this).find('temp').html();
                       var tm = $(this).find('tempMax').html();
                       var tn = $(this).find('tempMin').html();
                       var p = $(this).find('pm10Grade').html();
                       var h = "";
                      
                       $(this).find('forecast').each(function (index, val) {
                           var ti = $(val).find('time').html();
                           ti = ti.substring(8, 10);
                           var con2 = $(val).find('conditionText').html();
                           var t2 = $(val).find('temp').html();
                           var r2 = $(val).find('rain').html();
                           h = h + "<td style=\"text-align:center\">" +ti+"시<br/>"+ con2 +" "+ t2 + "ºc " + r2 + "%</td>";
                           //val.html()
                          // var tt=val.find('time').html();
                         //  console.log(tt);
                       });
                       $("#table_news10_list").append("<tr><td style=\"text-align:center\">" + area + "</td><td style=\"text-align:center\">" + con + " " +t + "ºc (최고:" + tm + "ºc / 최저:" + tn + "ºc) "  + p + "</td>"+h+"</tr>");
                    });
                    /*
                    var idx = 0;
                    $("#table_news10_list tr").each(function () { if (idx > 1) { $(this).remove(); } idx++; });
                    if (xml.weather.area != undefined && xml.weather.area != null) {
                           var no = 1;
                           $.each((xml.weather.area), function (key, val) {
                               var tid = val.admin;
                               $("#table_news10_list").append("<tr><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.title + "</a></td></tr>");
                               /*
                               var image = val.image;
                               var summaries = val.summaries;
                               var s = "";
                               if (summaries != undefined && summaries != null) {
                                   $.each((summaries), function (key1, val1) {
                                       s = s +val1.summary;
                                   });
                               }
                               var imgs = val.art_imgs;
                               var image="";
                               if (imgs != undefined && imgs != null) {
                                   $.each((imgs), function (key2, val2) {
                                       if (val2.h > 400 || val2.w > 400) {
                                           if (val2.img_url != null) {
                                               image = "http://pds.joins.com" + val2.img_url;
                                           }
                                           return false;
                                       }
                                   });
                               }
                               if (image == undefined || image == "") { if (val.image != null) { image = "http://pds.joins.com" + val.image; } }
                               //if (image == "null") { image = "";}
                               $("#table_news10_list").append("<tr><td style=\"text-align:center\" rowspan=\"2\">" + no + "<br/><a href=\"javascript:seldel('" + val.id + "')\"><i class=\"fa fa-fw fa-remove\"></i></a></td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.id + "</td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.title + "</a></td><td style=\"text-align:center\">" + val.date + "</td><td style=\"text-align:center\" rowspan=\"2\"><a href=\"" + image + "\" target=\"_blank\"><img src=\"" + image + "\" width=\"200px\"/></a></td></tr><tr><td colspan=\"3\">" + s + "</td></tr>");
                                 no++;

                                });

                    } else {
                        $("#table_news10_list").append("<tr><td colspan=\"6\"style=\"text-align:center\"><strong>해당 카드 뉴스가 없습니다.</strong></td></tr>");
                                }
    */
                }

</script>

