﻿@model Joins.Apps.Models.News10.BriefRestoreData
@{
 //   ViewBag.Title = "Home Page";
    ViewBag.MenuCode = "M0210";
 
}

<div class="lockscreen-logo">
    <b>브리핑 카드 이전 타임블럭으로 되돌리기 </b>
</div>
<div style="position:relative;margin:0 30px;">
   
    <div class="box-body">
        <p>이전 타임블록으로 되돌리기로 셋팅된 타임블럭 : <code>@Model.stat_dt</code> </p>
        <a class="btn btn-app bg-maroon" href="javascript:setRestore('')">
            <i class="fa fa-repeat"></i>되돌리기
        </a>
        @if (@Model != null && @Model.used_yn !=null && @Model.used_yn.Equals("Y")) {
        <a class="btn btn-app" href="javascript:setRestore('N')">
            <i class="fa fa-stop"></i>되돌리기 종료
        </a>
        }
        <p/>
        <p>
            <a class="btn btn-info" href="http://apps-api.joins.com/news10/brief/Now" target="_blank">현시간(되돌리긴 전)버전 확인</a>
            @if (@Model != null && @Model.used_yn != null && @Model.used_yn.Equals("Y")) {
                <a class="btn btn-danger" href="http://apps-api.joins.com/news10/brief/" target="_blank">이전으로 되돌린 버전 확인</a>
            }
        </p>
</div>
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            브리핑 카드가 장애가 있을 경우 이전 타임 블럭으로 되돌리는 기능입니다.<br />
            한번 누를 때 마다 그전 한시간 전 타임으로 돌아갑니다.<br />
            되돌리기를 종료할려면 종료 버튼을 사용하면 됩니다.<br />
        </div>
    </div>
</div>
<div class="lockscreen-footer text-center">
    Copyright &copy; 2017 <b><a href="http://Joongang.co.kr" class="text-black" target="_blank">Joongangilbo</a></b> All rights reserved
</div>
<script type="text/javascript">
        $(document).ready(function () {
        });
        function setRestore(ynn) {
            if (ynn == "N") {
                msg = "브리핑카드 타임블록를 이전으로 되돌리기를 중단 하시겠습니까?";
            } else {
                msg = "브리핑카드 타임블록를 이전으로 되돌리기겠습니까?";
            }
            if (confirm(msg)) {
                // $.post()
                $.post("/conf/BriefRestoreEdit", {  yn: ynn }).done(function (data) {
                    if (data.result) { location.href = location.href;} else {alert(data.message);}
                });
            }
            //alert("a");
        }       
</script>

