﻿@{
 //   ViewBag.Title = "Home Page";
    ViewBag.MenuCode = "M0203";
 
}

<div class="lockscreen-logo">
    <b>NEWS 10 카드 API 확인(CRUZ API) </b>
</div>
<div style="position:relative;margin:0 30px;">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            News10 카드 기사를 확인할 수 있습니다.<br/>
            기사를 제외하시더라도 반영까지는 1~2분정도 소용됩니다.
        </div>
    </div>
    <form onsubmit="return false">
        <section class="content">
            <div class="row">
                <div class="box box-solid">
                    <div class="box-body" style="display: block;">
                        <div class="col-md-2" style="padding:0;">
                            <div class="form-group">
                                <label for="age">연령</label>
                                <select class="form-control" id="age">
                                    <option value="0"> 18세미만</option>
                                    <option value="1"> 18세 ~ 24세</option>
                                    <option value="2"> 25세 ~ 34세</option>
                                    <option value="3" selected> 35세 ~ 44세 </option>
                                    <option value="4"> 45세 ~ 54세 </option>
                                    <option value="5"> 55세 ~ 64세 </option>
                                    <option value="6"> 65세이상 </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding:0 15px 0 15px;">
                            <div class="form-group">
                                <label for="gen">성별</label>
                                <select class="form-control" id="gen">
                                    <option value="0">여성</option>
                                    <option value="1">남성</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding:0 15px 0 15px;">
                            <div class="form-group">
                                <label for="div">타입</label>
                                <select class="form-control" id="div">
                                    <option value="0">A</option>
                                    <option value="1">B</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group" style="height:59px">
                                <div class="form-group" style="height:9px"></div>
                                <label for="btn_submit"></label>
                                <button type="button" class="btn btn-primary pull-left" id="btn_submit">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-solid" style="min-height:550px">
                    <div class="box-body" style="display: block;">
                        <h2><a href="javascript:fn_table_close('news10')">NEWS 10</a></h2>
                        <table class="table table-bordered">
                            <tbody id="table_news10_list">
                                <tr>
                                    <th style="text-align:center;width: 40px" rowspan="2">#</th>
                                    <th style="text-align:center;width: 80px">기사ID</th>
                                    <th style="text-align:center;">기사제목</th>
                                    <th style="text-align:center;width: 150px">기사일시</th>
                                    <th style="text-align:center" rowspan="2">이미지</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center;" colspan="3">요약</th>
                                </tr>
                                <tr>
                                    <td colspan="6" style="height:60px;text-align:center"><strong>상단의 검색을 통하여 news10 카드를 보실 수 있습니다.</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <h2><a href="javascript:fn_table_close('issue')">이슈</a></h2>
                        <table class="table table-bordered">
                            <tbody id="table_issue_list">
                                <tr>
                                    <th style="text-align:center;width: 40px" rowspan="2">#</th>
                                    <th style="text-align:center;width: 80px">기사ID</th>
                                    <th style="text-align:center;">이슈키워드</th>
                                    <th style="text-align:center;">기사제목</th>
                                    <th style="text-align:center;width: 180px">기사일시</th>
                                    <th style="text-align:center" rowspan="2">이미지</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center;" colspan="4">요약</th>
                                </tr>
                                <tr>
                                    <td colspan="6" style="height:60px;text-align:center"><strong>상단의 검색을 통하여 이슈를 보실 수 있습니다.</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <h2><a href="javascript:fn_table_close('special')">스페셜</a></h2>
                        <table class="table table-bordered">
                            <tbody id="table_special_list">
                                <tr>
                                    <th style="text-align:center;width: 40px" rowspan="2">#</th>
                                    <th style="text-align:center;width: 80px">기사ID</th>
                                    <th style="text-align:center;">카테고리</th>
                                    <th style="text-align:center;">기사제목</th>
                                    <th style="text-align:center;width: 180px">기사일시</th>
                                    <th style="text-align:center" rowspan="2">이미지</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center;" colspan="4">요약</th>
                                </tr>
                                <tr>
                                    <td colspan="6" style="height:60px;text-align:center"><strong>상단의 검색을 통하여 스페셜카드를 보실 수 있습니다.</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <div id="layer_overlay" style="position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.5;z-index:1;display:none;"></div>
    <div class="box box-widget" style="position:absolute;width: 80%;height:607px;z-index:1000;top:0px;box-sizing:border-box;left: 50%;margin:0 0 0 -40%;z-index:2;display:none;">
        <div class="box-header with-border">
            <div class="user-block"></div>
            <!-- /.user-block -->
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="remove" id="btn_layer_speechall"><i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="overflow-y:auto;overflow-x:hidden;height:400px"></div>
        <div class="box-footer box-comments">
            <div class="box-comment">
                <span class="username">
                    키워드
                </span>
                <div class="comment-text" id="speech_kwd"></div>
            </div>
            <div class="box-comment">
                <span class="username">
                    관련링크
                </span>
                <div class="comment-text" id="speech_url"></div>

            </div>
        </div>
    </div>
</div>
<div class="lockscreen-footer text-center">
    Copyright &copy; 2017 <b><a href="http://Joongang.co.kr" class="text-black" target="_blank">Joongangilbo</a></b> All rights reserved
</div>
<script type="text/javascript">
                $(document).ready(function () {
                    $("#age").change(function () { selsearch(); });
                    $("#gen").change(function () { selsearch(); });
                    $("#div").change(function () { selsearch(); });
                    $("#btn_submit").click(function () { selsearch(); });
                    $(window).scroll(function () {
                        var y = $(window).scrollTop();
                        $(".box-widget").css({ top: y });
                    });
                });
                function fn_table_close(id) {
                    var idx11 = 0;
                    $("#table_"+id+"_list tr").each(function () { if (idx11 > 1) { $(this).toggle(); } idx11++; });
                    
                }
                function seldel(tid) {
                    if (confirm("해당 기사를 제외 하시겠습니까?\n제외하시더라도 반영까지는 1~2분정도 소용됩니다." + tid)) {
                        // $.post()
                        $.post("/Card/ExceptArticleEdit", { total_id: tid, used_yn: "Y" }).done(function (data) {
                            if (data.result) {alert("제외기사로 등록되었습니다.");} else {alert(data.message);}
                            
                        });
                    }
                    //alert("a");
                }
                function selsearch() {
                    var sid = "";
                    var a = $("#age").val();
                    var g = $("#gen").val();
                    var d = $("#div").val();
                    var idx = 0, idx1 = 0, idx2 = 0;
                    $("#table_news10_list tr").each(function () { if (idx > 1) { $(this).remove(); } idx++; });
                    $("#table_issue_list tr").each(function () { if (idx1 > 1) { $(this).remove(); } idx1++; });
                    $("#table_special_list tr").each(function () { if (idx2 > 1) { $(this).remove(); } idx2++; });
                    $.getJSON("http://cruz.joins.com/app?gen=" + g + "&age=" + a + "&div=" + d, function (data) {
                        if (data.News10 != undefined && data.News10 != null) {
                           var no = 1;
                           $.each((data.News10), function (key, val) {
                               var tid = val.id;
                               var image = val.image;
                               var summaries = val.summaries;
                               var s = "";
                               if (summaries != undefined && summaries != null) {
                                   $.each((summaries), function (key1, val1) {
                                       s = s +val1.summary;
                                   });
                               }
                               var imgs = val.art_imgs;
                               var image="";
                               if (imgs != undefined && imgs != null) {
                                   $.each((imgs), function (key2, val2) {
                                       if (val2.h > 400 || val2.w > 400) {
                                           if (val2.img_url != null) {
                                               image = "http://pds.joins.com" + val2.img_url;
                                           }
                                           return false;
                                       }
                                   });
                               }
                               if (image == undefined || image == "") { if (val.image != null) { image = "http://pds.joins.com" + val.image; } }
                               //if (image == "null") { image = "";}
                               $("#table_news10_list").append("<tr><td style=\"text-align:center\" rowspan=\"2\">" + no + "<br/><a href=\"javascript:seldel('" + val.id + "')\"><i class=\"fa fa-fw fa-remove\"></i></a></td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.id + "</td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.title + "</a></td><td style=\"text-align:center\">" + val.date + "</td><td style=\"text-align:center\" rowspan=\"2\"><a href=\"" + image + "\" target=\"_blank\"><img src=\"" + image + "\" width=\"200px\"/></a></td></tr><tr><td colspan=\"3\">" + s + "</td></tr>");
                                 no++;
                                 
                                });
                        } else {
                            $("#table_news10_list").append("<tr><td colspan=\"6\"style=\"text-align:center\"><strong>해당 카드 뉴스가 없습니다.</strong></td></tr>");
                        }
                        if (data.HotKwd != undefined && data.HotKwd != null) {
                            var no = 1;
                            $.each((data.HotKwd), function (key, val) {
                                var tid = val.id;
                                var image = val.image;
                                var summaries = val.summaries;
                                var s = "";
                                if (summaries != undefined && summaries != null) {
                                    $.each((summaries), function (key1, val1) {
                                        s = s + val1.summary;
                                    });
                                }
                                var imgs = val.art_imgs;
                                var image = "";
                                if (imgs != undefined && imgs != null) {
                                    $.each((imgs), function (key2, val2) {
                                        if (val2.h > 400 || val2.w > 400) {
                                            if (val2.img_url != null) {
                                                image = "http://pds.joins.com" + val2.img_url;
                                            }
                                            return false;
                                        }
                                    });
                                }
                                if (image == undefined || image == "") { if (val.image != null) { image = "http://pds.joins.com" + val.image; } }
                                //if (image == "null") { image = "";}
                                $("#table_issue_list").append("<tr><td style=\"text-align:center\" rowspan=\"2\">" + no + "<br/></td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.id + "</td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.kwd + "</td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.title + "</a></td><td style=\"text-align:center\">" + val.date + "</td><td style=\"text-align:center\" rowspan=\"2\"><a href=\"" + image + "\" target=\"_blank\"><img src=\"" + image + "\" width=\"200px\"/></a></td></tr><tr><td colspan=\"4\">" + s + "</td></tr>");
                                no++;

                            });
                        } else {
                            $("#table_issue_list").append("<tr><td colspan=\"6\"style=\"text-align:center\"><strong>해당 이슈 뉴스가 없습니다.</strong></td></tr>");
                        }
                        if (data.Special != undefined && data.Special != null) {
                            var no = 1;
                            $.each((data.Special), function (key, val) {
                                var tid = val.id;
                                var image = val.image;
                                var summaries = val.summaries;
                                var s = "";
                                if (summaries != undefined && summaries != null) {
                                    $.each((summaries), function (key1, val1) {
                                        s = s + val1.summary;
                                    });
                                }
                                var imgs = val.art_imgs;
                                var image = "";
                                if (imgs != undefined && imgs != null) {
                                    $.each((imgs), function (key2, val2) {
                                        if (val2.h > 400 || val2.w > 400) {
                                            if (val2.img_url != null) {
                                                image = "http://pds.joins.com" + val2.img_url;
                                            }
                                            return false;
                                        }
                                    });
                                }
                                if (image == undefined || image == "") { if (val.image != null) { image = "http://pds.joins.com" + val.image; } }
                                //if (image == "null") { image = "";}
                                $("#table_special_list").append("<tr><td style=\"text-align:center\" rowspan=\"2\">" + no + "<br/></td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.id + "</td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.category + "</td><td style=\"text-align:center\"><a href=\"http://mnews.joins.com/app/mobile/news-type/" + val.id + "\" target=\"_blank\">" + val.title + "</a></td><td style=\"text-align:center\">" + val.date + "</td><td style=\"text-align:center\" rowspan=\"2\"><a href=\"" + image + "\" target=\"_blank\"><img src=\"" + image + "\" width=\"200px\"/></a></td></tr><tr><td colspan=\"4\">" + s + "</td></tr>");
                                no++;

                            });
                        } else {
                            $("#table_special_list").append("<tr><td colspan=\"6\"style=\"text-align:center\"><strong>해당 이슈 뉴스가 없습니다.</strong></td></tr>");
                        }
                    });
                }
                
</script>

