﻿<!-- 이미지 업로드 -->
<div class="box box-primary" id="module_imageupload">
    <div class="box-header with-border">
        이미지 업로드
    </div>

    <div class="box-body">
        <div class="form-group">
            <form method="post" name="form_imgupload" action="/sully/product/module/imageupload/upload" class="form-horizontal frmWrite" enctype="multipart/form-data">
                <input type="file" name="file" />
            </form>
        </div>
        <div class="form-group">
            <label>설명</label>
            <textarea class="form-control" id="txtCaption_module_imageupload" name="caption" rows="3" placeholder="이미지의 캡션이 필요한 경우에 작성해 주세요"></textarea>
        </div>
    </div>

    <div class="box-footer">
        <button id="btnInsert_module_imageupload" class="btn btn-primary btn-xs pull-right">적용</button>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        var $area = $('div#module_imageupload');

        $area.find('button#btnInsert_module_imageupload').on('click', function (e) {
            /*이미지 등록*/
            $area.find('form.frmWrite').ajaxForm({
                success: function (response, status) {
                    if ('success' === status.toLowerCase())
                        alert(response.result ? '등록 되었습니다.' : response.message);
                    
                    var html = '<div ssully_type="image_type4" style="width: 80%; border: 1px solid #000;">'
                        + '  <div class="image"><img src="' + response.Url + '"  style="width: 100%;" /></div>'
                        + '  <div class="caption">' + $area.find('textarea#txtCaption_module_imageupload').val().replace(/\n/gi, '<br/>') + '</div>'
                        + '</div>';

                    CKEDITOR.instances.editor1.insertHtml('<br/>' + html + '<br/>');
                },
                error: function (e) {
                    alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                    return false;
                }
            }).submit();
        });
    });
    //]]>
</script>