﻿@model Joins.Apps.SSully.Models.View.CommentReport

@section HeaderPublishCSSJavascript {
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_comment@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<!-- container -->
<div class="container type2 ask">

    <!-- HEADER -->
    <header class="sub">
        <h1>신고</h1>
        <a href="javascript:void(0);" onclick="javascript:history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>

        <button class="btn-ask-confirm">신고하기</button>
    </header>
    <!--// HEADER -->
    <!-- View wrap -->
    <div class="view-wrap">
        <div class="view-cont">
            <h2 class="noti-msg">관리자 검토 후<br>신고 댓글을 숨김 처리합니다<br>댓글 신고 사유를 선택해주세요</h2>

            <ul class="reason">
                <li>
                    <input type="radio" id="rs-1" name="reason" value="10001">
                    <label for="rs-1">비방 및 욕설</label>
                </li>
                <li>
                    <input type="radio" id="rs-2" name="reason" value="10002">
                    <label for="rs-2">음란성 댓글</label>
                </li>
                <li>
                    <input type="radio" id="rs-3" name="reason" value="10003">
                    <label for="rs-3">홍보성 댓글</label>
                </li>
                <li>
                    <input type="radio" id="rs-4" name="reason" value="10009">
                    <label for="rs-4">기타</label>
                </li>
            </ul>
        </div>

    </div>
    <!--// View wrap -->

</div>
<!--// container -->
<!-- 레이어 : 신고접수 확인 -->
<div id="layer_msgbox" class="fulllayer layer_msg">
    <div class="content">
        <div class="msg">
            <i class="ic_ok"></i>
            <strong class="txt_b">댓글 신고가 접수되었습니다.<br>감사합니다.</strong>
            <button class="btn_txt btn_confirm full" type="button">확인</button>
        </div>
    </div>
</div>





<script>
		$(function(){

			// 신고하기
			$(".btn-ask-confirm").on("click",function(e){
				e.preventDefault();
				var flag = $("input[name='reason']").is(":checked");
				if(!flag){
					alert('신고사유를 선택해주세요');
					return;
				}

				var $checkbox = $("input[name='reason']:checked");

				$.post('/View/@Model.PD_SEQ/Comment/Report/@Model.COMMENT_SEQ', {
				    report_code: $.trim($checkbox.val()),
				    report_msg: $.trim($($checkbox.prop('labels')).text())
				}, function (data) {
				    if (data.hasOwnProperty('ssully_login_result'))
				        return;

				    if (data.result != 'Y') {
				        alert(data.msg);
				        return false;
				    }

				    $("#layer_msgbox").addClass("layeron");
				});
			});


			// 신고 완료후 레이어닫기
			$(".btn_confirm").on("click",function(e){
				e.preventDefault();

				$("#layer_msgbox").removeClass("layeron");
				history.go(-1);
			});
		});
</script>