﻿@model Joins.Apps.SSully.Models.View.CommentList

@section HeaderPublishCSSJavascript {
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_comment@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<!-- 댓글 container -->
<div class="container type2 reply">

    <!-- HEADER -->
    <header class="sub">
        <h1>댓글</h1>
        <a href="javascript:void(0);" onclick="javascript:history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>

    </header>
    <!--// HEADER -->
    <!-- View wrap -->
    <div class="view-wrap">
        <div class="reply-util">
            <p class="txt-number">전체 <span class="accent">0</span>개</p>
            <ul class="sort">
                <li class="on"><a href="" data-sort="new">최신순</a></li>
                <li><a href="" data-sort="like">인기순</a></li>
            </ul>
        </div>



        <!-- 댓글 없으면 empty 클래스
        <div class="reply-cont empty">
        </div>
        -->
        <div class="reply-cont">
            <ul class="reply-list">
                <!--
                    - 공개 댓글 : 클래스 없음
                    - 내 댓글 : my 클래스
                    - 숨김처리 댓글 : disabled
                -->
            </ul>
        </div>


        <!-- 입력창 -->
        <div class="message-field">
            <div class="txt-wrap">
                <textarea id="input-msg" placeholder="메세지를 입력하세요"></textarea>
                <span class="counter">
                    <em>0</em>/500
                </span>
            </div>
            <button class="btn-action" type="button" id="btn-cmt">등록</button>
        </div>
        <!--// 입력창 -->

    </div>
    <!--// View wrap -->

    <div class="bg"></div>
    <div class="anim-canvas like"></div>


    <!-- 레이어 : 신고/취소-->
    <div id="layer_opt" class="fulllayer">
        <div class="content">
            <ul>
                <li><a href="javascript:void(0);" class="btn-report">신고하기</a></li>
                <li><a href="javascript:void(0);" class="btn_close">취소하기</a></li>
            </ul>
        </div>
    </div>

    <!-- 레이어 : 댓글등록 확인 -->
    <div id="layer_msgbox" class="fulllayer layer_msg">
        <div class="content">
            <div class="msg">
                <i class="ic_ok"></i>
                <strong class="txt_b">댓글을 등록하시겠습니까?</strong>
                <p class="txt">주제와 무관한 댓글과 악플은 블라인드 처리될 수 있습니다.</p>
                <button class="btn_txt btn_close" type="button">취소</button>
                <button class="btn_txt btn_confirm" type="button" id="cmt-confirm">확인</button>
            </div>
        </div>
    </div>
</div>
<!--// 댓글 container -->


<script src="https://static.joins.com/html/mobile/ssuly/html/js/lottie.min.js"></script>
<script src="https://static.joins.com/html/mobile/ssuly/html/js/icon_interaction.js"></script>
<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_comment.js"></script>

<script>
    $(function () {
        var is_login = @(LoginHelper.IsLogin ? "true" : "false");
        var click_flag = true;
        var timer;
        var search_lock = false;
        var likeObj = new Interactions('like');
        var $comment_area = $('.reply-list');
        var product_seq = @Model.PD_SEQ;
        var comment_seq = @(Model.COMMENT_SEQ.HasValue ? Model.COMMENT_SEQ.Value : 0);

        var set_history_state = function (page, page_size, order_by, comment_seq, restore) {
            history.replaceState({
                comment_seq: comment_seq,
                page: page,
                page_size: page_size,
                order_by: order_by,
                scroll_top: $(window).scrollTop(),
                restore: restore
            }, '', '');
        };

        $.fn.isInViewport = function () {
            if ($(this).length == 0)
                return false;

            var elementTop = $(this).offset().top;
            var elementBottom = elementTop + $(this).outerHeight();

            var viewportTop = $(window).scrollTop();
            var viewportBottom = viewportTop + $(window).height();

            return elementBottom > viewportTop && elementTop < viewportBottom;
        };

        // 비로그인 세팅
        if (!is_login)
            $("body").addClass("no-login");

        // 로그인 확인버튼 콜백함수
        var login_callback = function() {
            set_history_state(history.state.page, history.state.page_size, history.state.order_by, history.state.comment_seq, true);
            location.replace('/User/Login');
            return false;
        };
        // 댓글 입력필드
        $(".message-field").on("click", function (e) {
            e.preventDefault();
            if (!is_login) {
                show_loginlayer('reply', login_callback);
                $("#input-msg").prop('disabled', true);
            } else {
                $("#input-msg").prop('disabled', false);
            }
        });

        // 댓글 좋아요 클릭
        $(document).on("click",".btn-like",function(e) {
            e.preventDefault();

            if ($(this).closest('li').hasClass('disabled'))
                return;

            if (is_login) {
                if (click_flag) {
                    var $target = $(this);
                    var like_yn = $target.hasClass("active") ? "N" : "Y";
                    var comment_seq = $target.closest('li').data('comment_seq');

                    $.post('/View/' + product_seq + '/Api/Comment/Like/' + comment_seq, {
                        like_yn: like_yn
                    }, function(data) {
                        if (data.hasOwnProperty('ssully_login_result'))
                            return;

                        if (data.result != 'Y') {
                            alert(data.msg);
                            return false;
                        }

                        $target.find('span').text(data.like_cnt > 99 ? '99+' : data.like_cnt);

                        if (like_yn == 'N') {
                            // 좋아요 off
                            $target.removeClass("active");
                        } else {
                            // 좋아요 on
                            click_flag = false;
                            clearTimeout(timer);
                            $target.addClass("active");

                            $(".anim-canvas").show();
                            likeObj.play();

                            timer = setTimeout(function () {
                                $(".anim-canvas").fadeOut(200, function () {
                                    likeObj.stop();
                                    click_flag = true;
                                });
                            }, 500);
                        }
                    });
                }
            } else {
                show_loginlayer('like', login_callback);
            }
        });

        // 신고, 삭제 레이어
        $(document).on("click",".btn-else", function (e) {
            e.preventDefault();
            
            if ($(this).closest('li').hasClass('disabled'))
                return;

            if (is_login) {
                var comment_seq = $(this).closest('li').data('comment_seq');
                $("#layer_opt").addClass("layeron").data('comment_seq', comment_seq);

                // 신고하기 (본인 글이면 '삭제하기')
                if ($(this).closest('li').attr("class") == "my") {
                    $("#layer_opt").data('action', 'delete');
                    $(".btn-report").text("삭제하기");
                } else {
                    $(".btn-report").text("신고하기");
                    $("#layer_opt").data('action', 'report');
                }
            } else {
                show_loginlayer('accusation', login_callback);
            }
        });
        // 신고,삭제 확인버튼
        $('.btn-report').on('click', function(e) {
            var $layer = $(this).closest(".fulllayer");
            var action = $(this).closest('div#layer_opt').data('action');
            var comment_seq = $layer.data('comment_seq');

            if (action == 'delete') {
                $.post('/View/' + product_seq + '/Api/Comment/Delete/' + comment_seq, function(data) {
                    if (data.hasOwnProperty('ssully_login_result'))
                        return;

                    if (data.result != 'Y') {
                        alert(data.msg);
                        return false;
                    }

                    $layer.removeClass("layeron");
                    $comment_area.html('');
                    
                    var state = $.extend(history.state, { page: 1, comnent_seq: 0, order_by: 'new' });
                    set_history_state(state.page, state.page_size, state.order_by, state.comnent_seq, false);
                    $comment_area.removeData('end');
                    comment_list(state.page, state.page_size, state.comment_seq, state.order_by);
                });
            } else {
                $layer.removeClass("layeron");
                set_history_state(history.state.page, history.state.page_size, history.state.order_by, history.state.comment_seq, true);
                location.href = '/View/' + product_seq + '/Comment/Report/' + $layer.data('comment_seq');
            }
        });

        // 댓글입력창 '등록'버튼 클릭
        $("#btn-cmt").on("click", function (e) {
            e.preventDefault();
            if (is_login) {
                var $content = $('#input-msg');

                if ($.trim($content.val()).length == 0) {
                    alert('댓글을 입력해 주세요');
                    return false;
                }

                if ($.trim($content.val()).length > 500) {
                    alert('댓글은 500자 이하로 입력해 주세요');
                    return false;
                }

                $("#layer_msgbox").addClass("layeron");
            } else {
                show_loginlayer('reply', login_callback);
            }
        });
        // 댓글 등록 확인버튼
        $("#cmt-confirm").on("click", function (e) {
            e.preventDefault();

            var $content = $('#input-msg');
            $.post('/View/' + product_seq + '/Api/Comment/Insert', {
                content: $.trim($content.val())
            }, function(data) {
                if (data.hasOwnProperty('ssully_login_result'))
                    return;

                $(".fulllayer").removeClass("layeron");

                if (data.result != 'Y') {
                    alert(data.msg);
                    return false;
                }

                // 처리 후
                $("#input-msg").val('').trigger('keyup');
                $("html,body").animate({ scrollTop: 0 }, 200);
                $('.sort li').removeClass('on');
                $('.sort li a[data-sort="new"]').closest('li').addClass('on');

                $comment_area.html('');
                var state = $.extend(history.state, { page: 1, comnent_seq: 0, order_by: 'new' });
                set_history_state(state.page, state.page_size, state.order_by, state.comnent_seq, false);
                $comment_area.removeData('end');
                comment_list(state.page, state.page_size, state.comment_seq, state.order_by);
            });
        });

        // 댓글 목록
        var comment_list = function(page, page_size, comment_seq, order_by) {
            if (search_lock)
                return false;

            search_lock = true;

            $.get('/View/' + product_seq + '/Comment', {
                page: page,
                page_size: page_size,
                comment_seq: comment_seq,
                order_by: order_by,
            }, function(response) {
                if (response.hasOwnProperty('ssully_login_result'))
                    return;

                $('.txt-number .accent').text(response.total_count);

                var item_count = response.list ? response.list.length : 0;

                $comment_area.addClass('empty');
                if (response.list && response.list.length > 0) {
                    $comment_area.removeClass('empty');
                    $.each(response.list, function(idx, item) {
                        var $html = $($('script#item-template').html());

                        if (item.comment_status == 'S')
                            $html.addClass('disabled');
                        else
                            $html.find('.nickname .msg').remove();

                        if (item.my == 'Y')
                            $html.addClass('my');

                        if (item.like_yn == 'Y')
                            $html.find('.btn-like').addClass('active');

                        $html.find('.pic img').attr('src', item.member_profile_image_url).on('error', function() {
                            $(this).attr('src', 'https://images.joins.com/ssully/common/renewal/img_pic.png');
                        });
                        $html.find('.nickname ._name').text(item.member_nick_name);
                        $html.find('.txt').html(item.content);

                        if (item.like_count > 0)
                            $html.find('.btn-like span').text(item.like_count > 99 ? '99+' : item.like_count);

                        $html.find('.date').text(item.write_datetime);
                        $html.attr('comment_seq', item.comment_seq);
                        $html.data('comment_seq', item.comment_seq);
                        $comment_area.append($html);
                    });
                }

                if (item_count < page_size)
                    $comment_area.data('end', true);

                if (!history.state.restore)
                    set_history_state(response.current_page, history.state.page_size, history.state.order_by, history.state.comment_seq, false);
            }).done(function() {
                likeObj.init($.extend({}, likeObj.getOptions(), { path:'@(Request.Url.GetLeftPart(UriPartial.Scheme | UriPartial.Authority) + "/scripts/interaction_love_it.json")' }));
                search_lock = false;
                
                if (history.state.restore) {
                    $(window).scrollTop(history.state.scroll_top);
                } else {
                    if (history.state.comment_seq > 0) {
                        var offset = $comment_area.find('li[comment_seq=' +history.state.comment_seq +  ']').offset();
                        
                        if (history.scrollRestoration)
                            history.scrollRestoration = 'manual';

                        $("html,body").animate({ scrollTop: offset.top }, 200);
                    }
                }

                set_history_state(history.state.page, history.state.page_size, history.state.order_by, 0, false);

                if ($comment_area.find('li:last').isInViewport() && !$comment_area.data('end') && !search_lock) {
                    var state = $.extend(history.state, { page: history.state.page + 1, comnent_seq: 0 });
                    set_history_state(state.page, state.page_size, state.order_by, state.comment_seq, false);
                    comment_list(state.page, state.page_size, state.comment_seq, state.order_by);
                }
            });
        };

        // 정렬 버튼 클릭
        $('.sort li a').on('click', function(e) {
            $('.sort li').removeClass('on');
            $(this).closest('li').addClass('on');
            $comment_area.html('');

            var state = $.extend(history.state, { page: 1, comment_seq: 0, order_by: $(this).data('sort') });
            set_history_state(state.page, state.page_size, state.order_by, state.comment_seq, false);
            $comment_area.removeData('end');
            comment_list(state.page, state.page_size, state.comment_seq, state.order_by);
            return false;
        });

        // 댓글 리스트 스크롤 이벤트
        $(window).on('scroll', function(e) {
            if ($comment_area.find('li:last').isInViewport() && !$comment_area.data('end') && !search_lock) {
                var state = $.extend(history.state, { page: history.state.page + 1, comnent_seq: 0 });
                set_history_state(state.page, state.page_size, state.order_by, state.comment_seq, false);
                comment_list(state.page, state.page_size, state.comment_seq, state.order_by);
            }
        });

        // 목록 정렬상태 복원
        if (history.state) {
            $('.sort li').removeClass('on');
            if (history.state.order_by == 'new')
                $('.sort li a[data-sort="new"]').closest('li').addClass('on');
            else
                $('.sort li a[data-sort="like"]').closest('li').addClass('on');
        }

        // 댓글 목록 복원
        if (history.state && history.state.restore) {
            comment_list(1, history.state.page * history.state.page_size, history.state.comment_seq, history.state.order_by);
        } else {
            set_history_state(1, 20, 'new', comment_seq, false);
            comment_list(history.state.page, history.state.page_size, history.state.comment_seq, history.state.order_by);
        }
    });
</script>
<script type="text/template" id="item-template">
    <li>
        <span class="pic"><img src="https://images.joins.com/ssully/common/renewal/img_pic.png" alt=""></span>
        <div class="comment">
            <p class="nickname me"><span class="_name">jeffrey</span> <span class="msg">관리자에 의해 숨김 처리되었습니다</span></p>
            <p class="txt"></p>
            <p class="date">2018.01.21 오전 09:10</p>
            <a href="" class="btn-like"><span></span></a>
            <a href="" class="btn-else"></a>
        </div>
    </li>
</script>