﻿﻿@model Joins.Apps.SSully.Models.View.QuizApplyFormApp

@{
    ViewBag.Title = string.Format("{0} - 썰리", Model.Product.PD_TITLE);
    ViewBag.Meta_Title = string.Format("[썰리퀴즈] {0}", Model.Product.PD_TITLE);
    ViewBag.Meta_Keywords = Model.Product.PD_TAG;
    ViewBag.Meta_Og_Url = string.Format("https://ssully.joins.com/View/{0}?share=y", Model.Product.PD_SEQ);
    ViewBag.Meta_Og_Title = (Model.Product.PD_TYPE == 7 ? "[썰리퀴즈] " : string.Empty) + Model.Product.PD_TITLE;
    ViewBag.Meta_Og_Image = string.IsNullOrWhiteSpace(Model.Product.PD_SHARE_IMG_URL) ? Model.Product.PD_IMG_URL : Model.Product.PD_SHARE_IMG_URL;
    ViewBag.Meta_Og_Description = string.IsNullOrWhiteSpace(Model.Product.PD_SHARE_DESCRIPTION) ? null : Model.Product.PD_SHARE_DESCRIPTION;

}

@section HeaderPublishCSSJavascript {
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_corner@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<!-- 코너 container 2018.10 -->
<div class="container quiz-view event-wrap">

    <!-- 이벤트 응모 페이지 -->
    <div class="enrollment">
        <div class="enroll-intro">
            <img src="@Model.Product.QUIZ_EVENT_PRIZE_IMG_URL" alt="당첨 상품 이미지">
            <img src="https://images.joins.com/ssully/common/renewal2/corners/q_img_tt1.png" alt="안내 메세지">
        </div>
        <div class="enroll-input">
            <div class="form-field">
                <ul>
                    <li class="text-box">
                        <input type="text" placeholder="이름" id="val_name" class="required" />
                        <span class="validity">이름을 확인해주세요.</span>
                    </li>
                    <li class="text-box">
                        <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" placeholder="연락처" id="val_tel" class="required" />
                        <span class="validity">연락처를 확인해주세요.</span>
                    </li>
                    <li class="text-box">
                        <input type="text" placeholder="이메일" id="val_email" class="required" />
                        <span class="validity">이메일을 확인해주세요.</span>
                    </li>
                    <li class="dist">
                        <div class="custom-chk">
                            <input type="checkbox" value="" id="chk-all" name="check" />
                            <label for="chk-all" class="chk-label"></label>
                            <label for="chk-all" class="txt-label">모든 약관에 동의합니다.</label>
                        </div>
                    </li>
                    <li class="terms">
                        <div class="custom-chk">
                            <input type="checkbox" value="1" id="chk-1" class="required" />
                            <label for="chk-1" class="chk-label"></label>
                            <label for="chk-1" class="txt-label"><span>[필수]</span> 개인정보 수집 이용 동의</label>
                            <i class="toggle-cont"></i>
                        </div>
                        <div class="details">
                            <table summary="개인정보 수집 이용 동의">
                                <colgroup width="25%" />
                                <colgroup width="*" />

                                <tbody>
                                    <tr>
                                        <th scope="row">목적</th>
                                        <td>
                                            이벤트 참여자 본인 확인, 당첨자 선정, 당첨시 개별 연락 민원 및 경품 배송 경품 발송을 위한 연락, 민원 등 고객 고충 처리<br /><br />
                                            수집한 개인정보는<br />경품발송을 위해 제3자 업체인 위버스커뮤니케이션즈(주), (주)탁으로 전달됩니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">항목</th>
                                        <td>이름, 휴대폰번호, 이메일</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">보유기간</th>
                                        <td>수집일로부터 60일</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="terms">
                        <div class="custom-chk">
                            <input type="checkbox" value="1" id="chk-2" />
                            <label for="chk-2" class="chk-label"></label>
                            <label for="chk-2" class="txt-label"><span>[선택]</span> 이벤트 알림 및 마케팅 활용 동의</label>
                            <i class="toggle-cont"></i>
                        </div>
                        <div class="details">
                            <table summary="이벤트 알림 및 마케팅 활용 동의">
                                <colgroup width="25%" />
                                <colgroup width="*" />

                                <tbody>
                                    <tr>
                                        <th scope="row">목적</th>
                                        <td>이벤트 참여자 대상 추가 이벤트 안내 및 마케팅 알림 활용 목적</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">항목</th>
                                        <td>이름, 휴대폰번호, 이메일</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">보유기간</th>
                                        <td>수집일로부터 1년</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="etc-info">
                @if (string.IsNullOrEmpty(Model.Product.QUIZ_EVENT_INFO_DESC))
                {
                    <p>※ 응모, 당첨 완료 후 응모자 정보수정은 불가능합니다.</p>
                    <p>※ 응모자의 개인정보 입력 실수, 휴대폰 번호 변경, 스팸처리 등으로 인한 경품 미수령에 따른 재발송은 불가합니다.</p>
                }
                else
                {
                    @Html.Raw(Model.Product.QUIZ_EVENT_INFO_DESC)
                }
            </div>
        </div>

        <button type="button" id="btn_submit">이벤트 응모하기</button>
    </div>
    <!--// 이벤트 응포 페이지 -->

</div>
<!--// 코너 container 2018.10 -->


<script>
    var ajaxLock = false;
    $(function(){
        $('body').addClass('quizEvt-webview');
			// 필수입력항목
			var required_fields = $(".required"),
			// 텍스트 입력항목
				text_fields = required_fields.not("input[type='checkbox']"),
			// 체크박스
				chk_agree = $(".custom-chk").find("input[type='checkbox']").not("#chk-all");

			/**
			 * 폼 검증
			 *
			 */
			var validation = {
				chkBlank : function(){
					$.each(required_fields,function(i,el){
						var type = el.type;

						if(type!='checkbox'){
							var input_value = $(this).val(),
								validity = $(this).next(".validity");

							(input_value.length!=0)
								? $(this).attr('class','required passed')
								: $(this).attr('class','required warning')
						}else{
							var checked = $(this).prop("checked");

							el.classList.remove("passed");
							el.classList.remove("warning");
							void el.offsetWidth;

							(checked)
								? el.classList.add("passed")
								: el.classList.add("warning")
						}
					});
				},
				chkMail : function(value){
				    var reg = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return reg.test(value);
				},
				chkPattern_mobile : function(value){
				    var regex = /[^a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣|\u318D\u119E\u11A2\u2022\u2025a\u00B7\uFE55]/;

					if(regex.test(value)){
						return value.substr(0, value.length - 1);
					}else{
						return value;
					}
				},
			    /* 2018.12 검증 수정 start */
				checkInput : function(){
				    var regKor = /[a-z0-9]|[ \[\]{}()<>?|`~!@@#$%^&*-_+=,.;:\"'\\\s]/g;
				    var regNum = /^[0-9]*$/;
				    var regMail = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

				    var name_field = $("#val_name"),
						num_field = $('#val_tel'),
						email_field = $("#val_email");

				    if(name_field.val()){
				        if(!regKor.test(name_field.val())){
				            name_field.attr('class','required passed');
				        }else{
				            alert('이름을 확인해주세요');
				            name_field.attr('class','required warning')
								.focus();
				            return;
				        }
				    }

				    if(num_field.val()){
				        if(regNum.test(num_field.val())){
				            num_field.attr('class','required passed');
				        }else{
				            alert('연락처를 확인해주세요');
				            num_field.attr('class','required warning')
								.focus();
				            return;
				        }
				    }

				    if(email_field.val()){
				        if(regMail.test(email_field.val())){
				            email_field.attr('class','required passed');
				        }else{
				            alert('이메일을 확인해주세요');
				            email_field.attr('class','required warning')
								.focus();
				            return;
				        }
				    }
				}
			    /* 2018.12 검증 수정 end */
			};


			/**
			 * 이벤트
			 *
			 */
			// 입력 이벤트
			text_fields.on({
			    'cut copy paste':function(e){
			        e.preventDefault();
			    },
			    'keyup':function(e){
			        var target_id = $(this).attr("id"),
                        text = $(this).val(),
                        key = e.which?e.which:event.keyCode;

			        /* 2018.12 검증 수정
					if(target_id=="val_name"){
						$(this).val(validation.chkPattern_mobile(text));
					}
					*/

			        if(target_id=="val_email"){
			            (!validation.chkMail(text))
                            ? $(this).attr('class','required warning')
                            : $(this).attr('class','required passed')
			        }else{
			            if($(this).hasClass('warning')){
			                $(this).attr('class','required passed');
			            }
			        }

			        if(key == 13){
			            $(this).closest("li")
                            .next().find("input").focus();
			        }
			    },
			    'focus':function(){
			        $(window).scrollTop($(this).offset().top-60);
			    }
			});

			// 약관 상세 토글
			$(".toggle-cont").on("click",function(){
				var cont = $(this).closest("li");
				(cont.hasClass("on"))
					? cont.removeClass("on")
						.find(".details").stop().slideUp(100)
					: cont.addClass("on")
						.find(".details").stop().slideDown(100)
			});

			// 약관 체크버튼
			$("#chk-all").on("click",function(){
				($(this).prop("checked"))
					? chk_agree.prop("checked",true)
					: chk_agree.prop("checked",false)
			});
			$(".terms input[type='checkbox']").on("click",function(){
				if($("#chk-all").prop("checked")) {
					$("#chk-all").prop("checked",false);
				}
			});





			// 이벤트 응모하기 버튼
			$("#btn_submit").on("click",function(e){
				e.preventDefault();

				var counter_check = 0;
				var datas = [];		// 데이터 배열


			    /* 2018.12 검증 수정 */
				validation.chkBlank();
				validation.checkInput();

				$.each(required_fields,function(i,el){
					if($(this).hasClass("passed")){
						counter_check++;
						datas.push(el.value);
					}else{
						return false;
					}
				});


				// 필수항목 체크 완료
				if(counter_check!=required_fields.length){
					$(window).scrollTop($(".enroll-input").offset().top - 60);
				}else{
					// 검증 통과
					/*
						-이름 : $("#val_name")
						-연락처 : $("#val_tel")
						-이메일 : $("#val_email")
						-필수체크 : $("#chk-1")
						-선택체크 : $("#chk-2")

						datas : 데이터
					 */

					 // 선택항목 체크시
 					if($("#chk-2").prop("checked")){
 						datas.push($("#chk-2").val());
 					}

 					if (ajaxLock) {
 					    alert('처리중입니다. 잠시만 기다려주세요.');
 					    return false;
 					}

 					ajaxLock = true;
 					$.ajax({
 					    type: 'POST',
 					    url: '/view/quiz/event/apply',
 					    data: {
 					        seq: @Model.Product.PD_SEQ,
 					        answerguid: '@Model.Guid',
 					        username: $("#val_name").val(),
 					        phone: $("#val_tel").val(),
 					        email: $("#val_email").val(),
 					        requireagreeyn: $("#chk-1").is(':checked') ? 'Y' : 'N',
 					        requireoptionalyn: $("#chk-2").is(':checked') ? 'Y' : 'N',
 					        applyposition: '@Model.Position'
 					    },
 					    beforeSend: function(xhr) {
 					        xhr.setRequestHeader('login_type', '@Model.LoginType');
 					        xhr.setRequestHeader('uid', '@Model.UID');
 					    }
 					}).success(function(data) {
 					    location.href = 'ssully://?action=ssully_quiz_event_apply&process=' + data.result + '&msg=' + encodeURIComponent(data.msg);
 					}).always(function() {
 					    ajaxLock = false;
 					});
				}
			});
		});
</script>