﻿@model Boolean

<div class="container error">
    <!-- // 전체 보기all_show -->
    <header class="sub">
        <h1 class="hidden">썰리</h1>
        @if (!Model)
        {
            <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a><!-- ver3_1 수정 -->
        }
    </header>

    <section>
        <!-- ver3_1 -->
        <div class="err_box error2">
            <i class="sorry"></i>
            <h2 class="txt_bold">앗, 해당 기사 페이지를 찾을 수가 없다능...</h2>
            <!-- <p class="txt_p">네트워크 연결 상태를 확인해 주세요.</p> ver3_2 제거 -->
        </div>
        <!-- //ver3_1 -->
    </section>
</div>


<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('a.pre_page').on('click', function (e) {
            if (document.referrer.indexOf(location.host) < 0)
                location.href = '/';
            else
                history.go(-1);

            return false;
        });
    });
    //]]>
</script>