﻿@model Joins.Apps.SSully.Models.View.View

@{
    ViewBag.Title = string.Format("{0} - 썰리", Model.Product.PD_TITLE);
    ViewBag.Meta_Title = (Model.Product.PD_TYPE == 7 ? "[썰리퀴즈] " : string.Empty) + Model.Content.PD_TITLE;
    ViewBag.Meta_Keywords = Model.Product.PD_TAG;

    if (!Model.IsPreview)
    {
        ViewBag.Meta_Og_Url = string.IsNullOrEmpty(Request["guid"]) ? string.Format("https://ssully.joins.com/View/{0}?share=y", Model.Content.PD_SEQ) : string.Format("https://ssully.joins.com/View/{0}?share=y&guid={1}", Model.Content.PD_SEQ, Request["guid"]);
    }
    else
    {
        ViewBag.Meta_Og_Url = Request.Url;
    }

    ViewBag.Meta_Og_Title = (Model.Product.PD_TYPE == 7 ? "[썰리퀴즈] " : string.Empty) + Model.Content.PD_TITLE;
    ViewBag.Meta_Og_Image = Model.ShareImage;
    ViewBag.Meta_Og_Description = string.IsNullOrWhiteSpace(Model.Product.PD_SHARE_DESCRIPTION) ? null : Model.Product.PD_SHARE_DESCRIPTION;

}

@section HeaderPublishCSSJavascript {
    @if (Model.Product.PD_TYPE == 4 || Model.Product.PD_TYPE == 6)
    {
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    }
    else if (Model.Product.PD_TYPE == 5)
    {
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/swiper.min.css?t=@ViewContext.ViewBag.CssCacheString">
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html//js/swiper.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    }
    else if (Model.Product.PD_TYPE == 7)
    {
       <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_corner@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    }
    else if (Model.Product.PD_TYPE == 8)
    {
        <link rel="shortcut icon" href="https://images.joins.com/ssully/common/favicon.ico">
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_corner@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    }
    else
    {
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/auto_read.css?t=@ViewContext.ViewBag.CssCacheString" />
        <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub_view@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    }
}

@section header{
    @if (!Model.IsNews10)
    {
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>
        //<![CDATA[
        Kakao.init('b6ae95a006b7d18744f074eca7656f87');
        $.getScript("https://static.joins.com/joongang_15re/scripts/lib/clipboard.min.js", function () {
            var clipboard = new Clipboard("#layer_share .url_copy, .share-layer .url_copy", {
                text: function () {
                    return $("meta[property='og:url']").attr("content");
                }
            });
        });
    //]]>
    </script>
    }
}

@if (Model.Product.PD_TYPE == 4 || Model.Product.PD_TYPE == 6)
{
    @Html.Partial("~/views/view/partial/viewtype_4.cshtml", Model)
}
else if (Model.Product.PD_TYPE == 5)
{
    @Html.Partial("~/views/view/partial/viewtype_5.cshtml", Model)
}
else if (Model.Product.PD_TYPE == 7)
{
    @Html.Partial("~/views/view/partial/viewtype_7.cshtml", Model)
}
else if (Model.Product.PD_TYPE == 8)
{
    @Html.Partial("~/views/view/partial/viewtype_8.cshtml", Model)
}
else
{
    @Html.Partial("~/views/view/partial/viewtype_1.cshtml", Model)
}

<script type="text/javascript">
    //<![CDATA[
    function fnSendSns(sns, url, txt) {
        var o;
        var _url = encodeURIComponent(url || $("meta[property='og:url']").attr("content")); //공유 URL
        var _txt = encodeURIComponent(txt || $("meta[property='og:title']").attr("content"));                            //공유 제목
        var _desc = encodeURIComponent($("meta[property='og:description']").attr("content") || '아무리 어려운 뉴스라도 ‘썰리’가 설명∙정리 해 드립니다.');                            //공유 상세
        var _br = encodeURIComponent('\r\n');
        var _img = encodeURIComponent($("meta[property='og:image']").attr("content"));      //공유 이미지
        switch (sns) {
            case 'facebook':
                o = { type: sns, method: 'popup', url: 'http://www.facebook.com/sharer/sharer.php?u=' + _url, width: 555, height: 608, resize: 'no' };
                break;
            case 'twitter':
                o = { type: sns, method: 'popup', url: 'http://twitter.com/intent/tweet?text=' + _txt + '&url=' + _url, width: 555, height: 500, resize: 'no' };
                break;
            case 'kakaotalk':
                o = {};
                Kakao.Link && Kakao.Link.sendDefault({
                    objectType: 'feed',
                    content: {
                        title: decodeURIComponent(_txt),
                        description: decodeURIComponent(_desc),
                        imageUrl: decodeURIComponent(_img),
                        link: {
                            webUrl: decodeURIComponent(_url),
                            mobileWebUrl: decodeURIComponent(_url)
                        },
                        imageWidth: 1200,
                        imageHeight: 620
                    },
                    fail: function () {
                        alert('지원하지 않는 플랫폼입니다.');
                    }
                });
                break;
            case 'kakaostory':
                o = {};
                Kakao.Story.share({ url: $("meta[property='og:url']").attr("content"), text: $("title").text() });
                break;
            case 'band':
                o = { type: sns, method: 'popup', url: 'http://band.us/plugin/share?body=' + _txt + '&route=' + _url, width: 410, height: 540, resize: 'no' };
                break;
            case 'line':
                o = { type: sns, method: 'popup', url: 'http://line.me/R/msg/text/?' + (_txt + _br + _url), width: 640, height: 440, resize: 'no' };
                break;
            case 'naverblog':
                o = { type: sns, method: 'popup', url: 'http://share.naver.com/web/shareView.nhn?url=' + _url + '&title=' + _txt, width: 557, height: 558, resize: 'no' };
                break;
            case 'googleplus':
                o = { type: sns, method: 'popup', url: 'https://plus.google.com/share?url=' + _url + '&hl=ko', width: 490, height: 490, resize: 'no' };
                break;
            case 'url':
                o = {};
                alert("주소가 복사되었습니다.");
                break;
            case 'mail':
                o = {};
                location.href = 'mailto:?body=' + _url + '&subject=' + txt;
                break;
            default:
                alert('지원하지 않는 SNS입니다.');
                return false;
        }

        if (o && o.method == "popup")
            window.open(o.url, o.type + "_sns", "width=" + o.width + ",height=" + o.height + ",resizable=" + o.resize);
    }

    $(function (){
        var is_history_back = document.referrer && -1 != document.referrer.indexOf('ssully.joins.com');
        if (!is_history_back) {
            $(".pre_page").addClass('pre_home').on('click', function(e) {
                location.href = '/';
                return false;
            });
        }

        $('.btn-comment').on('click', function (e) {
            location.href = '/View/@Model.Product.PD_SEQ/Comment';
            return false;
        });
    });
    //]]>
</script>