﻿<div class="container error">
    <!-- // 전체 보기all_show -->
    <header class="sub">
        <h1 class="hidden">썰리</h1>
        <h2 class="sub_tit">알림</h2><!-- ver3_2 추가 -->
        <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a><!-- ver3_1 수정 -->
    </header>

    <section>
        <!-- ver3_2 수정 -->
        <div class="err_box error4">
            <i class="sorry"></i>
            <h2 class="txt_bold">해당 페이지를 찾을 수 없습니다.</h2>
            <p class="txt_p">네트워크 연결상태를 확인해주세요.</p>
        </div>
    </section>
</div>


<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('a.pre_page').on('click', function (e) {
            if (document.referrer.indexOf(location.host) < 0)
                location.href = '/';
            else
                history.go(-1);

            return false;
        });
    });
    //]]>
</script>