﻿@model string
<div class="container error">
    <!-- // 전체 보기all_show -->
    <header class="sub">
        <h1 class="hidden">썰리</h1>
        <h2 class="sub_tit">알림</h2><!-- ver3_2 추가 -->
    </header>
    <section>
        <!-- ver3_2 수정 -->
        <div class="err_box error4">
            <i class="sorry"></i>
            <h2 class="txt_bold">
                서비스 점검을 진행 중입니다.<br/>
                이용에 불편을 드려 죄송합니다.
            </h2>
            <p class="txt_p">점검일자 : @Model</p>
        </div>
    </section>
</div>