﻿<div class="container error">
    <header>
        <h1 class="hidden">썰리</h1>
        <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a><!-- ver3_1 수정 -->
    </header>
    <section>
        <div class="err_box">
            <i class="sorry"></i>
            <h2 class="txt_bold">죄송합니다.</h2>
            <p class="txt_p">일시적으로 연결이 원활하지 않습니다.</p>
        </div>
    </section>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('a.pre_page').on('click', function (e) {
            if (document.referrer.indexOf(location.host) < 0)
                location.href = '/';
            else
                history.go(-1);

            return false;
        });
    });
    //]]>
</script>