﻿@model Joins.Apps.Models.Sully.Product

<li data-item="@Model.PD_SEQ">
    <a href="View/@Model.PD_SEQ">
        <figure>
            <span class="thumb">
                <img src="@Model.PD_IMG_URL" alt="" class="thumb-img">
            </span>
            <figcaption>
                @if (!string.IsNullOrWhiteSpace(Model.PD_PROVIDER_URL))
                {
                    <span class="ic-label"><img src="@Model.PD_PROVIDER_URL" alt=""></span>
                }
                <p class="subject">@Model.PD_TITLE</p>
                <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(Model.PD_SERVICE_DT))</p>
            </figcaption>
        </figure>
    </a>
</li>