﻿@model Joins.Apps.Models.Sully.Product
<li data-item="@Model.PD_SEQ">
    <a href="View/@Model.PD_SEQ">
        <figure>
            <span class="thumb">
                <img src="@Model.PD_IMG_URL" alt="" class="thumb-img">
                @if (Model.PD_TYPE == 7 && Model.QUIZ_EVENT_STATUS > 0)
                {
                    if (Model.QUIZ_EVENT_STATUS == 2)
                    {
                        <span class="evt-status proceeding">이벤트<br>진행중</span>
                    }
                    else if (Model.QUIZ_EVENT_STATUS == 3)
                    {
                        <span class="evt-status termination">이벤트<br>종료</span>
                    }
                }
            </span>
            <figcaption>
                @if (Model.PD_TYPE == 7)
                {
                    <p class="round">@(Model.ROWNUM)회</p>
                    <p class="subject">@Model.PD_TITLE</p>

                    if (!"Y".Equals(Model.QUIZ_EVENT_PARTICIPATION, StringComparison.OrdinalIgnoreCase))
                    {
                        <p class="flag trial">퀴즈풀기</p>
                    }
                    else
                    {
                        <p class="flag retry">재도전</p>
                    }
                }
                else
                {
                    <p class="subject">@Model.PD_TITLE</p>
                    <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(Model.PD_SERVICE_DT))</p>
                }
            </figcaption>
        </figure>
    </a>
</li>