﻿@model Joins.Apps.SSully.Models.Home.Lnb

<!-- LNB : 2018.08 코너추가 s-->
<div class="ssully_lnb">
    <!-- active -->
    <div class="dim"></div>
    <div class="inner">
        <!-- 2018.11 수정 s -->
        <div class="nav-title">
            <div class="my-profile">
                <div class="pic">
                    @if (Model.IsLogin)
                    {
                        <img src="@Model.LoginInfo.ProfileUrl" alt="" />
                    }
                </div>
                <a href="@(Model.IsLogin ? "/User/Info" : "/User/Login")" class="userbox">
                    <span class="txt-title">
                        @if (Model.IsLogin)
                        {
                            <!-- 로그인상태일때 ico-edit -->
                            <span class="_name">@Model.LoginInfo.Name</span>
                            <i class="ico-edit"></i>
                            <!-- 로그인상태면 login 클래스 추가-->
                            <span class="txt-sub login _email">@Model.LoginInfo.Email</span>
                        }
                        else
                        {
                            <!-- 로그아웃상태일때 ico-login -->
                            <text>로그인해주세요</text>
                            <i class="ico-login"></i>
                            <!-- 로그아웃상태일때 -->
                            <span class="txt-sub">지금 로그인하고<br />썰리의 다양한 기능을 활용하세요</span>
                        }
                    </span>
                </a>

                <button type="button" class="btn_layer_close"><span>레이어 닫기</span></button>
            </div>
        </div>
        <!--// 2018.11 수정 e -->

        <div class="con">
            @if (Model.IsLogin)
            {
                <!-- 2018.11 수정 s -->
                <!-- 로그인 상태일때 알림,스크랩 -->
                <ul class="my-content">
                    <li class="notification">
                        <a href="/User/Notification">
                            <i>알림아이콘</i>
                            <span>내 알림</span>
                            <span class="number hide"></span>
                        </a>
                    </li>
                    <li class="scrap">
                        <a href="/User/Scrap">
                            <i>스크랩아이콘</i>
                            <span>내 스크랩</span>
                        </a>
                    </li>
                </ul>
                <!--// 2018.11 수정 e -->
            }

            <div class="row">
                <h2 class="dist-row">썰리 카테고리</h2>
                <ul class="ctg">
                    <li><a href="/?pcate=101" class="ctg1">정치</a></li>
                    <li><a href="/?pcate=201" class="ctg2">경제</a></li>
                    <li><a href="/?pcate=301" class="ctg3">사회</a></li>
                    <li><a href="/?pcate=801" class="ctg4">세계</a></li>
                    <li><a href="/?pcate=401" class="ctg5">문화</a></li>
                    <li><a href="/?pcate=701" class="ctg6">IT</a></li>
                </ul>
            </div>
            <div class="row">
                <h2 class="dist-row">스페셜 코너</h2>
                <ul class="corners">
                    @*
                    <!-- 2018 09 : 썰리프레소 추가 START -->
                    <li class="presso">
                        <a href="/?ptype=8">
                            <span class="corner-name">썰리프레소</span>
                            <span>짧지만 진한 뉴스. 핵심만 간단히</span>
                        </a>
                    </li>
                    <!--// 2018 09 : 썰리프레소 추가 END -->
                    *@
                    <li class="pedia">
                        <a href="/?ptype=2">
                            <span class="corner-name">썰리피디아</span>
                            <span>썰리에게 물어봐! 대답해 줄게~</span>
                        </a>
                    </li>
                    @*<li class="story">
                        <a href="/?ptype=5">
                            <span class="corner-name">스토리썰링</span>
                            <span>너의 마음을 움직일 세상 이야기</span>
                        </a>
                    </li>
                    <li class="tour">
                        <a href="/?ptype=6">
                            <span class="corner-name">여기가봤썰</span>
                            <span>너만 모르는 요즘 핫플, 다 알려주겠어!</span>
                        </a>
                    </li>
                    <li class="quiz">
                        <a href="/?ptype=7">
                            <span class="corner-name">썰리퀴즈</span>
                            <span>이것만 다 맞추면 너도 상.식.왕</span>
                        </a>
                    </li>
                    *@
                </ul>
            </div>
            <div class="row etc">
                <ul class="etc-menu">
                    <li class="ask">
                        <a href="/Common/QA">썰리에게 말해주세요</a>
                    </li>
                    <li class="notice">
                        <a href="/Common/Notice">공지사항</a>
                    </li>
                    <li class="brand">
                        <a href="/About" target="_blank">썰리소개</a>
                    </li>
                </ul>
            </div>

            <div class="footer">
                <ul class="sns">
                    <li><a href="/about" class="i_app">모바일앱</a></li>
                    <li><a href="https://www.facebook.com/ssullynews" class="i_fb">페이스북</a></li>
                    <li><a href="https://twitter.com/ssullynews" class="i_tw">트위터</a></li>
                    <li><a href="https://1boon.daum.net/ssully" class="i_na">1boon</a></li>
                </ul>
                <div class="txt">
                    <ul>
                        <li><a href="/Common/TermsOfUse">회원약관</a></li>
                        <li><a href="/Common/PrivacyPolicy">개인정보처리방침</a></li>
                    </ul>
                    <address>Copyright &copy; 2017. ssully. All right reserved.</address>
                </div>

            </div>
        </div>
    </div>
</div>
<!--// LNB : 2018.08 코너추가 e -->

@if (LoginHelper.IsLogin)
{
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/User/NotifyCount',
                method: 'GET',
                cache: false,
                success: function (response) {
                    if (response.unread_notify_count > 0) {
                        $('.notification span.number').removeClass('hide').text(response.unread_notify_count > 99 ? '99+' : response.unread_notify_count);
                        $('header button.menu').addClass('new');
                    } else {
                        $('.notification span.number').remove();
                        $('header button.menu').removeClass('new');
                    }
                }
            });

            var login_data = SSullyLogin.LoginData();

            if (login_data) {
                var $lnb = $('div.ssully_lnb');

                $lnb.find('.my-profile .pic img').attr('src', login_data.profile_url).end()
                    .find('._name').text(login_data.name).end();
            }
        });
    </script>
} else {
    <script type="text/javascript">
        $(function () {
            $('div.ssully_lnb div.etc li.ask a').on('click', function (e) {
                show_loginlayer('inquire', function () {
                    location.replace('/User/Login');
                    return false;
                });
                return false;
            });
        });
    </script>
}