﻿body {
    font-family:"Noto Sans KR","malgungothic",sans-serif; font-weight:400;
}

.presso-article .conclusion {padding-left: 30px !important;background: url("https://images.joins.com/ssully/common/renewal2/corners/stemp.png") 0 0 no-repeat !important;background-size: 26px !important;}
.presso-article blockquote { font-style: italic !important; color: #656774 !important; font-size: 15px !important; margin: 12px 0 !important; font-weight: 300 !important; padding: 0 30px !important; background: url("https://images.joins.com/ssully/common/renewal2/corners/blockquote.png") 0 2px no-repeat !important; background-size: 28px !important; }