﻿@model Joins.Apps.Models.News10.ShowCase

@{
    ViewBag.MenuCode = "M0201";
}

@Html.Navigator("홈 커버 이미지 관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "쇼케이스 관리", Active = true }
})

<section class="content">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            노출순서는 날씨 > 날씨(종일) > 해당날짜(스페셜데이) > 기본 브리핑별 이미지 입니다.<br />
            스페셜데이 날짜를 입력하시면 날씨와 브리핑은 자동으로 셋팅됩니다.<br/>
            브리핑시간 선택에서 '종일'은 날씨타입의 '비'와 '눈'에서만 가능합니다.
        </div>
    </div>
    <div class="box">
        <form method="post" action="/ShowCase/Edit" class="form-horizontal frmWrite" onsubmit="return fn_submit()"  enctype="multipart/form-data">
            <input type="hidden" name="pgi" value="@(JCube.AF.Util.Converts.ToInt32(Request["pgi"], 1))">
            <input type="hidden" name="seq" value="@Model.SEQ">
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th class="col-xs-2 bg-gray-light">커버 이미지</th>
                        <td class="col-xs-10">
                            <input type="file" name="file" />
                            <img src="@Model.IMG" width="350"/><br/>
                            @Model.IMG
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 날씨 타입</th>
                        <td class="col-xs-10">
                            <input type="radio" name="weather_type" id="weather_type1" value="1" @((JCube.AF.Util.Converts.ToString(Model.WEATHER_TYPE, "")).Equals("1") ? "checked" : String.Empty)>
                            <label for="weather_type1">비</label>
                            <input type="radio" name="weather_type" id="weather_type2" value="2" @((JCube.AF.Util.Converts.ToString(Model.WEATHER_TYPE, "")).Equals("2") ? "checked" : String.Empty)>
                            <label for="weather_type2">눈</label>
                            <input type="radio" name="weather_type" id="weather_type3" value="0" @((JCube.AF.Util.Converts.ToString(Model.WEATHER_TYPE, "")).Equals("0") ? "checked" : String.Empty)>
                            <label for="weather_type3">기본</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 브리핑 시간</th>
                        <td class="col-xs-10">
                            <input type="radio" name="brief_type" id="brief_type1" value="1" @((JCube.AF.Util.Converts.ToString(Model.BRIEF_TYPE, "")).Equals("1") ? "checked" : String.Empty)>
                            <label for="brief_type1">아침</label>
                            <input type="radio" name="brief_type" id="brief_type2" value="2" @((JCube.AF.Util.Converts.ToString(Model.BRIEF_TYPE, "")).Equals("2") ? "checked" : String.Empty)>
                            <label for="brief_type2">점심</label>
                            <input type="radio" name="brief_type" id="brief_type3" value="3" @((JCube.AF.Util.Converts.ToString(Model.BRIEF_TYPE, "")).Equals("3") ? "checked" : String.Empty)>
                            <label for="brief_type3">저녁</label>
                            <input type="radio" name="brief_type" id="brief_type4" value="4" @((JCube.AF.Util.Converts.ToString(Model.BRIEF_TYPE, "")).Equals("4") ? "checked" : String.Empty)>
                            <label for="brief_type4">밤</label>
                            <input type="radio" name="brief_type" id="brief_type0" value="0" @((JCube.AF.Util.Converts.ToString(Model.BRIEF_TYPE, "")).Equals("0") ? "checked" : String.Empty)>
                            <label for="brief_type0">종일</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 상태</th>
                        <td class="col-xs-10">
                            <input type="radio" name="used_yn" id="usedyn1" value="Y" @((JCube.AF.Util.Converts.ToString(Model.USED_YN, "")).Equals("Y") ? "checked" : String.Empty)>
                            <label for="usedyn1">사용</label>
                            <input type="radio" name="used_yn" id="usedyn2" value="N" @((JCube.AF.Util.Converts.ToString(Model.USED_YN, "")).Equals("N") ? "checked" : String.Empty)>
                            <label for="usedyn2">삭제</label>
                        </td>
                    </tr>
                   
                    <tr>
                        <th class="col-xs-2 bg-gray-light"> 스페셜데이</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="specialday" name="special_day" placeholder="스페셜 날짜를 입력하여 주십시오." value="@Model.SPECIAL_DAY"  data-date-format='yyyy-mm-dd'/>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">수정자/수정일</th>
                        <td class="col-xs-10">
                            @(Model.MOD_ID + " / " + string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.MOD_DT))
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">등록자/등록일</th>
                        <td class="col-xs-10">
                            @(Model.REG_ID + " / " + string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.REG_DT))
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button type="reset" class="btn btn-default">취소</button>
                    <button type="submit" class="btn btn-warning">@(Model.SEQ > 0 ? "수정" : "등록")</button>

                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>

@section script {
    @*<script src="~/Content/ckeditor/ckeditor.js"></script>*@
    <script src="~/scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
      //  CKEDITOR.replace('txtContents', { customConfig: '/Content/ckeditor/config.js?uploadPath=story&height=480' });

        $('button:reset').click(function (e) {
            history.go(-1);
            return false;
        });
        $(function () {
            $('#specialday').datepicker({
                dateFormat: 'yyyy-mm-dd' ,
                autoclose: true

            });
        });
        $("input[name='weather_type']").click(function () {
            if ($(this).val() == 0) {
                $("#brief_type0").attr("checked", false);
                $("#brief_type0").attr("disabled", true);
            } else { $("#brief_type0").attr("disabled", false); }
            // Do something interesting here
        });
        function fn_submit() {
            var weatheryn = $("input[name=weather_type]:checked");
            var bridfyn = $("input[name=brief_type]:checked");
            var usedyn = $("input[name=used_yn]:checked");
            if ($.trim(weatheryn.val()).length == 0) {
                alert('날씨 타입을 선택하여 주시기 바랍니다.');
                return false;
            }
            if ($.trim(bridfyn.val()).length == 0) {
                alert('브리핑시간을 선택하여 주시기 바랍니다.');
                return false;
            }
            if ($.trim(usedyn.val()).length == 0) {
                alert('상태를 선택하여 주시기 바랍니다.');
                return false;
            }
        }
        @*var param = "";
        $('form.frmWrite').ajaxForm({

            beforeSerialize: function () {
                param = "?pgi=" + querystring("pgi");

             //   CKEDITOR.instances.txtContents.updateElement();
            },
            beforeSubmit: function (data, frm, option) {
                var selId = frm.find('#txtTotalID');
                var usedyn = $("input[name=used_yn]:checked");

                if ($.trim(selId.val()).length == 0) {
                    alert('기사ID를 입력하여 주시기 바랍니다.');
                    selId.focus();
                    return false;
                }

                if ($.trim(usedyn.val()).length == 0) {
                    alert('상태를 선택하여 주시기 바랍니다.');
                    return false;
                }

                return true;
            },
            success: function (response, status) {
                if ('success' === status.toLowerCase()) {
                    if (response.result) {
                        alert('@(Model.SEQ>0 ? "수정" : "등록")되었습니다.');
                        location.href = 'ExceptArticleList' + param;
                    } else {
                        alert(response.message);
                    }
                }
            },
            error: function () {
                alert('@(Model.SEQ > 0 ? "수정" : "등록") 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                return false;
            }
        });*@
        function querystring(key) {
            var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
            var r = [], m;
            while ((m = re.exec(document.location.search)) != null) r[r.length] = m[1];
            return r;
        }
        //]]>
    </script>
}