﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.News10.ShowCase>

@{
    ViewBag.MenuCode = "M0201";


}
@Html.Navigator("홈 커버 이미지 관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "쇼케이스 관리", Active = true }
})

<section class="content">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            NEWS10 첫 화면 이미지 정보입니다.<br />
            노출 우선순서는 해당시간의 브리핑이미지 중 날씨> 스페셜데이> 기본형 순으로 정해져서 하나만 나옵니다.
            모든 조건이 같은 타입의 이미지가 있을 경우 최신 이미지가 노출됩니다.
        </div>
    </div>
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row margin-bottom">
                <form action="/ShowCase/" method="get">
                    <div class="col-md-12 form-inline">
                        <input type="hidden" name="page" value="1" />
                        <select name="uyn" class="form-control">
                            <option value=""> - 전 체 - </option>
                            <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>사용</option>
                            <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>종료</option>
                        </select>
                        <button type="submit" class="btn btn-default">검색</button>
                        <a href="/ShowCase/Edit" class="btn btn-default pull-right">커버이미지등록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="box">
 @if (ViewBag.ShowTodayList.Count > 0) {
     for (int i = 0; i < ViewBag.ShowTodayList.Count; i++) {
         string sBrief = "";
         if (ViewBag.ShowTodayList[i].Count > 0) {
             switch (i) {
                 case 0:
                     sBrief = "Morning";
                     break;
                 case 1:
                     sBrief = "Afternoon";
                     break;
                 case 2:
                     sBrief = "Evening";
                     break;
                 case 3:
                     sBrief = "Night";
                     break;
             }
         <h4>@sBrief</h4>
         <div class="row docs-premium-template">
            @foreach (var exart in ViewBag.ShowTodayList[i]) {
                string img = "";
                 string st = "";
                 string sall = "";
                if (exart.BRIEF_TYPE=="0") { sall = " - 종일"; }
                if ((exart.IMG).IndexOf("http") == 0) {img = exart.IMG;}else { img = "http://images.joins.com" + exart.IMG; }
                if (!string.IsNullOrEmpty(exart.SPECIAL_DAY)) {st = "Special Day(" + exart.SPECIAL_DAY + ")"+ sall;}else {st = "Weather - " + (Joins.Apps.Models.News10.WEATHER_TYPEUtil.GetECName(exart.WEATHER_TYPE))+ sall; }
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-body">
                            <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">@st</h4>
                            <div class="media">
                                <div class="media-left">
                                    <a href="@img" target="_blank">
                                        <img src="@img" alt="Edura" class="media-object" style="width: 100%;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             }
         </div>
         }
     }
 }
   </div>



    <div class="box">
                <table class="table table-hover dataTable">
                    <thead>
                        <tr class="bg-gray-light">
                            <th>번호</th>
                            <th>이미지</th>
                            <th>브리핑</th>
                            <th>기본형</th>
                            <th>상태</th>
                            <th>날씨</th>
                            <th>스페셜데이</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data.Count() > 0) {
                            foreach (var exart in Model.Data) {
                                string img = "";
                                if ((exart.IMG).IndexOf("http") == 0) {
                                    img = exart.IMG;
                                }
                                else {
                                    img = "http://images.joins.com" + exart.IMG;
                                }
                                <tr class="odd">
                                    <td>
                                        @(Model.TotalItemCount - (exart.ROWNUM - 1))
                                    </td>
                                    <td>
                                        <a href="@img" target="_blank"><img src="@img" width="100px" /></a>
                                    </td>
                                    <td>
                                        <a href="@Html.GenerateLink("/ShowCase/Edit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "sno", Convert.ToString(@exart.SEQ) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) }
                                                                     })">@(Joins.Apps.Models.News10.BRIEF_TYPEUtil.GetECName(exart.BRIEF_TYPE))</a>
                                                                </td>
                                                                <td>@(exart.BASIC_YN )</td>
                                                                <td>@((exart.USED_YN == "Y") ? "사용" : "종료")</td>
                                                                <td>@(Joins.Apps.Models.News10.WEATHER_TYPEUtil.GetECName(exart.WEATHER_TYPE))</td>
                                                                <td>@(exart.SPECIAL_DAY)</td>
                                                                <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.REG_DT)</td>
                                                            </tr>
                            }
                        }
                        else {
                            <tr>
                                <td colspan="6" class="text-center">데이터가 없습니다.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row text-center">
                    @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions {
                   Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "sid", Request["sid"] },
                                   { "sdiv", Request["sdiv"] },
                                   { "sch", Request["sch"] }
                               }
               })
                </div>
            </div>
    
</section>

