﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.News10.CardInfo>

@{
    ViewBag.MenuCode = "M0206";
}

@Html.Navigator("NEWS10 카드 관리(카드 제외)", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "NEWS10 카드 관리", Active = true }
})

<section class="content">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
           사용변경을 통하여 노출을 제어할 수 있습니다.<br />
           카드 노출은 최하버전과 최고 버전 사이에서 노출 됩니다.(단 최고버전이 없을경우 계속 노출)<br/>
            ex) 최하버전 1이고 최고 버전이 비었으면 버전 1부터 다 노출 되는 형태임
        </div>
    </div>
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row margin-bottom">
                <form action="/Card/CardList" method="get">
                    <div class="col-md-12 form-inline">
                        <input type="hidden" name="page" value="1" />
                        <select name="uyn" class="form-control">
                            <option value=""> - 전 체 - </option>
                            <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>사용</option>
                            <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>삭제</option>
                        </select>
                        <button type="submit" class="btn btn-default">검색</button> 현재버전 : 4
                    </div>
                </form>
            </div>
            
            <table class="table table-hover dataTable">
                <thead>
                    <tr class="bg-gray-light">
                        <th>번호</th>
                        <th>카드ID</th>
                        <th>카드명</th>
                        <th>사용여부</th>
                        <th>최하지원버전</th>
                        <th>최고지원버전</th>
                        <th>등록일</th>
                        <th>사용변경</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0) {
                        foreach (var exart in Model.Data) {
                            <tr class="@((exart.USED_YN == "N") ? "bg-gray disabled" : "") odd">
                                <td>
                                    @(Model.TotalItemCount - (exart.ROWNUM - 1))
                                    <input type="hidden" name="seq" value="@exart.SEQ" />
                                </td>
                                <td>@exart.CARD_ID</td>
                                <td>@exart.CARD_NAME</td>
                                <td>@((exart.USED_YN == "Y") ? "사용" : "삭제")</td>
                                <td>@exart.VERSION</td>
                                <td>@exart.MAX_VERSION</td>
                                <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.REG_DT)</td>
                                <td><a href="javascript:seldel('@exart.SEQ','@exart.USED_YN')"><i class="fa fa-fw fa-chevron-circle-down"></i></a></td>
                            </tr>
                        }
                    }
                    else {
                        <tr>
                            <td colspan="6" class="text-center">데이터가 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row text-center">
                @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions {
               Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "sid", Request["sid"] },
                                   { "sdiv", Request["sdiv"] },
                                   { "sch", Request["sch"] }
                               }
           })
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
                $(document).ready(function () {
                });
               
                function seldel(seq, uyn1) {
                    var m = "삭제",m1="삭제로",uyn2="N";
                    if (uyn1 == 'N') { var m = "사용"; m1 = "사용으로"; uyn2 = "Y"; } else {
                        uyn2 = "N";
                    }
                    if (confirm("해당 카드를 "+m+" 하시겠습니까?" )) {
                        // $.post()
                        $.post("/Card/CardListYN", { seq: seq, uyn: uyn2 }).done(function (data) {
                            if (data.result) {
                                alert("해당 카드가 " + m1 + " 변경 되었습니다.");
                                location.href = location.href;
                            } else { alert(data.message); }
                        });
                    }
                }
</script>