﻿@model Joins.Apps.Models.News10.ExceptCard

@{
    ViewBag.MenuCode = "M0202";
}

@Html.Navigator("NEWS10 카드 관리(카드 제외)", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "NEWS10 카드 관리", Active = true }
})

<section class="content">
    <div class="box">
        <form method="post" action="/Card/ExceptArticleEdit" class="form-horizontal frmWrite">
            <input type="hidden" name="seq" value="@Model.seq">
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th class="col-xs-2 bg-gray-light">기사ID</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="txtTotalID" name="total_id" placeholder="기사ID를 입력해 주세요." value="@Model.total_id" @(Model.seq > 0 ? "readonly" : "")>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">기사제목</th>
                        <td class="col-xs-10">
                            @Model.art_title
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 상태</th>
                        <td class="col-xs-10">
                            <input type="radio" name="used_yn" id="usedyn1" value="Y" @((JCube.AF.Util.Converts.ToString(Model.used_yn, "Y")).Equals("Y") ? "checked" : String.Empty)>
                            <label for="usedyn1">사용</label>
                            <input type="radio" name="used_yn" id="usedyn2" value="N" @((JCube.AF.Util.Converts.ToString(Model.used_yn, "")).Equals("N") ? "checked" : String.Empty)>
                            <label for="usedyn2">삭제</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">수정자/수정일</th>
                        <td class="col-xs-10">
                            @(Model.mod_id + " / " + string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.mod_dt))
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">등록자/등록일</th>
                        <td class="col-xs-10">
                            @(Model.reg_id +" / " + string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.reg_dt))
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button type="reset" class="btn btn-default">취소</button>
                    <button type="submit" class="btn btn-warning">@(Model.seq > 0 ? "수정" : "등록")</button>

                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>

@section script {
    @*<script src="~/Content/ckeditor/ckeditor.js"></script>*@
    <script src="~/scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
      //  CKEDITOR.replace('txtContents', { customConfig: '/Content/ckeditor/config.js?uploadPath=story&height=480' });

        $('button:reset').click(function (e) {
            history.go(-1);
            return false;
        });
        $(function () {
            $('#txtDate').datepicker({
                dateFormat: 'yyyy-mm-dd' ,
                autoclose: true

            });
        });
        var param = "";
        $('form.frmWrite').ajaxForm({

            beforeSerialize: function () {
                param = "?pgi=" + querystring("pgi");

             //   CKEDITOR.instances.txtContents.updateElement();
            },
            beforeSubmit: function (data, frm, option) {
                var selId = frm.find('#txtTotalID');
                var usedyn = $("input[name=used_yn]:checked");
                
                if ($.trim(selId.val()).length == 0) {
                    alert('기사ID를 입력하여 주시기 바랍니다.');
                    selId.focus();
                    return false;
                }
              
                if ($.trim(usedyn.val()).length == 0) {
                    alert('상태를 선택하여 주시기 바랍니다.');
                    return false;
                }
              
                return true;
            },
            success: function (response, status) {
                if ('success' === status.toLowerCase()) {
                    if (response.result) {
                        alert('@(Model.seq>0 ? "수정" : "등록")되었습니다.');
                        location.href = 'ExceptArticleList' + param;
                    } else {
                        alert(response.message);
                    }
                }
            },
            error: function () {
                alert('@(Model.seq > 0 ? "수정" : "등록") 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                return false;
            }
        });
        function querystring(key) {
            var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
            var r = [], m;
            while ((m = re.exec(document.location.search)) != null) r[r.length] = m[1];
            return r;
        }
        //]]>
    </script>
}