﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.News10.ExceptCard>

@{
    ViewBag.MenuCode = "M0202";
    var total_rows = 0;
}

@Html.Navigator("NEWS10 카드 관리(카드 제외)", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "NEWS10 카드 관리", Active = true }
})

<section class="content">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row margin-bottom">
                <form action="/Card/ExceptArticleList" method="get">
                    <div class="col-md-12 form-inline">
                        <input type="hidden" name="page" value="1" />
                        <select name="uyn" class="form-control">
                            <option value=""> - 전 체 - </option>
                            <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>사용</option>
                            <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>삭제</option>
                        </select>
                        <button type="submit" class="btn btn-default">검색</button>
                        <a href="/Card/ExceptArticleEdit" class="btn btn-default pull-right">제외기사등록</a>
                    </div>
                </form>
            </div>
            <table class="table table-hover dataTable">
                <thead>
                    <tr class="bg-gray-light">
                        <th>번호</th>
                        <th>기사ID</th>
                        <th>기사제목</th>
                        <th>상태</th>
                        <th>등록일</th>
                        <th>수정일</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0) {
                        foreach (var exart in Model.Data) {
                            <tr class="odd">
                                <td>
                                    @(Model.TotalItemCount - (exart.ROWNUM - 1))
                                    <input type="hidden" name="story_seq" value="@exart.seq" />
                                </td>
                                <td>
                                    <a href="@Html.GenerateLink("/Card/ExceptArticleEdit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "sno", Convert.ToString(@exart.seq) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) }
                                                                     })">@exart.total_id</a>
                                                                </td>
                                                                <td><a href="@Html.GenerateLink("/Card/ExceptArticleEdit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "sno", Convert.ToString(@exart.seq) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) }
                                                                     })">@exart.art_title</a></td>
                                                                 <td>@((exart.used_yn == "Y") ? "사용" : "삭제")</td>
                                                                 <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.reg_dt)</td>
                                                                 <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.mod_dt)</td>
                                                            </tr>
                        }
                    }
                    else {
                        <tr>
                            <td colspan="6" class="text-center">데이터가 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row text-center">
                @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions {
               Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "sid", Request["sid"] },
                                   { "sdiv", Request["sdiv"] },
                                   { "sch", Request["sch"] }
                               }
           })
            </div>
        </div>
    </div>
</section>