﻿@model Joins.Apps.Models.News10.Event

@{
    ViewBag.MenuCode = "M0207";
}

@Html.Navigator("이벤트 관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "이벤트 관리", Active = true }
})

<section class="content">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
        </div>
    </div>
    <div class="box">
        <form method="post" action="/Event/Edit" class="form-horizontal frmWrite" onsubmit="return fn_submit()"  enctype="multipart/form-data">
            <input type="hidden" name="pgi" value="@(JCube.AF.Util.Converts.ToInt32(Request["pgi"], 1))">
            <input type="hidden" name="seq" value="@Model.seq">
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 이미지</th>
                        <td class="col-xs-10"><input type="text"  class="form-control" id="img" name="img" placeholder="이미지를 등록하여 주십시오." value="@Model.img">
                            <input type="file" name="file" />
                            <img src="@Model.img" width="350"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 배경이미지</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="bg_img" name="bg_img" placeholder="배경 이미지를 등록하여 주십시오." value="@Model.bg_img">
                            <input type="file" name="file2" />
                            <img src="@Model.bg_img" width="350" />
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">제목</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 등록하여 주십시오." value="@Model.title">
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">요약</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="summary" name="summary" placeholder="요약을 입력하여 주십시오." value="@Model.summary">
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 내용(링크)</th>
                        <td class="col-xs-10">
                            <input type="text" class="form-control" id="event_cont" name="event_cont" placeholder="내용(링크)을 입력하여 주십시오." value="@Model.event_cont">
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">* 상태</th>
                        <td class="col-xs-10">
                            <input type="radio" name="used_yn" id="usedyn1" value="Y" @((JCube.AF.Util.Converts.ToString(Model.used_yn, "")).Equals("Y") ? "checked" : String.Empty)>
                            <label for="usedyn1">사용</label>
                            <input type="radio" name="used_yn" id="usedyn2" value="N" @((JCube.AF.Util.Converts.ToString(Model.used_yn, "")).Equals("N") ? "checked" : String.Empty)>
                            <label for="usedyn2">삭제</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">수정일</th>
                        <td class="col-xs-10">
                            @(string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.mod_dt))
                        </td>
                    </tr>
                    <tr>
                        <th class="col-xs-2 bg-gray-light">등록일</th>
                        <td class="col-xs-10">
                            @(string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.reg_dt))
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button type="reset" class="btn btn-default">취소</button>
                    <button type="submit" class="btn btn-warning">@(Model.seq > 0 ? "수정" : "등록")</button>

                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>

@section script {
    @*<script src="~/Content/ckeditor/ckeditor.js"></script>*@
    <script src="~/scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
      //  CKEDITOR.replace('txtContents', { customConfig: '/Content/ckeditor/config.js?uploadPath=story&height=480' });

        $('button:reset').click(function (e) {
            history.go(-1);
            return false;
        });
        //$(function () {
        //    $('#specialday').datepicker({
        //        dateFormat: 'yyyy-mm-dd' ,
        //        autoclose: true

        //    });
        //});
     
        function fn_submit() {
            var img = $("#img");
            var cont = $("#event_cont");
            var usedyn = $("input[name=used_yn]:checked");
            //if ($.trim(img.val()).length == 0) {
            //    alert('이미지를 입력하여 주시기 바랍니다.');
            //    return false;
            //}
            if ($.trim(cont.val()).length == 0) {
                alert('내용(링크)을 입력하여 주시기 바랍니다.');
                return false;
            }
            if ($.trim(usedyn.val()).length == 0) {
                alert('상태를 선택하여 주시기 바랍니다.');
                return false;
            }
        }
        @*var param = "";
        $('form.frmWrite').ajaxForm({

            beforeSerialize: function () {
                param = "?pgi=" + querystring("pgi");

             //   CKEDITOR.instances.txtContents.updateElement();
            },
            beforeSubmit: function (data, frm, option) {
                var selId = frm.find('#txtTotalID');
                var usedyn = $("input[name=used_yn]:checked");

                if ($.trim(selId.val()).length == 0) {
                    alert('기사ID를 입력하여 주시기 바랍니다.');
                    selId.focus();
                    return false;
                }

                if ($.trim(usedyn.val()).length == 0) {
                    alert('상태를 선택하여 주시기 바랍니다.');
                    return false;
                }

                return true;
            },
            success: function (response, status) {
                if ('success' === status.toLowerCase()) {
                    if (response.result) {
                        alert('@(Model.SEQ>0 ? "수정" : "등록")되었습니다.');
                        location.href = 'ExceptArticleList' + param;
                    } else {
                        alert(response.message);
                    }
                }
            },
            error: function () {
                alert('@(Model.SEQ > 0 ? "수정" : "등록") 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                return false;
            }
        });*@
        function querystring(key) {
            var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
            var r = [], m;
            while ((m = re.exec(document.location.search)) != null) r[r.length] = m[1];
            return r;
        }
        //]]>
    </script>
}