﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.News10.Event>

@{
    ViewBag.MenuCode = "M0207";
}
@Html.Navigator("이벤트 관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "이벤트 관리", Active = true }
})

<section class="content">
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
        </div>
    </div>
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row margin-bottom">
                <form action="/Event/" method="get">
                    <div class="col-md-12 form-inline">
                        <input type="hidden" name="page" value="1" />
                        <select name="uyn" class="form-control">
                            <option value=""> - 전 체 - </option>
                            <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>사용</option>
                            <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>종료</option>
                        </select>
                        <button type="submit" class="btn btn-default">검색</button>
                        <a href="/Event/Edit" class="btn btn-default pull-right">이벤트등록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
                <table class="table table-hover dataTable">
                    <thead>
                        <tr class="bg-gray-light">
                            <th>번호</th>
                            <th>상태</th>
                            <th>이미지</th>
                            <th>타이틀</th>
                            <th>내용</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data.Count() > 0) {
                            foreach (var exart in Model.Data) {
                                string img = "";
                                if ((exart.img).IndexOf("http") == 0) {
                                    img = exart.img;
                                }
                                else {
                                    img = "http://images.joins.com" + exart.img;
                                }
                                <tr class="odd">
                                    <td>
                                        @(Model.TotalItemCount - (exart.ROWNUM - 1))
                                    </td>
                                    <td>@((exart.used_yn == "Y") ? "사용" : "종료")</td>
                                    <td>
                                        <a href="@img" target="_blank"><img src="@img" width="100px" /></a>
                                    </td>
                                    <td>
                                        <a href="@Html.GenerateLink("/Event/Edit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "sno", Convert.ToString(@exart.seq) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) }
                                                                     })">@(exart.title)</a>
                                                                </td>
                                    <td>
                                        <a href="@Html.GenerateLink("/Event/Edit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "sno", Convert.ToString(@exart.seq) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) }
                                                                     })">@(exart.event_cont)</a>
                                                                </td>                           
                                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.reg_dt)</td>
                                </tr>
                            }
                        }
                        else {
                            <tr>
                                <td colspan="6" class="text-center">데이터가 없습니다.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row text-center">
                    @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions {
                   Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "sid", Request["sid"] },
                                   { "sdiv", Request["sdiv"] },
                                   { "sch", Request["sch"] }
                               }
               })
                </div>
            </div>
    
</section>

