﻿@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>썰리 - 썰로 푸는 이슈 정리</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="썰리 - 썰로 푸는 이슈 정리" />
    <meta name="description" content="쉽고 재미있는 설명+정리 '썰리'를 소개합니다" />
    <meta name="keywords" content="썰리, 설명, 정리, 뉴스, 시사이슈, 상식, 뉴스 큐레이션, 뉴스 앱, 중앙일보" />
    <meta property="og:title" content="썰리 - 썰로 푸는 이슈 정리" />
    <meta property="og:description" content="쉽고 재미있는 설명+정리 '썰리'를 소개합니다" />
    <meta property="og:image" content="https://images.joins.com/ssully/brand/ssully_landingban.png" />
    <meta property="og:url" content="@Request.Url.GetLeftPart(UriPartial.Authority)/about" />
    <link rel="shortcut icon" href="https://images.joins.com/ssully/common/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style type="text/css">
        @@font-face { font-family: "Notosans"; font-weight: 300; src: url("/fonts/NotoSans-Light.eot") format("embedded-opentype"), url("/fonts/NotoSans-Light.woff") format("woff"), url("/fonts/NotoSans-Light.woff2") format("woff2"); }
        @@font-face { font-family: "Notosans"; font-weight: 400; src: url("/fonts/NotoSans-Regular.eot") format("embedded-opentype"), url("/fonts/NotoSans-Regular.woff") format("woff"), url("/fonts/NotoSans-Regular.woff2") format("woff2"); }
    </style>
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/brand/css/jquery.bxslider.min.css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/brand/css/brand.min.css?t=@ViewContext.ViewBag.CssCacheString"><!-- 2018.10 : 수정 파일 -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <!-- 2018.10 S : 웹폰트 수정 -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
            WebFont.load({
                google: {
                    families: ['Noto Sans KR:300,400,700']
                }
            });
    </script>
    <!--// 2018.10 E : 웹폰트 수정 -->
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W32779P');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W32779P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="wrapper">

        <!-- Header : start -->
        <header>
            <h1 id="logo"><a href="" class="txt-indent">썰리</a></h1>
            <div class="social-btns">
                <a href="mailto:ssullypeople@gmail.com" class="txt-indent contact">고객센터</a>
                <a href="" class="txt-indent share">공유하기</a>

                <div class="share-layer">
                    <ul>
                        <li><a href="javascript:void(0);" onclick="javascript: fnSendSns('kakaostory', '', '');" class="txt-indent kakao">카카오스토리</a></li>
                        <li><a href="javascript:void(0);" onclick="javascript: fnSendSns('facebook', '', '');" class="txt-indent facebook">페이스북</a></li>
                        <li><a href="javascript:void(0);" onclick="javascript: fnSendSns('twitter', '', '');" class="txt-indent twitter">트위터</a></li>
                    </ul>
                    <p class="message">아래 url을 복사해서 공유하세요</p>
                    <p class="url-box" onclick="javascript: fnSendSns('url', '', '');">@Request.Url.GetLeftPart(UriPartial.Authority)/about</p>
                </div>
            </div>
        </header>
        <!--// Header : end -->
        <!-- View-wrap -->
        <div class="view-wrap">
            <!-- Section : 인트로 시작 -->
            <!-- 2018.10 S : 스티커 위치 수정 E-->
            <div class="intro section row">
                <div class="container">
                    <span class="sticker ssam" data-name="ssam"></span>
                    <span class="sticker cado" data-name="cado"></span>
                    <span class="sticker jb" data-name="jb"></span>
                    <span class="sticker jeff" data-name="jeff"></span>
                    <span class="sticker avo" data-name="avo"></span>


                    <div class="title">
                        <h2><img src="https://images.joins.com/ssully/brand/title_ssully.png" alt="썰로푸는 이슈정리. 썰리"></h2>
                        <p class="sub-title">친절하고 재미있는 <span>설명+정리를 만나 보세요</span></p>

                        <ul class="app-btns">
                            <li><a href="https://itunes.apple.com/app/id1335446055" class="ico-sprite apple" target="_blank">App Store</a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.joins.joongang.ssully&referrer=utm_source%3Dweb_about%26utm_medium%3Dbutton%26utm_campaign%3Dandroid_download" class="ico-sprite google" target="_blank">Google play</a></li>
                        </ul>
                    </div>

                    <a href="" id="scroll-down">다음섹션</a>
                </div>
            </div>
            <!--// 2018.10 E : 스티커 위치 수정 -->
            <!--// Section : 인트로 끝 -->
            <!-- Section : 가이드 1 시작 -->
            <!-- 2018.10 S : 이미지 src(ver2) 수정 -->
            <div class="section guide curation">
                <div class="container">
                    <div class="info al-right">
                        <h3>
                            <img src="https://images.joins.com/ssully/brand/ver2/section_title1.png" alt="썰리가 선별한 이슈들을 만나보세요" class="web">
                            <img src="https://images.joins.com/ssully/brand/ver2/mobile/section_title1_m.png" alt="썰리가 선별한 이슈들을 만나보세요" class="mobile">
                        </h3>
                        <h4>
                            <span>썰리 에디터들이 지금 당신이 궁금해 할</span>
                            <span>그리고 설명+정리가 필요한 이슈를 선별합니다</span>
                        </h4>
                    </div>
                    <div class="ssully-image sample1">
                        썰리이미지 1 - CURATION
                        <span class="obj1 motion">1</span>
                    </div>
                </div>
            </div>
            <!--// 2018.10 E : 이미지 src(ver2) 수정 -->
            <!--// Section : 가이드 1 끝 -->
            <!-- Section : 가이드 2 시작 -->
            <!-- 2018.10 S : 이미지 src(ver2) 수정 -->
            <div class="section guide conversation">
                <div class="container">
                    <div class="info al-left">
                        <h3>
                            <img src="https://images.joins.com/ssully/brand/ver2/section_title2.png" alt="친숙한 대화 형태로 이슈를 읽어보세요" class="web">
                            <img src="https://images.joins.com/ssully/brand/ver2/mobile/section_title2_m.png" alt="친숙한 대화 형태로 이슈를 읽어보세요" class="mobile">
                        </h3>
                        <h4>
                            <span>채팅 대화 방식으로 콘텐트를 제작하여</span>
                            <span>보다 쉽고 재미있게 이슈를 이해할 수 있습니다</span>
                        </h4>
                    </div>
                    <div class="ssully-image sample2">
                        썰리이미지 2 - CONVERSATION
                        <span class="obj1 motion">1</span>
                        <span class="obj2 motion">2</span>
                        <span class="obj3 motion">3</span>
                        <span class="obj4 motion">4</span>
                        <span class="obj5 motion">5</span>
                    </div>
                </div>
            </div>
            <!--// 2018.10 E : 이미지 src(ver2) 수정 -->
            <!--// Section : 가이드 2 끝 -->
            <!-- Section : 가이드 3 시작 -->
            <!-- 2018.10 S : 이미지 src 수정(ver2) -->
            <div class="section guide interaction">
                <div class="container">
                    <div class="info al-right">
                        <h3>
                            <img src="https://images.joins.com/ssully/brand/ver2/section_title3.png" alt="당신의 궁금증이 이슈가 됩니다." class="web">
                            <img src="https://images.joins.com/ssully/brand/ver2/mobile/section_title3_m.png" alt="당신의 궁금증이 이슈가 됩니다." class="mobile">
                        </h3>
                        <h4>
                            <span>궁금한 이슈가 있다면 직접 썰리에게 물어보세요</span>
                            <span>썰리가 알기 쉽게 정리해 드립니다</span>
                        </h4>
                    </div>
                    <div class="ssully-image sample3">
                        썰리이미지 3 - INTERACTION
                        <span class="obj1 motion">1</span>
                        <span class="obj2 motion">2</span>
                    </div>
                </div>
            </div>
            <!--// 2018.10 E : 이미지 src(ver2) 수정 -->
            <!--// Section : 가이드 3 끝 -->
            <!-- Section : 캐릭터소개 시작 -->
            <!-- 2018.10 S : 이미지 src(ver2) 수정
                       캐릭터 설명 수정    -->
            <div class="section character">

                <div class="bg">
                    <span class="ssam active"></span>
                    <span class="jeff"></span>
                    <span class="jb"></span>
                    <span class="avocado"></span>
                </div>

                <div class="container">
                    <h3>
                        <img src="https://images.joins.com/ssully/brand/ver2/section_title4.png" alt="썰리 프렌즈" class="web">
                        <img src="https://images.joins.com/ssully/brand/ver2/mobile/section_title4_m.png" alt="썰리 프렌즈" class="mobile">
                    </h3>


                    <div class="slider-wrap">
                        <ul class="character-slider">
                            <li class="active">
                                <figure>
                                    <span class="figure"><img src="https://images.joins.com/ssully/brand/ver2/character_no1.png" alt="ssam"></span>
                                    <div class="explain">
                                        <figcaption>
                                            <p class="txt-indent ssam">Ssam</p>
                                            <p class="details pc">
                                                <span>모르는 게 없는 설명덕후 쌤(ssam). 5년째 고시 준비를 하며</span>
                                                <span>여러 신문을 읽은 덕에 대답자판기급의 잡지식을 가지게 되었다</span>
                                                <span>지식을 뽐내며 여기저기 설명해주는 '프로 설명러'</span>
                                                <span>다만, 눈치가 부족해 쉴 새 없이 떠드는 게 단점</span>
                                            </p>
                                            <p class="details mobile">
                                                모르는 게 없는 설명덕후 쌤(ssam). 5년째 고시 준비를 하며&nbsp;여러 신문을 읽은 덕에 대답자판기급의 잡지식을 가지게 되었다.&nbsp;지식을 뽐내며 여기저기 설명해주는 '프로 설명러' &nbsp;다만, 눈치가 부족해 쉴 새 없이 떠드는 게 단점
                                            </p>
                                        </figcaption>
                                        <ul class="more-stickers">
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_ssam1.png" alt="ssam 1"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_ssam2.png" alt="ssam 2"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_ssam3.png" alt="ssam 3"></li>
                                        </ul>
                                    </div>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <span class="figure"><img src="https://images.joins.com/ssully/brand/ver2/character_no2.png" alt="Jeff"></span>
                                    <div class="explain">
                                        <figcaption>
                                            <p class="txt-indent jeff">Jeff</p>
                                            <p class="details pc">
                                                <span>혼자가 편한 상식봇짐러 제프(Jeff). 각종 지식을 독학으로</span>
                                                <span>모두 섭렵 후 매일 여기저기 돌아다니며 지식을 전파한다 </span>
                                                <span>까칠한 성격 탓에 상대방이 이상한 질문을 하면</span>
                                                <span>불같이 화를 내거나 심지어 혼잣말로 욕도 한다</span>
                                            </p>
                                            <p class="details mobile">
                                                혼자가 편한 상식봇짐러 제프(Jeff). 각종 지식을 독학으로&nbsp;모두 섭렵 후 매일 여기저기 돌아다니며 지식을 전파한다.&nbsp; 까칠한 성격 탓에 상대방이 이상한 질문을 하면&nbsp;불같이 화를 내거나 심지어 혼잣말로 욕도 한다
                                            </p>
                                        </figcaption>
                                        <ul class="more-stickers">
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_jeff1.png" alt="jeff 1"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_jeff2.png" alt="jeff 2"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_jeff3.png" alt="jeff 3"></li>
                                        </ul>
                                    </div>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <span class="figure"><img src="https://images.joins.com/ssully/brand/ver2/character_no3.png" alt="JB"></span>
                                    <div class="explain">
                                        <figcaption>
                                            <p class="txt-indent jb">JB</p>
                                            <p class="details pc">
                                                <span>천진난만 질문폭격기 제이비(JB). 아무렇지 않게 웃는 얼굴로</span>
                                                <span>끊임없이 질문한다. 100번에 한 번 정도, 촌철살인의 질문을</span>
                                                <span>던지는데 쌤과 제프조차 꿀 먹은 벙어리가 될 때가 많다.</span>
                                                <span>나머지는 대부분 주제와 상관없는 이상한 질문들</span>
                                            </p>
                                            <p class="details mobile">
                                                천진난만 질문폭격기 제이비(JB). 아무렇지 않게 웃는 얼굴로&nbsp;끊임없이 질문한다. 100번에 한 번 정도, 촌철살인의 질문을&nbsp; 던지는데 쌤과 제프조차 꿀 먹은 벙어리가 될 때가 많다.&nbsp; 나머지는 대부분 주제와 상관없는 이상한 질문들
                                            </p>
                                        </figcaption>
                                        <ul class="more-stickers">
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_jb1.png" alt="jb 1"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_jb2.png" alt="jb 2"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_jb3.png" alt="jb 3"></li>
                                        </ul>
                                    </div>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <span class="figure"><img src="https://images.joins.com/ssully/brand/ver2/character_no4.png" alt="Avo & Cado"></span>
                                    <div class="explain">
                                        <figcaption>
                                            <p class="txt-indent avocado">Avo & Cado</p>
                                            <p class="details pc">
                                                <span>돌직구 팩트체커 듀오 아보&카도(Avo&Cado).</span>
                                                <span>쌤과 함께 살고 있는 쌍둥이. </span>
                                                <span>끊임없이 팩트체크를 하며 재잘거린다 주변 친구들은</span>
                                                <span>짜증 날 법도 하지만 틀린 말을 한 적이 없어 화도 못 낸다</span>
                                            </p>
                                            <p class="details mobile">
                                                돌직구 팩트체커 듀오 아보&카도(Avo&Cado).&nbsp;  쌤과 함께 살고 있는 쌍둥이.&nbsp;  끊임없이 팩트체크를 하며 재잘거린다 주변 친구들은&nbsp; 짜증 날 법도 하지만 틀린 말을 한 적이 없어 화도 못 낸다
                                            </p>
                                        </figcaption>
                                        <ul class="more-stickers">
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_avocado1.png" alt="avo&cado 1"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_avocado2.png" alt="avo&cado 2"></li>
                                            <li><img src="https://images.joins.com/ssully/brand/ver2/sticker_avocado3.png" alt="avo&cado 3"></li>
                                        </ul>
                                    </div>

                                </figure>
                            </li>
                        </ul>

                        <div class="controls">
                            <a href="" class="prev">이전</a>
                            <a href="" class="next">다음</a>
                        </div>
                    </div>

                    <div class="pager">
                        <a href="" data-slide-index="0"></a>
                        <a href="" data-slide-index="1"></a>
                        <a href="" data-slide-index="2"></a>
                        <a href="" data-slide-index="3"></a>
                    </div>
                </div>
            </div>
            <!--// 2018.10 E : 이미지 src(ver2) 수정
                   캐릭터 설명 수정    -->
            <!--// Section : 캐릭터소개 끝 -->
            <!-- Section : 링크 리스트 시작 -->
            <div class="section social-list">
                <div class="container">
                    <p class="txt-contact">다양한 방법으로 썰리를 만나보세요</p>
                    <ul class="contact-list">
                        <li id="contact-web"><a href="http://ssully.kr" target="_blank"><span>썰리 웹사이트</span></a></li>
                        <li id="contact-fb"><a href="https://www.facebook.com/ssullynews/" target="_blank"><span>페이스북</span></a></li>
                        <li id="contact-twitter"><a href="https://twitter.com/ssullynews" target="_blank"><span>트위터</span></a></li>
                        <li id="contact-1boon"><a href="https://1boon.daum.net/ssully" target="_blank"><span>카카오 1boon</span></a></li>
                        <li id="contact-kakao"><a href="http://pf.kakao.com/_xhRKcxl" target="_blank"><span>플러스친구</span></a></li>
                        <li id="contact-youtube"><a href="https://www.youtube.com/channel/UCq2zmEOER9h4ISSnNdi8FmA/featured" target="_blank"><span>유튜브</span></a></li>
                    </ul>
                </div>
                <div class="footer">
                    <div class="container">
                        <p class="copyright">Copyright © 2018. ssully. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!--// Section : 링크 리스트 시작 -->
        </div>
        <!--// View-wrap -->
    </div>

    <script src="https://static.joins.com/html/mobile/ssuly/brand/js/jquery.bxslider.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/brand/js/jquery.fullpage.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/brand/js/bundle/ui.bundle.js?t=@ViewContext.ViewBag.JsCacheString"></script><!-- 2018.10 : 수정 -->
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        //SNS 공유
        Kakao.init('b6ae95a006b7d18744f074eca7656f87');
        $.getScript("https://static.joins.com/joongang_15re/scripts/lib/clipboard.min.js", function () {
            var clipboard = new Clipboard(".url-box", {
                text: function () {
                    return "@Request.Url.GetLeftPart(UriPartial.Authority)/about";
                }
            });
        });

        //공유 PC
        function fnSendSns(sns, url, txt) {
            var o;
            var _url = encodeURIComponent(url || $("meta[property='og:url']").attr("content"));
            var _txt = encodeURIComponent(txt || $("meta[property='og:title']").attr("content"));
            var _desc = encodeURIComponent(txt || $("meta[property='og:description']").attr("content"));
            var _br = encodeURIComponent('\r\n');
            var _img = encodeURIComponent($("meta[property='og:image']").attr("content"));
            switch (sns) {
                case 'kakaotalk':
                    o = {};
                    Kakao.Link && Kakao.Link.sendDefault({
                        objectType: 'feed',
                        content: {
                            title: _txt,
                            description: decodeURI(_desc),
                            imageUrl: _img,
                            link: {
                                webUrl: _url,
                                mobileWebUrl: _url
                            }
                        },
                        fail: function () {
                            alert('지원하지 않는 플랫폼입니다.');
                        }
                    });
                    break;
                case 'kakaostory':
                    o = {};
                    Kakao.Story.share({ url: decodeURIComponent(_url), text: decodeURIComponent(_desc) });
                    break;
                case 'facebook':
                    o = { type: sns, method: 'popup', url: 'http://www.facebook.com/sharer/sharer.php?u=' + _url, width: 555, height: 608, resize: 'no' };
                    break;
                case 'twitter':
                    o = { type: sns, method: 'popup', url: 'http://twitter.com/intent/tweet?text=' + _txt + '&url=' + _url, width: 555, height: 500, resize: 'no' };
                    break;
                case 'band':
                    o = { type: sns, method: 'popup', url: 'http://band.us/plugin/share?body=' + _txt + '&route=' + _url, width: 410, height: 540, resize: 'no' };
                    break;
                case 'line':
                    o = { type: sns, method: 'popup', url: 'http://line.me/R/msg/text/?' + (_txt + _br + _url), width: 640, height: 440, resize: 'no' };
                    break;
                case 'naverblog':
                    o = { type: sns, method: 'popup', url: 'http://share.naver.com/web/shareView.nhn?url=' + _url + '&title=' + _txt, width: 557, height: 558, resize: 'no' };
                    break;
                case 'googleplus':
                    o = { type: sns, method: 'popup', url: 'https://plus.google.com/share?url=' + _url + '&hl=ko', width: 490, height: 490, resize: 'no' };
                    break;
                case 'url':
                    o = {};
                    alert("주소가 복사되었습니다.");
                    break;
                default:
                    alert('지원하지 않는 SNS입니다.');
                    return false;
            }

            if (o.method == "popup")
                window.open(o.url, o.type + "_sns", "width=" + o.width + ",height=" + o.height + ",resizable=" + o.resize);
        }
        //]]>
    </script>
</body>
</html>