﻿@model Joins.Apps.SSully.Models.Home.ProductList

@section HeaderPublishCSSJavascript
{
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_list@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<!-- 카테고리 리스트 container -->
<div class="container list">
    <!-- HEADER 2018.08 수정 s -->
    <header class="main-list">
        <h1 class="hidden"><a href="/"><img src="https://images.joins.com/ssully/common/renewal2/com/appbar_bi_fix.png" alt="썰리"></a></h1>

        <h2 class="sub_tit"><span class="bold">@Model.CategoryCode.CodeName</span></h2>

        @if ("Y".Equals(Request["category"], StringComparison.OrdinalIgnoreCase))
        {
            <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>
        }
        else
        {
            <button type="button" class="menu">
                <span class="mn_in"><span class="txt">메뉴보기</span></span>
            </button>
            <a href="/" class="home"><span>홈으로 이동</span></a>
        }
    </header>
    <!-- HEADER 2018.08 수정 e -->

    
    @Html.Action("GetLeftNavigationBar", "Home")

    <!-- 2018.08 리스트 수정 start -->
    <div class="main-content">
        <!-- 2018.10 수정 : Sort -->
        <div class="sort-wrap">
            <ul class="_role-tbl">
                <li class="on"><a href="">최신순</a></li>
                <li><a href="">인기순</a></li>
            </ul>
            <span class="bar"></span>
        </div>
        <!--// 2018.10 수정 : Sort -->
        <section class="module default">
            <h3 class="sec-title indent">기본리스트</h3>
            <ul class="def-list"></ul>
        </section>
    </div>
    <!--// 2018.08 리스트 수정 end -->
</div>
<!--// 카테고리 리스트 container -->

<script>
    var page = 1;
    var page_size = @Model.Parameters.ps;
    var sort = 'latest';
    var scroll_top = 0;

    var category = '@Model.Parameters.pcate';
    var is_end = false;
    var is_lock = false;

    var state = new function() {
        this.loadState = function() {
            var retVal = history.state != null;
            
            if (retVal) {
                page = history.state.page;
                page_size = history.state.page_size;
                sort = history.state.sort;
                scroll_top = history.state.scroll_top;
            }

            return retVal;
        };
        this.saveState = function() {
            history.replaceState({ page: page, page_size: page_size, sort: sort, scroll_top: scroll_top }, 'state', location.href);
        };
        this.clearState = function() {
            history.replaceState(null, 'state', location.href);
        };
    };


    var loadListMore = function (is_clear, is_restore, callback) {
        if (is_end || is_lock)
            return;

        $.ajax({
            url: '/more',
            type: "get",
            data: { pgi: page, ps: page_size, pcate: category, order: sort, is_restore: is_restore ? "Y" : "N" },
            beforeSend: function() {
                is_lock = true;
            },
            success:function(data) {
                var items = $(data);

                if (is_clear)
                    $('.def-list').html('');

                is_end = (items.length % page_size > 0);

                $.each(items, function(idx, item) {
                    var find_item = $('.def-list li[data-item=' + $(item).data('item') + ']');

                    if (find_item.length == 0)
                        $('.def-list').append($(item));
                });
                
                $(".main-content").removeData('loading');

                if (callback)
                    callback();
            }
        }).complete(function() {
            is_lock = false;
        });
    };

    $(function () {
        $(function(){
            var _sort = $(".sort-wrap"),
				_sort_bar = _sort.find(".bar");

            // 최신순, 인기순 클릭이벤트
            _sort.find("li").on("click",function(e){
                e.preventDefault();

                if(!is_lock){
                    $(this).closest("li").addClass("on").siblings().removeClass("on");

                    _sort_bar.stop().animate({ left:$(this).position().left+"px" },200);

                    page = 1;
                    sort = $(this).is('ul._role-tbl li:first') ? 'latest': 'popularity';
                    scroll_top = 0;
                    is_end = false;
                    state.saveState();
                    loadListMore(true, false);
                }
            });
        });

        $('div.container header h1 a').on('click', function(e) {
            state.clearState();
        });

        $(window).on({
            "scroll touchmove": function() {
                scroll_top = $(window).scrollTop();

                if(_ui.detect_endView($(this).scrollTop()) && !state.loadState() && !is_lock && !is_end) {
                    page++;
                    state.saveState();
                    loadListMore(false, false);
                }
            }
        });

        if (state.loadState()) {
            var tab = $('.sort-wrap');
            var target = tab.find('li:' + ((sort == 'latest') ? 'first' : 'last'));
            
            tab.find("li").removeClass("on").end().find(".bar").stop().css({ left: target.position().left + "px" }).end();
            target.addClass("on");
            state.clearState();

            loadListMore(true, true, function() {
                $(window).scrollTop(scroll_top);
                scroll_top = 0;
            });
        } else {
            loadListMore(true, false);
        }
    });
</script>
