﻿@model Joins.Apps.SSully.Models.Home.ProductList

@section HeaderPublishCSSJavascript
{
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_list@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_corner@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

@{ 
    var corner_type_class = string.Empty;
    var corner_list_class = string.Empty;
    var image_url = string.Empty;
    switch (Model.Parameters.ptype.Value)
    {
        case 1:
            // 기본형 (대화형)
            break;
        case 2:
            // 썰리피디아
            corner_type_class = "pedia";
            corner_list_class = "def-list";
            image_url = "https://images.joins.com/ssully/common/renewal2/com/logo_pedia_list.png";
            break;
        case 3:
            // 썰록사무소
            corner_type_class = "office";
            corner_list_class = "def-list";
            image_url = "https://images.joins.com/ssully/common/renewal2/com/logo_samuso_list.png";
            break;
        case 4:
            // 한컷썰리
            corner_type_class = "one-cut";
            corner_list_class = "def-list";
            image_url = "https://images.joins.com/ssully/common/renewal2/com/logo_onecut_list.png";
            break;
        case 5:
            // 스토리썰링
            corner_type_class = "story";
            corner_list_class = "gallery-list";
            image_url = "https://images.joins.com/ssully/common/renewal2/com/logo_story_list.png";
            break;
        case 6:
            // 여기가봤썰
            corner_type_class = "tour";
            corner_list_class = "flat-list";
            image_url = "https://images.joins.com/ssully/common/renewal2/com/logo_tour_list.png";
            break;
        case 7:
            // 썰리퀴즈
            corner_type_class = "quiz";
            corner_list_class = "flat-list";
            image_url = "https://images.joins.com/ssully/common/renewal2/com/logo_quiz_list.png";
            break;
        case 8:
            // 썰리프레소
            corner_type_class = "presso";
            corner_list_class = "flat-list";
            image_url = "https://images.joins.com/ssully/common/renewal2/com/logo_presso_list.png";
            break;
    }
}
<div class="container corners-wrap @corner_type_class">
    <!-- 코너리스트 HEADER s : 2018.09 -->
    <header class="corners-header">
        <h1><img src="@image_url" alt="@Model.CornerCode.CodeName"></h1>
        
        <div class="illust @corner_type_class">일러스트-@Model.CornerCode.CodeName</div>
        @if ("Y".Equals(Request["corner"], StringComparison.OrdinalIgnoreCase))
        {
            <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>
        }
        else
        {
            <button type="button" class="menu">
                <span class="mn_in"><span class="txt">메뉴보기</span></span>
            </button>
            <a href="/" class="home"><span>홈으로 이동</span></a>
        }

    </header>
    <!--// 코너리스트 HEADER e : 2018.09 -->

    @Html.Action("GetLeftNavigationBar", "Home")

    <!-- 2018.06.20 마크업 수정 start -->
    <div class="corner-main">
        @if ("7".Equals(Model.CornerCode.Code))
        {
            if (Model.CornerListHeader != null)
            {
                <section class="module quiz-banner">
                    <a href="/common/notice/@Model.CornerListHeader.LinkValue"><img src="@Model.CornerListHeader.ImageUrl" alt="이벤트 배너"></a>
                </section>
            }
        }
        else
        {
            <!-- 정렬 : 활성화 부분 on 클래스-->
            <div class="sort-wrap">
                <ul class="_role-tbl">
                    <li class="on"><a href="">최신순</a></li>
                    <li><a href="">인기순</a></li>
                </ul>
                <span class="bar"></span>
            </div>
        <!--// 정렬 -->
        }
        
        <!-- 기본 리스트 -->
        <section class="module default" id="infinite-module">
            <h3 class="sec-title indent">기본리스트</h3>
            <ul class="@corner_list_class" id="append-list">
                @if (Model.Result.Data != null)
                {
                    foreach (var product in Model.Result.Data)
                    {
                        @Html.Partial("~/views/home/partial/cornerlist_item.cshtml", product)
                    }
                }
            </ul>
            <div id="ajax-loading" class="motion-ellipsis"><span></span><span></span><span></span><span></span></div>
        </section>
        <!--// 기본 리스트 -->
    </div>
    <!--// 2018.06.20 마크업 수정 end -->

</div>
<!--// 한컷썰리 container -->

<script src="https://static.joins.com/html/mobile/ssuly/html/js/bundle/corner_list.bundle.js?t=@ViewContext.ViewBag.JsCacheString"></script>
<script>
    var page = 1;
    var page_size = @Model.Parameters.ps;
    var sort = 'latest';
    var is_end = false;
    var is_lock = false;

    $(function(){
        var _sort = $(".sort-wrap"),
            _sort_bar = _sort.find(".bar"),
            sortFlag = true,
            loadFlag = true;

        is_end =$("#append-list li").length < page_size;
        if (is_end)
            $("#infinite-module").addClass("finish");

        // 최신순, 인기순 클릭이벤트
        _sort.find("li").on("click",function(e){
            e.preventDefault();

            // ajax 통신중에는 sortFlag = false
            // sortFlag = true 일때만 이벤트 발생
            if(sortFlag){
                $(this).closest("li").addClass("on")
                        .siblings().removeClass("on");

                _sort_bar.stop().animate({
                    left:$(this).position().left+"px"
                },200);

                $("#infinite-module").removeClass("finish");

                page = 1;
                is_end = false;
                sort = $(this).is('ul._role-tbl li:first') ? 'latest': 'popularity';
                loadListMore(true, page, page_size, sort);

                window.ui.triggerScroll();
            }
        });

        // 리스트 추가
        function loadListMore(is_clear, page, page_size, sort) {
            if (is_end || is_lock)
                return;

            $.ajax({
                url: '/more',
                type: "get",
                data: {
                    pgi: page,
                    ps: page_size,
                    ptype: '@Model.CornerCode.Code',
                    order: sort
                },
                beforeSend: function() {
                    is_lock = true;
                    $("#infinite-module, #ajax-loading").addClass("loading");
                },
                success:function(data) {
                    if (is_clear) {
                        $('#append-list').html('');
                        $("#infinite-module").removeClass("finish");
                    }

                    var items = $(data);
                    $.each(items, function(idx, item) {
                        if ($('section.module.default a[data-ssully-product-seq=' + $(item).data('ssullyProductSeq') + ']').length == 0)
                            $('#append-list').append($(item));
                    });

                    $('#ajax-loading, #infinite-module').removeClass("loading");
                    is_end =$(data).filter('li').length < page_size;

                    if (is_end)
                        $("#infinite-module").addClass("finish");
                }
            }).complete(function() {
                is_lock = false;
                @if (Model.Parameters.ptype.Value != 2)
                {
                    <text>
                var list_item = $("#append-list").find("li").not(".view");
                window.ui.checkAspect.apply(null,list_item);
                    </text>
                }
                
                $("#append-list li:not(.view):first").addClass("view");
                if (is_clear)
                    window.ui.triggerScroll();
            });
        }

        /* 스크롤이벤트*/
        window.onscroll = function() {
            setTimeout(function() {
                if(window.ui.endOfView() && !is_lock && !is_end) {
                    // 다음 페이지
                    loadListMore(false, ++page, page_size, sort);
                }
            },50);
        };

        // Trigger
        window.ui.triggerScroll();
    });
</script>
