﻿@model Joins.Apps.SSully.Models.Home.MainList

@{ 
    var hasInfiniteLayout = false;
}

@section HeaderPublishCSSJavascript
{
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/swiper.min.css?t=@ViewContext.ViewBag.CssCacheString" />
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_main_new@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString" />
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<div class="container">
    <!-- HEADER -->
    <header class="main-list">
        <h1><a href="/"><img src="https://images.joins.com/ssully/common/renewal2/com/appbar_bi_fix.png" alt="썰리"></a></h1>

        <button type="button" class="menu">
            <span class="mn_in"><span class="txt">메뉴보기</span></span>
        </button>

        <a href="/Common/QA" class="faq">@*<img src="https://images.joins.com/ssully/common/btn_faq2.png" alt="궁금한 점이나 불편한 점이 있으신가요?">*@</a>
        <!-- 2018.11 검색 버튼 -->
        <a href="/Search" class="btn-search-layer">검색</a>
    </header>
    <!--// HEADER -->

    @Html.Action("GetLeftNavigationBar", "Home")

    <!-- Main Renewal : 2018.08 s -->
    <div id="contents">
        @if (Model.Showcase != null && Model.Showcase.Count() > 0)
        {
            <!-- Module : Showcase -->
            <section class="module showcase">
                <h3 class="sec-title indent">쇼케이스</h3>
                <div class="swiper-wrapper">

                    @foreach (var item in Model.Showcase)
                    {
                        var url = string.Empty;
                        var target = "_self";

                        <div class="swiper-slide">
                            @if (item.ShowcaseType == 1)
                            {
                                url = string.Format("/view/{0}", item.LinkData);
                            }
                            else if (item.ShowcaseType == 2)
                            {
                                url = string.Format("/common/notice/{0}", item.LinkData);
                            }
                            else
                            {
                                url = item.LinkData;
                                target = "_blank";
                            }
                            <a href="@url" target="@target">
                                <figure>
                                    <img src="@item.Thumbnail" alt="" class="slide-img">
                                    <figcaption>
                                        @if (!string.IsNullOrEmpty(item.Label))
                                        {
                                            <img src="@item.Label" alt="" class="img-corner">
                                        }
                                        <p class="title-corner">@item.Title</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    }
                </div>

                <div class="swiper-pagination"></div>
            </section>
            <!--// Module : Showcase -->
        }

        @if (Model.List != null)
        {
            foreach (var item in Model.List)
            {
                if ("product".Equals(item.ItemType) && item.ProductData?.Count() > 0)
                {
                    if (Model.List.LastOrDefault() == item)
                    {
                        hasInfiniteLayout = true;

                        @Html.Partial("~/views/home/partial/mainitem/product_last.cshtml", item.ProductData)
                    }
                    else
                    {
                        @Html.Partial("~/views/home/partial/mainitem/product.cshtml", item.ProductData)
                    }
                }
                else if ("product_story".Equals(item.ItemType) && item.ProductData?.Count() > 0)
                {
                    @Html.Partial("~/views/home/partial/mainitem/story.cshtml", item.ProductData)
                }
                else if ("product_pedia".Equals(item.ItemType) && item.ProductData?.Count() > 0)
                {
                    @Html.Partial("~/views/home/partial/mainitem/pedia.cshtml", item.ProductData)
                }
                else if ("product_tour".Equals(item.ItemType) && item.ProductTourData != null)
                {
                    @Html.Partial("~/views/home/partial/mainitem/tour.cshtml", item.ProductTourData)
                }
                else if ("product_presso".Equals(item.ItemType) && item.ProductData?.FirstOrDefault() != null)
                {
                    @Html.Partial("~/views/home/partial/mainitem/presso.cshtml", item.ProductData.FirstOrDefault())
                }
                else if ("weekly_rank".Equals(item.ItemType) && item.WeeklyRank != null)
                {
                    @Html.Partial("~/views/home/partial/mainitem/ranking.cshtml", item.WeeklyRank)
                }
                else if ("banner".Equals(item.ItemType) && item.Banner != null)
                {
                    @Html.Partial("~/views/home/partial/mainitem/banner.cshtml", item.Banner)
                }
            }

            if (!hasInfiniteLayout)
            {
                @Html.Partial("~/views/home/partial/mainitem/product_last.cshtml", new List<Joins.Apps.Models.Sully.API.ProductMain>())
            }
        }
    </div>
    <!--// Main Renewal : 2018.08 e -->
</div>


<script src="https://static.joins.com/html/mobile/ssuly/html/js/swiper.min.js?t=@ViewContext.ViewBag.JsCacheString"></script>
<script src="https://static.joins.com/html/mobile/ssuly/html/js/bundle/main.bundle.js?t=@ViewContext.ViewBag.JsCacheString"></script>


<script>
    //var page_param = @Html.Raw(Json.Encode(Model.Parameters));

    var page = 1;
    var page_size = @Model.Parameters.ps;
    var is_end = false;
    var is_lock = false;

    // 리스트 추가
    function loadListMore(is_restore, page, page_size) {
        if (is_end || is_lock)
            return;

        $.ajax({
            url: is_restore ? '/restore' : '/more',
            type: "get",
            data: {
                pgi: page,
                ps: page_size
            },
            beforeSend: function() {
                is_lock = true;
                $("#infinite-module, #ajax-loading").addClass("loading");
            },
            success:function(data) {
                var items = $(data);
                $.each(items, function(idx, item) {
                    if ($('section.module.default a[data-ssully-product-seq=' + $(item).data('ssullyProductSeq') + ']').length == 0)
                        $('#append-list').append($(item));
                });

                $('#ajax-loading, #infinite-module').removeClass("loading");
                is_end =$(data).filter('li').length < page_size;

                if (is_end)
                    $("#infinite-module").addClass("finish");

                if (is_restore) {
                    $(window).scrollTop(history.state.scroll_top);
                    history.replaceState(null, '', '');
                    console.log('test');
                }
            }
        }).complete(function() {
            is_lock = false;
            $("#append-list li:not(.view):first").addClass("view");
        });
    }

    /* 스크롤이벤트*/
    window.onscroll = function() {
        setTimeout(function() {
            if(window.customEvt.endOfView() && !is_lock && !is_end) {
                // 다음 페이지
                history.replaceState({ page: ++page, scroll_top: $(window).scrollTop() }, 'page:' + page, '');
                loadListMore(false, page, page_size);
            }
        },50);
    };

    window.addEventListener('popstate', function () {
        console.log('popstate', history.state);
    });

    document.addEventListener("DOMContentLoaded", function() {
        if(history.state && !is_lock && !is_end) {
            page = history.state.page;
            loadListMore(true, 1, (page * page_size));
        }
    });
</script>
