﻿@section HeaderPublishCSSJavascript
{
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_list@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js"></script>
}

<div class="container search-wrap">

    <header>
        <h1 class="hide">검색</h1>
        <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page ty2"><span>이전 페이지로 이동</span></a>

        <fieldset>
            <legend class="hide">썰리 검색</legend>
            <div class="search-box">
                <label for="search-word" class="hide">검색</label>
                <input type="text" id="search-word" placeholder="검색어를 입력해 주세요." />

                <button type="button" class="btn-del"><span>검색어 초기화</span></button>
                <button type="button" class="btn-search"><span>검색</span></button>
            </div>
        </fieldset>
    </header>


    <!-- 검색 결과영역 초기 : empty
         검색 했으면 empty 클래스 제거
         결과 없으면 noresult 클래스 -->
    <div class="search-result empty">
        <p class="search-summary hide"><strong>총 0건</strong>이 검색되었어요</p>
        <ul class="def-list">
        </ul>
    </div>
</div>


<script>
    var search_lock = false;

    $(document).ready(function () {
        // 검색어 초기화
        $(".btn-del").on("click", function (e) {
            e.preventDefault();
            $('#search-word').val('').focus();
        });

        // 검색하기
        $('#search-word').on('keyup', function (e) {
            if (e.originalEvent.keyCode == 13)
                $(".btn-search").trigger('click');
        });
        $(".btn-search").on("click", function (e) {
            e.preventDefault();

            var search_value = $.trim($('#search-word').val());

            if (search_value.length == 0) {
                alert('검색어를 입력해 주시기 바랍니다.');
                return false;
            }

            set_history_state(1, 10, $.trim($('#search-word').val()));
            $('div.search-result ul.def-list').html('');
            search_list(0);
        });

        $('div.search-result').on('scroll', function (e) {
            if ($('div.search-result li:last').isInViewport() && !$('div.search-result li:last').data('is_end') && !search_lock) {
                var state = $.extend(history.state, {
                    page: history.state.page + 1
                });
                
                set_history_state(state.page, state.page_size, state.search);
                search_list(0);
            }
        });

        var set_history_state = function (page, page_index, search) {
            history.replaceState({ page: page, page_size: page_index, search: search, scroll_top: $('div.search-result').scrollTop() }, '', '');
        }
        var search_list = function (scroll_top) {
            var state = history.state;

            if (search_lock)
                return false;

            search_lock = true;
            $.post('search', {
                page: state.page,
                page_size: state.page_size,
                search: state.search
            }, function (data) {
                var $area = $('div.search-result');
                var $target = $area.find('ul.def-list');

                if (data.total_count > 0) {
                    $area.removeClass('empty').find('p.search-summary').removeClass('hide').find('strong').html('<strong>총 ' + data.total_count + '건</strong>');
                    $.each(data.list, function (idx, item) {
                        var $template = $($('script#item-template').html());

                        // 링크 주소
                        $template.find('a').attr('href', '/View/' + item.seq);

                        // 썸네일
                        $template.find('span.thumb img').attr('src', item.thumbnail_image_url);

                        // 라벨이미지
                        if ($.trim(item.label_image_url).length == 0)
                            $template.removeClass('label').find('span.ic-label').remove();
                        else
                            $template.find('span.ic-label img').attr('src', item.label_image_url);
                        // 제목
                        $template.find('p.subject').html(item.title);
                        // 출고일
                        $template.find('p.date').html(item.service_datetime);

                        $target.append($template);
                    });

                    if (data.total_count <= state.page_size || data.list.length < state.page_size)
                        $('div.search-result ul.def-list li:last').data('is_end', true);

                } else {
                    $area.addClass('empty').find('p.search-summary').removeClass('hide').find('strong').html('<strong>총 0건</strong>');
                }
            }).done(function () {
                var state = history.state;

                $('#search-word').val(state.search);
                search_lock = false;

                if ($('div.search-result li:last').isInViewport() && !$('div.search-result li:last').data('is_end') && !search_lock) {
                    var state = $.extend(history.state, {
                        page: history.state.page + 1
                    });
                    set_history_state(state.page, state.page_size, state.search);
                    search_list(0);
                }

                if (scroll_top > 0)
                    $('div.search-result').scrollTop(scroll_top);

                $('div.search-result ul li a').off('click').on('click', function (e) {
                    set_history_state(history.state.page, history.state.page_size, history.state.search);
                    location.href = $(this).attr('href');
                });
            });
        }

        if (history.state) {
            $('div.search-result').removeClass('empty');

            var state = history.state;
            set_history_state(1, state.page * state.page_size, state.search);
            search_list(state.scroll_top);
        }
    });

    $.fn.isInViewport = function () {
        if ($(this).length == 0)
            return false;

        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight();

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
</script>

<script type="text/template" id="item-template">
    <li class="label">
        <a href="">
            <figure>
                <span class="thumb">
                    <img src="" alt="" class="thumb-img">
                </span>
                <figcaption>
                    <span class="ic-label"><img src="" alt=""></span>
                    <p class="subject"></p>
                    <p class="date"></p>
                </figcaption>
            </figure>
        </a>
    </li>
</script>