﻿@model Joins.Apps.Models.Sully.Push
@{  
    ViewBag.MenuCode = "M0307";
    Joins.Apps.Cms.Models.Auth admember = Joins.Apps.Cms.Core.LoginAuth.LoadLoginInfo();
    ViewBag.Title = "Edit";
    string sStatus = "R";
    string sStatusNM = "대기";
    string sClass = "warning";
    string sServiceDT = DateTime.Now.AddMinutes(3).ToString("yyy-MM-dd HH:mm");
    string req_param = "";
    int pgi = JCube.AF.Util.Converts.ToInt32(ViewBag.Data.pgi, 1);
    int ps = JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps, 20);
    req_param = "pgi=" + pgi + "&ps=" + ps;
    string sSt = JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "");
    string sorder = JCube.AF.Util.Converts.ToString(ViewBag.Data.order, "");
   // bool bStop = false, bEnd = false;
    //  string sEditorName = "";
    if (Model != null && Model.seq > 0) {
        sStatus = Model.p_status;
        sServiceDT = Model.push_dt;
        //  if (sStatus == "L" && !string.IsNullOrEmpty(sServiceDT) && JCube.AF.Util.Converts.ToDateTime(sServiceDT) > DateTime.Now) { sStatus = "A"; }
        //    sStatusNM = Joins.Apps.Models.Sully.Pd_ServiceStatusUtil.GetECName(sStatus);
        switch (Model.p_status) {
            case "R":
                sStatusNM = "대기";
                sClass = "default";
          //      bEnd = true;
         //       bStop = true;
                break;
            case "S":
                sStatusNM = "완료";
                sClass = "success";
                break;
            case "C":
                sStatusNM = "취소";
           //     bEnd = true;
                sClass = "default";
                break;
        }
    }
}
    @Html.Navigator("일반푸시관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "<a href=\"/sully/Push/?pgi="+pgi+"&ps="+ps+"&status="+@sSt+"&order="+sorder+"\">일반푸시관리</a>", Active = true }
})
<section class="content  ">
    <div class="row ">
        <form action="/Sully/Push/Edit" method="post" name="product_content_edit" id="product_content_edit" onsubmit="return fn_product_edit()" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" name="pgi" id="pgi" value="@pgi">
            <input type="hidden" name="ps" id="ps" value="@ps">
            <input type="hidden" name="status" id="status" value="@sSt">
            <input type="hidden" name="order" id="order" value="@sorder">
            <input type="hidden" name ="seq" id="seq"  value="@Model.seq">
            <input type="hidden" name="p_type" id="p_type" value="@Model.p_type">
            <input type="hidden" name="p_img" id="p_img" value="@Model.p_img">
            <div id="div_editor1">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="col-sm-8">
                                <h3 class="box-title">기본 정보</h3>
                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right">
                                <span class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</span>
                            </div>
                         </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">일반푸시 제목 *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name ="p_title" id="p_title" value="@Model.p_title" placeholder="일반푸시제목 입력 ...">
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">서비스상태</label>
                            <div class="col-sm-2">
                                @if (Model.p_status == "S") {
                                <span class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</span>
                                <input type="hidden" name="p_status" id="p_status" value="@Model.p_status">
                                }else {
                                    <select name="p_status" id="p_status" class="form-control" >
                                        <option value="R"  @(("R").Equals(JCube.AF.Util.Converts.ToString(Model.p_status, "")) ? "selected" : String.Empty)>대 기</option>
                                        <option value="C" @(("C").Equals(JCube.AF.Util.Converts.ToString(Model.p_status, "")) ? "selected" : String.Empty)>취 소</option>
                                    </select>
                                }
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">수신 대상</label>
                            <div class="col-sm-2">
                                @if (Model.p_status == "S")
                                {
                                    <span class="label label-@sClass">
                                        @if (string.IsNullOrEmpty(Model.p_os))
                                        {
                                            <Text>전체</Text>
                                        }
                                        else if ("A".Equals(Model.p_os, StringComparison.OrdinalIgnoreCase))
                                        {
                                            <Text>안드로이드</Text>
                                        }
                                        else if ("I".Equals(Model.p_os, StringComparison.OrdinalIgnoreCase))
                                        {
                                            <Text>iOS</Text>
                                        }
                                    </span>
                                    <input type="hidden" name="p_status" id="p_status" value="@Model.p_status">
                                }
                                else
                                {
                                    <select name="p_os" id="p_os" class="form-control">
                                        <option value="" @(string.IsNullOrEmpty(Model.p_os) ? "selected" : String.Empty)>전체</option>
                                        <option value="A" @(("A").Equals(Model.p_os, StringComparison.OrdinalIgnoreCase) ? "selected" : String.Empty)>안드로이드</option>
                                        <option value="I" @(("I").Equals(Model.p_os, StringComparison.OrdinalIgnoreCase) ? "selected" : String.Empty)>iOS</option>
                                    </select>
                                }
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">타 입</label>
                            <div class="col-sm-6">
                                일반푸시
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">일반푸시 내용 *</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="p_content" id="p_content" value="@Model.p_content" placeholder="일반푸시내용 입력 ...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">이미지</label>
                            <div class="col-sm-5">
                                <input type="file" id="img_file_upload" name="file" />
                            </div>
                            <div class="col-sm-5">
                               @if (!string.IsNullOrEmpty(Model.p_img)) {
                                 <a href="@Model.p_img" target="_blank"><img src="@Model.p_img" style="width:100px;"></a>
                               }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">발송(예약)일시</label>
                            <div class="col-sm-2">
                                <input type="text" name="push_dt" id="push_dt" class="form-control pull-right" placeholder="2017-10-11 12:30" value="@sServiceDT">
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">등록/수정일시</label>
                            <div class="col-sm-10">
                               @Model.reg_dt
                            </div>
                        </div>
                     </div>
                    
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="reset" class="btn btn-default ">취 소</button>&nbsp;
                            <button type="submit" class="btn btn-success">저 장</button>
                        </div>
                    </div>
                </div>
            </div>
</form>
     </div>
</section>
@section header{
    <style>
        .div_resize1 {
            /*    border: 2px solid;
        padding: 20px;
        height: 650px;*/
            min-width: 300px;
            min-height: 600px;
            resize: both;
            overflow: auto;
        }

        .div_resize2 {
            min-width: 200px;
            min-height: 500px;
            resize: both;
            overflow: auto;
        }

        .div_resize {
            resize: both;
            overflow: auto;
        }
    </style>
}
@section script {
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/scripts/common.js"></script>
<script src="~/scripts/jquery.form.min.js"></script>
<script type="text/javascript">
        //<![CDATA[
        $('button:reset').click(function (e) {
            history.go(-1);
            return false;
        });
        //초기셋팅
        $(function () {
            $('#push_dt').datetimepicker({
                dateFormat: 'yyyy-mm-dd hh:ii',
                pickerPosition: 'top-right',
                autoclose: true

            });
        });
        function fn_product_edit() {

          //  return false;
            var pimg = $("#p_img").val();
            var ptitle = $('#p_title').val();
            var imgfile = $('#img_file_upload').val();
            var pstatus = $('#p_status').val();
            var pcontent = $('#p_content').val();
            var push_dt = $('#push_dt').val();

           // console.log("ptag", ptag);
            if ($.trim(ptitle).length == 0) { alert("일반푸시제목을 입력하여 주십시오."); return false; }
            if ($.trim(pstatus).length == 0) { alert("일반푸시상태를 선택하여 주십시오."); return false; }
            if ($.trim(pcontent).length == 0) { alert("일반푸시내용을 선택하여 주십시오."); return false; }
            if ($.trim(push_dt).length == 0) { alert("일반푸시 발송 시간을 입력하여 주십시오."); return false; }
            var msg = "";
            if (pstatus == "R") {
                if ($.trim(push_dt).length == 0) { msg = "즉시 일반푸시를 발송하시겠습니까?" } else {
                    msg = push_dt + " 예약 발송하시겠습니까?"
                }

            } else {msg ="일반푸시를 취소하시겠습니까?" }
            if (!confirm(msg)) { return false; }
            return true;
        }
       //]]>
</script>
}
}
