﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.Push>

@{
    ViewBag.MenuCode = "M0307";
}

@Html.Navigator("일반푸시", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "일반푸시", Active = true }
})

<section class="content">
    <div class="box">
        <div class="box-body">
            <form action="/Sully/Push/" class="form-inline" method="get">
                <input type="hidden" name="pgi" value="1" />
                <input type="hidden" name="ps" value="@JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,20)" />
                
                <div class="form-group">
                    <label>전송상태</label>
                    <select name="status" class="form-control">
                        <option value="">-전체-</option>
                        <option value="R" @(("R").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>대기</option>
                        <option value="S" @(("S").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>전송</option>
                        <option value="C" @(("C").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.status, "")) ? "selected" : String.Empty)>취소</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>정렬순서</label>
                    <select name="order" class="form-control">
                        <option value="">발송일시순</option>
                        <option value="NEW" @(("NEW").Equals(JCube.AF.Util.Converts.ToString(ViewBag.Data.order, "")) ? "selected" : String.Empty)>등록일순</option>
                    </select>
                </div>
                <div class="form-group" style="width: 202px;">
                    <label>등록일</label>
                    <div class="form-control text-center">
                        <input type="text" class="no-border text-center" name="sdt" id="sdt" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt, "")" data-date-format="yyyy-mm-dd" placeholder="시작일" style="width:80px" />
                        <span>~</span>
                        <input type="text" class="no-border text-center" name="edt" id="edt" value="@JCube.AF.Util.Converts.ToString(ViewBag.Data.edt, "")" data-date-format="yyyy-mm-dd" placeholder="종료일" style="width:80px" />
                    </div>
                </div>
                <button type="submit" class="btn btn-default">검색</button>
            </form>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <a href="/Sully/Push/Edit" class="btn btn-warning pull-right">등록</a>
        </div>
        <div class="box-body">
            <table class="table table-hover dataTable">
                <thead>
                    <tr class="bg-gray-light">
                        <th>번호</th>
                        <th>상태</th>
                        <th>알림제목</th>
                        <th>이미지</th>
                        <th>발송대상</th>
                        <th style="width:80px">전송건수</th>
                        <th>발송(예약)일시</th>
                        <th>등록일시</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data != null && Model.Data.Count() > 0)
                    {
                        foreach (var exart in Model.Data)
                        {
                            string sStatus = exart.p_status, sStatusNM = "", sClass = "warning";
                            switch (exart.p_status)
                            {
                                case "R":
                                    sClass = "success";
                                    sStatusNM = "대기";
                                    break;
                                case "S":
                                    sClass = "warning";
                                    sStatusNM = "완료";
                                    break;
                                case "C":
                                    sClass = "default";
                                    sStatusNM = "취소";
                                    break;
                            }
                            <tr class="odd" role="row">
                                <td>
                                    @(Model.TotalItemCount - (exart.rownum - 1))
                                </td>
                                <td>
                                    <a href="@Html.GenerateLink("/Sully/Push/Edit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "seq", Convert.ToString(@exart.seq) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) },
                                                                         { "ps", JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,20).ToString() },
                                                                         { "status", JCube.AF.Util.Converts.ToString(ViewBag.Data.status,"") },
                                                                         { "order", JCube.AF.Util.Converts.ToString(ViewBag.Data.order,"")  },
                                                                         { "sdt", JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt,"")  },
                                                                         { "edt", JCube.AF.Util.Converts.ToString(ViewBag.Data.edt,"")  }
                                                                     })">
                                        <small class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</small>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Html.GenerateLink("/Sully/Push/Edit", new System.Collections.Specialized.NameValueCollection {
                                                                         { "seq", Convert.ToString(@exart.seq) },
                                                                         { "pgi", Convert.ToString(Model.PageNum) },
                                                                         { "ps", JCube.AF.Util.Converts.ToInt32(ViewBag.Data.ps,20).ToString() },
                                                                         { "status", JCube.AF.Util.Converts.ToString(ViewBag.Data.status,"") },
                                                                         { "order", JCube.AF.Util.Converts.ToString(ViewBag.Data.order,"")  },
                                                                         { "sdt", JCube.AF.Util.Converts.ToString(ViewBag.Data.sdt,"")  },
                                                                         { "edt", JCube.AF.Util.Converts.ToString(ViewBag.Data.edt,"")  }
                                                                     })">@(exart.p_title)</a>
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(exart.p_img))
                                    {
                                        <img src="@exart.p_img" style="max-width: 80px"/>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(exart.p_os))
                                    {
                                        <Text>전체</Text>
                                    }
                                    else if ("A".Equals(exart.p_os, StringComparison.OrdinalIgnoreCase))
                                    {
                                        <Text>안드로이드</Text>
                                    }
                                    else if ("I".Equals(exart.p_os, StringComparison.OrdinalIgnoreCase))
                                    {
                                        <Text>iOS</Text>
                                    }
                                </td>
                                <td>
                                    @(exart.p_cnt)
                                </td>
                                <td>@string.Format("{0:yyyy-MM-dd HH:mm}", Convert.ToDateTime(exart.push_dt))</td>
                                <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Convert.ToDateTime(exart.reg_dt))</td>
                            </tr>
                        }
                                                }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">데이터가 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row text-center">
                @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Request.QueryString })
            </div>
        </div>
    </div>
</section>
@section script {
<script src="~/scripts/jquery.form.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
    //<![CDATA[

    //초기셋팅
    $(function () {
        $('#edt, #sdt').datepicker({ dateFormat: 'yyyy-mm-dd', pickerPosition: 'bottom-right', autoclose: true });
    });
    function fn_comment_status(status, cseq) {
        if (cseq == undefined || (cseq <= 0)) { alert("잘못된 정보입니다."); return; }
        if (status == undefined || (status != "S" && status != "N")) { alert("잘못된 정보입니다."); return; }
        var msg = "";
        if (status == "S") { msg = "숨김"; } else { msg = "삭제"; }
        if (confirm(msg + ' 처리 하시겠습니까?')) {
            $.post("/sully/Comment/Status", { cmtseq: cseq, st: status }, function (data) {
                alert(data.message);
                if (data.result) { window.location.href = location.href; }
            }, "json");
        }
    }
    //]]>
    </script>
}