﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.BlockWordList>

@{
    ViewBag.MenuCode = "M0303";
}
@Html.Navigator("금칙어관리", "썰리에서 사용 불가능한 단어를 관리합니다. (댓글/닉네임 등)", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "금칙어관리", Active = true }
})

<section class="content">

    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <form action="/Sully/BlockWord/Index" method="get">
                    <input type="hidden" name="ps" value="@JCube.AF.Util.Converts.ToInt32(Request["ps"],50)" />
                    <table class="table table-hover dataTable">
                        <tbody>
                            <tr>
                                <td>
                                    <select name="uyn" class="form-control" style="min-width:120px">
                                        <option value=""> - 전 체 - </option>
                                        <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>금지</option>
                                        <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>금지제외</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="search" value="@JCube.AF.Util.Converts.ToString(Request["search"], "")" placeholder="검색어(금칙어) 입력..." style="min-width:250px">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default">검색</button>

                                </td>
                                <td>
                                    <a href="javascript:void(0);" onclick="fn_banned()" class="btn  btn-warning pull-right">등록</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
        <table class="table table-hover dataTable">
            <thead>
                <tr class="bg-gray-light">
                    <th>번호</th>
                    <th>상태</th>
                    <th>금지어</th>
                    <th>등록일시</th>
                    <th style="width:100px">변경</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data!=null && Model.Data.Count() > 0) {
                    foreach (var exart in Model.Data) {
                        string sStatus = exart.USED_YN, sStatusNM = "", sClass = "warning";
                        bool bStop = false, bEnd = false;
                        switch (exart.USED_YN) {
                            case "Y":
                                sClass = "success";
                                bStop = true;
                                sStatusNM = "금지";
                                break;
                            case "N":
                                bEnd = true;
                                sClass = "default";
                                sStatusNM = "금지해제";
                                break;
                        }
                        <tr class="odd">
                            <td>
                                @(Model.TotalItemCount - (exart.ROWNUM - 1))
                            </td>
                            <td>
                                <small class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</small>
                            </td>
                            <td>
                                @(exart.WORD)
                            </td>
                            <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.REG_DT)</td>
                            <td>
                                <div class="pull-right">
                                    @if (bEnd) {
                                        <button type="button" class="btn btn-warning btn-xs" onclick="fn_banned_status('Y','@exart.SEQ')">등록</button>
                                    }
                                    @if (bStop) {
                                        <button type="button" class="btn btn-danger btn-xs pull-right" onclick="fn_banned_status('N', '@exart.SEQ')">해제</button>
                                    }
                                </div>
                            </td>
                       </tr>
                    }
                }
                else {
                    <tr>
                        <td colspan="7" class="text-center">데이터가 없습니다.</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row text-center">
            @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions {
                   Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "ps", JCube.AF.Util.Converts.ToInt32(Request["ps"],50).ToString() },
                                   { "uyn", JCube.AF.Util.Converts.ToString(Request["uyn"],"") },
                                   { "search", JCube.AF.Util.Converts.ToString(Request["search"],"")  }
                               }
               })
        </div>
    </div>
    <div class="">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
        </div>
    </div>
    <div class="modal fade" id="modal-banned">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">차단 등록</h5>
                </div>
                <form method="post"  action="/Sully/BlockWord/Regist" class="form-horizontal frmWrite" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="b_word" class="col-sm-2 control-label">금칙어</label>
                            <div class="col-sm-10">
                                <input type="text" id="b_word" name="b_word" class="form-control" placeholder="금칙어" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="b_desc" class="col-sm-2 control-label">사 유</label>
                            <div class="col-sm-10">
                                <input type="text" id="b_desc" name="b_desc" class="form-control" placeholder="금칙어 사유" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">적용</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
@section script {
<script src="~/scripts/jquery.form.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
    //<![CDATA[

    //초기셋팅
    $(function () {
        $('#edt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });
        $('#sdt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });
    });
    function fn_banned_status(status, cseq) {
        if (cseq == undefined || (cseq <= 0)) { alert("잘못된 정보입니다."); return; }
        if (status == undefined || (status != "Y" && status != "N")) { alert("잘못된 정보입니다."); return; }
        var msg = "";
        if (status == "Y") { msg = "금칙어"; } else { msg = "금칙어해제"; }
        if (confirm(msg + ' 처리 하시겠습니까?')) {
            $.post("/sully/BlockWord/Status", { seq: cseq, st: status }, function (data) {
                alert(data.message);
                if (data.result) { window.location.href = location.href; }
            }, "json");
        }
    }

    /*금칙어 등록*/
    $('form.frmWrite').ajaxForm({
        beforeSerialize: function () {
            // param = "?pgi=" + querystring("pgi");
        },
        beforeSubmit: function (data, frm, option) {
            var m=true;ip=true;
            var bword = frm.find('#b_word');
            var bdesc = frm.find('#b_desc');
            if ($.trim(bword.val()).length == 0) {
                alert('금칙어를 입력하여 주시기 바랍니다.');
                bword.focus();
                return false;
            }

            if ($.trim(bdesc.val()).length == 0) {
                alert('금칙 사유를 입력하여 주시기 바랍니다.');
                bdesc.focus();
                return false;
            }
            return true;
        },
        success: function (response, status) {
            if ('success' === status.toLowerCase()) {
                alert(response.message);
                if (response.result) { window.location.href = location.href; }
            }
            $('#modal-banned').modal('hide');
        },
        error: function (e) {
            //    var r = jQuery.parseJSON(e.responseText);
            alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
            return false;
        }
    });
    function fn_banned() {
        $('#b_word').val('');
        $('#b_desc').val('');
        $('#modal-banned').modal('show');
    }
    //]]>
    </script>
}

