﻿@model Joins.Apps.Cms.Models.Sully.ProductView.PreviewModel

@{
    Layout = "~/Views/Shared/_Layout_iframe.cshtml";

    ViewBag.Title = string.Format("{0} - 썰리", Model.Product.PD_TITLE);
    ViewBag.Meta_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Keywords = Model.Product.PD_TAG;
    ViewBag.Meta_Og_Url = string.Format("https://ssully.joins.com/View/{0}?share=y", Model.Product.PD_SEQ);
    ViewBag.Meta_Og_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Og_Image = string.IsNullOrEmpty(Model.Product.PD_SHARE_IMG_URL) ? Model.Product.PD_IMG_URL : Model.Product.PD_SHARE_IMG_URL;
}


@section HeaderPublishCSSJavascript {
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common.css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub.css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_list.css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_corner.css?t=@ViewContext.ViewBag.CssCacheString">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

@if (Model.Product.QUIZ_EVENT_STATUS == 2)
{
    <!-- 코너 container 2018.10 -->
    <div class="container quiz-view event-wrap" style="display: none;">
        <header>
            <h1 class="hidden">썰리퀴즈 이벤트 정보등록</h1>
            <a href="" class="close-quiz"><span>닫기</span></a>


            <!-- button : 댓글기능 추가시 활성화
            <button type="button" class="btn_comment btn_header">
                <span>댓글</span>
            </button>

            <button type="button" class="btn_share openSnsShareService">
                <span>공유</span>
            </button>
            -->
        </header>

        <!-- 이벤트 응모 페이지 -->
        <div class="enrollment">
            <div class="enroll-intro">
                <img src="https://images.joins.com/ssully/common/renewal2/corners/q_img_gift.png" alt="당첨 상품 이미지">
                <img src="https://images.joins.com/ssully/common/renewal2/corners/q_img_tt1.png" alt="안내 메세지">
            </div>

            <div class="enroll-input">
                <div class="form-field">
                    <ul>
                        <li class="text-box">
                            <input type="text" placeholder="이름" id="val_name" class="required" />
                            <span class="validity">이름을 확인해주세요.</span>
                        </li>
                        <li class="text-box">
                            <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" placeholder="연락처" id="val_tel" class="required" />
                            <span class="validity">연락처를 확인해주세요.</span>
                        </li>
                        <li class="text-box">
                            <input type="text" placeholder="이메일" id="val_email" class="required" />
                            <span class="validity">이메일을 확인해주세요.</span>
                        </li>
                        <li class="dist">
                            <div class="custom-chk">
                                <input type="checkbox" value="" id="chk-all" name="check" />
                                <label for="chk-all" class="chk-label"></label>
                                <label for="chk-all" class="txt-label">모든 약관에 동의합니다.</label>
                            </div>
                        </li>
                        <li class="terms">
                            <div class="custom-chk">
                                <input type="checkbox" value="1" id="chk-1" class="required" />
                                <label for="chk-1" class="chk-label"></label>
                                <label for="chk-1" class="txt-label"><span>[필수]</span> 개인정보 수집 이용 동의</label>
                                <i class="toggle-cont"></i>
                            </div>
                            <div class="details">
                                <table summary="개인정보 수집 이용 동의">
                                    <colgroup width="25%" />
                                    <colgroup width="*" />

                                    <tbody>
                                        <tr>
                                            <th scope="row">목적</th>
                                            <td>이벤트 참여자 본인 확인, 당첨자 선정, 당첨시 개별 연락 민원 및 경품 배송 경품 발송을 위한 연락, 민원 등 고객 고충 처리</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">항목</th>
                                            <td>이름, 휴대폰번호, 이메일</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">보유기간</th>
                                            <td>수집일로부터 60일</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li class="terms">
                            <div class="custom-chk">
                                <input type="checkbox" value="1" id="chk-2" />
                                <label for="chk-2" class="chk-label"></label>
                                <label for="chk-2" class="txt-label"><span>[선택]</span> 이벤트 알림 및 마케팅 활용 동의</label>
                                <i class="toggle-cont"></i>
                            </div>
                            <div class="details">
                                <table summary="이벤트 알림 및 마케팅 활용 동의">
                                    <colgroup width="25%" />
                                    <colgroup width="*" />

                                    <tbody>
                                        <tr>
                                            <th scope="row">목적</th>
                                            <td>이벤트 참여자 대상 추가 이벤트 안내 및 마케팅 알림 활용 목적</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">항목</th>
                                            <td>이름, 휴대폰번호, 이메일</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">보유기간</th>
                                            <td>수집일로부터 1년</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="etc-info">
                    <p>※ 응모, 당첨 완료 후 응모자 정보수정은 불가능합니다.</p>
                    <p>※ 응모자의 개인정보 입력 실수, 휴대폰 번호 변경, 스팸처리 등으로 인한 경품 미수령에 따른 재발송은 불가합니다.</p>
                </div>
            </div>

            <button type="button" id="btn_submit">이벤트 응모하기</button>
        </div>
        <!--// 이벤트 응포 페이지 -->
        <!-- 응모완료 페이지 -->
        <div class="enrollment-complete" style="display:none;">
            <div class="section">
                <img src="https://images.joins.com/ssully/common/renewal2/corners/q_img_done.png" alt="응모완료">
                <div class="event-noti">
                    <p class="txt">
                        <span class="dist">당첨자발표</span>
                        <span>@(string.Format("{0:yyyy.MM.dd} {0:ddd}", Model.Product.QUIZ_EVENT_NOTICE_DT)) (썰리 공지사항)</span>
                    </p>
                </div>
            </div>
            <div class="section"><a target="_blank" href="/store?referrer=utm_source%3Dquiz_web%26utm_medium%3Dpopup%26utm_content%3Dandroid_download"><img src="https://images.joins.com/ssully/common/renewal2/corners/q_img_appdown.png" alt="앱 다운로드"></a></div>
            <div class="section">
                <button type="button" class="share-quiz btn_share openSnsShareService"><img src="https://images.joins.com/ssully/common/renewal2/corners/q_img_share.png" alt="공유하기"></button>
            </div>

        </div>
        <!--// 응모완료 페이지 -->
        <!-- 공유하기 -->
        <div id="layer_share1" class="fulllayer share-layer">
            <!-- // layeron -->
            <div class="layer_sns">
                <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
                <ul>
                    <li>
                        <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" onclick="javascript: fnSendSns('kakaotalk', '', '');" id="kakao-link">카카오톡</a>
                    </li>
                    <li>
                        <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);" onclick="javascript: fnSendSns('facebook', '', '');">페이스북</a>
                    </li>
                    <li>
                        <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);" onclick="javascript: fnSendSns('twitter', '', '');">트위터</a>
                    </li>
                    <li>
                        <a class="ml" href="javascript:void(0);" onclick="javascript: fnSendSns('mail', '', '[썰리퀴즈] @Model.Product.PD_TITLE.Replace("'", "\'")');" title="이메일">메일</a>
                    </li>
                    <li>
                        <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사" onclick="javascript:fnSendSns('url','','')">링크복사</a>
                    </li>
                </ul>
                <button class="btn_txt btn_close" type="button">취소</button>
            </div>
        </div>
        <!--// 공유하기 -->

    </div>
    <!--// 코너 container 2018.10 -->
    <script>
        var ajaxLock = false;
		$(function(){
			// 필수입력항목
			var required_fields = $(".required"),
			// 텍스트 입력항목
				text_fields = required_fields.not("input[type='checkbox']"),
			// 체크박스
				chk_agree = $(".custom-chk").find("input[type='checkbox']").not("#chk-all"),
				wrapper = $(".enrollment");



			/**
			 * 폼 검증
			 *
			 */
			var validation = {
				chkBlank : function(){
					$.each(required_fields,function(i,el){
						var type = el.type;

						if(type!='checkbox'){
							var input_value = $(this).val(),
								validity = $(this).next(".validity");

							(input_value.length!=0)
								? $(this).attr('class','required passed')
								: $(this).attr('class','required warning')
						}else{
							var checked = $(this).prop("checked");

							el.classList.remove("passed");
							el.classList.remove("warning");
							void el.offsetWidth;

							(checked)
								? el.classList.add("passed")
								: el.classList.add("warning")
						}
					});
				},
				chkMail : function(value){
					var reg = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return reg.test(value);
				},
				chkPattern_web : function(e){
					var regex = new RegExp("^[a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]+$");
					var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
					return regex.test(key);

				},
				chkPattern_mobile : function(value){
					var regex = /[^a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
					if(regex.test(value)){
						return value.substr(0, value.length - 1);
					}else{
						return value;
					}
				}
			};


			/**
			 * 이벤트
			 *
			 */
			// 입력 이벤트
			if($("body").hasClass("mobile")){
				text_fields.on({
					'cut copy paste':function(e){
						e.preventDefault();
					},
					'keyup':function(e){
						var target_id = $(this).attr("id"),
							text = $(this).val();
						if(target_id=="val_name"){
							$(this).val(validation.chkPattern_mobile(text));
						}

						if(target_id=="val_email"){
							(!validation.chkMail(text))
								? $(this).attr('class','required warning')
								: $(this).attr('class','required passed')
						}else{
							if($(this).hasClass('warning')){
								$(this).attr('class','required passed');
							}
						}
					},
				});
			}else{


				text_fields.on({
					'cut copy paste':function(e){
						e.preventDefault();
					},
					'keypress':function(e){
						var text = $(this).val(),
							target_id = $(this).attr("id");

						if(target_id=="val_name"){
							if (!validation.chkPattern_web(e)) {
								e.preventDefault();
								return false;
							}
						}else if(target_id == "val_tel"){
							return isNumberKey(e);
						}
					},
					'keyup':function(e){
						var text = $(this).val(),
						target_id = $(this).attr("id");

						if(target_id=="val_email"){
							(!validation.chkMail(text))
								? $(this).attr('class','required warning')
								: $(this).attr('class','required passed')
						}else{
							if($(this).hasClass('warning')){
								$(this).attr('class','required passed');
							}
						}
					}
				});


				// 높이 세팅
				$(window).resize(function(){
					if(wrapper.height()+$("header").height() < $(window).height()){
						$(".enroll-input").css({
							minHeight:$(window).height()
										-$("header").height()
										-$(".enroll-intro").height()
										-$("#btn_submit").height()
						});
					}else{
						$(".enroll-input").css({
							minHeight:'initial'
						});
					}
				}).trigger("resize");
			}

			// input 포커스 이벤트
			text_fields.on("focus",function(){
				$(window).scrollTop($(".enroll-input").offset().top);
			});

			// 약관 상세 토글
			$(".toggle-cont").on("click",function(){
				var cont = $(this).closest("li");
				(cont.hasClass("on"))
					? cont.removeClass("on")
						.find(".details").stop().slideUp(100)
					: cont.addClass("on")
						.find(".details").stop().slideDown(100)
			});

			// 약관 체크버튼
			$("#chk-all").on("click",function(){
				($(this).prop("checked"))
					? chk_agree.prop("checked",true)
					: chk_agree.prop("checked",false)
			});
			$(".terms input[type='checkbox']").on("click",function(){
				if($("#chk-all").prop("checked")) {
					$("#chk-all").prop("checked",false);
				}
			});


			// 이벤트 응모하기 버튼
			$("#btn_submit").on("click",function(e){
				e.preventDefault();
				var counter_check = 0;
				var datas = [];		// 데이터 배열

				// 검증 후 데이터 배열 push
				validation.chkBlank();
				if(!validation.chkMail($("#val_email").val())){
					$("#val_email").attr('class','required warning');
				}
				$.each(required_fields,function(i,el){
					if($(this).hasClass("passed")){
						counter_check++;
						datas.push(el.value);
					}else{
						return false;
					}
				});


				// 필수항목 체크 완료
				if(counter_check!=required_fields.length){
					$(window).scrollTop($(".enroll-input").offset().top);
				}else{
					// 검증 통과
					/*
						-이름 : $("#val_name")
						-연락처 : $("#val_tel")
						-이메일 : $("#val_email")
						-필수체크 : $("#chk-1")
						-선택체크 : $("#chk-2")

						datas : 데이터
					 */

					 // 선택항목 체크시
 					if($("#chk-2").prop("checked")){
 						datas.push($("#chk-2").val());
 					}

 					alert('CMS에서는 응모할 수 없습니다.\n다음 화면으로 넘어갑니다.');

				    // finish
 					$(".enrollment").hide();
 					$(".enrollment-complete").fadeIn(200);
 					$(window).scrollTop(0);
				}
			});
		});
    </script>
}

<!-- 썰리퀴즈 상세 container -->
<div class="container quiz-view">
    <!-- HEADER -->
    <header class="sub">
        <h1 class="hidden">썰리퀴즈 상세보기</h1>
        
        <!-- button : 댓글기능 추가시 활성화
        <button type="button" class="btn_comment btn_header">
            <span>댓글</span>
        </button>

        -->
    </header>
    <!--// HEADER -->
    @*@if (!Model.IsNews10 && !string.IsNullOrEmpty(Request.UserAgent) && Request.UserAgent.ToLower().Contains("mobile"))
        {
        <!-- 2018.04.17 : 앱 광고 배너 start -->
            <div id="link-to-app">
                <a href="#" id="close-app-banner">닫기</a>
                <div class="banner-description">
                    <p><strong>"그래도 이 정도는 알아야..."</strong></p>
                    <p>꼭 챙겨야 할 시사이슈를 하루 하나씩!</p>
                </div>
                <a href="javascript:void(0);" id="goto-store" target="_blank" onclick="javascript:SSullyMobileApp.market();">앱 다운로드</a>
            </div>
        <!--// 2018.04.17 : 앱 광고 배너 end -->
        }*@
    <!-- View wrap -->
    <div id="quiz_result" class="view-wrap" style="display: none;">
        <img src="" alt="" class="sticker-result" />
        <div class="result-panel">
            <p class="txt-result">총 <span class="total">10</span>문제 중 <span class="accent"><em id="score">10</em>개</span> 정답</p>
            <p class="sub-result">당신의 실력은 이 퀴즈에 참여한 사용자 중 <span class="accent">상위<em id="percent">1</em>%</span>에 해당합니다.</p>
            <!-- 버튼 영역 수정 : 2018.10 s -->
            <div class="result-btns">
                <button type="button" class="share-quiz btn_share openSnsShareService"><img src="https://images.joins.com/ssully/common/renewal2/corners/btn_quiz_share.png" alt="퀴즈공유"></button>

                @if (Model.Product.QUIZ_EVENT_STATUS == 2)
                {
                    <button type="button" class="go-quiz"><img src="https://images.joins.com/ssully/common/renewal2/corners/btn_quiz_ev.png" alt="이벤트응모"></button>
                }
            </div>
            <!--// 버튼 영역 수정 : 2018.10 e -->
        </div>
        <div class="quiz-btns result">
            <a href="javascript:void(0);" class="go-prev">이전문제</a>
            <a href="javascript:void(0);" class="restart">문제다시풀기</a>
        </div>
    </div>
    <!--// View wrap -->
    <!-- View wrap -->
    <div id="quiz_page" class="view-wrap quiz">
        @if (Model.Product.QUIZ_EVENT_STATUS == 2)
        {
            <!-- 이벤트 안내레이어 : 2018.10 s -->
            <div id="quiz_event" class="quiz-layer">
                <div class="layer-panel">
                    <div class="event-title"><img src="@Model.Product.QUIZ_EVENT_POPUP_IMG_URL" alt="이벤트 타이틀"></div>
                    <div class="event-noti">
                        <img src="https://images.joins.com/ssully/common/renewal2/corners/q_popup1_mid.png" alt="이벤트기간">
                        <p class="txt">
                            <span class="dist">이벤트기간</span>
                            <span>@(string.Format("{0:yyyy.MM.dd} ~ {1:MM.dd}", Model.Product.QUIZ_EVENT_START_DT, Model.Product.QUIZ_EVENT_END_DT))</span>
                        </p>
                    </div>
                    <div class="event-start">
                        <a href=""><img src="https://images.joins.com/ssully/common/renewal2/corners/q_popup1_btn.png" alt="시작"></a>
                    </div>
                </div>
            </div>
        <!--// 이벤트 안내레이어 : 2018.10 e -->
        }


        @*
            <!-- quiz Contents -->
            @Html.Raw(Joins.Apps.Common.Sully.ContentOptimizer.GetContentHtml(Model.Product, Model.RecommendProduct, Model.Content.PDC_ORG_CONTENT))
            <!--// quiz Contents -->
        *@
        <!-- quiz Contents -->
        <div class="quiz-cont">
            <!-- 문제번호 : 01~20 까지
                - 해설일땐 flag_explain_01.png
            -->
            <div class="quiz-flag"><img src="https://images.joins.com/ssully/common/quiz/flag_quiz_01.png" alt=""></div>
            <!-- 스티커
                [클래스]
                -기본상태 : default
                -정답일때 : right1,right2,right3 (랜덤)
                -오답일때 : wrong
            -->
            <span class="sticker default"></span>
            <div class="quiz-board">
                <div class="panel">
                    <!-- 문제 타이틀 , 해설 문구 -->
                    <p class="q-title"></p>
                    <!-- 문제 항목 -->
                    <ul class="q-list"></ul>
                </div>
            </div>
            <div class="quiz-btns">
                <!-- 1번문제, 마지막문제일때 텍스트 변경 -->
                <a href="javascript:void(0);" class="go-prev">뒤로가기</a>
                <a href="javascript:void(0);" class="go-next">다음문제</a>
            </div>
        </div>
        <!--// quiz Contents -->
    </div>
    <!--// View wrap -->
    <div id="layer_msgbox" class="fulllayer layer_msg">
        <div class="content">
            <div class="msg">
                <i class="ic_ok"></i>
                <strong class="txt_b">답을 선택하면<br>다음 문제로 넘어갈 수 있어요</strong>
                <button class="btn_txt btn_close" type="button">확인</button>
            </div>
        </div>
    </div>
    <!-- SNS login -->
    <div id="layer_snslogin" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_login">
            <strong class="tit_sub">간편 로그인</strong>
            <span class="txt">원하시는 계정을 선택해 로그인해 주세요.</span>
            <button class="btn_close" id="btn_close_comment" type="button">간편 로그인 닫기</button>
            <ul>
                <li>
                    <a class="i_jb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">중앙일보</a>
                </li>
                <li>
                    <a class="i_fb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">페이스북</a>
                </li>
                <li>
                    <a class="i_tw sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">트위터</a>
                </li>
                <li>
                    <a class="i_kk sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">카카오톡</a>
                </li>
                <li>
                    <a class="i_na sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">네이버</a>
                </li>
            </ul>
        </div>
    </div>
    <!--// SNS login -->
    <!-- 공유하기 -->
    <div id="layer_share2" class="fulllayer share-layer">
        <!-- // layeron -->
        <div class="layer_sns">
            <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
            <ul>
                <li>
                    <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" onclick="javascript: fnSendSns('kakaotalk', '', '');" id="kakao-link">카카오톡</a>
                </li>
                <li>
                    <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);" onclick="javascript: fnSendSns('facebook', '', '');">페이스북</a>
                </li>
                <li>
                    <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);" onclick="javascript: fnSendSns('twitter', '', '');">트위터</a>
                </li>
                <li>
                    <a class="ml" href="javascript:void(0);" onclick="javascript: fnSendSns('mail', '', '[썰리퀴즈] @Model.Product.PD_TITLE.Replace("'", "\'")');" title="이메일">메일</a>
                </li>
                <li>
                    <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사" onclick="javascript:fnSendSns('url','','')">링크복사</a>
                </li>
            </ul>
            <button class="btn_txt btn_close" type="button">취소</button>
        </div>
    </div>
    <!--// 공유하기 -->
</div>
<!--// 썰리퀴즈 상세 container -->

<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_quiz.js?t=@ViewContext.ViewBag.JsCacheString"></script>
<script>
    var quizUtil = new function () {
        var quiz_data = [];
        var quiz_page = 0;
        var lock = false;

        this.getCrrentPage = function () { return page; };

        this.goNextPage = function () {
            if (!lock) {
                lock = true;

                if (this.isLastPage()) {
                    // 마지막 페이지의 경우 결과페이지로 이동
                    var answer_params = $.map(quiz_data, function (question, q_idx) {
                        return {
                            QuestionSeq: question.seq,
                            ItemSeq: $.grep(question.poll_items, function (item, i_idx) { return item.selected == 'Y'; })[0].seq
                        }
                    });
                    $('.q-title').removeClass('comment');
                    $.post('/sully/product/quiz/answer/apply/@Model.Product.PD_SEQ', {
                        data: answer_params
                    }, function (data) {
                        if (data.result == 'Y') {
                            quiz_page++;
                            $('div#quiz_page').hide();
                            $('div#quiz_result').find('.sticker-result').attr('src', 'https://images.joins.com/ssully/common/quiz/result_' + data.grade.toLowerCase() + '.png').end()
                                .find('.total').text(data.total_count).end()
                                .find('.accent #score').text(data.correct_count).end()
                                .find('.accent #percent').text(data.correct_ratio).end()
                                .find('.go-quiz').off().on('click', function (e) {
                                    $('.event-wrap').data('guid', data.answer_guid).show();
                                    $('.quiz-view').not('.event-wrap').hide();
                                    return false;
                                }).end()
                                .show();
                        } else {
                            alert(data.message);
                        }

                        lock = false;
                    });
                } else {
                    quiz_page++;

                    var data = getCurrentPageQuizData();
                    if (data)
                        callbackQuiz(data);
                    else
                        loadQuiz();
                }
            }
        };

        this.goPrevPage = function () {
            if (!lock) {
                lock = true;
                quiz_page--;

                var data = getCurrentPageQuizData();
                if (data)
                    callbackQuiz(data);
            }
        };

        this.reset = function () {
            if (!lock) {
                lock = true;
                quiz_data = [];
                quiz_page = 1;
                loadQuiz();
            }
        };

        this.isLastPage = function () {
            var quiz = getCurrentPageQuizData();
            return quiz && quiz.current_page == quiz.total_page;
        };

        this.isResultPage = function () {
            return quiz_data.length < quiz_page;
        };

        this.isFirstPage = function () {
            return quiz_page == 1;
        };

        this.showIntroPage = function () {
            quiz_page = 0;
            $(".quiz-board").eq(0).removeClass("loaded");
            obj_cont.hide();
            obj_intro.show();
            obj_intro.addClass("loaded");
        };

        var getCurrentPageQuizData = function () {
            if (quiz_data.length >= quiz_page)
                return quiz_data[quiz_page - 1];

            return null;
        };

        var loadQuiz = function () {
            $.get('/sully/product/quiz/page/@Model.Product.PD_SEQ', {
                page: quiz_page
            }, function (data) {
                quiz_data.push(data);
                callbackQuiz(data);
            });
        };

        var callbackQuiz = function (data) {
            $('div#quiz_result').hide();
            $('div#quiz_page').show();

            $('div.quiz-cont .q-list').html($.map(data.poll_items, function (item) {
                return $('<li><span></span></li>').find('span').html(item.title).end().attr('data-item-seq', item.seq);
            }));

            $(".quiz-cont .sticker").removeClass("wrong").removeClass("right1").removeClass("right2").removeClass("right3").addClass("default");
            $(".q-list").removeClass("complete").find('li').off('click').on('click', function (e) {
                if ($(this).closest('.q-list').hasClass('complete'))
                    return false;

                var seq = $(this).data('itemSeq');
                loadCorrectInfo(seq);
            });

            $(".go-prev").text((quiz_page == 1) ? '뒤로가기' : '이전문제');
            $(".go-next").text((data.total_page == quiz_page) ? '결과보기' : '다음문제');
            $('.q-title').removeClass('comment');

            if (data.completed == 'Y') {
                var seq = $.grep(data.poll_items, function (idx, item) { return idx.selected == 'Y'; })[0].seq;
                loadCorrectInfo(seq);
            } else {
                // 문항 번호 이미지 교체
                $('div.quiz-cont .quiz-flag img').attr('src', 'https://images.joins.com/ssully/common/quiz/flag_quiz_' + ((quiz_page < 10 ? '0' : '') + quiz_page) + '.png').end()
                // 퀴즈 문구 셋팅
                $('div.quiz-cont .q-title').html(data.title);

                lock = false;
            }
        }

        var loadCorrectInfo = function (seq) {
            var quiz = getCurrentPageQuizData();

            $.get('/sully/product/quiz/answer/@Model.Product.PD_SEQ', {
                question_seq: quiz.seq,
                item_seq: seq
            }, function (data) {
                if (data.correct_seq == seq) {
                    // 정답
                    $('.q-list li[data-item-seq=' + seq + ']').addClass("answer");
                    $(".quiz-cont .sticker").removeClass("default").addClass("right" + (1 + Math.floor(Math.random() * 3)));
                } else {
                    // 오답 (정답에 o표시, 선택지에 x표시)
                    $('.q-list li[data-item-seq=' + data.correct_seq + ']').addClass("answer");
                    $('.q-list li[data-item-seq=' + seq + ']').addClass('wrong');
                    $(".quiz-cont .sticker").removeClass("default").addClass("wrong");
                }

                $(".quiz-flag img").attr("src", imgPath + "flag_explain_" + ((quiz_page < 10 ? '0' : '') + quiz_page) + ".png");
                $('.q-title').html(data.description).addClass('comment');
                $(".q-list").addClass("complete");

                quiz.completed = 'Y';
                $.each(quiz.poll_items, function (idx, item) {
                    item.selected = (item.seq == seq) ? 'Y' : 'N';
                });

                lock = false;
            });
        };
    };

    $(function () {
        // 퀴즈 시작
        if ($("#quiz_event").length > 0) {
            $(".event-start").on("click", function (e) {
                quizUtil.goNextPage();
                return false;
            });
        } else {
            quizUtil.goNextPage();
        }

        // 퀴즈 페이지 닫기
        $('a.close-quiz').on('click', function (e) {
            history.go(-1);
            return false;
        });

        // 문제 다시풀기
        $('.restart').on('click', function (e) {
            quizUtil.reset();
            return false;
        });

        // 다음문제
        $(".go-next").on("click", function (e) {
            // 안풀었을경우 다음 페이지 이동 불가
            if (!$(".q-list").hasClass('complete')) {
                $("#layer_msgbox").addClass("layeron");
                return false;
            }

            quizUtil.goNextPage();
            return false;
        });

        // 이전문제
        $(".go-prev").on("click", function (e) {
            if (quizUtil.isFirstPage()) {
                $(this).closest('.quiz-view').not('.event-wrap').find('a.close-quiz').trigger('click');
            } else {
                if (quizUtil.isResultPage())
                    ui.set_panelHeight();

                quizUtil.goPrevPage();
            }
        });
    });
</script>
