﻿@model Joins.Apps.Cms.Models.Sully.ProductView.PreviewModel

@{
    Layout = "~/Views/Shared/_Layout_iframe.cshtml";

    ViewBag.Title = string.Format("{0} - 썰리", Model.Product.PD_TITLE);
    ViewBag.Meta_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Keywords = Model.Product.PD_TAG;
    ViewBag.Meta_Og_Url = string.Format("https://ssully.joins.com/View/{0}?share=y", Model.Product.PD_SEQ);
    ViewBag.Meta_Og_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Og_Image = string.IsNullOrEmpty(Model.Product.PD_SHARE_IMG_URL) ? Model.Product.PD_IMG_URL : Model.Product.PD_SHARE_IMG_URL;
}

@section HeaderPublishCSSJavascript
{
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/swiper.min.css">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html//css/renewal/ssully_common.css">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html//css/renewal/ssully_sub.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html//js/swiper.min.js"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js"></script>
}

@section header{
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/lib/scrollreveal.js"></script>
}

<!-- 스토리썰링 상세 container -->
<div class="container story">

    <!-- HEADER -->
    <header class="sub">
        <h1 class="hidden">스토리썰링 상세보기</h1>

        @*
            <!-- button : 댓글기능 추가시 활성화-->
            <button type="button" class="btn_comment btn_header">
                <span>댓글</span>
            </button>
        *@
        <button type="button" class="btn_share openSnsShareService">
            <span>공유</span>
        </button>
    </header>
    <!--// HEADER -->

    <!-- View wrap -->
    <div class="view-wrap story-view">
        @Html.Raw(Model.ContentHtml)
        <!-- pager -->
        <div class="pager"></div>
        <!--// pager -->
    </div>
    <!--// View wrap -->
    <!-- SNS login -->
    <div id="layer_snslogin" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_login">
            <strong class="tit_sub">간편 로그인</strong>
            <span class="txt">원하시는 계정을 선택해 로그인해 주세요.</span>
            <button class="btn_close" id="btn_close_comment" type="button">간편 로그인 닫기</button>
            <ul>
                <li>
                    <a class="i_jb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">중앙일보</a>
                </li>
                <li>
                    <a class="i_fb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">페이스북</a>
                </li>
                <li>
                    <a class="i_tw sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">트위터</a>
                </li>
                <li>
                    <a class="i_kk sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">카카오톡</a>
                </li>
                <li>
                    <a class="i_na sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">네이버</a>
                </li>
            </ul>
        </div>
    </div>
    <!--// SNS login -->
    <!-- 공유하기 -->
    <div id="layer_share" class="fulllayer">
        <!-- // layeron -->
        <div class="layer_sns">
            <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
            <ul>
                <li>
                    <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" id="kakao-link">카카오톡</a>
                </li>
                <li>
                    <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);">페이스북</a>
                </li>
                <li>
                    <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);">트위터</a>
                </li>
                <li>
                    <a class="ml" href="javascript:void(0);" title="이메일">메일</a>
                </li>
                <li>
                    <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사">링크복사</a>
                </li>
            </ul>
            <button class="btn_txt btn_close" type="button">취소</button>
        </div>
    </div>
    <!--// 공유하기 -->
    <!-- imgView -->
    <div id="imgView" class="fulllayer ">
        <div id="test" style="position:fixed;top:70px;left:20px;font-size:20px;color:#fff;z-index:200"></div>
        <!-- // layeron -->
        <div class="layer_pop">
            <div class="layer_header">
                <h2>@Model.Product.PD_TITLE</h2>
                <!-- ver3_1 수정 -->
                <button type="button" class="btn-closelayer">
                    <span>닫기</span>
                </button>
                <!-- //ver3_1 수정 -->
            </div>
            <div class="thumb">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    </div>
                </div>

                <div class="caption">
                    <p class="txt"></p>
                    <div class="navi">
                        <span class="cur"></span>/<span class="total"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// imgView -->

</div>
<!--// 스토리썰링 상세 container -->


<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_story.js"></script>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('div#layer_share a').on('click', function (e) {
            alert('CMS에서는 사용할 수 없습니다.');
            return false;
        });
    });
    //]]>
</script>