﻿@model Joins.Apps.Cms.Models.Sully.ProductView.PreviewModel

@{
    Layout = "~/Views/Shared/_Layout_iframe.cshtml";

    ViewBag.Title = string.Format("{0} - 썰리", Model.Product.PD_TITLE);
    ViewBag.Meta_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Keywords = Model.Product.PD_TAG;
    ViewBag.Meta_Og_Url = string.Format("https://ssully.joins.com/View/{0}?share=y", Model.Product.PD_SEQ);
    ViewBag.Meta_Og_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Og_Image = string.IsNullOrEmpty(Model.Product.PD_SHARE_IMG_URL) ? Model.Product.PD_IMG_URL : Model.Product.PD_SHARE_IMG_URL;
}
@section HeaderPublishCSSJavascript {
    <link rel="shortcut icon" href="https://images.joins.com/ssully/common/favicon.ico">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common.css">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_list.css">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub.css">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_corner.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js"></script>
}
<!-- 코너 container 2018.09 -->
<div class="container presso-view">
    <header>
        <button type="button" class="btn_share openSnsShareService">
            <span>공유</span>
        </button>
    </header>

    <article class="view-wrap">
        <!-- 타이틀 영역 -->
        <div class="presso-cover">
            <div class="cover-img" data-background="@Model.Product.PD_IMG_URL"></div>
            <div class="cover-txt">
                <h1>@Html.Raw(Model.Product.PD_TITLE)</h1>
                <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(Model.Product.PD_SERVICE_DT))</p>
            </div>
        </div>
        <!--// 타이틀 영역 -->
        <!-- 기사 본문 -->
        <!--
            <p class="unit subject"></p> 				: 단락 타이틀
            <p class="unit subject conclusion"></p>   	: 요약 타이틀
            <p class="unit plain"></p>   				: 일반 텍스트
            <blockquote class="unit"></blockquote>		: 인용구
        -->
        <div class="presso-article">
            @Html.Raw(Model.ContentHtml)
        </div>
        <!--// 기사 본문 -->

        @if (Model.RecommendProduct?.Count() > 0)
        {
        <!-- 추천 기사 : 기존과 동일 -->
        <div class="recommend">
            <dl class="cat">
                <dt>이것도 알려줄까? 썰리의 추천</dt>
                @foreach (var item in Model.RecommendProduct.Take(3))
                {
                <dd>
                    <a href="/View/@item.PD_SEQ">
                        <span class="profile"><img src="@item.PD_IMG_URL" alt=""></span>
                        <span class="txt">
                            <strong>@item.PD_TITLE</strong>
                            <span class="time">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(item.PD_SERVICE_DT))</span>
                        </span>
                    </a>
                </dd>
                }
            </dl>
        </div>
        <!--// 추천 기사 : 기존과 동일-->
        }
    </article>
</div>
<!--// 코너 container 2018.09 -->
    <!-- 공유하기 -->
<div id="layer_share" class="fulllayer">
    <!-- // layeron -->
    <div class="layer_sns">
        <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
        <ul>
            <li>
                <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" onclick="javascript: fnSendSns('kakaotalk', '', '');" id="kakao-link">카카오톡</a>
            </li>
            <li>
                <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);" onclick="javascript: fnSendSns('facebook', '', '');">페이스북</a>
            </li>
            <li>
                <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);" onclick="javascript: fnSendSns('twitter', '', '');">트위터</a>
            </li>
            <li>
                <a class="ml" href="javascript:void(0);" onclick="javascript: fnSendSns('mail', '', '[썰리 - 썰로 푸는 이슈 정리] @Model.Product.PD_TITLE.Replace("'", "\'")');" title="이메일">메일</a>
            </li>
            <li>
                <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사" onclick="javascript:fnSendSns('url','','')">링크복사</a>
            </li>
        </ul>
        <button class="btn_txt btn_close" type="button">취소</button>
    </div>
</div>
<!--// 공유하기 -->

<script src="https://static.joins.com/html/mobile/ssuly/html/js/bundle/corner_list.bundle.js"></script>

<script type="text/javascript">
    $(function () {
        $('div#layer_share a').on('click', function (e) {
            alert('CMS에서는 사용할 수 없습니다.');
            return false;
        });
    });
</script>