﻿@model Joins.Apps.Cms.Models.Sully.ProductView.PreviewModel

@{
    Layout = "~/Views/Shared/_Layout_iframe.cshtml";

    ViewBag.Title = string.Format("{0} - 썰리", Model.Product.PD_TITLE);
    ViewBag.Meta_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Keywords = Model.Product.PD_TAG;
    ViewBag.Meta_Og_Url = string.Format("https://ssully.joins.com/View/{0}?share=y", Model.Product.PD_SEQ);
    ViewBag.Meta_Og_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Og_Image = string.IsNullOrEmpty(Model.Product.PD_SHARE_IMG_URL) ? Model.Product.PD_IMG_URL : Model.Product.PD_SHARE_IMG_URL;

    var preview_script_host = "";
    if (Request.Url.Host.StartsWith("local.apps-cms"))
    {
        preview_script_host = Request.Url.Scheme + "://local.ssully.joins.com";
    }
    else if (Request.Url.Host.StartsWith("dev.apps-cms"))
    {
        preview_script_host = Request.Url.Scheme + "://dev.ssully.joins.com";
    }
    else
    {
        preview_script_host = Request.Url.Scheme + "://ssully.joins.com";
    }
}

@section HeaderPublishCSSJavascript {
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js"></script>
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/auto_read.css" />
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub_view.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@preview_script_host/Scripts/common.js"></script>
}

<div class="container chat-view">
    <!-- ver3_2 : Coachmark 추가 Start -->
    <div id="coachmark" style="display: none;">
        <div class="coach1">모드 설명</div>
        <div class="coach2">다음 버튼 설명</div>
        <a href="" id="close-coachmark">Close</a>
    </div>
    <!--// ver3_2 : Coachmark 추가 End -->
    <!-- // 전체 보기all_show -->
    <header class="sub">
        <h1 class="hidden">썰리</h1>
        
        <button type="button" class="btn_show active">
            <span>전체보기</span>
        </button>
        <!-- // 2018-01-09 수정 -->

        <button type="button" class="btn_share openSnsShareService" onclick="javascript: return false;">
            <span>공유</span>
        </button>
        <div class="shar_layer">
        </div>

        <!--  ver3 코치마크 이동 -->
        <div id="layer_coach" class="layer_coach" style="display: none;"><img src="https://images.joins.com/ssully/common/bg_coach2.png" alt="전체보기"></div>
        <!--  //ver3 코치마크 이동 -->
        <!--  ver3 pgbar 이동 -->
        <div class="pgbar"><i></i></div>
        <!--  //ver3 pgbar 이동 -->
    </header>
    
    <section>
        <div class="tit_area">
            <h2>
                <span class="profile"><img src="@Model.Product.PD_IMG_URL" alt=""></span>
                <span class="view_tit">@Html.Raw(Model.Product.PD_TITLE)</span>
                <span class="time">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(Model.Product.PD_SERVICE_DT))</span>
            </h2>
        </div>

        <!-- 채팅 본문 s
            - default : 기본 대화(2인)
            - multi : 다자 대화(3인 이상)
        -->
        @Html.Raw(Model.ContentHtml)

    </section>

    <div id="imgView" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_pop">
            <div class="layer_header">
                <h2>@Model.Product.PD_TITLE</h2>
                <!-- ver3_1 수정 -->
                <button type="button" class="btn_closed">
                    <span>닫기</span>
                </button>
                <!-- //ver3_1 수정 -->
            </div>
            <div class="thumb">
                <span class="inner_roll-item"><img src="#" alt="" id="zoomimg"></span> <!-- 2018-01-22 .inner_roll-item 추가 -->
            </div>
        </div>
    </div>


    <div id="layer_snslogin" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_login">
            <strong class="tit_sub">간편 로그인</strong>
            <span class="txt">원하시는 계정을 선택해 로그인해 주세요.</span>
            <button class="btn_close" id="btn_close_comment" type="button">간편 로그인 닫기</button>
            <ul>
                <li>
                    <a class="i_jb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">중앙일보</a>
                </li>
                <li>
                    <a class="i_fb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">페이스북</a>
                </li>
                <li>
                    <a class="i_tw sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">트위터</a>
                </li>
                <li>
                    <a class="i_kk sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">카카오톡</a>
                </li>
                <li>
                    <a class="i_na sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">네이버</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- ver3 수정 -->
    <div id="layer_share" class="fulllayer">
        <!-- // layeron -->
        <div class="layer_sns">
            <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
            <ul>
                <li>
                    <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" id="kakao-link">카카오톡</a>
                </li>
                <li>
                    <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);">페이스북</a>
                </li>
                <li>
                    <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);">트위터</a>
                </li>
                <li>
                    <a class="ml" href="javascript:void(0);" title="이메일">메일</a>
                </li>
                <li>
                    <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사">링크복사</a>
                </li>
            </ul>
            <button class="btn_txt btn_close" type="button">취소</button>
        </div>
    </div>
    <!-- //ver3 수정 -->

</div>

<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_viewUi.js"></script>

<script>
    $(function(){
        $('div#layer_share a').on('click', function(e) {
            alert('CMS에서는 사용할 수 없습니다.');
            return false;
        });
    });

    var animationStatus = new function(){
        var _key = 'animation';

        this.get = function() {
            var items = SSullyStorage.getItem(_key) || new Array();
            var index = $.map(items, function(obj, idx) {
                var seq = @Model.Product.PD_SEQ;
                if (obj.seq == seq)
                    return idx;
            })[0];

            return {
                exist: index > -1,
                current_item: index > -1 ? items[index] : undefined,
                all_items: items
            };
        };

        this.setToggle = function() {
            var data = animationStatus.get();
            var animation_val = !data.exist || data.current_item.animation !== 'Y' ? 'Y' : 'N';

            if (data.exist)
                data.current_item.animation = animation_val;
            else
                data.all_items.push({ seq: @Model.Product.PD_SEQ, animation: animation_val});

            // 최근 20개까지만 저장 (slice)
            SSullyStorage.setItem(_key, data.all_items.slice(-20));
        };

        this.isShowAll = function() {
            var data = animationStatus.get();
            return !data.exist || data.current_item.animation !== 'Y';
        };
    };

    var pageStatus = new function() {
        var _key = 'page';

        /**
        * 현재 기사의 페이지 상태 데이터를 불러옵니다.
        */
        this.get = function() {
            var items = SSullyStorage.getItem(_key) || new Array();
            var index = $.map(items, function(obj, idx) {
                var seq = @Model.Product.PD_SEQ;
                if (obj.seq == seq)
                    return idx;
            })[0];

            return {
                exist: index > -1,
                current_item: index > -1 ? items[index] : undefined,
                all_items: items
            };
        };

        /**
        * 현재 페이지 상태를 저장합니다.
        */
        this.save = function(e) {
            var step = $('.btn-continue button.go-next').index($(this)) + 1;
            var data = pageStatus.get();

            if (data.exist)
                data.current_item.step = step;
            else
                data.all_items.push({ seq: @Model.Product.PD_SEQ, step: step });

            // 최근 20개까지만 저장 (slice)
            SSullyStorage.setItem(_key, data.all_items.slice(-20));
        };
    };

    var page_status = pageStatus.get();
    var chatter_option = {
        auto: !page_status.exist,// && SSullyStorage.getItem('layer_coach') != null,
        from: page_status.exist ? page_status.current_item.step + 1 : 0
    };

    $(function () {
        // 코치레이어 (비활성)
        //SSullyStorage.getItem('layer_coach') ? $("#coachmark").hide() : $("#coachmark").show();

        if (!animationStatus.isShowAll()) {
            // 애니메이션 보기
            $('.btn_show').removeClass('active').find('span').text('애니메이션 보기');
        } else {
            // 전체보기
            $('.chat-view').addClass('show-all');
            $('.btn_show').addClass('active').find('span').text('전체보기');

            $(window).on({
                "scroll touchmove":function(){
                    $.each($(".roll-item, .speaker"),function(i,e){
                        var viewFlag = intoView($(e), false);
                        if(viewFlag) $(e).addClass('view');
                    });
                }
            }).trigger("scroll");

            $(window).scrollTop(SSullyStorage.getItem('scroll'));
            SSullyStorage.removeItem('scroll');
        }

        $('.btn_show').on('click', function (e) {
            // 전체보기로 전환 시 현재 스크롤 위치 임시저장
            if (!animationStatus.isShowAll())
                SSullyStorage.setItem('scroll', $('section').scrollTop());

            animationStatus.setToggle();
            location.reload();
        });

        //$("#coachmark").on("click",function(e) {
        //    SSullyStorage.setItem("layer_coach", true);
        //});
    });

    $(document).ready(function(){
        var chatView = $(".chat-view");

        // 애니메이션 모드일때
        if(!chatView.hasClass("show-all")){
            $(".chat-view").addClass('loaded');

            /**
             * [[[[[[roll_chat]]]]]
             * @@timer : interval duration (기본값 1000)
             * @@effect : 효과 {fade, up, out-to-in}
             * @@nextBtn : 다음섹션버튼 {jQuery selector}
             * @@auto : 자동 시작 {boolean} - true 이면 from값 세팅 안함 / 이어보기, 코치마크 있을시는 false로 세팅
             * @@from : 기본값 0(auto:true), 1이상일땐 auto:false
             *
             *
             * {{public function}}
             * - getLastread_seq() : 마지막으로 봤던 container index 가져오기
             * - chatStart() : interval 활성화
             * - chatPause() : 일시정지
             */
            var chatter = $(".chat-cont").roll_chat($.extend({
                timer: 800,
                auto: true,
                from: 0,
                effect: "out-to-in",
                nextBtn: '.btn-continue'
            }, chatter_option));

            //chatter.getLastread_seq();
            //chatter.chatStart();
            //chatter.chatPause();



            var init_coachmark = (function(){
                var top_pos;
                $("#link-to-app").length ? top_pos = parseInt($(".btn_show").css("top"))+42
                                            : top_pos = parseInt($(".btn_show").css("top"))-8

                var exp_modeObj = {
                    top:top_pos,
                    right:parseInt($(".btn_show").css("right"))-1
                }

                $("#coachmark .coach1").css({
                    top:exp_modeObj.top+'px',
                    right:exp_modeObj.right+'px'
                });
            })();

            $("#coachmark").on("click",function(e){
                e.preventDefault();
                $(this).fadeOut(200,function(){
                    chatter.chatStart();
                });
            });

        }
    });
</script>