﻿@model Joins.Apps.Cms.Models.Sully.ProductView.PreviewModel

@{
    Layout = "~/Views/Shared/_Layout_iframe.cshtml";

    ViewBag.Title = string.Format("{0} - 썰리", Model.Product.PD_TITLE);
    ViewBag.Meta_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Keywords = Model.Product.PD_TAG;
    ViewBag.Meta_Og_Url = string.Format("https://ssully.joins.com/View/{0}?share=y", Model.Product.PD_SEQ);
    ViewBag.Meta_Og_Title = Model.Product.PD_TITLE;
    ViewBag.Meta_Og_Image = string.IsNullOrEmpty(Model.Product.PD_SHARE_IMG_URL) ? Model.Product.PD_IMG_URL : Model.Product.PD_SHARE_IMG_URL;
}

@section HeaderPublishCSSJavascript
{
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common.css" />
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js"></script>
}

@section header{
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/lib/scrollreveal.js"></script>
}

<!-- 한컷썰리 상세 container -->
<div class="container one-cut">

    <!-- HEADER -->
    <header class="sub">
        <h1 class="hidden">한컷썰리 상세보기</h1>

        @*
        <!-- button : 댓글기능 추가시 활성화-->
        <button type="button" class="btn_comment btn_header">
            <span>댓글</span>
        </button>
        *@

        <button type="button" class="btn_share openSnsShareService">
            <span>공유</span>
        </button>
    </header>
    <!--// HEADER -->
    <!-- View wrap -->
    <div class="view-wrap">
        <!-- tit_area -->
        <div class="tit_area">
            <h2>
                <span class="view_tit">@Html.Raw(Model.Product.PD_TITLE)</span>
                <span class="time">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(Model.Product.PD_SERVICE_DT))</span>
            </h2>
        </div>
        <!--// tit_area -->

        <!-- view 본문 -->
        <div class="view-cont">
            @Html.Raw(Model.ContentHtml)

            @if (Model.RecommendProduct != null && Model.RecommendProduct.Count() > 0)
            {
            <!-- 썰리의 추천 start -->
                <div class="recommend">
                    <dl class="cat">
                        <dt>이것도 알려줄까? 썰리의 추천</dt>
                        @foreach (var item in Model.RecommendProduct)
                        {
                            <dd>
                                <a href="/sully/product/preview/@item.PD_SEQ">
                                    <span class="profile"><img src="@item.PD_IMG_URL" alt=""></span>
                                    <span class="txt">
                                        <strong>@item.PD_TITLE</strong>
                                        <span class="time">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(item.PD_SERVICE_DT))</span>
                                    </span>
                                </a>
                            </dd>
                        }
                    </dl>
                </div>
            <!--// 썰리의 추천 end -->
            }
        </div>
        <!--// view 본문 -->
    </div>
    <!--// View wrap -->
    <!-- SNS login -->
    <div id="layer_snslogin" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_login">
            <strong class="tit_sub">간편 로그인</strong>
            <span class="txt">원하시는 계정을 선택해 로그인해 주세요.</span>
            <button class="btn_close" id="btn_close_comment" type="button">간편 로그인 닫기</button>
            <ul>
                <li>
                    <a class="i_jb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">중앙일보</a>
                </li>
                <li>
                    <a class="i_fb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">페이스북</a>
                </li>
                <li>
                    <a class="i_tw sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">트위터</a>
                </li>
                <li>
                    <a class="i_kk sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">카카오톡</a>
                </li>
                <li>
                    <a class="i_na sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">네이버</a>
                </li>
            </ul>
        </div>
    </div>
    <!--// SNS login -->
    <!-- imgView -->
    <div id="imgView" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_pop">
            <div class="layer_header">
                <h2>@Model.Product.PD_TITLE</h2>
                <!-- ver3_1 수정 -->
                <button type="button" class="btn_closed">
                    <span>닫기</span>
                </button>
                <!-- //ver3_1 수정 -->
            </div>
            <div class="thumb">
                <span class="inner_box"><img src="javascript:void(0);" alt="" id="zoomimg"></span> <!-- 2018-01-22 .inner_box 추가 -->
            </div>
        </div>
    </div>
    <!--// imgView -->

</div>
<!--// 한컷썰리 상세 container -->

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('div#layer_share a').on('click', function (e) {
            alert('CMS에서는 사용할 수 없습니다.');
            return false;
        });
    });
    //]]>
</script>