﻿@model Joins.Apps.SSully.Models.View.View
@{
    //pedia
    var containerCssClass = "container chat-view";

    if (Model.IsNews10)
    {
        containerCssClass = "container chat-view web-view";
    }

    if (Model.Product.PD_TYPE == 2)
    {
        containerCssClass = containerCssClass + " pedia";
    }
}
<div class="@containerCssClass">
    <!-- ver3_2 : Coachmark 추가 Start -->
    <div id="coachmark" style="display: none;">
        <div class="coach1">모드 설명</div>
        <div class="coach2">다음 버튼 설명</div>
        <a href="" id="close-coachmark">Close</a>
    </div>
    <!--// ver3_2 : Coachmark 추가 End -->
    <!-- // 전체 보기all_show -->
    <header class="sub">
        <h1 class="hidden">썰리</h1>
        @if (!Model.IsNews10)
        {
            <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a><!-- ver3_1 수정 -->
        }

        <button type="button" class="btn_show active">
            <span>전체보기</span>
        </button>
        <!-- // 2018-01-09 수정 -->

        @if (!Model.IsNews10)
        {
            <!-- 2018.11 댓글 아이콘 추가 s -->
            <button type="button" class="btn-comment">
                @if (Model.CommentCount.HasValue && Model.CommentCount.Value > 0)
                {
                    <span class="num">@(Model.CommentCount.Value > 99 ? "99+" : Convert.ToString(Model.CommentCount.Value))</span>
                }
            </button>
			<!--// 2018.11 댓글 아이콘 추가 e -->
            
            <button type="button" class="btn_share openSnsShareService">
                <span>공유</span>
            </button>
            <div class="shar_layer">
            </div>
        }

        <!--  전체보기 안내 이미지 변경 : 2018.08 -->
        <div id="layer_coach" class="layer_coach"><img src="https://images.joins.com/ssully/common/renewal/view_todaycoach.png" alt="전체보기"></div>
        <!--  //ver3 코치마크 이동 -->
        <!--  ver3 pgbar 이동 -->
        <div class="pgbar"><i></i></div>
        <!--  //ver3 pgbar 이동 -->
    </header>

    @if (!Model.IsNews10 && !string.IsNullOrEmpty(Request.UserAgent) && Request.UserAgent.ToLower().Contains("mobile"))
    {
    <!-- 2018.04.17 : 앱 광고 배너 start -->
        <div id="link-to-app">
            <a href="#" id="close-app-banner">닫기</a>
            <div class="banner-description">
                <p><strong>"그래도 이 정도는 알아야..."</strong></p>
                <p>꼭 챙겨야 할 시사이슈를 하루 하나씩!</p>
            </div>
            <a href="javascript:void(0);" id="goto-store" target="_blank" onclick="javascript:SSullyMobileApp.market();">앱 다운로드</a>
        </div>
    <!--// 2018.04.17 : 앱 광고 배너 end -->
    }

    <section>
        <div class="tit_area">
            <div class="title-head">
                @if ("Y".Equals(Model.Product.IS_AD_PRODUCT, StringComparison.OrdinalIgnoreCase))
                {
                    <span class="co-label"><img src="@Model.Product.PD_PROVIDER_URL" alt=""></span>
                }
                <h2>@Html.Raw(Model.Product.PD_TITLE)</h2>
                <span class="profile"><img src="@Model.Product.PD_IMG_URL" alt=""></span>
            </div>
            <div class="title-bottom">
                <span class="time">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(Model.Product.PD_SERVICE_DT))</span>
                <div class="my-btns">
                    <a href="" class="btn-scrap@("Y".Equals(Model.Product.SCRAP_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">스크랩</a>
                    <a href="" class="btn-favorite@("Y".Equals(Model.Product.LIKE_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">
                        @if (Model.Product.LIKE_CNT > 0)
                        {
                        <span>@(Model.Product.LIKE_CNT > 999 ? "999+" : string.Format("{0:N0}", Model.Product.LIKE_CNT))</span>
                        }
                    </a>
                </div>
            </div>
        </div>

        <!-- 채팅 본문 s
            - default : 기본 대화(2인)
            - multi : 다자 대화(3인 이상)
        -->
        @Html.Raw(Joins.Apps.Common.Sully.ContentOptimizer.GetContentHtml(Model.Product, (Model.IsNews10 ? null : Model.RecommendProduct), Model.Content.PDC_ORG_CONTENT))

        @if (Model.EventQuizProduct != null && !Model.IsNews10)
        {
            <script id="quiz_banner_template" type="text/template">
                <!-- 퀴즈 배너 추가 -->
                <div class="unit _list quiz-evt roll-block">
                    <a href="/View/@Model.EventQuizProduct.Seq?ch=view_btm" style="background-color:@Model.EventQuizProduct.BackgroundColor"><img src="@Model.EventQuizProduct.ImageUrl" alt=""></a>
                </div>
                <!--// 퀴즈 배너 추가 -->
            </script>
            <script type="text/javascript">
            $(function() {
                                var banner_template = $('#quiz_banner_template').html();
                                var $summary = $('div.unit.summary:last');
                                var $recommend = $('div.unit.recommend:last');
                                // 3줄요약 뒤, 추천기사 앞, 둘다 없을 경우 마지막
                                if ($summary.length == 1)
                    $summary.after(banner_template);
                else if ($recommend.length == 1)
                    $recommend.before(banner_template);
                else
                    $('section div.chat-cont div.part').append(banner_template);
                            });
            </script>
        }
    </section>

    <!-- 2018.11 애니메이션 -->
    <div class="anim-canvas scrap"></div>
    <div class="anim-canvas like"></div>

    <div id="imgView" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_pop">
            <div class="layer_header">
                <h2>@Model.Content.PD_TITLE</h2>
                <!-- ver3_1 수정 -->
                <button type="button" class="btn_closed">
                    <span>닫기</span>
                </button>
                <!-- //ver3_1 수정 -->
            </div>
            <div class="thumb">
                <span class="inner_roll-item"><img src="" alt="" id="zoomimg"></span> <!-- 2018-01-22 .inner_roll-item 추가 -->
            </div>
        </div>
    </div>


    <div id="layer_snslogin" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_login">
            <strong class="tit_sub">간편 로그인</strong>
            <span class="txt">원하시는 계정을 선택해 로그인해 주세요.</span>
            <button class="btn_close" id="btn_close_comment" type="button">간편 로그인 닫기</button>
            <ul>
                <li>
                    <a class="i_jb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">중앙일보</a>
                </li>
                <li>
                    <a class="i_fb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">페이스북</a>
                </li>
                <li>
                    <a class="i_tw sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">트위터</a>
                </li>
                <li>
                    <a class="i_kk sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">카카오톡</a>
                </li>
                <li>
                    <a class="i_na sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">네이버</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- ver3 수정 -->
    <div id="layer_share" class="fulllayer">
        <!-- // layeron -->
        <div class="layer_sns">
            <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
            <ul>
                <li>
                    <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" onclick="javascript: fnSendSns('kakaotalk', '', '');" id="kakao-link">카카오톡</a>
                </li>
                <li>
                    <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);" onclick="javascript: fnSendSns('facebook', '', '');">페이스북</a>
                </li>
                <li>
                    <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);" onclick="javascript: fnSendSns('twitter', '', '');">트위터</a>
                </li>
                <li>
                    <a class="ml" href="javascript:void(0);" onclick="javascript: fnSendSns('mail', '', '[썰리 - 썰로 푸는 이슈 정리] @Model.Product.PD_TITLE.Replace("'", "\'")');" title="이메일">메일</a>
                </li>
                <li>
                    <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사" onclick="javascript:fnSendSns('url','','')">링크복사</a>
                </li>
            </ul>
            <button class="btn_txt btn_close" type="button">취소</button>
        </div>
    </div>
    <!-- //ver3 수정 -->

</div>

<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_viewUi.js?t=@ViewContext.ViewBag.JsCacheString"></script>
<script>
    var isStatusRestore = '@(Model.IsStatusRestore ? "Y" : "N")' == 'Y';

    var animationStatus = new function(){
        var _key = 'animation';

        this.get = function() {
            var items = SSullyStorage.getItem(_key) || new Array();
            var index = $.map(items, function(obj, idx) {
                var seq = @Model.Product.PD_SEQ;
                if (obj.seq == seq)
                    return idx;
            })[0];

            return {
                exist: index > -1,
                current_item: index > -1 ? items[index] : undefined,
                all_items: items
            };
        };

        this.setToggle = function() {
            var data = animationStatus.get();
            var animation_val = !data.exist || data.current_item.animation !== 'Y' ? 'Y' : 'N';

            if (data.exist)
                data.current_item.animation = animation_val;
            else
                data.all_items.push({ seq: @Model.Product.PD_SEQ, animation: animation_val});

            // 최근 20개까지만 저장 (slice)
            SSullyStorage.setItem(_key, data.all_items.slice(-20));
        };

        this.isShowAll = function() {
            var data = animationStatus.get();
            return !data.exist || data.current_item.animation !== 'Y';
        };
    };

    var pageStatus = new function() {
        var _key = 'page';

        /**
        * 현재 기사의 페이지 상태 데이터를 불러옵니다.
        */
        this.get = function() {
            var items = SSullyStorage.getItem(_key) || new Array();
            var index = $.map(items, function(obj, idx) {
                var seq = @Model.Product.PD_SEQ;
                if (obj.seq == seq)
                    return idx;
            })[0];

            return {
                exist: index > -1,
                current_item: index > -1 ? items[index] : undefined,
                all_items: items
            };
        };

        /**
        * 현재 페이지 상태를 저장합니다.
        */
        this.save = function(e) {
            var step = $('.btn-continue button.go-next').index($(this)) + 1;
            var data = pageStatus.get();

            if (data.exist)
                data.current_item.step = step;
            else
                data.all_items.push({ seq: @Model.Product.PD_SEQ, step: step });

            // 최근 20개까지만 저장 (slice)
            SSullyStorage.setItem(_key, data.all_items.slice(-20));
        };
    };

    var page_status = pageStatus.get();

    var chatter_option = {
        auto: !page_status.exist,// && SSullyStorage.getItem('layer_coach') != null,
        from: page_status.exist ? page_status.current_item.step + 1 : 0
    };

    if (!isStatusRestore) {
        chatter_option.auto = true;// SSullyStorage.getItem('layer_coach') != null;
        chatter_option.from = 0;
    }

    $(function () {
        // 스티커 이미지 이벤트
        $('section div.unit img.emotion').on('error', function(e) {
            $(this).attr('src', 'https://images.joins.com/ssully/common/img_non_sticker.png');
            return false;
        });
        // 코치레이어 (비활성)
        //SSullyStorage.getItem('layer_coach') ? $("#coachmark").hide() : $("#coachmark").show();

        if (!animationStatus.isShowAll()) {
            // 애니메이션 보기
            if (isStatusRestore)
                $('.btn-continue button.go-next').on('click', pageStatus.save);

            $('.btn_show').removeClass('active').find('span').text('애니메이션 보기');
        } else {
            // 전체보기
            $('.chat-view').addClass('show-all');
            $('.btn_show').addClass('active').find('span').text('전체보기');

            $(window).on({
                "scroll touchmove":function(){
                    $.each($(".roll-item, .speaker"),function(i,e){
                        var viewFlag = intoView($(e), false);
                        if(viewFlag) $(e).addClass('view');
                    });
                }
            }).trigger("scroll");

            $(window).scrollTop(SSullyStorage.getItem('scroll'));
            SSullyStorage.removeItem('scroll');
        }

        $('.btn_show').on('click', function (e) {
            // 전체보기로 전환 시 현재 스크롤 위치 임시저장
            if (!animationStatus.isShowAll())
                SSullyStorage.setItem('scroll', $('section').scrollTop());

            animationStatus.setToggle();
            location.reload();
        });

        //$("#coachmark").on("click",function(e) {
        //    SSullyStorage.setItem("layer_coach", true);
        //});
    });

    $(document).ready(function(){
        var chatView = $(".chat-view");

        // 애니메이션 모드일때
        if(!chatView.hasClass("show-all")){
            $(".chat-view").addClass('loaded');

            /**
             * [[[[[[roll_chat]]]]]
             * @@timer : interval duration (기본값 1000)
             * @@effect : 효과 {fade, up, out-to-in}
             * @@nextBtn : 다음섹션버튼 {jQuery selector}
             * @@auto : 자동 시작 {boolean} - true 이면 from값 세팅 안함 / 이어보기, 코치마크 있을시는 false로 세팅
             * @@from : 기본값 0(auto:true), 1이상일땐 auto:false
             *
             *
             * {{public function}}
             * - getLastread_seq() : 마지막으로 봤던 container index 가져오기
             * - chatStart() : interval 활성화
             * - chatPause() : 일시정지
             */
            var chatter = $(".chat-cont").roll_chat($.extend({
                timer: 800,
                auto: true,
                from: 0,
                effect: "out-to-in",
                nextBtn: '.btn-continue'
            }, chatter_option));

            //chatter.getLastread_seq();
            //chatter.chatStart();
            //chatter.chatPause();



            /* 가이드 수정 s : 2018.08 */
            var init_coachmark = (function(){
                var top_pos;
                if($("#link-to-app").length>0){
                    top_pos = parseInt($(".btn_show").css("top")) + 25

                    $("#coachmark .coach1").css({
                        top:top_pos+'px'
                    });
                }
            })();
            /* 가이드 수정 e : 2018.08 */

            $("#coachmark").on("click",function(e){
                e.preventDefault();
                $(this).fadeOut(200,function(){
                    chatter.chatStart();
                });
            });

        }
    });
</script>

@if (!Model.IsNews10)
{
<text>
<!-- 2018.11 애니메이션 스크립트 s -->
<script src="https://static.joins.com/html/mobile/ssuly/html/js/lottie.min.js"></script>
<script src="https://static.joins.com/html/mobile/ssuly/html/js/icon_interaction.js"></script>
<!-- 2018.11 애니메이션 스크립트 e -->

<script type="text/template" id="scrap-template">
    <!-- 2018.11 스크랩, 좋아요버튼 (하단) s
        * 본문마지막, summary 나오기 전에 삽입
        * roll-block
    -->
    <div class="unit _list roll-block my-btns">
        <a href="" class="btn-scrap@("Y".Equals(Model.Product.SCRAP_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">스크랩</a>
        <a href="" class="btn-favorite@("Y".Equals(Model.Product.LIKE_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">
            @if (Model.Product.LIKE_CNT > 0)
            {
                <span>@string.Format("{0:N0}", Model.Product.LIKE_CNT)</span>
            }
        </a>
    </div>
    <!-- 2018.11 스크랩, 좋아요버튼 (하단) e -->
</script>
<script type="text/javascript">
    $(function() {
        var login_callback = function() {
            location.replace('/User/Login');
            return false;
        };

        $($('script#scrap-template').html()).insertAfter('section ._chat:last');
        /**
         * 좋아요, 스크랩 클릭 Start
         * 2018.11
         * btn-scrap : 스크랩버튼
         * btn-favorite : 좋아요버튼
         */
        // 로그인 상태면 is_login = true;
        var is_login = @(LoginHelper.IsLogin ? "true" : "false");
        var click_flag = true;
        var timer;

        // 애니메이션 instance
        var bookmarkObj = new Interactions('bookmark');
        var likeObj = new Interactions('like');
        bookmarkObj.init($.extend({}, bookmarkObj.getOptions(), { path: '@(Request.Url.GetLeftPart(UriPartial.Scheme | UriPartial.Authority) + "/scripts/interaction_bookmark.json")' }));
        likeObj.init($.extend({}, likeObj.getOptions(), { path: '@(Request.Url.GetLeftPart(UriPartial.Scheme | UriPartial.Authority) + "/scripts/interaction_love_it.json")' }));

        $('.my-btns a.btn-scrap').on('click', function(e) {
            // 스크랩
            e.preventDefault();

            var product_seq = @Model.Product.PD_SEQ;
            var $target = $('.my-btns a.btn-scrap');

            if(!is_login) {
                show_loginlayer('scrap', login_callback);
                return;
            }

            if (click_flag) {
                $.post('/View/' + product_seq + '/Api/Scrap', function(response) {
                    if (response.hasOwnProperty('ssully_login_result'))
                        return;

                    if (response.result != 'Y')
                        return;

                    clearTimeout(timer);

                    if (response.scrap_yn == 'Y') {
                        click_flag = false;
                        $target.addClass('on');
                        bookmarkObj.play();

                        $(".anim-canvas.scrap").show();
                        timer = setTimeout(function() {
                            $(".anim-canvas.scrap").fadeOut(200, function(){
                                bookmarkObj.stop();
                                click_flag = true;
                            });
                        }, 500);
                    } else {
                        $target.removeClass('on');
                    }
                });
            }
        });
        $('.my-btns a.btn-favorite').on('click', function(e) {
            // 좋아요
            e.preventDefault();

            var product_seq = @Model.Product.PD_SEQ;
            var $target = $('.my-btns a.btn-favorite');

            if(!is_login) {
                show_loginlayer('like', login_callback);
                return;
            }

            if (click_flag) {
                $.post('/View/' + product_seq + '/Api/Like', function(response) {
                    if (response.hasOwnProperty('ssully_login_result'))
                        return;

                    if (response.result != 'Y')
                        return;

                    clearTimeout(timer);

                    if (response.total_like_cnt > 0)
                        $target.html('<span>' + response.total_like_cnt + '</span>');
                    else
                        $target.html('');

                    if (response.like_yn == 'Y') {
                        click_flag = false;
                        $target.addClass('on');
                        likeObj.play();

                        $(".anim-canvas.like").show();
                        timer = setTimeout(function() {
                            $(".anim-canvas.like").fadeOut(200, function(){
                                likeObj.stop();
                                click_flag = true;
                            });
                        }, 500);
                    } else {
                        $target.removeClass('on');
                    }
                });
            }
        });
    });
</script>
</text>
}