﻿@model Joins.Apps.SSully.Models.View.View

<!-- 스토리썰링 상세 container -->
<div class="container story@(Model.IsNews10 ? " no-header" : "")">

    <!-- HEADER -->
    <header class="sub">
        <h1 class="hidden">스토리썰링 상세보기</h1>

        @if (!Model.IsNews10)
        {
            <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>

            <!-- 2018.11 댓글 아이콘 추가 s -->
            <button type="button" class="btn-comment">
                @if (Model.CommentCount.HasValue && Model.CommentCount.Value > 0)
                {
                    <span class="num">@(Model.CommentCount.Value > 99 ? "99+" : Convert.ToString(Model.CommentCount.Value))</span>
                }
            </button>
			<!--// 2018.11 댓글 아이콘 추가 e -->


           <button type="button" class="btn_share openSnsShareService">
                <span>공유</span>
            </button>
        }
    </header>
    <!--// HEADER -->

    @if (!Model.IsNews10 && !string.IsNullOrEmpty(Request.UserAgent) && Request.UserAgent.ToLower().Contains("mobile"))
    {
    <!-- 2018.05.08 : 앱 광고 배너 start -->
    <div id="link-to-app">
        <a href="#" id="close-app-banner">닫기</a>
        <div class="banner-description">
            <p><strong>"그래도 이 정도는 알아야..."</strong></p>
            <p>꼭 챙겨야 할 시사이슈를 하루 하나씩!</p>
        </div>
        <a href="#" id="goto-store" target="_blank">앱 다운로드</a>
    </div>
    <!--// 2018.05.08 : 앱 광고 배너 end -->
    }

    <!-- View wrap -->
    <div class="view-wrap story-view">
        @Html.Raw(Joins.Apps.Common.Sully.ContentOptimizer.GetContentHtml(Model.Product, (Model.IsNews10 ? null : Model.RecommendProduct), Model.Content.PDC_ORG_CONTENT))
        
        <!-- pager -->
        <div class="pager"></div>
        <!--// pager -->
    </div>
    <!--// View wrap -->
    <!-- SNS login -->
    <div id="layer_snslogin" class="fulllayer ">
        <!-- // layeron -->
        <div class="layer_login">
            <strong class="tit_sub">간편 로그인</strong>
            <span class="txt">원하시는 계정을 선택해 로그인해 주세요.</span>
            <button class="btn_close" id="btn_close_comment" type="button">간편 로그인 닫기</button>
            <ul>
                <li>
                    <a class="i_jb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">중앙일보</a>
                </li>
                <li>
                    <a class="i_fb sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">페이스북</a>
                </li>
                <li>
                    <a class="i_tw sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">트위터</a>
                </li>
                <li>
                    <a class="i_kk sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">카카오톡</a>
                </li>
                <li>
                    <a class="i_na sns_login" href="https://my.joins.com/login/login_mobile_web_type2.asp" target="_self">네이버</a>
                </li>
            </ul>
        </div>
    </div>
    <!--// SNS login -->
    <!-- 공유하기 -->
    <div id="layer_share" class="fulllayer">
        <!-- // layeron -->
        <div class="layer_sns">
            <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
            <ul>
                <li>
                    <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" onclick="javascript: fnSendSns('kakaotalk', '', '');" id="kakao-link">카카오톡</a>
                </li>
                <li>
                    <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);" onclick="javascript: fnSendSns('facebook', '', '');">페이스북</a>
                </li>
                <li>
                    <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);" onclick="javascript: fnSendSns('twitter', '', '');">트위터</a>
                </li>
                <li>
                    <a class="ml" href="javascript:void(0);" onclick="javascript: fnSendSns('mail', '', '[썰리 - 썰로 푸는 이슈 정리] @Model.Product.PD_TITLE.Replace("'", "\'")');" title="이메일">메일</a>
                </li>
                <li>
                    <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사" onclick="javascript:fnSendSns('url','','')">링크복사</a>
                </li>
            </ul>
            <button class="btn_txt btn_close" type="button">취소</button>
        </div>
    </div>
    <!--// 공유하기 -->
    <!-- imgView -->
    <div id="imgView" class="fulllayer ">
        <div id="test" style="position:fixed;top:70px;left:20px;font-size:20px;color:#fff;z-index:200"></div>
        <!-- // layeron -->
        <div class="layer_pop">
            <div class="layer_header">
                <h2>@Model.Product.PD_TITLE</h2>
                <!-- ver3_1 수정 -->
                <button type="button" class="btn-closelayer">
                    <span>닫기</span>
                </button>
                <!-- //ver3_1 수정 -->
            </div>
            <div class="thumb">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    </div>
                </div>

                <div class="caption">
                    <p class="txt"></p>
                    <div class="navi">
                        <span class="cur"></span>/<span class="total"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// imgView -->

</div>
<!--// 스토리썰링 상세 container -->


<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_story.js?t=@ViewContext.ViewBag.JsCacheString"></script>
