﻿@model Joins.Apps.SSully.Models.View.View

<!-- 코너 container 2018.09 -->
<div class="container presso-view@(Model.IsNews10 ? " no-header" : "")">
    <header>
        @if (!Model.IsNews10)
        {
            <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>

            <!-- 2018.11 댓글 아이콘 추가 s -->
            <button type="button" class="btn-comment">
                @if (Model.CommentCount.HasValue && Model.CommentCount.Value > 0)
                {
                    <span class="num">@(Model.CommentCount.Value > 99 ? "99+" : Convert.ToString(Model.CommentCount.Value))</span>
                }
            </button>
			<!--// 2018.11 댓글 아이콘 추가 e -->

            <button type="button" class="btn_share openSnsShareService">
                <span>공유</span>
            </button>
        }
    </header>

    @if (!Model.IsNews10 && !string.IsNullOrEmpty(Request.UserAgent) && Request.UserAgent.ToLower().Contains("mobile"))
    {
    <!-- 2018.04.17 : 앱 광고 배너 start -->
        <div id="link-to-app">
            <a href="#" id="close-app-banner">닫기</a>
            <div class="banner-description">
                <p><strong>"그래도 이 정도는 알아야..."</strong></p>
                <p>꼭 챙겨야 할 시사이슈를 하루 하나씩!</p>
            </div>
            <a href="javascript:void(0);" id="goto-store" target="_blank" onclick="javascript:SSullyMobileApp.market();">앱 다운로드</a>
        </div>
    <!--// 2018.04.17 : 앱 광고 배너 end -->
    }

    <article class="view-wrap">
        <!-- 타이틀 영역 -->
        <div class="presso-cover">
            <div class="cover-img" data-background="@Model.Product.PD_IMG_URL"></div>
            <div class="cover-txt">
                <h1>@Html.Raw(Model.Product.PD_TITLE)</h1>
                <p class="date">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(Model.Product.PD_SERVICE_DT))</p>

                <!-- 2018.11 스크랩, 좋아요버튼 (상단) s -->
                <div class="my-btns">
                    <a href="" class="btn-scrap@("Y".Equals(Model.Product.SCRAP_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">스크랩</a>
                    <a href="" class="btn-favorite@("Y".Equals(Model.Product.LIKE_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">
                        @if (Model.Product.LIKE_CNT > 0)
                        {
                            <span>@(Model.Product.LIKE_CNT > 999 ? "999+" : string.Format("{0:N0}", Model.Product.LIKE_CNT))</span>
                        }
                    </a>
                </div>
                <!-- 2018.11 스크랩, 좋아요버튼 (상단) e -->

            </div>
        </div>
        <!--// 타이틀 영역 -->
        <!-- 기사 본문 -->
        <!--
            <p class="unit subject"></p> 				: 단락 타이틀
            <p class="unit subject conclusion"></p>   	: 요약 타이틀
            <p class="unit plain"></p>   				: 일반 텍스트
            <blockquote class="unit"></blockquote>		: 인용구
        -->
        <div class="presso-article">
            @Html.Raw(Joins.Apps.Common.Sully.ContentOptimizer.GetContentHtml(Model.Product, (Model.IsNews10 ? null : Model.RecommendProduct), Model.Content.PDC_ORG_CONTENT))

            <!-- 2018.11 스크랩, 좋아요버튼 (하단) -->
            <div class="my-btns">
                <a href="" class="btn-scrap@("Y".Equals(Model.Product.SCRAP_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">스크랩</a>
                <a href="" class="btn-favorite@("Y".Equals(Model.Product.LIKE_YN, StringComparison.OrdinalIgnoreCase) ? " on" : string.Empty)">
                    @if (Model.Product.LIKE_CNT > 0)
                    {
                        <span>@string.Format("{0:N0}", Model.Product.LIKE_CNT)</span>
                    }
                </a>

            </div>
            <!-- 2018.11 스크랩, 좋아요버튼 (하단) e -->
        </div>
        <!--// 기사 본문 -->

        @if (Model.RecommendProduct?.Count() > 0)
        {
        <!-- 추천 기사 : 기존과 동일 -->
        <div class="recommend">
            <dl class="cat">
                <dt>이것도 알려줄까? 썰리의 추천</dt>
                @foreach (var item in Model.RecommendProduct.Take(3))
                {
                <dd>
                    <a href="/View/@item.PD_SEQ">
                        <span class="profile"><img src="@item.PD_IMG_URL" alt=""></span>
                        <span class="txt">
                            <strong>@item.PD_TITLE</strong>
                            <span class="time">@string.Format("{0:yyyy.MM.dd}", Convert.ToDateTime(item.PD_SERVICE_DT))</span>
                        </span>
                    </a>
                </dd>
                }
            </dl>
        </div>
        <!--// 추천 기사 : 기존과 동일-->
        }
    </article>

    <!-- 2018.11 애니메이션 -->
    <div class="anim-canvas scrap"></div>
    <div class="anim-canvas like"></div>
</div>
<!--// 코너 container 2018.09 -->

<!-- 공유하기 -->
<div id="layer_share" class="fulllayer">
    <!-- // layeron -->
    <div class="layer_sns">
        <strong class="tit_sub">공유하기</strong> <!-- ver3_1 수정 -->
        <ul>
            <li>
                <a class="kk" data-target="news" data-service="kakaotalk" href="javascript:void(0);" onclick="javascript: fnSendSns('kakaotalk', '', '');" id="kakao-link">카카오톡</a>
            </li>
            <li>
                <a class="fb" data-target="news" data-service="facebook" href="javascript:void(0);" onclick="javascript: fnSendSns('facebook', '', '');">페이스북</a>
            </li>
            <li>
                <a class="tw" data-target="news" data-service="twitter" href="javascript:void(0);" onclick="javascript: fnSendSns('twitter', '', '');">트위터</a>
            </li>
            <li>
                <a class="ml" href="javascript:void(0);" onclick="javascript: fnSendSns('mail', '', '[썰리 - 썰로 푸는 이슈 정리] @Model.Product.PD_TITLE.Replace("'", "\'")');" title="이메일">메일</a>
            </li>
            <li>
                <a class="url_copy" href="javascript:void(0);" target="_blank" title="링크복사" onclick="javascript:fnSendSns('url','','')">링크복사</a>
            </li>
        </ul>
        <button class="btn_txt btn_close" type="button">취소</button>
    </div>
</div>
<!--// 공유하기 -->

<script src="https://static.joins.com/html/mobile/ssuly/html/js/bundle/corner_list.bundle.js?t=@ViewContext.ViewBag.JsCacheString"></script>

@if (Model.IsNews10)
{
    <text>
    <script type="text/javascript">
        $(function () {
            $('.presso-article p.unit a').contents().unwrap();
        });
    </script>
    </text>
}
else
{
<text>
<!-- 2018.11 애니메이션 스크립트 s -->
<script src="https://static.joins.com/html/mobile/ssuly/html/js/lottie.min.js"></script>
<script src="https://static.joins.com/html/mobile/ssuly/html/js/icon_interaction.js"></script>
<!-- 2018.11 애니메이션 스크립트 e -->
<script type="text/javascript">
    $(function () {
        // 로그인 확인버튼
        var login_callback = function() {
            location.replace('/User/Login');
            return false;
        };

        /**
         * 좋아요, 스크랩 클릭 Start
         * 2018.11
         * btn-scrap : 스크랩버튼
         * btn-favorite : 좋아요버튼
         */
        // 로그인 상태면 is_login = true;
        var is_login = @(LoginHelper.IsLogin ? "true" : "false");
        var click_flag = true;
        var timer;

        // 애니메이션 instance
        var bookmarkObj = new Interactions('bookmark');
        var likeObj = new Interactions('like');
        bookmarkObj.init($.extend({}, bookmarkObj.getOptions(), { path: '@(Request.Url.GetLeftPart(UriPartial.Scheme | UriPartial.Authority) + "/scripts/interaction_bookmark.json")' }));
        likeObj.init($.extend({}, likeObj.getOptions(), { path: '@(Request.Url.GetLeftPart(UriPartial.Scheme | UriPartial.Authority) + "/scripts/interaction_love_it.json")' }));

        $('.my-btns a.btn-scrap').on('click', function(e) {
            // 스크랩
            e.preventDefault();

            var product_seq = @Model.Product.PD_SEQ;
            var $target = $('.my-btns a.btn-scrap');

            if(!is_login) {
                show_loginlayer('scrap', login_callback);
                return;
            }

            if (click_flag) {
                $.post('/View/' + product_seq + '/Api/Scrap', function(response) {
                    if (response.hasOwnProperty('ssully_login_result'))
                        return;

                    if (response.result != 'Y')
                        return;

                    clearTimeout(timer);

                    if (response.scrap_yn == 'Y') {
                        click_flag = false;
                        $target.addClass('on');
                        bookmarkObj.play();

                        $(".anim-canvas.scrap").show();
                        timer = setTimeout(function() {
                            $(".anim-canvas.scrap").fadeOut(200, function(){
                                bookmarkObj.stop();
                                click_flag = true;
                            });
                        }, 500);
                    } else {
                        $target.removeClass('on');
                    }
                });
            }
        });
        $('.my-btns a.btn-favorite').on('click', function(e) {
            // 좋아요
            e.preventDefault();

            var product_seq = @Model.Product.PD_SEQ;
            var $target = $('.my-btns a.btn-favorite');

            if(!is_login) {
                show_loginlayer('scrap', login_callback);
                return;
            }

            if (click_flag) {
                $.post('/View/' + product_seq + '/Api/Like', function(response) {
                    if (response.hasOwnProperty('ssully_login_result'))
                        return;

                    if (response.result != 'Y')
                        return;

                    clearTimeout(timer);

                    if (response.total_like_cnt > 0)
                        $target.html('<span>' + response.total_like_cnt + '</span>');
                    else
                        $target.html('');

                    if (response.like_yn == 'Y') {
                        click_flag = false;
                        $target.addClass('on');
                        likeObj.play();

                        $(".anim-canvas.like").show();
                        timer = setTimeout(function() {
                            $(".anim-canvas.like").fadeOut(200, function(){
                                likeObj.stop();
                                click_flag = true;
                            });
                        }, 500);
                    } else {
                        $target.removeClass('on');
                    }
                });
            }
        });
    });
</script>
</text>
}