﻿@model  Joins.Apps.Cms.Models.Sully.Comment.ReportInfo

<strong><i class="fa fa-newspaper-o margin-r-5"></i> 프로덕트 제목</strong>
<p class="text-muted"><a href="/sully/product/edit?pno=@Model.Comment.pd_seq" target="_blank">@Model.Comment.pd_title</a> <i class="fa fa-fw fa-external-link"></i></p>
<hr>
<strong><i class="fa fa-pencil-square-o margin-r-5"></i> 댓글내용</strong>
<p class="text-muted">@Model.Comment.cmt_content</p>
<hr>
<div style="margin: 10px 0;"></div>
<strong><i class="fa fa-commenting-o margin-r-5"></i> 신고 리스트</strong>
<div style="margin: 10px 0;"></div>
@foreach (var item in Model.Report.Data)
{
    <div class="post">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="@item.report_mem_image" alt="user image">
            <span class="username">
                <a href="#" onclick="javascript: return false;">@item.report_mem_nick_nm</a>
                @if ("G".Equals(item.report_mem_type))
                {
                    <span class="bg-red" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Google</span>
                }
                else if ("F".Equals(item.report_mem_type))
                {
                    <span class="bg-blue" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Facebook</span>
                }
                else if ("K".Equals(item.report_mem_type))
                {
                    <span class="bg-yellow" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Kakao</span>
                }
                else if ("N".Equals(item.report_mem_type))
                {
                    <span class="bg-green" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Naver</span>
                }
                else
                {
                    <span class="bg-gray-light" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Unknown (@item.report_mem_type)</span>
                }

                @if ("R".Equals(item.report_status, StringComparison.OrdinalIgnoreCase))
                {
                    <span class="label label-info" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">@item.report_status_text</span>
                }
                else
                {
                    <span class="label label-default" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">@item.report_status_text</span>
                }
            </span>
            <span class="description">@item.report_reg_dt</span>
        </div>
        <p>
            @item.report_comment
        </p>
    </div>
}

<div class="row text-center">
    @Html.Pager(Model.Report, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Model.PageParam })
</div>