﻿@model Joins.Apps.Cms.Models.Sully.App.Version
@{
    ViewBag.MenuCode = "M030801";
}
@Html.Navigator("버전관리", "모바일 어플리케이션의 현재 버전을 관리합니다.", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "App관리", Active = false },
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "버전관리", Active = true }
})

<section class="content">
    <div class="box">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group" data-target="A">
                    <label class="col-sm-1 control-label">안드로이드</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control app_version" value="@Model.Android.Version" placeholder="버전을 입력해 주세요.">
                        <small class="label bg-blue update">최근 수정일 : <span>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.Android.ModifyDate)</span></small>
                    </div>
                    <div class="col-sm-8">
                        <input type="hidden" class="app_required" value="@Model.Android.RequiredYN" />
                        <a class="btn btn-xs @("Y".Equals(Model.Android.RequiredYN, StringComparison.OrdinalIgnoreCase) ? "bg-olive" : "bg-gray") btn-update">
                            <i class="fa @("Y".Equals(Model.Android.RequiredYN, StringComparison.OrdinalIgnoreCase) ? "fa-check-circle-o" : "fa-circle-o")"></i> 필수 업데이트
                        </a>

                        <button class="btn btn-info btn-save" style="margin-left: 40px;">저장</button>
                        <button class="btn btn-warning btn-load-store">현재 앱스토어 버전 불러오기</button>
                    </div>
                </div>
                <div class="form-group" data-target="I">
                    <label class="col-sm-1 control-label">iOS</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control app_version" value="@Model.IOS.Version" placeholder="버전을 입력해 주세요.">
                        <small class="label bg-blue update">최근 수정일 : <span>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.IOS.ModifyDate)</span></small>
                    </div>
                    <div class="col-sm-8">
                        <input type="hidden" class="app_required" value="@Model.IOS.RequiredYN" />
                        <a class="btn btn-xs @("Y".Equals(Model.IOS.RequiredYN, StringComparison.OrdinalIgnoreCase) ? "bg-olive" : "bg-gray") btn-update">
                            <i class="fa @("Y".Equals(Model.IOS.RequiredYN, StringComparison.OrdinalIgnoreCase) ? "fa-check-circle-o" : "fa-circle-o")"></i> 필수 업데이트
                        </a>
                        <button class="btn btn-info btn-save" style="margin-left: 40px;">저장</button>
                        <button class="btn btn-warning btn-load-store">현재 앱스토어 버전 불러오기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('a.btn-update').on('click', function (e) {
            var el = $(this);
            var parent = el.closest('div[data-target]');

            parent.find('input.app_required').val(el.hasClass('bg-olive') ? 'N' : 'Y');
            el.toggleClass('bg-olive').toggleClass('bg-gray')
                        .find('i.fa').toggleClass('fa-check-circle-o').toggleClass('fa-circle-o');

            return false;
        });

        $('button.btn-load-store').on('click', function (e) {
            var parent = $(this).closest('div[data-target]');

            $.getJSON('store_version', {}, function (data) {
                var version = '';
                if (parent.data('target') == 'A')
                    version = $.trim(data.Result.android);
                else if (parent.data('target') == 'I')
                    version = $.trim(data.Result.ios);

                if (version.length == 0) {
                    alert('앱 버전 정보를 확인할 수 없습니다.');
                } else {
                    parent.find('input.app_version').val(version);
                    alert('버전정보를 불러왔습니다.');
                }
            });

            return false;
        });

        $('button.btn-save').on('click', function (e) {
            var el = $(this);
            var parent = el.closest('div[data-target]');

            var os = parent.data('target');
            var txtVersion = parent.find('input.app_version');
            var txtRequired = parent.find('input.app_required');

            if ($.trim(txtVersion.val()).length == 0) {
                alert('버전을 입력해 주시기 바랍니다.');
                txtVersion.focus();
                return false;
            }
            
            if (confirm('저장하시겠습니까?')) {
                $.post('/sully/app/version', {
                    os: os,
                    version: txtVersion.val(),
                    requiredyn: txtRequired.val()
                }, function (data) {
                    if (data.result == 'Y') {
                        txtVersion.val(data.version);
                        txtRequired.val(data.required_yn);
                        parent.find('small.update span').text(data.update_dt);
                        alert('저장되었습니다.');
                    } else {
                        alert('저장하지 못했습니다.');
                    }
                });
            }

            return false;
        });
    });
    //]]>
</script>