﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Joins Mobile App Service CMS</h1>*@
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-edit"></i>

                    <h3 class="box-title"></h3>
                </div>
                @*<div class="box-body pad table-responsive">
                    <p>News10, 이슈, 영상등 cruz api 리셋 </p>
                    <table class="table table-bordered text-center">
                        <tbody>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-block btn-primary btn-lg">NEWS10 & Issue 리셋</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@
                <!-- /.box -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</section>