﻿@model Joins.Apps.Models.Sully.SSullyMainLayoutCMS

<li class="item" data-multiple="false" data-sortable="true" data-type="list-widget-banner" style="display: @(Model != null && ViewBag.IsTemplate ? "none": "inline-block");">
    <div class="header form-group">
        <i class="fa fa-trash pull-right"></i>
        <span><i class="fa fa-image"></i> <small>배너 위젯</small></span>
    </div>
    <div class="form-group detail">
        <button class="btn btn-xs pull-right btn-banner-regist" style="margin-bottom: 15px; background-color: #644ffc; color: #fff;">등록</button>
        <button class="btn btn-xs pull-right btn-banner-list" style="margin-right: 10px; margin-bottom: 15px; background-color: #644ffc; color: #fff;">내역보기</button>
    </div>
</li>