﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.SSullyMainLayoutBannerCMS>

<table class="table table-hover dataTable">
    <thead>
        <tr class="bg-gray-light">
            <th>순서</th>
            <th>프로덕트 제목</th>
            <th>상태</th>
            <th>이미지</th>
            <th>노출일시</th>
            <th>노출여부</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data.Count() > 0)
        {
            foreach (var item in Model.Data)
            {
                <tr class="odd">
                    <td style="vertical-align: middle;"><small>@item.Rownum</small></td>
                    <td style="vertical-align: middle;"><small>@item.PDTitle</small></td>
                    <td style="vertical-align: middle;" class="text-center">
                        <small>
                            @if ("R".Equals(item.PDServiceStatus, StringComparison.OrdinalIgnoreCase))
                            {
                                <text>대기</text>
                            }
                            else if ("L".Equals(item.PDServiceStatus, StringComparison.OrdinalIgnoreCase))
                            {
                                if (DateTime.Now.CompareTo(item.PDServiceDT) > 0)
                                {
                                    <text>서비스중</text>
                                }
                                else
                                {
                                    <text>예약대기중</text>
                                }
                            }
                            else if ("S".Equals(item.PDServiceStatus, StringComparison.OrdinalIgnoreCase))
                            {
                                <text>서비스중지</text>
                            }
                            else if ("E".Equals(item.PDServiceStatus, StringComparison.OrdinalIgnoreCase))
                            {
                                <text>종료</text>
                            }
                            <br />(@string.Format("{0:yyyy-MM-dd HH:mm}", item.PDServiceDT))
                        </small>
                    </td>
                    <td style="vertical-align: middle;"><div class="banner_preview" style="background-color: @item.BackgroundColor;"><img src="@item.ImageUrl" style="max-width: 150px;"></div></td>
                    <td style="vertical-align: middle;"><small>@string.Format("{0:yyyy-MM-dd HH:mm} ~ {1:yyyy-MM-dd HH:mm}", item.ReservationDT, item.ReservationEndDT)</small></td>
                    <td style="vertical-align: middle;" class="text-center"><small>@item.Show</small></td>
                    <td style="vertical-align: middle;" class="text-center"><button class="btn btn-xs btn-danger btn-delete" data-seq="@item.PDSeq" data-image="@item.ImageUrl">삭제</button></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">데이터가 없습니다.</td>
            </tr>
        }
    </tbody>
</table>
<div class="row text-center">
    @Html.Pager(Model)
</div>
