﻿@model Joins.Apps.Models.Sully.SSullyMainLayoutCMS

<li class="item" data-multiple="true" data-sortable="true" data-type="list-normal">
    <div class="header form-group">
        <i class="fa fa-trash pull-right"></i>
        <span><i class="fa fa-list"></i> <small>기본리스트 (일부)</small></span>
    </div>
    <div class="form-group detail">
        <label><small>프로덕트 갯수</small></label>
        <input type="number" min="1" max="99" class="number"@Html.Raw(!ViewBag.IsTemplate && Model != null ? string.Format(@" value=""{0}""", Model.ProductCount) : "") />개
    </div>
</li>