﻿@model Joins.Apps.Models.Sully.SSullyMainLayoutCMS

<li class="item" data-multiple="false" data-sortable="true" data-type="list-story" style="display: @(Model != null && ViewBag.IsTemplate ? "none": "inline-block");">
    <div class="header form-group no-underline">
        <i class="fa fa-trash pull-right"></i>
        <span><i class="fa fa-book"></i> <small>스토리썰링</small></span>
    </div>
</li>