﻿@model Joins.Apps.Models.Sully.SSullyMainLayoutCMS

<li class="item" data-multiple="false" data-sortable="true" data-type="list-widget-weeklyrank" style="display: @(Model != null && ViewBag.IsTemplate ? "none": "inline-block");">
    <div class="header form-group no-underline">
        <i class="fa fa-trash pull-right"></i>
        <span><i class="fa fa-list-ol"></i> <small>주간차트 위젯</small></span>
    </div>
</li>