﻿@model IEnumerable<Joins.Apps.Models.Sully.ShowcaseSearchNotice>

@foreach (var item in Model)
{
    <div class="attachment-block margin-bottom-none" style="border-radius: 20px; padding: 5px 10px 8px 10px; margin-right: 5px;">
        <button class="btn-add btn btn-xs fa fa-plus pull-right" title="선택"></button>
        <div>
            <h5 class="attachment-heading">
                <a class="title" href="/sully/notice/detail/@item.SEQ" target="_blank" data-seq="@item.SEQ">@item.TITLE</a> <small>(@string.Format("{0:yyyy-mm-dd HH:mm:ss}", item.REG_DT))</small>
            </h5>
            <small class="showcase-desc attachment-text"></small>
        </div>
    </div>
}