﻿@model IEnumerable<Joins.Apps.Models.Sully.SSullyMainLayoutCMS>


<div class="col-xs-6" style="border-right: 1px solid #ccc;">
    <div class="form-control" style="font-size: 14px; border-width: 0px; border-top: 3px solid #949494; background-color: #f2f2f2; border-top-left-radius: 10px; border-top-right-radius: 10px; margin-bottom: 0px;">레이아웃 구성</div>
    <ul class="col-xs-12 list-layout">
        <li class="item item-disabled" data-multiple="false" data-sortable="false" data-type="list-normal-infinite">
            <div class="header form-group no-underline">
                <span>
                    <i class="fa fa-object-group"></i>
                    <small>쇼케이스 <span class="text-red"> <small>상단 고정</small></span></small>
                </span>
            </div>
        </li>
    </ul>
    <ul class="col-xs-12 list-layout list-area">
        @foreach (var item in Model)
        {
            if ("product".Equals(item.LayoutType, StringComparison.OrdinalIgnoreCase))
            {
                @Html.Partial("~/views/sully/main/partial/layout/product.cshtml", item, new ViewDataDictionary { { "IsTemplate", false } })
            }
            else if ("product_tour".Equals(item.LayoutType, StringComparison.OrdinalIgnoreCase))
            {
                @Html.Partial("~/views/sully/main/partial/layout/product_tour.cshtml", item, new ViewDataDictionary { { "IsTemplate", false } })
            }
            else if ("banner".Equals(item.LayoutType, StringComparison.OrdinalIgnoreCase))
            {
                @Html.Partial("~/views/sully/main/partial/layout/banner.cshtml", item, new ViewDataDictionary { { "IsTemplate", false } })
            }
            else if ("product_pedia".Equals(item.LayoutType, StringComparison.OrdinalIgnoreCase))
            {
                @Html.Partial("~/views/sully/main/partial/layout/product_pedia.cshtml", item, new ViewDataDictionary { { "IsTemplate", false } })
            }
            else if ("product_story".Equals(item.LayoutType, StringComparison.OrdinalIgnoreCase))
            {
                @Html.Partial("~/views/sully/main/partial/layout/product_story.cshtml", item, new ViewDataDictionary { { "IsTemplate", false } })
            }
            else if ("product_presso".Equals(item.LayoutType, StringComparison.OrdinalIgnoreCase))
            {
                @Html.Partial("~/views/sully/main/partial/layout/product_presso.cshtml", item, new ViewDataDictionary { { "IsTemplate", false } })
            }
            else if ("weekly_rank".Equals(item.LayoutType, StringComparison.OrdinalIgnoreCase))
            {
                @Html.Partial("~/views/sully/main/partial/layout/weeklyrank.cshtml", item, new ViewDataDictionary { { "IsTemplate", false } })
            }
        }
    </ul>
    <ul class="col-xs-12 list-layout">
        <li class="item item-disabled" data-multiple="false" data-sortable="false" data-type="list-normal-infinite">
            <div class="header form-group no-underline">
                <span>
                    <i class="fa fa-list"></i>
                    <small>기본리스트 (나머지 전체)<span class="text-red"> <small>하단 고정</small></span></small>
                </span>
            </div>
        </li>
    </ul>
</div>
<div class="col-xs-6">
    <ul class="col-xs-12 list-layout list-template">
        @Html.Partial("~/views/sully/main/partial/layout/product.cshtml", Model.FirstOrDefault(x => "product".Equals(x.LayoutType, StringComparison.OrdinalIgnoreCase)), new ViewDataDictionary { { "IsTemplate", true } })
        @*@Html.Partial("~/views/sully/main/partial/layout/product_story.cshtml", Model.FirstOrDefault(x => "product_story".Equals(x.LayoutType, StringComparison.OrdinalIgnoreCase)), new ViewDataDictionary { { "IsTemplate", true } })*@
        @Html.Partial("~/views/sully/main/partial/layout/product_pedia.cshtml", Model.FirstOrDefault(x => "product_pedia".Equals(x.LayoutType, StringComparison.OrdinalIgnoreCase)), new ViewDataDictionary { { "IsTemplate", true } })
        @*@Html.Partial("~/views/sully/main/partial/layout/product_tour.cshtml", Model.FirstOrDefault(x => "product_tour".Equals(x.LayoutType, StringComparison.OrdinalIgnoreCase)), new ViewDataDictionary { { "IsTemplate", true } })*@
        @Html.Partial("~/views/sully/main/partial/layout/product_presso.cshtml", Model.FirstOrDefault(x => "product_presso".Equals(x.LayoutType, StringComparison.OrdinalIgnoreCase)), new ViewDataDictionary { { "IsTemplate", true } })
        @Html.Partial("~/views/sully/main/partial/layout/weeklyrank.cshtml", Model.FirstOrDefault(x => "weekly_rank".Equals(x.LayoutType, StringComparison.OrdinalIgnoreCase)), new ViewDataDictionary { { "IsTemplate", true } })
        @Html.Partial("~/views/sully/main/partial/layout/banner.cshtml", Model.FirstOrDefault(x => "banner".Equals(x.LayoutType, StringComparison.OrdinalIgnoreCase)), new ViewDataDictionary { { "IsTemplate", true } })
    </ul>
</div>