﻿@model Joins.Apps.Models.Sully.Notice

<li id="notice_@Model.Seq">
    <button type="button" class="btn_acc">
        <span class="txt">@Model.Title</span>
        <span class="time">@string.Format("{0:yyyy.MM.dd}", Model.RegDate)</span>
    </button>
    <div class="con_acc">
        @Html.Raw(Model.Content)
    </div>
</li>