﻿    <section>
        <h3>개인정보처리방침</h3>
        <p>
            썰리(이하 ‘회사’라 함)는 회원 개개인의 프라이버시를 적극적이고 효과적으로 보호하며 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 모든 관련법규를 준수하기 위하여 개인정보처리방침을 제정하고 이를 준수하고 있습니다.
            <br><br>
            회사는 개인정보처리방침을 통하여 회원이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
            <br><br>
            본 개인정보처리방침은 관련 법령의 개정 및 회사의 내부 정책 변경에 따라 수시로 개정될 수 있으므로, 회원은 사이트 방문 시 이를 확인하여 주시기 바랍니다.
        </p>

        <div class="privacy-policy">
            <h4>1. 개인정보의 수집 및 이용목적</h4>
            <p>회사가 수집하는 개인정보의 구체적인 수집 및 이용목적은 다음과 같습니다.</p>
            <dl>
                <dt>•  필수 정보</dt>
                <dd>- 소셜 계정 이메일(ID)  : 사용자 로그인 데이터 구분</dd>
                <dd>- 닉네임 : 콘텐트 제작 활용</dd>
                <dd>- 프로필 사진 : 콘텐트 제작 활용</dd>
            </dl>
            <dl>
                <dt>•  선택 정보</dt>
                <dd class="msg">썰리 내 일부 기능은 사용자의 정보를 기반으로 특화된 기능을 제공합니다. 이에 따라 공통으로 수집하는 정보 외 이용자 동의 후 추가적인 개인정보를 수집할 수 있습니다.</dd>
                <dd>- 연령대 : 콘텐트 추천 목적</dd>
                <dd>- 성별 : 콘텐트 추천 목적</dd>
            </dl>

            <h4>2. 수집하는 개인정보의 항목</h4>
            <p>위와 같은 목적을 위해 회사가 수집하는 개인정보의 항목 및 방법은 아래와 같으며, 이는 개인정보의 처리 목적에 필요한 최소한임을 알려드립니다.</p>
            <ol class="member-orderedList">
                <li>
                    1) 수집 항목
                    <ul>
                        <li>- 소셜 계정 이메일, 닉네임, 프로필 사진, 연령대, 성별</li>
                    </ul>
                </li>
                <li>
                    2) 개인정보 수집 방법
                    <ul>
                        <li>- 회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의하고 직접 정보를 입력</li>
                        <li>- 제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우</li>
                        <li>- 온오프라인에서 진행되는 이벤트/행사 등 참여</li>
                    </ul>
                </li>
                </ul>
                <p class="sub-block">
                    서비스 이용 과정에서 사용자로부터 수집하는 개인정보는 아래와 같습니다.
                    <br><br>
                    PC웹, 모바일 웹/앱 이용 과정에서 단말기 정보(OS, 화면사이즈, 디바이스 아이디), IP 주소, 쿠키, 방문일시, 부정이용기록, 서비스 이용 기록 등의 정보가 자동으로 생성되어 수집될 수 있습니다.
                </p>

                <h4>3. 개인정보의 보유 및 이용기간</h4>
                <p>
                    회사는 회원의 개인정보를 수집 및 이용목적 내에서 고지 및 동의 받은 기간 동안 제한적으로 이용하고 있으며, 탈퇴를 요청하거나 동의를 철회하는 경우 지체 없이 파기합니다. 다만, 아래와 같이 관계법령에 의해 보관해야 하는 정보는 법령이 정하는 기간 동안 보관합니다.
                </p>
                <dl>
                    <dt>• 관계법령에 따른 개인정보의 보관</dt>
                    <dd>- 서비스 이용 관련 개인정보(로그인 기록) : 3개월(통신비밀보호법)</dd>
                    <dd>- 표시/광고에 관한 기록 : 6개월 (전자상거래등에서의 소비자보호에 관한 법률)</dd>
                    <dd>- 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</dd>
                    <dd>- 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</dd>
                    <dd>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)</dd>
                    <dd>- 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률)</dd>
                </dl>

                <h4>4. 개인정보 제 3자 제공</h4>
                <p>
                    회사는 회원의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 개인정보의 수집 및 이용목적에서 고지한 범위를 넘어 개인정보를 이용하거나 제3자에게 제공하지 않습니다. 개인정보를 제공하거나 공유하는 경우에는 사전에 회원에게 제공받거나 공유하는 자가 누구이며 제공 또는 공유되는 개인정보 항목이 무엇인지 등에 대해 개인정보 수집에 대한 동의 절차에 따라 회원께서 동의 또는 거부할 수 있도록 조치하거나 개별적으로 전자우편 또는 서면을 통해 고지한 후에 이에 대한 동의를 구합니다.
                    <br><br>
                    다만, 다음의 경우에는 관련 법령의 규정에 의하여 회원의 동의 없이 개인정보를 제공하는 것이 가능합니다.
                </p>
                <ul>
                    <li>- 서비스 제공에 따른 요금정산을 위해 필요한 경우</li>
                    <li>- 법령의 규정에 의거하거나 수사의 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
                    <li>- 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우</li>
                </ul>

                <h4>5. 개인정보 위탁처리</h4>
                <p>
                    회사는 서비스 향상을 위해서 다음과 같이 개인정보를 위탁할 수 있으며, 수탁업체와의 위탁계약체결을 통해 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하겠습니다.
                </p>

                <h4>6. 개인정보 수집에 대한 동의</h4>
                <p>
                    회사는 회원의 개인정보 수집에 대한 동의를 받고 있습니다. 최초 가입 시 해당 사항에 대해 "동의"버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 간주합니다.
                </p>

                <h4>7. 개인정보 보호책임자</h4>
                <p>
                    회사는 회원의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 개인정보 보호책임자를 두고 있습니다. 개인정보와 관련한 문의사항이 있으시면 아래의 개인정보 보호책임자에게 연락 주시기 바랍니다. 회원의 문의사항에 신속하고 성실하게 답변해 드리겠습니다.
                </p>

                <p class="sub-block">* 개인정보 보호 책임자</p>
                <ul>
                    <li>이름 : 박성우</li>
                    <li>소속 : 중앙일보 썰리서비스팀</li>
                    <li>전화 : <a href="tel://02-751-9705">02-751-9705</a></li>
                    <li>e-mail : <a href="mailto:blast@joongang.co.kr">blast@joongang.co.kr</a></li>
                    <li>fax : <a href="tel://02-751-9777">02-751-9777</a></li>
                </ul>

                <h4>8. 개인정보 자동수집 장치의 설치 및 운영</h4>
                <p>
                    회사는 회원의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 웹사이트를 운영하는데 이용되는 서버가 회원의 브라우저에 보내는 아주 작은 텍스트 파일로서 회원의 컴퓨터 하드디스크에 저장됩니다. 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.
                </p>
                <ul>
                    <li>1) 회원과 비회원의 접속 빈도나 방문 시간 등을 분석하고 회원의 취향과 관심분야를 파악하여 타겟(target) 마케팅 및 서비스 개편 등의 척도로 활용합니다.</li>
                    <li>2) 회사가 진행하는 각종 이벤트에서 회원의 참여 정도 및 방문 회수를 파악하여 차별적인 응모 기회를 부여하고 개인의 관심 분야에 따라 차별화된 정보를 제공하기 위한 자료로 이용됩니다.</li>
                </ul>
                <p>
                    회원은 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 회원은 웹브라우저에서 옵션(도구>인터넷 옵션)을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
                    <br><br>
                    쿠키 설정을 거부하는 방법은 MS Internet Explorer 기준으로 메뉴에서 도구 > 인터넷 옵션 > 개인정보 에서 설정할 수 있습니다. 단, 회원의 웹브라우저의 쿠키 사용을 허용하지 않았을 경우에는 회사가 제공하는 다양한 서비스를 받으실 수 없습니다.
                </p>

                <h4>9. 개인정보의 열람 및 정정</h4>
                <p>
                    회원은 언제든지 등록되어 있는 회원의 개인정보를 열람하거나 정정하실 수 있습니다. 회원의 개인정보에 대한 열람 또는 정정을 하고자 할 경우에는 로그인 후 “회원정보수정”을 클릭하여 본인 확인 절차를 거치신 후 직접 열람 또는 정정하거나, 개인정보 보호책임자에게 전화 또는E-mail로 연락하시면 즉시 조치하여 드립니다.
                    <br><br>
                    또한, 회원이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않으며, 만약 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 내용을 제3자에게 지체 없이 통지하여 정정이 이루어지도록 조치하여 드립니다
                </p>
                <h4>10. 개인정보의 수집, 이용, 제공에 대한 동의 철회</h4>
                <p>
                    회원가입 등을 통한 개인정보의 수집, 이용, 제공과 관련하여 회원은 동의하신 내용을 언제든지 철회할 수 있습니다. 홈페이지의 ‘회원정보’에서 ‘회원탈퇴’를 클릭하면 개인정보의 수집, 이용, 제공에 대한 동의를 바로 철회할 수 있으며, 개인정보 보호책임자에게 서면, 전화, 이메일(E-mail) 등으로 연락하시면 회사는 즉시 회원 탈퇴를 위해 필요한 조치를 취합니다. 동의를 철회하고 개인정보를 파기하는 등의 조치가 있으면 그 사실을 회원에게 지체없이 통지하도록 하겠습니다.
                </p>
                <h4>11. 개인정보 파기 절차 및 방법</h4>
                <p>
                    회원이 상기 “10. 개인정보의 수집, 이용, 제공에 대한 동의 철회”에서 설명한 절차에 따라 아이디(ID) 가입 해지를 요청한 경우와 개인정보의 모집목적 또는 개인정보를 제공받은 목적이 달성된 경우, 회사는 수집된 개인의 정보를 재생할 수 없는 방법에 의하여 하드디스크에서 완전히 삭제하여, 이후 어떠한 용도로도 열람 또는 이용할 수 없도록 합니다.
                </p>
                <h4>12. 개인정보의 안정성 확보조치</h4>
                <ol class="member-orderedList">
                    <li>
                        (1) 기술적 대책
                        <span>회사는 회원의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.</span>
                        <ul>
                            <li>1) 회원의 개인정보는 파일 및 전송 데이터를 암호화하거나 파일 잠금기능을 사용하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.</li>
                            <li>2) 회사는 항상 새로운 정보를 자동으로 갱신하는 백신을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하고 있습니다. 만일 바이러스 침투 시 자동으로 바이러스 침투 경고를 근무자에게 보냄과 동시에 자동 치료하도록 되어 있습니다.</li>
                            <li>3) 회사는 암호화 알고리즘을 이용하여 네트워크상의 개인정보를 안전하게 전송할 수 있는 방식을 채택하고 있습니다.</li>
                            <li>4) 회사는 해커 등의 침입에 의해 회원의 개인정보가 유출되는 것을 방지하기 위해 외부로부터의 침입탐지 및 침입차단 시스템을 두어 24시간 모니터링하며 관리하고 있습니다. 만일의 사태에 대비하여 모든 침입탐지 시스템과 침입차단 시스템은 완벽한 이중화로 되어 있습니다.</li>
                            <li>5) 개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속기록이 위•변조 및 도난, 분실되지 않도록 보안기능을 사용하고 있습니다.</li>
                            <li>6) 비밀번호 분실 시 I-PIN 인증, 공인인증서 인증, 핸드폰 인증, 신용카드 인증 등의 본인인증 절차를 통해 임시 비밀번호를 발급해 드리고 있습니다.</li>
                        </ul>
                    </li>
                    <li>
                        (2) 관리적 조치
                        <span>회사는 회원의 개인정보보호의 중요성을 인식하고 있으며 이를 위해 개인정보 처리직원을 최소한으로 제한하는 등 다음과 같은 관리적 대책을 취하고 있습니다.</span>
                        <ul>
                            <li>1) 회사는 개인정보 처리 관련 안정성 확보를 위해 정기적으로 자체 감사를 실시하고 있습니다.</li>
                            <li>2) 회사는 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</li>
                            <li>3) 회사는 개인정보를 처리하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보 보호의무 등에 관해 정기적인 사내 교육 및 외부 위탁교육을 실시하고 있습니다.</li>
                            <li>4) 회사는 모든 직원에게 보안서약서를 제출케 함으로써 사람에 의한 정보유출을 사전에 방지하고 개인정보 처리방침에 대한 이행 사항 및 직원의 준수 여부를 감시하고, 위반내용이 확인되는 경우 이를 시정 또는 개선하고 기타 필요한 조치를 취하기 위한 내부절차를 마련하고 있습니다. 개인정보 관련 처리자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후에도 개인정보 사고에 대한 책임을 명확히 하고 있습니다.</li>
                            <li>5) 개인정보와 일반 데이터를 혼합하여 보관하지 않고 별도 서버를 통해 분리보관하고 있습니다.</li>
                        </ul>
                    </li>
                    <li>
                        (3) 물리적 조치
                        <span>전산실 및 자료 보관실 등을 특별 보호구역으로 하여 출입을 통제하고 있습니다.</span>
                    </li>
                </ol>
                <h4>13. 개인정보침해 관련 상담 및 신고</h4>
                <p>
                    개인정보가 침해되어 이에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하셔서 도움을 받으실 수 있습니다.
                </p>
                <ul>
                    <li>개인정보침해신고센터&nbsp;&nbsp; (국번없이) 118&nbsp; <a href="http://privacy.kisa.or.kr" target="_blank">http://privacy.kisa.or.kr</a></li>
                    <li>경찰청 사이버안전국&nbsp;&nbsp; (국번없이) 182&nbsp; <a href="http://cyberbureau.police.go.kr" target="_blank">http://cyberbureau.police.go.kr</a></li>
                </ul>
                <h4>14. 고지의무</h4>
                <p>
                    위 내용에 대한 추가, 삭제 및 수정이 있을 경우에는 시행하는 날로부터 최소 7일 전에 공지사항을 등을 통해 회원에게 고지하여 드리겠습니다.
                    <br><br>
                    - 개인정보처리방침 시행 일자 : 2018. 04. 11
                </p>
        </div>

    </section>

    <!--ver3_3 : Footer 제거 : 2018.03.19
    <footer>
        <div class="in">
            <a href="/Common/TermsOfUse">이용약관</a>
            <a href="/Common/PrivacyPolicy">개인정보처리방침</a>
        </div>
        <address>Copyright &copy; 2017. ssully. All rights reserved.</address>
    </footer>
    -->