﻿    <section>
        <h3>안녕하세요. 썰리입니다.</h3>
        <p>
            썰리를 이용해 주셔서 감사합니다. 썰리는 여러분이 가장 편안하고 쉽게 뉴스를 이해할 수 있는 방법을 제공하고 있습니다. 여러분이 썰리 서비스를 더욱 편하게 이용할 수 있도록 약관을 마련하였습니다. 잠시 시간 내어 읽어주세요.
            <br><br>‘썰리 서비스’(혹은 ‘서비스’)라 함은 회사가 제공하는 ‘썰리’ 브랜드를 사용하는 서비스를 말합니다.
        </p>

        <h3>썰리 서비스를 만나보세요.</h3>
        <p>
            썰리는 자체 웹 사이트, 애플리케이션 서비스, 온라인 콘텐트 서비스 등을 통해 여러분이 뉴스를 즐길 수 있는 다양한 방법을 제공합니다. 썰리 서비스 URL을 통해 썰리 웹 서비스에 접속하거나 스마트폰의 애플리케이션 스토어 등에서 다운 받아 서비스를 이용할 수 있습니다. 단, 썰리가 여러분에게 썰리 상표 및 로고를 사용할 권리를 부여하는 것은 아니라는 점 명심해주세요.
            <br><br>
            썰리는 더 나은 서비스를 위하여 필요한 소프트웨어 업데이트 버전을 제공할 수 있습니다. 소프트웨어 업데이트에는 중요한 기능의 추가 또는 불필요한 기능의 제거 등이 포함되어 있습니다. 보다 원활한 서비스 사용을 위해 꾸준히 서비스 업데이트를 해주세요.
            <br><br>
            썰리는 더 나은 썰리 서비스의 제공을 위해 여러분에게 서비스의 이용과 관련한 고지, 관리 메시지 및 기타 광고를 비롯한 다양한 정보를 썰리 서비스에 표시하거나 여러분의 메일 계정으로 직접 발송할 수 있습니다.
        </p>

        <h3>다양한 소셜 로그인 계정을 이용해보세요.</h3>
        <p>
            소셜 로그인 계정이란 페이스북, 트위터, 카카오, 네이버 등 소셜 서비스 가입 시 사용한 이메일 주소(혹은 아이디)와 패스워드를 뜻합니다. 썰리 앱 서비스를 이용하기 위하여 반드시 소셜 로그인 계정이 필요합니다. 소셜 로그인 계정을 통해 썰리 서비스에 로그인하면 개인 정보 입력 프로세스 진행 후 소셜 로그인 계정과 연동한 별도의 썰리 계정을 생성합니다. 해당 썰리 계정은 소셜 로그인 계정과 연동되기 때문에 별 다른 아이디나 비밀번호 입력 없이 소셜 로그인 절차만 진행하면 간단히 썰리 서비스에 로그인할 수 있습니다. 원한다면 기존 소셜 로그인 계정에서 사용했던 별명, 프로필 이미지 등은 썰리 서비스 내에서 별도로 변경할 수 있습니다.
            <br><br>
            여러분의 귀책사유로 썰리가 여러분의 썰리 계정을 삭제하였던 경우, 다른 사람의 명의나 이메일 주소 등 개인정보를 이용하여 썰리 계정을 생성하려 한 경우, 가입 시 허위의 정보를 입력한 경우 등에는 여러분의 썰리 계정 생성이 승낙되지 않을 수 있습니다. 만약, 여러분이 위 조건을 위반하여 계정을 생성한 것으로 판명될 때에는 썰리는 즉시 여러분의 서비스 이용을 중단하거나 썰리 계정을 삭제하는 등 적절한 제한을 할 수 있습니다.
            <br><br>
            썰리 계정은 여러분 본인만 이용할 수 있습니다. 다른 사람이 여러분의 계정을 이용하도록 허락할 수 없습니다. 그리고 여러분은 다른 사람이 여러분의 썰리 계정을 사용할 수 없도록 직접 소셜 계정의 비밀번호를 관리하여야 합니다. 만약 무단 사용이 발견된다면, 썰리 고객 대표 메일을 통하여 썰리 팀에 알려주시기 바랍니다. 여러분께 무단 사용을 막기 위한 방법을 안내하겠습니다.
            <br><br>
            여러분은 썰리 서비스 내의 설정 화면을 통해 여러분의 정보를 열람하고 수정할 수 있습니다. 다만, 서비스의 제공 및 관리를 위해 필요한 소셜 계정 정보, 단말기 식별번호 등 일부 정보는 수정이 불가능할 수 있습니다.
        </p>

        <h3>이 점은 주의해 주시기 바랍니다.</h3>
        <p>
            썰리 서비스를 잘못된 방법으로 이용할 수 없다는 점을 반드시 알아주시기 바랍니다. 썰리 서비스 내에서 금지되는 행위는 다음과 같습니다.
            <br><br>
            - 썰리가 안내하는 방법 이외의 잘못된 방법을 사용하여 썰리 서비스에 접근하는 행위<br>
            - 다른 썰리 서비스 이용자의 정보를 무단으로 수집, 이용하거나 다른 사람들에게 제공하는 행위<br>
            - 썰리 서비스를 영리 목적으로 이용하는 행위<br>
            - 음란 정보나 저작권 침해 정보 등 공서양속 및 관련 법령에 위반되는 내용의 정보 등을 발송하거나 게시하는 행위<br>
            - 썰리의 동의 없이 썰리 서비스 또는 이에 포함된 소프트웨어의 일부를 복사, 수정, 배포, 판매, 양도, 대여, 담보제공하거나 타인에게 그 이용을 허락하는 행위<br>
            - 소프트웨어를 역설계하거나 소스 코드의 추출을 시도하는 등 썰리 서비스를 복제, 분해 또는 모방하거나 기타 변형하는 행위<br>
            <br><br>
            본 약관 상의 의무를 불이행하거나 관련 법령 등을 준수하지 않을 경우 썰리는 다음과 같은 조치를 취할 수 있습니다.
            <br><br>
            - 서비스 이용의 잠시 또는 계속적인 중단<br>
            - 관련 법령에서 정하는 기간 동안 사용자 로그인 및 접속 기록이 없는 경우 등록한 전자우편, SMS 등 기타 유효한 수단으로 통지 후 사용자 정보를 파기하거나 분리 보관(이로 인해 서비스 이용을 위한 필수적인 정보가 부족할 경우 이용계약이 해지될 수도 있습니다)
        </p>

        <h3>여러분의 개인정보를 보호합니다.</h3>
        <p>
            여러분의 개인정보는 썰리 서비스의 원활한 제공을 위하여 여러분이 동의한 목적과 범위 내에서만 이용됩니다. 관련 법령에 의하거나 여러분이 별도로 동의하지 아니하는 한 여러분의 개인정보를 제3자에게 제공하는 일은 없습니다. 썰리가 여러분의 개인정보를 안전하게 처리하기 위하여 기울이는 노력이나 기타 상세한 사항은 썰리 개인정보 처리방침을 참고하여 주십시오.
        </p>

        <h3>콘텐트의 저작권을 보호합니다.</h3>
        <p>
            썰리는 여러분의 지적재산권을 존중합니다. 여러분은 사진, 글, 정보, 썰리에 대한 의견이나 제안들을 썰리 서비스를 통해 게시할 수 있으며, 이러한 콘텐트에 대한 지적재산권은 여러분이 계속하여 보유합니다.
            <br><br>
            썰리의 이용자 게시 콘텐트 사용 관련
            <br><br>
            썰리는 이용자 게시 콘텐트를 정해진 목적 범위 내에서 썰리가 운영하는 소셜 채널에 노출하는 등 사용할 수 있으며, 이와 관련하여 여러분은 썰리에게 콘텐트 사용을 허락한 것으로 보겠습니다. 썰리는 이와 관련하여 여러분의 신원정보가 공중에 알려지지 않도록 최선의 조치를 취할 것입니다.
            <br><br>
            이 경우, 여러분은 언제든지 썰리 내의 문의/제보 기능이나 고객 대표 메일을 통해 콘텐트에 대한 삭제, 비공개 등의 조치를 취할 수 있습니다. 다시 한번 알려드리지만, 본 라이선스에서 여러분이 썰리에 부여하는 권리는 썰리 서비스를 운영, 개선, 홍보하고 새로운 썰리 서비스를 개발하기 위한 범위 내에서 사용됩니다.
            <br><br>
            관련 법령 및 정책 위반 콘텐트 관련
            <br><br>
            썰리는 여러분의 콘텐트가 관련 법령 및 썰리 서비스 정책에 위배된다고 판단할 경우, 이를 삭제, 숨김, 게시 거부할 수 있습니다. 다만, 썰리가 모든 콘텐트를 검토할 의무가 있는 것은 아닙니다. 누군가 여러분의 권리를 침해하였다면 썰리의 댓글 신고 기능, 문의/제보 기능을 통하여 도움을 받으실 수 있습니다.
            <br><br>
            이용자의 타 이용자 게시 콘텐트 사용 관련
            <br><br>
            여러분이 썰리 서비스를 이용하더라도 다른 이용자의 콘텐트에 대하여 어떠한 권리를 가지게 되는 것은 아닙니다. 여러분이 다른 이용자의 콘텐트를 사용하기 위하여는 해당 콘텐트에 대한 권리를 보유한 자로부터 별도로 허락을 받아야 합니다.
        </p>

        <h3>가끔은 중단될 수도 있습니다.</h3>
        <p>
            썰리는 썰리 서비스를 365일, 24시간 쉬지 않고 제공하기 위하여 최선의 노력을 다합니다. 다만, 장비의 유지, 보수를 위한 정기 또는 임시 점검 또는 다른 상당한 이유로 썰리 서비스의 제공이 일시 중단될 수 있으며, 이때에는 미리 서비스 제공화면에 공지하겠습니다. 만약, 저희로서도 예측할 수 없는 이유로 썰리 서비스가 중단된 때에는 상황을 파악하는 즉시 통지하겠습니다.
        </p>

        <h3>원치 않는다면 해지할 수 있습니다.</h3>
        <p>
            여러분이 썰리 서비스의 이용을 더 이상 원치 않는 때에는 언제든지 썰리 서비스 내 제공하는 메뉴를 이용하여 썰리 서비스 회원 탈퇴 신청을 할 수 있으며, 썰리는 관련 법령이 정하는 바에 따라 이를 신속히 처리하겠습니다.
            <br><br>
            회원 탈퇴가 완료되면 관련 법령 및 개인정보 처리방침에 따라 예외적으로 여러분의 정보를 보유하는 경우를 제외하고는 데이터를 삭제합니다. 다만, 여러분이 작성한 게시물이 제3자에 의하여 스크랩 또는 다른 공유 기능으로 게시되거나, 여러분이 썰리 콘텐트에 댓글 등 게시물을 추가하는 등의 경우에는 다른 이용자의 정상적 서비스 이용을 위하여 필요한 범위 내에서 썰리 서비스 내에 삭제되지 않고 정보가 남아 있게 됩니다.
        </p>

        <h3>모든 것을 보증하는 것은 아닙니다.</h3>
        <p>
            썰리는 여러분이 마음껏 썰리 서비스를 이용할 수 있도록 합리적인 수준의 주의를 기울여 썰리 서비스를 제공합니다.
            <br><br>
            썰리는 법령상 허용되는 한도 내에서 썰리 서비스와 관련하여 본 약관에 명시되지 않은 어떠한 구체적인 사항에 대한 약정이나 보증을 하지 않습니다. 예를 들어, 썰리는 썰리 서비스에 속한 콘텐트, 서비스의 특정 기능, 서비스의 이용 가능성에 대하여 어떠한 약정이나 보증을 하는 것이 아니며, 썰리 서비스를 ‘있는 그대로’ 제공할 뿐입니다.
        </p>

        <h3>썰리의 잘못은 썰리가 책임집니다.</h3>
        <p>
            썰리는 여러분이 썰리 서비스를 이용함으로써 더 많은 즐거움과 지식을 얻어가길 희망합니다. 만일 썰리의 과실로 인하여 여러분이 손해를 입게 될 경우 법령에 따라 여러분의 손해를 배상하겠습니다.
            <br><br>
            다만 썰리는 썰리 서비스에 접속 또는 이용과정에서 발생하는 여러분의 귀책 사유로 인해 발생한 손해, 제3자가 불법적으로 썰리의 서버에 접속하거나 서버를 이용함으로써 발생하는 손해, 제3자가 썰리 서버에 대한 전송 또는 썰리 서비스로부터의 전송을 방해함으로써 발생하는 손해, 제3자가 악성 프로그램을 전송 또는 유포함으로써 발생하는 손해, 전송된 데이터의 생략, 누락, 파괴 등으로 발생한 손해, 명예훼손 등 썰리의 과실 없이 제3자가 썰리 서비스를 이용하는 과정에서 여러분에게 발생시킨 손해에 대하여 책임을 부담하지 않습니다.
        </p>

        <h3>약관을 수정할 수도 있습니다.</h3>
        <p>
            썰리는 법률이나 썰리 서비스의 변경사항을 반영하기 위한 목적 등으로 본 약관을 수정할 수 있습니다. 본 약관이 변경되는 경우 썰리는 변경 사항을 서비스 초기 화면에 게시하며, 변경된 약관은 게시한 날로부터 15일 후부터 효력이 발생합니다.
            <br><br>
            하지만 피치 못하게 여러분에게 불리한 내용으로 개정될 경우 썰리는 여러분이 로그인 시 사용한 이메일 주소로 이메일을 발송하거나, 알림 메시지를 띄우는 등 합리적으로 가능한 방법으로 여러분에게 변경된 내용을 30일 전에 미리 알려드리겠습니다.
            <br><br>
            썰리는 변경된 약관을 게시한 날로부터 효력이 발생되는 날까지 약관 변경에 대한 여러분의 의견을 기다리겠습니다. 위 기간이 지나도록 여러분의 의견이 썰리에 접수되지 않으며, 여러분이 변경된 약관에 따라 서비스를 이용하는 데에 동의하는 것으로 보겠습니다. 만약 여러분이 변경된 약관에 동의하지 않는 경우 변경된 약관의 적용을 받는 해당 서비스의 제공이 더 이상 불가능하게 됩니다.
        </p>

        <h3>여러분의 의견은 소중합니다.</h3>
        <p>
            썰리는 여러분과의 의견 교환을 소중하게 생각합니다. 여러분은 언제든지 썰리에 의견을 개진할 수 있습니다. 썰리는 여러분이 썰리 계정으로 사용하는 이메일 주소로 이메일을 발송하거나 서비스 내의 공지사항 등으로 여러분에게 여러 가지 소식을 알려드리며, 회원 전체에 대한 통지는 7일 이상 공지사항 란에 게시함으로써 효력이 발생합니다.
            <br><br>
            본 약관 또는 썰리 서비스와 관련하여서는 대한민국의 법률이 적용됩니다.
        </p>
    </section>


    <!--ver3_3 : Footer 제거 : 2018.03.19
    <footer>
        <div class="in">
            <a href="/Common/TermsOfUse">이용약관</a>
            <a href="/Common/PrivacyPolicy">개인정보처리방침</a>
        </div>
        <address>Copyright &copy; 2017. ssully. All rights reserved.</address>
    </footer>
    -->