﻿@model Joins.Apps.SSully.Models.Common.Notice

<div class="container notice">
    <header class="sub">
        <h1 class="hidden">썰리</h1>
        <h2 class="sub_tit">공지사항</h2>
        <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a> <!-- ver3_1 수정 -->
    </header>
    <section>
        <ul class="acc">
            @if (Model.Data != null)
            {
                foreach (var item in Model.Data)
                {
                @Html.Partial("_Notice", item)
                }
            }
        </ul>
    </section>

    <!--ver3_3 : Footer 제거 : 2018.03.19
    <footer>
        <div class="in">
            <a href="/Common/TermsOfUse">이용약관</a>
            <a href="/Common/PrivacyPolicy">개인정보처리방침</a>
        </div>
        <address>Copyright &copy; 2017. ssully. All rights reserved.</address>
    </footer>
    -->
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('body').addClass('noticeBody');
        @if (Model.RequestSeq.HasValue)
        {
            <text>$('li#notice_@Model.RequestSeq.Value .btn_acc').trigger('click');</text>
        }
    });
    //]]>
</script>