﻿@model Joins.Apps.SSully.Models.Common.Notice

<div class="container notice no_topgap">
    <section>
        <ul class="acc">
            @if (Model.Data != null)
            {
                foreach (var item in Model.Data)
                {
                @Html.Partial("_Notice", item)
                }
            }
        </ul>
    </section>
    <!--
    <footer>
        <div class="in">
            <a href="/Common/TermsOfUse">이용약관</a>
            <a href="/Common/PrivacyPolicy">개인정보처리방침</a>
        </div>
        <address>Copyright &copy; 2017. ssully. All rights reserved.</address>
    </footer>
    -->
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('body').addClass('noticeBody mobile');
        $('div.container section a[target]').removeAttr('target');

        @if (Model.RequestSeq.HasValue)
        {
            <text>$('li#notice_@Model.RequestSeq.Value .btn_acc').trigger('click');</text>
        }
    });
    //]]>
</script>