﻿<div class="container member">
    <header class="sub">
        <h1 class="hidden">썰리</h1>
        <h2 class="sub_tit">썰리 <strong>개인정보처리방침</strong></h2>
        <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a><!-- ver3_1 수정 -->
    </header>

    @Html.Partial("_PrivacyPolicy")
</div>