﻿<div class="container member no_topgap">
    @Html.Partial("_PrivacyPolicy")
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('div.container section a[target]').removeAttr('target');
        $('body').addClass('mobile');
    });
    //]]>
</script>