﻿@model Joins.Apps.SSully.Models.Common.Question

@section HeaderPublishCSSJavascript {
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_sub@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_question@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<!-- container -->
<div class="container question">

    <!-- HEADER -->
    <header>
        <h1 class="vis-title">썰리에게 물어보기</h1>
        <a href="javascript:void(0);" onclick="javascript:history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>
    </header>
    <!--// HEADER -->


    <div class="q-contents">
        
    </div>


    <div class="message-field">
        <div class="txt-wrap">
            <textarea id="input-msg" placeholder="메세지를 입력하세요"></textarea>
            <span class="counter">
                <em>0</em>/500
            </span>
        </div>

        <button class="btn-action" type="button" id="btn-send">보내기</button>
    </div>

</div>
<!--// container -->


<script>
    var search_lock = false;

    $(function () {
        var $input_msg = $("#input-msg");
        var input_wrap = document.querySelector('.txt-wrap');
        var input_btn = document.querySelector('#btn-send');
        var input_counter = document.querySelector('.counter');
        var max_len = 500;
        var is_login = @(LoginHelper.IsLogin ? "true" : "false");

        var $target = $('.q-contents');
        var target_seq = @(Model.Seq.HasValue ? Model.Seq.Value : 0);

        var set_history_state = function (page, page_size, target_seq, restore) {
            history.replaceState({
                target_seq: target_seq,
                page: page,
                page_size: page_size,
                scroll_top: $(window).scrollTop(),
                restore: restore
            }, '', location.href);
        };

        $.fn.isInViewport = function () {
            if ($(this).length == 0)
                return false;

            var elementTop = $(this).offset().top;
            var elementBottom = elementTop + $(this).outerHeight();

            var viewportTop = $(window).scrollTop();
            var viewportBottom = viewportTop + $(window).height();

            return elementBottom > viewportTop && elementTop < viewportBottom;
        };

        $input_msg.attr("maxlength", max_len);

        // text field control
        var fn_textarea = {
            counter: function (input) {
                var input_text = input.value;
                input_counter.querySelector('em').innerHTML = input_text.length;
            },
            resize: function (input) {
                var ele = input;

                var val_padding = parseFloat(window.getComputedStyle(input_wrap).getPropertyValue('padding-top'));
                var val_extra = 5;

                if (ele.value) input_btn.classList.add("on");
                else input_btn.classList.remove("on");

                if (ele.scrollHeight < 75) {
                    ele.style.height = 0;
                    ele.style.height = ele.scrollHeight - val_extra + 'px';
                    input_wrap.style.height = (ele.scrollHeight - val_extra + (val_padding * 2)) + 'px';
                    input_btn.style.height = (ele.scrollHeight - val_extra + (val_padding * 2)) + 'px';
                }
            }
        }


        // textarea key event
        $input_msg.on({
            'keyup': function (e) {
                fn_textarea.counter(this);
                fn_textarea.resize(this);
            },
            'keydown': function (e) {
                fn_textarea.counter(this);
                fn_textarea.resize(this);
            },
        });
        if ($("body").hasClass("pc")) {
            $input_msg.on({
                'keypress': function (e) {
                    fn_textarea.counter(this);
                    fn_textarea.resize(this);
                }
            });
        }

        // 레이어 닫기
        $(".layer_msg .btn_close").on("click", function (e) {
            e.preventDefault();
            $(".layer_msg").removeClass("layeron");
        });

        $(document).on('click', '.q-contents .speak .link a', function(e) {
            set_history_state(history.state.page, history.state.page_size, 0, true);
        });

        // 등록 이벤트
        input_btn.onclick = function (e) {
            e.preventDefault();
            if (!is_login) {
                show_loginlayer('inquire', function () {
                    location.replace('/User/Login');
                    return false;
                });
                return;
            }

            if ($input_msg.val().length == 0) {
                alert('내용을 입력해주세요');
                $input_msg.focus();
                return;
            }

            $.post('/Common/QA/Insert', {
                content: $.trim($input_msg.val())
            }, function(data) {
                if (data.hasOwnProperty('ssully_login_result'))
                    return;

                if (data.result != 'Y') {
                    alert(data.msg);
                    return false;
                }

                $target.html('');
                $target.removeData('end');

                set_history_state(1, history.state.page_size, 0, false);
                question_list(history.state.page, history.state.page_size, history.state.target_seq);
            });

            if (history.scrollRestoration)
                history.scrollRestoration = 'manual';

            $("#input-msg").val('').trigger('keyup');
            $("html,body").scrollTop($(document).height());
        };

        var question_list = function(page, page_size, target_seq) {
            if (search_lock)
                return false;

            search_lock = true;
            $.get('/Common/QA/List', {
                page: page,
                page_size: page_size,
                target_seq: target_seq
            }, function(response) {
                if (response.hasOwnProperty('ssully_login_result'))
                    return;

                var item_count = response.list ? response.list.length : 0;
                var first_offset = $target.find('div.speak:first');

                if (response.list && response.list.length > 0) {
                    $.each(response.list, function(idx, item) {
                        var $html = $($('script#item-template').html());
                        var is_speaker_continue = (idx < response.list.length - 1) && response.list[idx + 1].admin_yn == item.admin_yn;
                        
                        if (item.admin_yn == 'Y')
                            $html.addClass('ssully');
                        else
                            $html.addClass("user");

                        if (is_speaker_continue)
                            $html.removeClass('ico');

                        if (item.message_type == 1) {
                            $html.find('.link').remove();
                        } else if (item.message_type == 2) {
                            // 외부링크
                            $html.find('.txt').remove();
                            $html.find('.link a').data('link_type', item.message_type).attr('href', item.external_link.url).attr('target', '_blank');
                            $html.find('.link .photo img').attr('src', item.external_link.thumbnail);
                            $html.find('.link .titie-caption').text(item.external_link.title);
                            $html.find('.link .source').text(item.external_link.domain);
                        } else if (item.message_type == 3) {
                            // 내부링크
                            $html.find('.txt').remove();
                            $html.find('.link a').data('link_type', item.message_type).attr('href', '/View/' + item.internal_link.seq).removeAttr('target');
                            $html.find('.link .photo img').attr('src', item.internal_link.thumbnail);
                            $html.find('.link .titie-caption').text(item.internal_link.title);
                            $html.find('.link .source').text(item.internal_link.publish_date);
                        }

                        $html.find('span.msg').html(item.message);
                        $html.find('span.date').text(item.write_duration);
                        $html.attr('seq', item.seq);
                        
                        $target.prepend($html);

                        if (history.scrollRestoration)
                            history.scrollRestoration = 'manual';

                        if (page == 1) {
                            $("html,body").scrollTop($(document).height());
                        } else {
                            $("html,body").scrollTop(first_offset.offset().top);
                        }
                    });
                }

                if (item_count < page_size) {
                    $target.data('end', true);
                    $target.prepend($('script#item-template-first').html());
                }
            }).done(function() {
                search_lock = false;
                
                if (history.scrollRestoration)
                    history.scrollRestoration = 'manual';

                if (history.state.restore) {
                    $("html,body").scrollTop(history.state.scroll_top);
                } else {
                    if (history.state.target_seq > 0) {
                        var offset = $target.find('div.speak[seq=' + history.state.target_seq +  ']:first').offset().top - $('header').height() + $target.find('div.speak[seq=' + history.state.target_seq +  ']:first').height();
                        $("html,body").animate({ scrollTop: offset }, 200);
                    }
                }

                set_history_state(history.state.page, history.state.page_size, 0, false);

                if ($target.find('div.speak:first').isInViewport() && !$target.data('end') && !search_lock) {
                    set_history_state(history.state.page + 1, history.state.page_size, 0, false);
                    question_list(history.state.page, history.state.page_size, history.state.target_seq);
                }
            });
        };

        // 리스트 스크롤 이벤트
        $(window).on('scroll', function(e) {
            if ($target.find('div.speak:first').isInViewport() && !$target.data('end') && !search_lock) {
                set_history_state(history.state.page + 1, history.state.page_size, 0, false);
                question_list(history.state.page, history.state.page_size, history.state.target_seq);
            }
        });

        // 목록 복원
        if (history.state && history.state.restore) {
            question_list(1, history.state.page * history.state.page_size, history.state.target_seq);
        } else {
            set_history_state(1, 10, target_seq, false);
            question_list(history.state.page, history.state.page_size, history.state.target_seq);
        }
    });
</script>

<script type="text/template" id="item-template-first">
    <div class="ico ssully speak">
        <div class="txt">
            <span class="msg">안녕하세요 썰리입니다.<br />궁금한 주제나 문의하고자 하는 내용이 있으시다면 언제든 메시지 남겨주세요.</span>
        </div>
    </div>

</script>
<script type="text/template" id="item-template">
    <div class="ico speak">
        <div class="txt">
            <span class="msg"></span>
            <span class="date"></span>
        </div>
        <div class="link">
            <a href="">
                <span class="photo"><img src="" alt=""></span>
                <div class="caption">
                    <span class="titie-caption"></span>
                    <span class="source"></span>
                </div>
            </a>
        </div>
    </div>
</script>