﻿<div class="container member no_topgap">
    @Html.Partial("_TermsOfUse")
</div>

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('body').addClass('mobile');
    });
    //]]>
</script>