﻿<!-- 이미지 -->
<div class="box box-primary" id="module_image">
    <div class="box-header with-border">
        파티클 이미지 목록 <small>(클릭해서 등록해 주세요.)</small>
        <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#modal-upload">이미지등록</button>
    </div>
    <div class="box-body">
        <div id="module_image_image_list" class="col-xs-12 text-center"></div>
    </div>
</div>

<div class="modal fade" id="modal-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">이미지등록</h5>
            </div>
            <form method="post" name="form_imgupload" action="/Sully/Product/ImageUpload" class="form-horizontal frmWrite" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="img_file_upload" class="col-sm-2 control-label">이미지</label>
                        <div class="col-sm-10">
                            <input type="file" multiple id="img_file_upload" name="files" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="img_tag" class="col-sm-2 control-label">설 명</label>
                        <div class="col-sm-10">
                            <input type="text" id="img_desc" name="img_desc" class="form-control" placeholder="설명 (이미지 하단에 노출)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="img_tag" class="col-sm-2 control-label">Tag</label>
                        <div class="col-sm-10">
                            <input type="text" id="img_tag" name="img_tag" class="form-control" placeholder="Tag Add (경제,금리인상)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left btn-cancel" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary btn-upload">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-image-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><i class="fa fa-fw fa-info"></i>이미지 정보</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label for="img_file_upload" class="col-sm-2 control-label">이미지</label>
                        <div class="col-sm-10">
                            <img src="" style="width:300px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="img_tag" class="col-sm-2 control-label">캡션문구</label>
                        <div class="col-sm-10">
                            <input type="text" id="img_title" name="img_title" class="form-control input-sm" placeholder="캡션을 입력해 주세요" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btn-cancel" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary btn-insert">삽입</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //<![CDATA[
    var getFocusElementClosest = function (selector) {
        var elementPath = CKEDITOR.instances.editor1.elementPath();

        if (elementPath) {
            var elements = elementPath.elements;

            for (var idx in elements) {
                if ($(elements[idx].$).is(selector))
                    return { exists: true, node: elements[idx] };
            }
        }

        return { exists: false, node: null };
    };

    $(function () {
        var $area = $('div#module_image');

        var InsertImage = function (src, title) {
            var getNode = function (node, tag, className) {
                if (!node)
                    return null;

                var focus_tagname = node.getName();
                var focus_classname = node.$.className;

                if (focus_tagname == tag && focus_classname == className)
                    return node;

                return getNode(node.getParent(), tag, className);
            };

            var element = getFocusElementClosest('div.page');
            
            if (element.exists && !element.node.hasClass('intro')) {
                var particle = element.node.findOne('div.particle');
                var childNode = particle.getChild(0);

                if (!childNode || childNode.$.nodeType != 1 || childNode.getAttribute('ssully_type') != 'image') {
                    particle.setHtml('<div ssully_type="image" style="white-space:nowrap; overflow:auto; width: 100%; height: 100px; padding: 10px 0px;"></div>');
                    childNode = particle.getChild(0);
                }

                childNode.setHtml(childNode.getHtml() + '<img title="' + title.replace(/\"/gi, "&quot;") + '" alt="' + title.replace(/\"/gi, "&quot;") + '" src="' + src + '" style="height: 100%; padding-left: 10px;"/>');
            } else {
                alert('이미지를 추가할 페이지에 커서를 두고 추가해 주시기 바랍니다.');
            }
        };

        var LoadImageList = function (page) {
            $area.find('div#module_image_image_list').load("/sully/product/module/type5/image/list", {
                page: page,
                page_size: 15
            }, function () {
                $(this).find('ul.pagination a').on('click', function (e) {
                    LoadImageList(parseInt($(this).data('page')));
                    return false;
                }).end().find('div#partcle_img img').on('click', function (event) {
                    $('#modal-image-info').find("img").attr("src", $(this).attr("src")).end()
                        .find("input").val($(this).attr("title")).end()
                        .modal('show')
                        .find('button.btn-insert').one('click', function (e) {
                            var src = $("#modal-image-info").find("img").attr("src");
                            var title = $("#modal-image-info").find("input").val();

                            if (src != undefined && src.length > 0) {
                                InsertImage(src, title);
                                $('#modal-image-info').modal('hide');
                            }
                        });
                }).end();
            });
        };

        $('div#modal-upload button.btn-upload').on('click', function (e) {
            var frm = $('form.frmWrite');
            var imgfile = frm.find('#img_file_upload');
            var itag = frm.find('#img_tag');
            if ($.trim(imgfile.val()).length == 0) {
                alert('파일을 선택하여 주시기 바랍니다.');
                return false;
            }
            if ($.trim(itag.val()).length == 0) {
                alert('키워드 태그를 입력하여 주시기 바랍니다.');
                return false;
            }

            /*이미지 등록*/
            frm.ajaxForm({
                success: function (response, status) {
                    if ('success' === status.toLowerCase())
                        alert(response.result ? '등록 되었습니다.' : response.message);

                    $('#img_file_upload').val('');
                    $('#modal-upload').modal('hide');
                    LoadImageList(1);
                },
                error: function (e) {
                    alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                    return false;
                }
            }).submit();
        });

        $area.find('#module_image_particle_img_sdt, #module_image_particle_img_edt').datepicker({ dateFormat: 'yyyy-mm-dd', pickerPosition: 'bottom-right', autoclose: true });;
        $area.find('button#module_image_btn_search').on('click', function (e) {
            LoadImageList(1);
            return false;
        });

        LoadImageList(1);
    });
    //]]>
</script>