﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.ImgData>

<div class="form-group" id="partcle_img" style="cursor: pointer;">
    @foreach (var item in Model.Data)
    {
        <img src="@item.IMG_URL" style="width:75px; height:75px; overflow:hidden; margin:2px;" title="@item.IMG_DESC" ondragstart="javascript: alert('클릭해서 등록해 주세요.'); return false;">
    }
</div>
<div class="row text-center">
    @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Request.QueryString })
</div>