﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.SSullyStoryIntroImage>

<div class="form-group" id="partcle_intro_img" style="cursor: pointer;">
    @foreach (var item in Model.Data)
    {
        <img src="@item.ImageURL" data-backgroung-color="@item.BackgroundColor" style="background-color: @item.BackgroundColor; height:75px; overflow:hidden; margin:2px;" ondragstart="javascript: alert('클릭해서 등록해 주세요.'); return false;">
    }
</div>
<div class="row text-center">
    @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Request.QueryString })
</div>