﻿<!-- 이미지 -->
<div class="box box-primary" id="module_intro_image">
    <div class="box-header with-border">
        인트로 이미지 목록 <small>(클릭해서 등록해 주세요.)</small>
    </div>
    <div class="box-body">
        <div id="module_intro_image_list" class="col-xs-12 text-center"></div>
    </div>
</div>


<script type="text/javascript">
    //<![CDATA[
    var getFocusElementClosest = function (selector) {
        var elementPath = CKEDITOR.instances.editor1.elementPath();

        if (elementPath) {
            var elements = elementPath.elements;

            for (var idx in elements) {
                if ($(elements[idx].$).is(selector))
                    return { exists: true, node: elements[idx] };
            }
        }

        return { exists: false, node: null };
    };

    $(function () {
        var $area = $('div#module_intro_image');

        var LoadIntroImageList = function (page) {
            $area.find('div#module_intro_image_list').load("/sully/product/module/type5/image/intro/list", {
                page: page,
                page_size: 10
            }, function () {
                $(this).find('ul.pagination a').on('click', function (e) {
                    LoadIntroImageList(parseInt($(this).data('page')));
                    return false;
                }).end().find('div#partcle_intro_img img').on('click', function (event) {
                    var editor = CKEDITOR.instances.editor1;
                    var $data = $(editor.getData());

                    var src = $(this).attr('src');
                    var color = $(this).data('backgroungColor');
                    var $intro = $data.filter('div.intro');

                    $data.filter('div.intro').css({
                        'background-image': 'url("' + src + '")',
                        'background-position': 'center bottom',
                        'background-repeat': 'no-repeat',
                        'background-size': '70%'
                    }).attr('ssully_background_image', src);

                    $data.filter('div.page').css('background-color', color).css('color', '#ffffff').attr('ssully_background_color', color).end();
                    editor.setData($('<div/>').append($data).html());
                }).end();
            });
        };

        LoadIntroImageList(1);
    });
    //]]>
</script>