﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductContentEdit

<!-- 이미지 업로드 -->
<div class="box box-primary" id="module_layout">
    <div class="box-header with-border">
        상세뷰 레이아웃 셋팅
    </div>

    <div class="box-body">
        <div class="form-group">
            <button id="btn_Insert_module_layout_intro" class="btn btn-app">
                <i class="fa fa-leanpub"></i> 인트로영역 추가
            </button>
            <button id="btn_Insert_module_layout_page" class="btn btn-app" title="선택한 영역의 다음 페이지로 추가됩니다.">
                <i class="fa fa-newspaper-o"></i> 페이지 추가
            </button>
            <button id="btn_Insert_module_layout_lead" class="btn btn-app">
                <i class="fa fa-paragraph"></i> 리드영역 추가
            </button>
            <button id="btn_Insert_module_layout_character" class="btn btn-app" data-toggle="modal" data-target="#modal-character-info">
                <i class="fa fa-user-plus"></i> 캐릭터 변경
            </button>
        </div>
    </div>
</div>

@*<div class="box box-primary" id="module_layout_color">
    <div class="box-header with-border">
        인트로 설정 (1회성 이미지는 이곳을 통해 등록해 주시기 바랍니다.)
    </div>

    <div class="box-body">
        <div class="form-group">
            <label>배경 이미지 설정</label>
            <div>
                <form method="post" name="form_imgupload" action="/sully/product/module/imageupload/upload" class="form-horizontal frmWrite" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control" />
                    <div style="margin-bottom: 10px;">업로드 가능한 파일명 : <small style="color: #f00;font-family: 굴림체;">*_배경컬러값.png</small></div>
                    <button class="btn btn-xs pull-right btn-info btn-upload">적용</button>
                </form>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="modal-character-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><i class="fa fa-fw fa-info"></i>캐릭터 정보</h5>
                <small class="text-red">* 캐릭터 등록은 [프로덕트 관리 > 파티클 캐릭터관리] 에서 등록해 주시기 바랍니다.</small>
            </div>
            <div class="modal-body text-center">
                <div class="" id="partcle_img"></div>
                <div class="text-center" id="partcle_img_paging"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btn-cancel" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    var getFocusElementClosest = function (selector) {
        var elementPath = CKEDITOR.instances.editor1.elementPath();

        if (elementPath) {
            var elements = elementPath.elements;

            for (var idx in elements) {
                if ($(elements[idx].$).is(selector))
                    return { exists: true, node: elements[idx] };
            }
        }

        return { exists: false, node: null };
    };

    // 캐릭터 변경
        var getParticleImgList = function (page) {
        $.getJSON("/API/Sully/Particle/CharacterImgList", {
            pgi: page,
            ps: 30,
            t: '',
            my: 'N',
            character_type: 2
        }, function (data) {
            if (data.result != null) {
                if (data.result.r == 1) {
                    $("#partcle_img").find('img').off('click').end().html('');

                    for (i = 0; i < data.result.Data.length; i++)
                        $("#partcle_img").append("<img src='" + data.result.Data[i].IMG_URL + "' style='width:75px;height:75px;overflow:hidden;margin:2px;' title='" + data.result.Data[i].IMG_TAG + "'>");

                    $("#partcle_img_paging").html(Pager.PagingHtml(page, data.result.t_cnt, 30, "getParticleImgList"));
                    $("#partcle_img").find('img').on('click', function (e) {
                        var element = getFocusElementClosest('div.page');

                        if (element.exists && element.node.findOne('div.image'))
                            element.node.findOne('div.image').setHtml('<img src="' + $(this).attr('src') + '" style="width: 100px;"/>');
                        else
                            alert('캐릭터 이미지를 변경할 페이지에 커서를 두고 추가해 주시기 바랍니다.');

                        $('#modal-character-info').modal('hide');
                        return false;
                    });
                } else {
                    $("#partcle_img").html('<div style="position:absolute;top:35%;left:30%"><span>캐릭터가 존재하지 않습니다.</span></div>');
                }
            } else {
                $("#partcle_img").html('<div style="position:absolute;top:35%;left:30%"><span>캐릭터가 존재하지 않습니다.</span></div>');
            }
        });
    }

    $(function () {
        var $area = $('div#module_layout');
        var $area_color = $('div#module_layout_color');
        var editor = CKEDITOR.instances.editor1;
        
        $area_color.find('button.btn-upload').on('click', function (e) {
            // 배경 이미지 등록
            var element = getFocusElementClosest('div.intro');

            if (!element.exists) {
                alert('인트로 영역에 커서를 두고 추가해 주시기 바랍니다.');
                return false;
            }

            var fileColor = '';
            $area_color.find('form.frmWrite').ajaxForm({
                beforeSubmit: function (arr, $form, options) {
                    var fileName = $form.find('input:file').val().replace(/^.*[\\\/]/, '');
                    if (!/^(.*)_[0-9A-Fa-f]{6}\.png$/i.test(fileName)) {
                        alert('업로드 가능한 파일명은 "*_배경컬러값.png" 입니다.');
                        return false;
                    }

                    fileColor = ('#' + fileName.match(/^.*_([0-9A-Fa-f]{6})\.png$/i)[1]).toLowerCase();
                },
                success: function (response, status) {
                    if (!response.result) {
                        alert(response.message);
                    } else {
                        element.node.setStyle('background-image', 'url("' + response.Url + '")');
                        element.node.setStyle('background-position', 'center bottom');
                        element.node.setStyle('background-repeat', 'no-repeat');
                        element.node.setStyle('background-size', '70%');
                        element.node.setAttribute('ssully_background_image', response.Url);
                        element.node.setAttribute('ssully_background_color', fileColor);

                        // 컬러 변경
                        var data = $(editor.getData());
                        data.filter('div.page').css('background-color', fileColor).css('color', '#ffffff').attr('ssully_background_color', fileColor);
                        editor.setData($('<div/>').append(data).html());
                    }
                },
                error: function (e) {
                    alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                    return false;
                }
            }).submit();

            return false;
        }).end();

        $area.find('button#btn_Insert_module_layout_intro').on('click', function (e) {
            // 인트로 영역 추가
            var data = editor.getData();

            if ($(data).filter('div#intro').length == 0) {
                var html = '<div ssully_type="intro" id="intro" class="page intro" style="border-bottom: 2px solid #999; border-top: 2px solid #999; font-size: 22px; font-weight: bold; height: 300px; overflow-y: auto; padding-top: 100px; text-align: center;">이곳에 부제를 입력해 주세요</div>';
                editor.setData(html + '<br/><br/>' + data);
            }
        }).end().find('button#btn_Insert_module_layout_page').on('click', function (e) {
            // 페이지 추가
            var data = editor.getData();
            var getIntroBackgroundColor = function () {
                var colorval = $(data).filter('div.intro').css('background-color');

                if (colorval) {
                    var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                    delete (parts[0]);
                    for (var i = 1; i <= 3; ++i) {
                        parts[i] = parseInt(parts[i]).toString(16);
                        if (parts[i].length == 1) parts[i] = '0' + parts[i];
                    }

                    return '#' + parts.join('');
                }

                return null;
            }
            var color = getIntroBackgroundColor();
            var textColor = color ? '#ffffff': '';
            var html = '';
            html += '<div ssully_type="page" ssully_background_color="' + color + '" class="page" style="padding: 10px; margin-top: 10px; border-top: 3px solid #ccc; border-bottom: 3px solid #ccc; background-color: ' + color + '; color: ' + textColor + ';">';
            html += '    <div class="image" style="border-bottom: 1px dotted #ccc; padding: 10px 0;">이곳에 캐릭터를 설정해 주세요</div>';
            html += '    <div class="lead_text" style="border-bottom: 1px dotted #ccc; padding: 10px 0; font-size: 16px; font-weight: bold;">이곳에 리드 텍스트를 작성해 주세요</div>';
            html += '    <div class="main_text" style="border-bottom: 1px dotted #ccc; padding: 10px 0;">이곳에 메인 텍스트를 작성해 주세요</div>';
            html += '    <div class="particle" style="border-bottom: 1px dotted #ccc; padding: 10px 0;">파티클 영역 (페이지별 최대 1개 추가 가능)</div>';
            html += '</div><br/><br/>';
            
            var element = getFocusElementClosest('div.page');

            if (element.exists)
                CKEDITOR.dom.element.createFromHtml(html).insertAfter(element.node);
            else
                editor.setData(data + html);

        }).end().find('button#btn_Insert_module_layout_lead').on('click', function (e) {
            // 리드영역 추가
            var element = getFocusElementClosest('div.page');
            if (!element.exists || (element.exists && element.node.hasClass('intro'))) {
                alert('리드영역을 추가할 페이지에 커서를 두고 추가해 주시기 바랍니다.');
                return false;
            }

            var nodes = element.node.find('div.main_text');
            if (nodes.count() >= 5) {
                alert('리드영역은 한페이지당 최대 5개까지 추가 가능합니다.');
                return false;
            }

            var el = CKEDITOR.dom.element.createFromHtml('<div class="main_text" style="border-bottom: 1px dotted #ccc; padding: 10px 0;">이곳에 메인 텍스트를 작성해 주세요</div>');
            var target = (nodes.count() == 0) ? element.node.findOne('div.lead_text') : nodes.getItem(nodes.count() - 1);

            el.insertAfter(target)
            return false;
        });

        getParticleImgList(1);
    });
    //]]>
</script>