﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.ImgData>

@{
    ViewBag.MenuCode = "M030203";
}
@Html.Navigator("파티클캐릭터관리", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "프로덕트 관리", Active = false },
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "파티클 캐릭터관리", Active = true }
})

<section class="content">

    <div class="box">
        <div class="box-body">
            <form action="/Sully/Particle/CharacterList" class="form-inline" method="get">
                <input type="hidden" name="pgi" value="1" />
                <input type="hidden" name="ps" value="@JCube.AF.Util.Converts.ToInt32(Request["ps"],20)" />
                
                <div class="form-group">
                    <label>사용여부</label>
                    <select name="uyn" class="form-control">
                        <option value="">- 전체 -</option>
                        <option value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>사용</option>
                        <option value="N" @(("N").Equals(JCube.AF.Util.Converts.ToString(Request["uyn"], "")) ? "selected" : String.Empty)>종료</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>이미지 종류</label>
                    <select name="character_type" class="form-control">
                        <option value="">- 전체 -</option>
                        <option value="1" @(("1").Equals(JCube.AF.Util.Converts.ToString(Request["character_type"], "")) ? "selected" : String.Empty)>일반</option>
                        <option value="2" @(("2").Equals(JCube.AF.Util.Converts.ToString(Request["character_type"], "")) ? "selected" : String.Empty)>스토리썰링</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>키워드</label>
                    <input type="text" class="form-control" name="ptag" value="@JCube.AF.Util.Converts.ToString(Request["ptag"], "")" placeholder="키워드 태그" />
                </div>
                <div class="form-group" style="width: 202px;">
                    <label>등록일</label>
                    <div class="form-control text-center">
                        <input type="text" class="no-border text-center" name="r_sdt" id="r_sdt" value="@JCube.AF.Util.Converts.ToString(Request["r_sdt"], "")" data-date-format="yyyy-mm-dd" placeholder="시작일" style="width:80px" />
                        <span>~</span>
                        <input type="text" class="no-border text-center" name="r_edt" id="r_edt" value="@JCube.AF.Util.Converts.ToString(Request["r_edt"], "")" data-date-format="yyyy-mm-dd" placeholder="종료일" style="width:80px" />
                    </div>
                </div>
                
                <label style="margin: 0 20px;"><input type="checkbox" name="only" id="only" value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["only"], "")) ? "checked" : String.Empty)> 내 이미지만</label>
                <button type="submit" class="btn btn-default">검색</button>
            </form>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-fileupload">캐릭터등록</a>
        </div>
        <div class="box-body">
            <table class="table table-hover dataTable">
                <thead>
                    <tr class="bg-gray-light">
                        <th>번호</th>
                        <th>상태</th>
                        <th>종류</th>
                        <th>이미지</th>
                        <th>키워드태그</th>
                        <th>등록일시</th>
                        <th>변경</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0)
                {
                    foreach (var exart in Model.Data)
                    {
                        bool bEnd = false;
                        if (exart.USED_YN == "Y") { bEnd = true; }
                        <tr class="odd">
                            <td>@(Model.TotalItemCount - (exart.ROWNUM - 1))</td>
                            <td>@exart.CHARACTER_TYPE_NAME</td>
                            <td>@(("Y").Equals(exart.USED_YN) ? "사용" : "종료")</td>
                            <td><a href="@exart.IMG_URL" target="_blank"><img src="@exart.IMG_URL" style="width:50px" /></a></td>
                            <td>@exart.IMG_TAG</td>
                            <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.REG_DT)</td>
                            <td>
                                <div class="pull-right">
                                    @if (bEnd)
                                    {
                                        <button type="button" class="btn btn-danger btn-xs pull-right" onclick="fn_status('N', '@exart.SEQ')">종 료</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-success btn-xs pull-right" onclick="fn_status('Y', '@exart.SEQ')">사 용</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                        <tr>
                            <td colspan="6" class="text-center">데이터가 없습니다.</td>
                        </tr>
                }
                </tbody>
            </table>
            <div class="row text-center">
                @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Request.QueryString })
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modal-fileupload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">캐릭터 등록</h5>
                </div>
                <form method="post" name="form_imgupload" action="/Sully/Product/CharacterUpload" class="form-horizontal frmWrite" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="img_file_type" class="col-sm-2 control-label">이미지 종류</label>
                            <div class="col-sm-10">
                                <select id="img_file_type" name="img_type">
                                    <option value="1">일반</option>
                                    <option value="2">스토리썰링</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="img_file_upload" class="col-sm-2 control-label">이미지</label>
                            <div class="col-sm-10">
                                <input type="file" multiple id="img_file_upload" name="files" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="img_tag" class="col-sm-2 control-label">Tag</label>
                            <div class="col-sm-10">
                                <input type="text" id="img_tag" name="img_tag" class="form-control" placeholder="Tag Add (경제,금리인상)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save files</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>
@section script {
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
    //<![CDATA[

        //초기셋팅
        $(function () {
            $('#r_edt, #r_sdt').datepicker({
                dateFormat: 'yyyy-mm-dd',
                pickerPosition: 'bottom-right',
                autoclose: true
            });
        });

        /*이미지 등록*/
        $('form.frmWrite').ajaxForm({
            beforeSerialize: function () {
                //  param = "?pgi=" + querystring("pgi");
            },
            beforeSubmit: function (data, frm, option) {
                var imgtype = frm.find('#img_file_type option:selected');
                var imgfile = frm.find('#img_file_upload');
                var itag = frm.find('#img_tag');

                if ($.trim(imgtype.val()).length == 0) {
                    alert('이미지 종류를 선택해 주시기 바랍니다.');
                    imgtype.focus();
                    return false;
                }

                if ($.trim(imgfile.val()).length == 0) {
                    alert('파일을 선택하여 주시기 바랍니다.');
                    selId.focus();
                    return false;
                }
                if ($.trim(itag.val()).length == 0) {
                    alert('키워드 태그를 입력하여 주시기 바랍니다.');
                    selId.focus();
                    return false;
                }
                return true;
            },
            success: function (response, status) {
                if ('success' === status.toLowerCase()) {
                    if (response.result) {
                        alert('등록 되었습니다.');
                    } else {
                        alert(response.message);
                    }
                }
                $('#img_file_upload').val('');
                $('#modal-fileupload').modal('hide');
                window.location.href = "/Sully/Particle/CharacterList";
            },
            error: function (e) {
                //    var r = jQuery.parseJSON(e.responseText);
                alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                return false;
            }
        });

        function fn_status(status, seq) {
            if (seq == undefined || (seq <= 0)) { alert("입력전으로 변경이 불가능한 상태입니다."); return; }
            if (status == undefined || (status != "Y" && status != "N")) { alert("잘못된 정보입니다."); return; }
            var msg = "";
            if (status == "Y") { msg = "사용"; } else { msg = "종료"; }
            if (confirm(msg + ' 처리 하시겠습니까?')) {
                $.post("/sully/Common/CharacterStatus", { seq: seq, yn: status }, function (data) {
                    alert(data.message);
                    if (data.result) { window.location.href = location.href; }
                }, "json");
            }
        }
    //]]>
    </script>
}