﻿@model Joins.Apps.Models.Sully.QuestionDetailItem

<div class="box box-widget box-question" data-question-seq="@Model.Seq">
    <div class="box-body">
        <p>@Html.Nl2Br(Model.Content)</p>

        <button type="button" class="btn btn-default btn-xs btn-reply"><i class="fa fa-fw fa-commenting"></i> Reply</button>

        <small class="pull-right text-muted">
            <i class="fa fa-fw fa-question-circle"></i>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.RegDateTime)
            @if (Model.Reply.Count() > 0)
            {
                <text>&nbsp; / &nbsp;<i class="fa fa-fw fa-commenting"></i> @string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.Reply.LastOrDefault().RegDateTime)</text>

                if ("Y".Equals(Model.PushYN, StringComparison.OrdinalIgnoreCase))
                {
                    <text>&nbsp;<i class="fa fa-bell text-maroon"></i></text>
                }
            }
        </small>
    </div>

    <div class="box-footer box-reply" style="display: none;">
        <div class="col-sm-12 margin-bottom">
            <button type="button" class="btn-reply-type btn btn-xs bg-gray-light" data-target="1"><i class="fa fa-fw fa-file-text-o"></i>텍스트</button>
            <button type="button" class="btn-reply-type btn btn-xs bg-gray-light" data-target="2"><i class="fa fa-fw fa-external-link"></i>외부링크</button>
            <button type="button" class="btn-reply-type btn btn-xs bg-gray-light" data-target="3"><i class="fa fa-fw fa-newspaper-o"></i>내부링크</button>
            <input type="hidden" class="hdf-reply-type" value=""/>
        </div>
        <div class="reply-type reply-type-1 col-sm-11" style="display: none;">
            <textarea class="col-sm-12" rows="4" placeholder="답변을 입력해 주세요." style="resize: vertical;"></textarea>
        </div>
        <div class="reply-type reply-type-2 col-sm-11" style="display: none;">
            <div class="external-search"><input type="text" class="form-control" placeholder="외부 링크주소를 입력 후 enter키를 입력하여 링크 정보를 확인해 주세요" /></div>
            <div class="external-search-item" style="display: none; margin-bottom: 0px; margin-top: 10px;">
                <img class="img-circle pull-left img-thumbnail" src="" style="height: 30px; width: 30px; border: 1px solid #999;" />
                <div style="margin-left: 40px;">
                    <small><strong><i class="fa fa-header margin-r-5"></i> Title</strong></small>
                    <input type="text" class="txt-title form-control" value="" placeholder="제목을 입력해 주세요" />

                    <small><strong><i class="fa fa-link margin-r-5"></i> Url</strong></small>
                    <input type="text" class="txt-url form-control" value="" placeholder="링크 주소를 입력해 주세요" />

                    <small><strong><i class="fa fa-file-image-o margin-r-5"></i> Thumbnail</strong></small>
                    <input type="text" class="txt-thumbnail form-control" value="" placeholder="썸네일 주소를 입력해 주세요" />

                    <small><strong><i class="fa fa-internet-explorer margin-r-5"></i> Domain</strong></small>
                    <input type="text" class="txt-domain form-control" value="" placeholder="도메인 주소를 입력해 주세요" />
                </div>
            </div>
        </div>
        <div class="reply-type reply-type-3 col-sm-11" style="display: none;">
            <div class="internal-search"><input type="text" class="form-control" placeholder="추가할 프로덕트의 제목을 입력 후 enter키를 입력하여 검색해 주세요 (최근 10개검색)" /></div>
            <div class="internal-link" style="display: none;"></div>
            <div class="internal-search-result"></div>
        </div>
        <div class="reply-type reply-control col-sm-1" style="display: none;">
            <button type="submit" class="pull-right btn btn-danger btn-block btn-sm btn-submit">등록</button>
        </div>
    </div>

    @if (Model.Reply.Count() > 0)
    {
        <div class="box-footer box-comments">
            @foreach (var reply in Model.Reply)
            {
            <div class="box-comment">
                <div class="pull-right" data-question-seq="@reply.QuestionSeq" data-question-reply-seq="@reply.Seq">
                    <!-- 푸시 발송 선택된 댓글은 삭제 불가 -->
                    @if (reply.ReplyType == 1 && "N".Equals(Model.PushYN, StringComparison.OrdinalIgnoreCase))
                    {
                    <button class="btn-reply-push btn btn-xs bg-olive"><i class="fa fa-bell"></i> 푸시 발송</button>
                    }
                    @if ("N".Equals(reply.PushYN, StringComparison.OrdinalIgnoreCase))
                    {
                    <button class="btn-reply-remove btn btn-xs bg-red"><i class="fa fa-fw fa-trash"></i> 삭제</button>
                    }
                </div>
                <span class="username">
                    <small class="text-muted">
                        @string.Format("{0:yyyy-MM-dd HH:mm:ss}", reply.RegDateTime)
                        @if ("Y".Equals(reply.PushYN, StringComparison.OrdinalIgnoreCase))
                        {
                            <i class="fa fa-bell text-maroon"></i>
                        }
                    </small>
                </span>

                @if (reply.ReplyType == 1)
                {
                    <p>@Html.Nl2Br(reply.ReplyContent)</p>
                }

                @if (reply.ReplyType == 2)
                {
                    <div class="attachment-block" style="margin-bottom: 0px; border: 1px solid #999; background-color: #fff;">
                        <img class="img-circle pull-left" src="@reply.LinkExternalThumbnail" style="height: 30px; height: 30px; border: 1px solid #999;" />
                        <div style="margin-left: 40px;">
                            <h5 class="attachment-heading"><a href="@reply.LinkExternalUrl" target="_blank">@reply.LinkExternalTitle</a></h5>
                            <small class="attachment-text">@reply.LinkExternalDomain</small>
                        </div>
                    </div>
                }

                @if (reply.ReplyType == 3)
                {
                <div class="attachment-block" style="margin-bottom: 0px; border: 1px solid #999; background-color: #fff;">
                   <img class="img-circle pull-left" src="@reply.LinkInternalImage" style="height: 30px; height: 30px; border: 1px solid #999;" />
                    <div style="margin-left: 40px;">
                        <h5 class="attachment-heading"><a href="@System.Configuration.ConfigurationManager.AppSettings["SSully_Url"]/View/@reply.LinkInternalSeq" target="_blank">@reply.LinkInternalTitle</a></h5>
                        <small class="attachment-text">@reply.LinkInternalServiceDatetime / @reply.LinkInternalCategoryName</small>
                    </div>
                </div>
                }
            </div>
            }
        </div>
    }
</div>