﻿@{
    Joins.Apps.Cms.Models.Auth admmember = Joins.Apps.Cms.Core.LoginAuth.LoadLoginInfo();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0" />
    <title>Joins Mobile App CMS</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/AdminLTE.min.css?t=234908823058" rel="stylesheet" />
    <link href="~/Content/skin-blue.min.css" rel="stylesheet" />
    @*<link href="~/Content/docs.css" rel="stylesheet" />*@
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap-datepicker.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/Scripts/app.min.js"></script>
    @RenderSection("header", false)
</head>
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    @*<div class="wrapper">
    <div class="content-wrapper">*@
            @RenderBody()
            @*</div>*@
            <!-- /.content-wrapper -->
            @*<footer class="main-footer">
                <strong>Copyright by <a href="http://www.joins.com" target="_blank">joongang ilbo</a> Co.,Ltd.</strong> All Rights Reserved.
            </footer>*@

            <!-- ./wrapper -->
       @* </div>*@
        @RenderSection("script", false)
        <script type="text/javascript">
            //document.domain = "localhost:36177";
            var menuCode = '@(string.IsNullOrEmpty(ViewBag.MenuCode) ? string.Empty : ViewBag.MenuCode)';

            if ($.trim(menuCode).length > 0) {
                var groupCode = menuCode.substr(0, 3) + '00';

                if (menuCode !== groupCode)
                    $('#' + groupCode + ', #' + menuCode).addClass('active');
                else
                    $('#' + menuCode).addClass('active');
            }
        </script>
</body>
</html>