﻿@{
    Joins.Apps.Cms.Models.Auth admmember = Joins.Apps.Cms.Core.LoginAuth.LoadLoginInfo();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0" />
    <title>Joins Mobile App CMS</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/AdminLTE.min.css?t=234908823058" rel="stylesheet" />
    <link href="~/Content/skin-blue.min.css" rel="stylesheet" />
    @*<link href="~/Content/docs.css" rel="stylesheet" />*@
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap-datepicker.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/Scripts/app.min.js"></script>
    @RenderSection("header", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/Main/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Mobile Apps </b>CMS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Mobile Apps </b>CMS</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    @{if (admmember != null) {
                                            <text>@admmember.mname (@admmember.mid)</text>
                                        }
                                    }
                                </span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="/Auth/Logout">
                                <!-- The user image in the navbar-->
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    @if (admmember != null)
                    {
                        if ("sully".Equals(admmember.group, StringComparison.OrdinalIgnoreCase))
                        {
                            <li id="M0300" class="treeview active">
                                <a href="#">
                                    <i class="fa fa-newspaper-o"></i> <span>썰리 관리</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="M0301">
                                        <a href="/Sully/Main/Layout">
                                            <i class="fa fa-caret-right"></i><span>레이아웃 관리</span>
                                        </a>
                                    </li>

                                    <li id="M0302" class="treeview">
                                        <a href="/Sully/Product/">
                                            <i class="fa fa-caret-right"></i><span>프로덕트 관리</span>
                                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li id="M030201"><a href="/Sully/Product/"><i class="fa fa-circle-o"></i><span>프로덕트 목록</span></a></li>
                                            <li id="M030202"><a href="/Sully/Particle/"><i class="fa fa-circle-o"></i><span>파티클 이미지관리</span></a></li>
                                            <li id="M030203"><a href="/Sully/Particle/CharacterList"><i class="fa fa-circle-o"></i><span>파티클 캐릭터관리</span></a></li>
                                        </ul>
                                    </li>
                                    <li id="M0303"><a href="/Sully/BlockWord/Index"><i class="fa fa-caret-right"></i><span>금칙어관리</span></a></li>
                                    <li id="M0304" class="treeview">
                                        <a href="/Sully/Comment/">
                                            <i class="fa fa-caret-right"></i><span>댓글관리</span>
                                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li id="M030401"><a href="/Sully/Comment/"><i class="fa fa-circle-o"></i> 댓글목록</a></li>
                                            <li id="M030402"><a href="/Sully/Comment/BannedList"><i class="fa fa-circle-o"></i> 댓글 입력차단 관리</a></li>
                                            <li id="M030403"><a href="/Sully/Comment/Report"><i class="fa fa-circle-o"></i> 댓글신고 관리</a></li>
                                        </ul>
                                    </li>
                                    <li id="M0305"><a href="/Sully/Question/"><i class="fa fa-caret-right"></i><span>문의/제보</span></a></li>
                                    <li id="M0306"><a href="/Sully/Notice/List"><i class="fa fa-caret-right"></i><span>공지사항</span></a></li>
                                    <li id="M0307"><a href="/Sully/Push/"><i class="fa fa-caret-right"></i><span>일반푸시</span></a></li>
                                    <li id="M0308" class="treeview">
                                        <a href="/Sully/App/Version">
                                            <i class="fa fa-caret-right"></i><span>App 관리</span>
                                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li id="M030801"><a href="/Sully/App/Version"><i class="fa fa-circle-o"></i> 버전관리</a></li>
                                        </ul>
                                    </li>
                                    <li id="M0309"><a href="/Sully/Statistics/"><i class="fa fa-caret-right"></i><span>통계</span></a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li id="M0200" class="treeview active">
                                <a href="#">
                                    <i class="fa fa-newspaper-o"></i> <span>NEWS10 관리</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="M0210"><a href="/Conf/BriefRestore"><i class="fa fa-caret-right"></i> 브리핑 관리</a></li>
                                    <li id="M0206"><a href="/Card/CardList"><i class="fa fa-caret-right"></i> 카드 관리</a></li>
                                    <li id="M0201"><a href="/ShowCase/"><i class="fa fa-caret-right"></i> 커버이미지 관리</a></li>
                                    <li id="M0202"><a href="/Card/ExceptArticleList"><i class="fa fa-caret-right"></i> NEWS10 카드관리</a></li>
                                    <li id="M0205"><a href="/Push/PushList"><i class="fa fa-caret-right"></i>일반알림푸시 관리</a></li>
                                    <li id="M0207"><a href="/Event/"><i class="fa fa-caret-right"></i> 이벤트관리</a></li>
                                    @*<li id="M0203"><a href="/Conf/"><i class="fa fa-caret-right"></i> NEWS10 API 확인</a></li>*@
                                    <li id="M0204"><a href="/Conf/Apis"><i class="fa fa-caret-right"></i> 날씨 API 확인</a></li>

                                </ul>
                            </li>
                        }
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->

    @RenderSection("script", false)
    <script type="text/javascript">
        var menuCode = '@(string.IsNullOrEmpty(ViewBag.MenuCode) ? string.Empty : ViewBag.MenuCode)';

        if ($.trim(menuCode).length > 0) {
            var groupCode = menuCode.substr(0, 3) + '00';
            var categoryCode = menuCode.substr(0, 5);

            if (menuCode !== groupCode)
                $('#' + groupCode + ', #' + categoryCode + ', #' + menuCode).addClass('active');
            else
                $('#' + menuCode).addClass('active');
        }
    </script>
</body>
</html>