﻿@{
    Joins.Apps.Cms.Models.Auth admmember = Joins.Apps.Cms.Core.LoginAuth.LoadLoginInfo();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0" />
    <title>Joins Mobile App CMS</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />

    @if (IsSectionDefined("HeaderPublishCSSJavascript"))
    {
        @RenderSection("HeaderPublishCSSJavascript", false)
    }
    else
    {
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://static.joins.com/html/mobile/ssuly/html/js/hammer.min.js"></script>
        <script type="text/javascript" src="http://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?@DateTime.Now.Ticks"></script>

        <link rel="stylesheet" href="http://static.joins.com/html/mobile/ssuly/html/css/ssully_ver3.css?@DateTime.Now.Ticks" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    }

    @RenderSection("header", false)
</head>
<body>
   
            @RenderBody()

    @RenderSection("script", false)
    @*<script>
         var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
            $('#youtube_player1').inViewAutoplay({
                autohide: 1,
                modestbranding: 1,
                rel: 0
            });

            $('#youtube_player2').inViewAutoplay({
                autohide: 1,
                modestbranding: 1,
                rel: 0
            });
            $('#youtube_player3').inViewAutoplay({
                autohide: 1,
                modestbranding: 1,
                rel: 0

            });
            $('#youtube_player4').inViewAutoplay({
                autohide: 1,
                modestbranding: 1,
                rel: 0
            });
            $('#youtube_player5').inViewAutoplay({
                autohide: 1,
                modestbranding: 1,
                rel: 0
            });
        }
    </script>*@
</body>
</html>