﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductContentEdit

@{
    ViewBag.MenuCode = "M030201";
    Layout = (JCube.AF.Util.Converts.ToString(Request["popup"], "N") == "Y") ? "~/Views/Shared/_Layout_PopUp.cshtml" : Layout;

    string sClass = "warning";
    string sStatus = "R";
    string sStatusNM = "대기";
    string sServiceDT = DateTime.Now.ToString("yyy-MM-dd HH:mm");
    string sTempYN = "N", sContent = "", sOrgContent = "", sRegDt = "", sTempContent="",sTempOrgContent="",sTempRegDt="";
    string sTempNoti = "", sTempDataClass = " btn-success", sTempDataDisplay="Real DATA";
    int pgi = JCube.AF.Util.Converts.ToInt32(Request["pgi"], 1);
    if (Model != null && Model.Content.PD_SEQ > 0)
    {
        sStatus = Model.Content.PD_SERVICE_STATUS;
        sServiceDT = Model.Content.PD_SERVICE_DT;
        if (sStatus == "L" && !string.IsNullOrEmpty(sServiceDT) && JCube.AF.Util.Converts.ToDateTime(sServiceDT) > DateTime.Now) { sStatus = "A"; }
        sStatusNM = Joins.Apps.Models.Sully.Pd_ServiceStatusUtil.GetECName(sStatus);
        sContent = Model.Content.PDC_CONTENT;
        sOrgContent = Model.Content.PDC_ORG_CONTENT;
        sRegDt = Model.Content.REG_DT;
        /*임시 저장 정보 가져오기*/
        sTempYN = JCube.AF.Util.Converts.ToString(Model.Content.TEMP_YN, "P");
        sTempContent = Model.Content.TEMP_PDC_CONTENT;
        sTempOrgContent = Model.Content.TEMP_PDC_ORG_CONTENT;
        sTempRegDt = Model.Content.TEMP_REG_DT;
        sTempDataClass = " btn-success";
        sTempDataDisplay = " REAL DATA";
        switch (Model.Content.PD_SERVICE_STATUS)
        {
            case "L":
                sClass = "success";
                break;
            case "S":
                sClass = "default";
                break;
            case "E":
                sClass = "default";
                break;
        }
        if (sTempYN.Equals("Y"))
        {
            sTempNoti = " - <strong>" + sTempRegDt + "</strong> 임시저장된 데이터입니다.";
            sTempDataClass = " btn-danger";
            sTempDataDisplay = " TEMP DATA";
        }
    }
}

@Html.Navigator("프로덕트 콘텐트 관리", sTempNoti, new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "프로덕트 관리", Active = false },
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "프로덕트 콘텐트 관리", Active = true }
})

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        /*에디터 셋팅*/
        @if (Model.Product.PD_TYPE == 8)
        {
            <text>CKEDITOR.replace('editor1', { customConfig: '/Content/ckeditor/config_ssully_type8.js' });</text>
        } else
        {
            <text>CKEDITOR.replace('editor1', { customConfig: '/Content/ckeditor/config.js' });</text>
        }
        CKEDITOR.config.height = 570;
        CKEDITOR.config.allowedContent = true;//html 태그 허용옵션
        /*단축키 셋팅*/
        CKEDITOR.config.easykeymaps = {
            4456513: "A:",   //ALT + A
            4456514: "B:",   //ALT + B
            4456515: "C:",   //ALT + C
            4456516: "D:"   //ALT + D
        };
        CKEDITOR.config.easykeymaps[CKEDITOR.ALT + 49] = "A:";    //ALT + 1
        CKEDITOR.config.easykeymaps[CKEDITOR.ALT + 50] = "B:";    //ALT + 2
        CKEDITOR.config.easykeymaps[CKEDITOR.ALT + 51] = "C:";    //ALT + 3
        CKEDITOR.config.easykeymaps[CKEDITOR.ALT + 52] = "D:";    //ALT + 4

        CKEDITOR.on('dialogDefinition', function (ev) {
            try {
                var dialogName = ev.data.name;
                var dialogDefinition = ev.data.definition;
                if (dialogName == 'link') {
                    var informationTab = dialogDefinition.getContents('target');
                    var targetField = informationTab.get('linkTargetType');
                    targetField['default'] = '_blank';
                }
            } catch (exception) { }
        });
    });
    //]]>
</script>

<section class="content">
    <div class="row">
        <div class="col-md-7">
            <!-- 에디터 -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-xs @sTempDataClass" onclick="fn_temp_data_change()" id="temp_data_change">@sTempDataDisplay</button>
                        </div>
                        @if (Model.Product.PD_TYPE != 4 && Model.Product.PD_TYPE != 6)
                        {
                            <div class="col-sm-5" title="" onclick="on_tu_click()">
                                <span class="badge bg-warning" txt="A:" title="A:" draggable="true" ondragstart="dragstart_handler(event);">A</span> <span class="badge bg-warning" txt="B:" title="B:" draggable="true" ondragstart="dragstart_handler(event);">B</span> <span class="badge bg-warning" txt="C:" title="C:" draggable="true" ondragstart="dragstart_handler(event);">C</span>
                            </div>
                        }
                        <div class="col-sm-4">
                            @if (Model.Product.PD_TYPE != 4 && Model.Product.PD_TYPE != 6)
                            {
                                <a onclick="fn_edit_tip()"><i class="fa fa-fw fa-question" data-toggle="modal" data-target="#modal-info"></i></a>
                            }

                            <button type="button" class="btn btn-info btn-xs pull-right" onclick="btn_preview()">미리보기</button>
                        </div>
                    </div>
                    <form action="/Sully/Product/ContentEdit" method="post" name="product_content_edit" id="product_content_edit" onsubmit="return fn_product_edit(this)">
                        <div class="box-body pad">
                            @if (Model.Product.PD_TYPE == 7)
                            {
                                <div class="col-md-12">
                                    <small style="color: #f00;">다른 썰리퀴즈에서 복사해 올 경우 상호간 데이터가 엉킵니다.<br/>절대 복사하지 마시기 바랍니다.</small>
                                </div>
                            }
                            <input type="hidden" name="pgi" id="pgi" value="@pgi">
                            <input type="hidden" name="only" id="only" value="@Request["only"]">
                            <input type="hidden" name="popup" id="popup" value="@Request["popup"]">
                            <input type="hidden" name="pd_temp" id="pd_temp" value="N">
                            <input type="hidden" name="pd_seq" id="pd_seq" value="@Model.Content.PD_SEQ">
                            <input type="hidden" name="pdc_seq" id="pdc_seq" value="@Model.Content.PDC_SEQ">
                            <input type="hidden" name="pdc_content" id="pdc_content" value="@sContent" />
                            <input type="hidden" name="pdc_org_content" id="pdc_org_content" value="@sOrgContent" />
                            <input type="hidden" name="temp_product_content" id="temp_product_content" value="@sTempContent" />
                            <input type="hidden" name="temp_product_org_content" id="temp_product_org_content" value="@sTempOrgContent" />
                            <textarea id="editor1" name="editor1" rows="33"></textarea>
                        </div>
                        <div class="box-footer">
                            <div class="col-sm-5">
                                <button type="button" class="btn btn-default" onclick="on_editor_clear()">Clear</button>
                            </div>
                            <div class="col-sm-7">
                                <button type="button" class="btn btn-default" onclick="fn_product_cont_temp_save()">임시저장</button>
                                <button type="submit" class="btn-save btn btn-success pull-right">실반영</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 미리보기 -->
            <div class="col-md-6" id="div_preview">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="col-sm-7">
                            <h3 class="box-title">Preview</h3>
                            <small class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</small>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-default btn-xs" onclick="btn_preview_clear()">clear</button>
                            <button type="button" class="btn btn-info btn-xs pull-right" onclick="btn_preplay()" title="저장된 데이터로 플레이">Pre-Play</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <iframe src="about:blank" style="height:636px;width:100%;border:0px" id="preview_iframe" name="preview_iframe"></iframe>
                    </div>
                    <div class="box-footer">
                        @if (sStatus.Equals("R") || sStatus.Equals("S"))
                        {
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-info" onclick="fn_product_status('CL')">즉시출고</button>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="text" name="reservationtime" id="reservationtime" class="form-control pull-right" placeholder="2017-10-11 12:30" value="@sServiceDT">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-danger" onclick="fn_product_status('RL')">예약출고</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (!sStatus.Equals("E"))
                            {
                                <div class="col-sm-4">
                                    @if (sStatus.Equals("A"))
                                    {
                                        <button type="button" class="btn btn-info" onclick="fn_product_status('CL')">즉시출고</button>
                                    }
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="reservationtime" id="reservationtime" class="form-control pull-right" placeholder="2017-10-11 12:30" value="@sServiceDT">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-danger" onclick="fn_product_status('RL')">예약출고</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <small class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</small>
                                        <small class="label label-@sClass" title="서비스 일시"><i class="fa fa-clock-o"></i> @sServiceDT</small>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- 모듈 -->
        <div class="col-md-5">
            @if (Model.Product.PD_TYPE == 4 || Model.Product.PD_TYPE == 6)
            {
                @Html.Partial("~/views/sully/product/module/cornertype_4.cshtml", Model)
            }
            else if (Model.Product.PD_TYPE == 5)
            {
                @Html.Partial("~/views/sully/product/module/cornertype_5.cshtml", Model)
            }
            else if (Model.Product.PD_TYPE == 7)
            {
                @Html.Partial("~/views/sully/product/module/cornertype_7.cshtml", Model)
            }
            else if (Model.Product.PD_TYPE == 8)
            {
                @Html.Partial("~/views/sully/product/module/cornertype_8.cshtml", Model)
            }
            else
            {
                @Html.Partial("~/views/sully/product/module/cornertype_1.cshtml", Model)
            }
        </div>

    </div>

    <div class="modal fade" id="modal-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><i class="fa fa-fw fa-info"></i>TIP</h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-quiz-alert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">썰리퀴즈 복사금지</h4>
                </div>
                <div class="modal-body">
                    <p style="color: #f00;">다른 썰리퀴즈에서 복사해 올 경우 상호간 데이터가 엉킵니다.<br />절대 복사하지 마시기 바랍니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">확인</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>

@section script {
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/scripts/jquery.form.min.js"></script>
<script src="~/scripts/common.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            @if (Model.Product.PD_TYPE == 7) {
                <text>$('div#modal-quiz-alert').modal('show');</text>
            }
        });
        $('button:reset').click(function (e) {
            history.go(-1);
            return false;
        });
        var o_div1_w = 0, o_div1_h = 0, o_div2_w = 0, o_div2_h = 0, o_div3_w = 0, o_div3_h = 0, o_div4_w = 0, o_div4_h = 0;
        //초기셋팅
        $(function () {
            $('#reservationtime').datetimepicker({ dateFormat: 'yyyy-mm-dd hh:ii', pickerPosition: 'top-right', autoclose: true });

            /*기본데이터 불러오기*/
            var data = $("#pdc_org_content").val();
            var tempdata = $("#temp_product_org_content").val();
            if (tempdata != undefined && tempdata.length > 0 && '@sTempYN' == "Y")
                data = tempdata;

            CKEDITOR.instances.editor1.setData(data);//데이터불러오기
        });

        function dragstart_handler(ev) {
            var data = ev.target.title;
            ev.dataTransfer.setData("text/plain", data);
        }

        document.addEventListener("dragend", function (event) {
            if (event.target.title.indexOf(":") < 0)
                CKEDITOR.instances.editor1.insertHtml("<br/>");
        }, false);

        /*미리보기*/
        function btn_preview() {
            $('form#preview_frm').remove();
            var frm = $('<form id="preview_frm"><textarea name="html"></textarea></form>');
            $('body').append(frm);
            frm.find('textarea').text(CKEDITOR.instances.editor1.getData());
            frm.attr('method', 'post');
            frm.attr("target", "preview_iframe");

            if (@Model.Product.PD_TYPE == 7) {
                alert('썰리퀴즈는 실반영 된 데이터로만 확인 가능합니다.');
                frm.attr('action', '/sully/product/preview/@Model.Product.PD_SEQ');
            } else {
                frm.attr("action", "/sully/product/preview/@Model.Product.PD_SEQ");
            }

            frm.submit(function () {
                $("#preview_iframe").load(function () { });
            }).submit();
        }

        /*미리보기 삭제*/
        function btn_preview_clear() {
            $("#preview_iframe").attr('src', 'about:blank');
        }

        function btn_preplay() {
            alert("실반영된 정보로 보여집니다.");
            window.open('/sully/product/preview/@Model.Product.PD_SEQ', "JoinsPrePlay", "width=414px,height=800px,scrollbars=yes,resizable=yes");
        }

        /*A,B 클릭*/
        function on_tu_click() {
            var t = $(event.target).attr("txt");
            if (t != undefined && t.length > 0) {
                CKEDITOR.instances.editor1.insertHtml(t);
            }
        }

        /*에디터 클리어*/
        function on_editor_clear() {
            CKEDITOR.instances.editor1.setData("");
            btn_preview_clear();
        }

        /*팁정보-에디터*/
        function fn_edit_tip() {
            var msg1 = "<i class=\"fa fa-fw fa-info-circle\"></i>실반영이 안 된 임시데이터가 있을 경우 임시데이터를 먼저 불러옵니다.<br/><i class=\"fa fa-fw fa-info-circle\"></i><strong>단축키 안내</strong><br/> ALT+1 or ALT+A = A:<br/>ALT+2 or ALT+B = B:<br/>ALT+3 or ALT+C = C:<br/>ALT+4 or ALT+D = D:";
            $("#modal-info .modal-body").html(msg1);
        }

        var tempyn="@sTempYN";
        function fn_temp_data_change() {
            var msg = "";
            var data = $("#pdc_org_content").val();
            var tempdata = $("#temp_product_org_content").val();
            var editdata = CKEDITOR.instances.editor1.getData();
            var editingYn = false;
            if (tempyn == "Y") {
                if (data.length <= 0) { alert("저장된 실 데이터가 없습니다."); return; }
                msg = "실 데이터로";
                if (tempdata.trim() != editdata.trim()) {editingYn = true;}
            } else {
                if (tempdata.length <= 0) {alert("저장된 임시 데이터가 없습니다.");return;}
                msg = "임시 데이터로";
                if (data.trim() != editdata.trim()) {editingYn = true;}
            }
            msg =msg+" 바꾸시겠습니까?"
            if (editingYn) { msg = msg + " \r\n수정하신 내용이 있습니다. \r\n작업하신 내용을 저장하지 않으시면 없어집니다." };
            if (confirm(msg)) {
                if (tempyn == "Y") {
                    $("#temp_data_change").removeClass("btn-danger");
                    $("#temp_data_change").addClass("btn-success");
                    $("#temp_data_change").text("REAL DATA");
                    tempyn = "N";
                    CKEDITOR.instances.editor1.setData(data);//실데이터 넣기
                    $(".content-header h1 > small").text("");
                } else {
                    $("#temp_data_change").removeClass("btn-success");
                    $("#temp_data_change").addClass("btn-danger");
                    $("#temp_data_change").text("TEMP DATA");
                    tempyn = "Y";
                    CKEDITOR.instances.editor1.setData(tempdata);//임시데이터 넣기
                    $(".content-header h1 > small").text(" - 임시저장된 데이터입니다.");
                }
            }
        }

        function fn_product_edit(frm) {
            if ($(frm).data('process')) {
                alert('처리중입니다. 잠시만 기다려 주세요.');
                return false;
            }

            $(frm).data('process', true);

            try {
                $("#pdc_org_content").val(CKEDITOR.instances.editor1.getData());
                $("#pd_temp").val('N');
                return true;
            } catch (e) {
                alert('잠시 후 다시 시도해 주시기 바랍니다.');
                return false;
            }

            return false;
        }

        function fn_product_cont_temp_save() {
            $("#pdc_org_content").val(CKEDITOR.instances.editor1.getData());
            $("#pd_temp").val('Y');
            product_content_edit.submit();
        }

        function fn_product_status(status) {
            var pdseq = $("#pd_seq").val();
            var pdcseq = $("#pdc_seq").val();

            var stime = $("#reservationtime").val();
            if (status != "RL") { stime = ""; }
            if (pdcseq == undefined || pdcseq <=0) { alert("프로덕트 콘텐트가 입력되어 있지 않습니다."); return; }
            if (status == "RL"&&(stime == undefined || stime == '')) { alert("예약시간을 입력하여 주십시오."); return; }

            try {
                var d1 = new Date();
                var d2 = new Date(stime);
                if (d2.getFullYear() < 2016) {
                    alert("예약시간이 올바르지 않습니다.");
                    return;
                }

                if (status == 'RL' && d1 > d2 && !confirm('예약출고 시간이 현재시간보다 이전시간입니다. 즉시출고되는데 계속 진행하시겠습니까?'))
                    return false;
            } catch (e) {
                alert("예약시간이 올바르지 않습니다.");
                return;
            }

            msg = "";
            if (status == "RL") { msg = stime + " 로 예약 출고"; } else { msg = "즉시 출고"; }
            if (confirm(msg + ' 처리 하시겠습니까?')) {
                $.post("/sully/Product/PDStatus", { pseq: pdseq, st: status, serviceTime: stime }, function (data) {
                    alert(data.message);
                    if (data.result) { window.location.href = location.href; }
                }, "json");
            }
        }
        //]]>
    </script>
}