﻿@model Joins.Apps.Cms.Models.Sully.ProductEdit
@{
    if (JCube.AF.Util.Converts.ToString(Request["popup"], "N") == "Y")
    {
        Layout = "~/Views/Shared/_Layout_PopUp.cshtml";
    }

    ViewBag.MenuCode = "M030201";
    ViewBag.Title = "Edit";

    var push_enabled = true;
    // 프로덕트가 출고 설정된 경우
    if (Model.Product != null && "L".Equals(Model.Product.PD_SERVICE_STATUS, StringComparison.OrdinalIgnoreCase))
    {
        push_enabled = false;
    }
    // 푸시 발송대기가 아닌 경우
    if (Model.PushInfo != null && !"R".Equals(Model.PushInfo.Status, StringComparison.OrdinalIgnoreCase))
    {
        push_enabled = false;
    }

    string sStatus = "R";
    string sStatusNM = "대기";
    string sClass = "warning";
    string sServiceDT = DateTime.Now.ToString("yyy-MM-dd HH:mm");
    int pgi = JCube.AF.Util.Converts.ToInt32(Request["pgi"], 1);
    int ps = JCube.AF.Util.Converts.ToInt32(Request["ps"], 20);
    string req_param = "pgi=" + pgi + "&ps=" + ps;
    string req_only = JCube.AF.Util.Converts.ToString(Request["only"], "");
    bool bStop = false;
    bool bEnd = false;
    string sEditorName = "";
    if (Model.Product != null && Model.Product.PD_SEQ > 0)
    {
        sStatus = Model.Product.PD_SERVICE_STATUS;
        sServiceDT = Model.Product.PD_SERVICE_DT;
        sEditorName = Model.Product.PD_EDITOR_NM;

        if (sStatus == "L" && !string.IsNullOrEmpty(sServiceDT) && JCube.AF.Util.Converts.ToDateTime(sServiceDT) > DateTime.Now)
        {
            sStatus = "A";
        }

        sStatusNM = Joins.Apps.Models.Sully.Pd_ServiceStatusUtil.GetECName(sStatus);

        switch (Model.Product.PD_SERVICE_STATUS)
        {
            case "R":
                sClass = "default";
                bEnd = true;
                break;
            case "L":
                sClass = "success";
                bStop = true; bEnd = true;
                break;
            case "S":
                sClass = "default";
                bEnd = true;
                break;
            case "E":
                sClass = "default";
                break;
        }
    }
    else
    {
        sEditorName = Model.LoginInfo.mname;
    }
}

@Html.Navigator("프로덕트 정보 " + (Model.Product.PD_SEQ == 0 ? "입력" : "수정"), "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
        new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "프로덕트 관리", Active = false },
        new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "프로덕트 정보 " + (Model.Product.PD_SEQ == 0 ? "입력" : "수정"), Active = true }
})
<section class="content">
    <div class="row">
        <form action="/Sully/Product/Edit" method="post" name="product_content_edit" id="product_content_edit" onsubmit="return fn_product_edit(this)" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" name="pgi" id="pgi" value="@pgi" />
            <input type="hidden" name="ps" id="ps" value="@ps" />
            <input type="hidden" name="only" id="only" value="@req_only" />
            <input type="hidden" name="popup" id="popup" value="@Request["popup"]" />
            <input type="hidden" name="pdc_seq" id="pdc_seq" value="@Model.Product.PDC_SEQ" />
            <input type="hidden" name="cr_seq_01" id="cr_seq_01" value="@Model.Product.CR_SEQ_01" />
            <input type="hidden" name="cr_seq_02" id="cr_seq_02" value="@Model.Product.CR_SEQ_02" />
            <input type="hidden" name="pd_seq" id="pd_seq" value="@Model.Product.PD_SEQ" />
            <input type="hidden" name="pd_img_url" id="pd_img_url" value="@Model.Product.PD_IMG_URL" />
            <input type="hidden" name="pd_share_img_url" id="pd_share_img_url" value="@Model.Product.PD_SHARE_IMG_URL" />
            <input type="hidden" name="pd_provider_url" id="pd_provider_url" value="@Model.Product.PD_PROVIDER_URL" />
            <input type="hidden" name="pd_share_honeyscreen_img_url" id="pd_share_honeyscreen_img_url" value="@Model.Product.PD_SHARE_HONEYSCREEN_IMG_URL" />
            <input type="hidden" name="quiz_event_prize_image_url" id="quiz_event_prize_image_url" value="@Model.Product.QUIZ_EVENT_PRIZE_IMG_URL" />
            <input type="hidden" name="quiz_event_popup_image_url" id="quiz_event_popup_image_url" value="@Model.Product.QUIZ_EVENT_POPUP_IMG_URL" />
            <input type="hidden" name="push_yn" id="hdf_push_yn" value="@Model.Product.PUSH_YN" />

            @if (Model.PushInfo != null && Model.PushInfo.CategoryList.Count() > 0 && !push_enabled)
            {
                foreach (var item in Model.PushInfo.CategoryList)
                {
                    <input type="hidden" name="push_category" value="@item.Category" />
                }
            }

            <div class="col-md-8">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">기본 정보</h3>
                        @if (Model.Product.PDC_SEQ <= 0 && Model.Product.PD_SEQ > 0 && Model.Product.PD_SERVICE_STATUS != "E")
                        {
                            <span class="label label-danger" style="margin-left: 10px;">본문입력전</span>
                        }
                        <span class="pull-right">
                            @if (bStop)
                            {
                                <button type="button" class="btn btn-warning btn-xs" onclick="fn_product_status('S')">중 지</button>
                            }
                            @if (bEnd)
                            {
                                <button type="button" class="btn btn-danger btn-xs pull-right" style="margin-left: 10px;" onclick="fn_product_status('E')">종 료</button>
                            }
                        </span>
                    </div>
                    <div class="box-body">
                        <!-- 제목 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">제목 <span class="text-red small text-bold">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="pd_title" id="pd_title" value="@Model.Product.PD_TITLE" placeholder="제목 입력 ...">
                            </div>
                        </div>
                        <!-- 상태 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">상태 <span class="small text-bold" style="color: #fff !important;">*</span></label>
                            <div class="col-sm-10">
                                <span class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</span>
                            </div>
                        </div>
                        <!-- 코너종류 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">코너종류 <span class="text-red small text-bold">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" name="pd_type" id="pd_type">
                                    @foreach (var item in Model.Corners)
                                    {
                                        <option value="@item.Code" @(Model.Product.PD_TYPE == Convert.ToInt32(item.Code) ? "selected" : "")>@item.CodeName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- 카테고리 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">카테고리 <span class="text-red small text-bold">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" name="pd_category" id="pd_category">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <option value="@item.Code" @(Model.Product.PD_CATEGORY == item.Code ? "selected" : "")>@item.CodeName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- 키워드 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">키워드 <span class="text-red small text-bold">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="pd_tag" id="pd_tag" value="@Model.Product.PD_TAG" placeholder="키워드 입력 ...">
                                <small class="text-red">* 쉼표(,)로 구분하여 입력</small>
                            </div>
                        </div>
                        <!-- 대표 이미지 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">대표 이미지 <span class="text-red small text-bold">*</span></label>
                            <div class="col-sm-5">
                                <input type="file" id="img_file_upload" name="file" />
                                <small id="thumbnail_text" class="text-red" style="display: none;">* 이미지 권장 사이즈 : 400 * 400</small>
                                <script type="text/javascript">
                                    $(function () {
                                        var showMinimumThumbnailSize = function (pd_type) {
                                            var text = '400px * 400px';

                                            // 스토리썰링
                                            if (pd_type == '5')
                                                text = '720px * 540px 이상';
                                            // 썰리퀴즈
                                            if (pd_type == '7')
                                                text = '600px * 300px';
                                            // 여기가봤썰, 썰리프레소
                                            if (pd_type == '6' || pd_type == '8')
                                                text = '1080px * 600px 이상';

                                            $('small#thumbnail_text').html('<span class="label bg-yellow">* 이미지 권장 사이즈 : ' + text + '</span>').show();
                                        };

                                        showMinimumThumbnailSize($.trim($('#pd_type').val()));

                                        $('#pd_type').on('change', function (e) {
                                            showMinimumThumbnailSize($.trim($(this).val()));
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col-sm-5 text-right">
                                @if (!string.IsNullOrEmpty(Model.Product.PD_IMG_URL))
                                {
                                <a href="@Model.Product.PD_IMG_URL" target="_blank"><img src="@Model.Product.PD_IMG_URL" style="width:60px;"></a>
                                }
                            </div>
                        </div>
                        <!-- 소셜공유 이미지 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">허니스크린용 이미지 <i class="fa fa-fw fa-share-alt"></i><span class="small text-bold" style="color: #fff !important;">*</span></label>
                            <div class="col-sm-5">
                                <input type="file" id="img_share_honeyscreen_file_upload" name="share_honeyscreen_file" />
                            </div>
                            <div class="col-sm-5 text-right">
                                @if (!string.IsNullOrEmpty(Model.Product.PD_SHARE_HONEYSCREEN_IMG_URL))
                                {
                                    <a href="@Model.Product.PD_SHARE_HONEYSCREEN_IMG_URL" target="_blank"><img src="@Model.Product.PD_SHARE_HONEYSCREEN_IMG_URL" style="width:60px;"></a>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">소셜공유 이미지 <i class="fa fa-fw fa-share-alt"></i><span class="small text-bold" style="color: #fff !important;">*</span></label>
                            <div class="col-sm-5">
                                <input type="file" id="img_share_file_upload" name="share_file" />
                            </div>
                            <div class="col-sm-5 text-right">
                                @if (!string.IsNullOrEmpty(Model.Product.PD_SHARE_IMG_URL))
                                {
                                <a href="@Model.Product.PD_SHARE_IMG_URL" target="_blank"><img src="@Model.Product.PD_SHARE_IMG_URL" style="width:60px;"></a>
                                }
                            </div>
                        </div>
                        <!-- 소셜공유 부제목 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">소셜공유 부제목 <i class="fa fa-fw fa-share-alt"></i><span class="small text-bold" style="color: #fff !important;">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="pd_share_description" id="pd_share_description" value="@Model.Product.PD_SHARE_DESCRIPTION" maxlength="100" placeholder="입력하지 않는 경우 기본 상세설명문구로 공유됩니다.">
                            </div>
                        </div>
                        <!-- 라벨이미지 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">라벨이미지 <span class="small text-bold" style="color: #fff !important;">*</span></label>
                            <div class="col-sm-5">
                                <input type="radio" id="opt_provider_1" class="opt_provider" name="pd_provider" onclick="javascript: $('input#img_provider_upload').hide();" value="1"@("1".Equals(Model.Product.PD_PROVIDER, StringComparison.OrdinalIgnoreCase) ? " checked" : string.Empty)/>
                                <label for="opt_provider_1">없음</label>

                                <input type="radio" id="opt_provider_2" class="opt_provider" name="pd_provider" onclick="javascript: $('input#img_provider_upload').hide();" value="2"@("2".Equals(Model.Product.PD_PROVIDER, StringComparison.OrdinalIgnoreCase) ? " checked" : string.Empty) />
                                <label for="opt_provider_2">코너 기본 라벨</label>

                                <input type="radio" id="opt_provider_3" class="opt_provider" name="pd_provider" onclick="javascript: $('input#img_provider_upload').show();" value="3"@("3".Equals(Model.Product.PD_PROVIDER, StringComparison.OrdinalIgnoreCase) ? " checked" : string.Empty)/>
                                <label for="opt_provider_3">직접 업로드</label>

                                @if ("3".Equals(Model.Product.PD_PROVIDER, StringComparison.OrdinalIgnoreCase))
                                {
                                    <input type="file" id="img_provider_upload" name="provider_file" />
                                }
                                else
                                {
                                    <input type="file" id="img_provider_upload" name="provider_file" style="display: none;" />
                                }
                            </div>
                            <div class="col-sm-5 text-right">
                                @if (!string.IsNullOrEmpty(Model.Product.PD_PROVIDER_URL))
                                {
                                <a href="@Model.Product.PD_PROVIDER_URL" target="_blank"><img src="@Model.Product.PD_PROVIDER_URL" style="width:100px;"></a>
                                }
                            </div>
                        </div>
                        <!-- 속성 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">속성<span class="small text-bold" style="color: #fff !important;">*</span></label>
                            <div class="col-sm-10">
                                <input type="checkbox" id="push_yn" value="Y" @(push_enabled ? string.Empty : @"disabled=""disabled""") @("Y".Equals(Model.Product.PUSH_YN, StringComparison.OrdinalIgnoreCase) ? @"checked=""checked""" : "") />
                                <label for="push_yn">출고시 푸시발송</label>
                                <input type="checkbox" id="is_ad_product" name="is_ad_product" value="Y" @("Y".Equals(Model.Product.IS_AD_PRODUCT, StringComparison.OrdinalIgnoreCase) ? @"checked=""checked""" : "") />
                                <label for="is_ad_product">광고 콘텐트</label>
                                <div class="col-sm-12">
                                    <small class="text-red">* 푸시발송여부는 출고되지 않고 푸시가 발송되지 않은 상태에서만 변경 가능합니다.</small>
                                </div>
                            </div>
                        </div>

                        <div id="push_info" class="form-group" style="display: none; border: 2px solid #ffcc00; padding: 10px 10px 0px 10px; background: rgba(255, 204, 0, 0.3);">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">푸시 제목</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="push_title" id="push_title" maxlength="100" value="@(Model.PushInfo == null ? string.Empty : Model.PushInfo.Title)" placeholder="공란시 '똑똑! 이런 주제는 어때요?'으로 발송됩니다." @(push_enabled ? string.Empty : @"disabled=""disabled""") />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">푸시 내용</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="push_content" id="push_content" maxlength="100" value="@(Model.PushInfo == null ? string.Empty : Model.PushInfo?.Content)" placeholder="공란시 프로덕트 제목으로 발송됩니다." @(push_enabled ? string.Empty : @"disabled=""disabled""") />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">푸시 카테고리</label>
                                <div class="col-sm-10">
                                    @foreach (var item in Model.Categories.Where(x =>
                                    {
                                        return "101".Equals(x.Code) || "201".Equals(x.Code) || "301".Equals(x.Code) || "401".Equals(x.Code) || "701".Equals(x.Code) || "801".Equals(x.Code);
                                    }))
                                    {
                                        <input type="checkbox" id="push_category_@item.Code" name="push_category" value="@item.Code" @(Model.PushInfo != null && Model.PushInfo.CategoryList.Count(x => item.Code.Equals(x.Category)) > 0 ? @"checked=""checked""" : "") @(push_enabled ? string.Empty : @"disabled=""disabled""") />
                                        <label for="push_category_@item.Code">@item.CodeName</label>
                                    }
                                    <input type="checkbox" id="push_category_all" name="push_category" value="" @(Model.PushInfo != null && Model.PushInfo.CategoryList.Count(x => string.IsNullOrWhiteSpace(x.Category)) > 0 ? @"checked=""checked""" : "") @(push_enabled ? string.Empty : @"disabled=""disabled""") />
                                    <label for="push_category_all">전체 (관심카테고리 설정 안한 사용자에게도 발송)</label>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('input[name=push_category]:checkbox').not('#push_category_all').on('click', function (e) {
                                                if ($(this).is(':checked'))
                                                    $('input#push_category_all:checkbox').prop('checked', false);
                                            });
                                            $('input#push_category_all:checkbox').on('click', function (e) {
                                                if ($(this).is(':checked')) {
                                                    $('input[name=push_category]:checkbox').prop('checked', false);
                                                    $(this).prop('checked', true);
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group check_quiz_event" style="display: none; border: 2px solid #ffcc00; padding: 10px 10px 0px 10px; background: rgba(255, 204, 0, 0.3);">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">이벤트 여부 <span class="text-red small text-bold">*</span></label>
                                <div class="col-sm-10">
                                    <input type="checkbox" id="quiz_event_yn" name="quiz_event_yn" value="Y" @("Y".Equals(Model.Product.QUIZ_EVENT_YN, StringComparison.OrdinalIgnoreCase) ? @"checked=""checked""" : "") />
                                    <label for="quiz_event_yn">썰리퀴즈 이벤트</label>
                                </div>
                            </div>

                            <div id="quiz_info" style="display: none;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">이벤트 기간 <span class="text-red small text-bold">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="input-group input-daterange">
                                            <input type="text" class="form-control bootstrap-date" id="quiz_event_range_start_date" name="quiz_event_range_start_date" placeholder="이벤트 기간 시작일" value="@string.Format("{0:yyyy-MM-dd}", Model.Product.QUIZ_EVENT_START_DT)" />
                                            <div class="input-group-addon">&nbsp;~&nbsp;</div>
                                            <input type="text" class="form-control bootstrap-date" id="quiz_event_range_end_date" name="quiz_event_range_end_date" placeholder="이벤트 기간 종료일" value="@string.Format("{0:yyyy-MM-dd}", Model.Product.QUIZ_EVENT_END_DT)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">이벤트 발표예정일 <span class="text-red small text-bold">*</span></label>
                                    <div class="col-sm-3">
                                        <div class="input-group date">
                                            <input type="text" class="form-control bootstrap-date" id="quiz_event_notice_date" name="quiz_event_notice_date" placeholder="발표예정일" value="@string.Format("{0:yyyy-MM-dd}", Model.Product.QUIZ_EVENT_NOTICE_DT)" />
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">이벤트 팝업 이미지 <span class="text-red small text-bold">*</span></label>
                                    <div class="col-sm-5">
                                        <input type="file" id="img_quiz_event_popup_img" name="quiz_event_popup_file" />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        @if (!string.IsNullOrEmpty(Model.Product.QUIZ_EVENT_POPUP_IMG_URL))
                                    {
                                    <a href="@Model.Product.QUIZ_EVENT_POPUP_IMG_URL" target="_blank"><img src="@Model.Product.QUIZ_EVENT_POPUP_IMG_URL" style="width:60px;"></a>
                                    }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">이벤트 경품 이미지 <span class="text-red small text-bold">*</span></label>
                                    <div class="col-sm-5">
                                        <input type="file" id="img_quiz_event_prize_img" name="quiz_event_prize_file" />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        @if (!string.IsNullOrEmpty(Model.Product.QUIZ_EVENT_PRIZE_IMG_URL))
                                    {
                                    <a href="@Model.Product.QUIZ_EVENT_PRIZE_IMG_URL" target="_blank"><img src="@Model.Product.QUIZ_EVENT_PRIZE_IMG_URL" style="width:60px;"></a>
                                    }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">이벤트 응모 유의사항 <span class="text-red small text-bold">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea id="quiz_event_info_desc" name="quiz_event_info_desc" rows="3">@Model.Product.QUIZ_EVENT_INFO_DESC</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 노출작성자명 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">노출작성자명 <span class="small text-bold" style="color: #fff !important;">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="pd_editor_nm" id="pd_editor_nm" value="@sEditorName" placeholder="노출작성자명 입력 ...">
                            </div>
                        </div>
                        <!-- 미리보기 URL -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">미리보기 URL</label>
                            <div class="col-sm-10">
                                @if (Model.Product != null && Model.Product.PD_SEQ > 0)
                                {
                                    @Joins.Apps.Common.Sully.ContentOptimizer.GeneratePreviewURL(Model.Product.PD_SEQ)
                                }
                                else
                                {
                                    <text><small class="text-red">프로덕트 최초 생성시 미리보기 전용 URL이 생성됩니다.</small></text>
                                }
                            </div>
                        </div>
                        @if (Model.Product != null && Model.Product.PD_SEQ > 0)
                        {
                            <!-- 등록/수정일시 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">등록/수정일시 <span class="small text-bold" style="color: #fff !important;">*</span></label>
                                <div class="col-sm-10">
                                    @(Model.Product.PD_REG_ID + " - " + Model.Product.PD_REG_DT + " / " + Model.Product.PD_MOD_ID + " - " + Model.Product.PD_MOD_DT)
                                </div>
                            </div>
                        }
                    </div>
                    <div class="box-footer">
                        @if (Model.Product.PD_SEQ > 0)
                        {
                            <button type="button" class="btn  btn-block btn-danger" onclick="fn_product_content_go()">프로덕트 콘텐트 관리<i class="fa fa-fw  fa-chevron-right"></i></button>
                        }

                        <div style="margin-top: 10px;" class="pull-right">
                            <button type="reset" class="btn btn-default">취 소</button>
                            <button type="submit" class="btn btn-success" style="margin-left: 10px;">저 장</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">추천 프로덕트</h3>
                        @if (Model.Product.PD_SEQ <= 0)
                        {
                            <small class="text-red small">기본정보 등록 후 사용 가능합니다.</small>
                        }
                        <div class="pull-right">
                            <a onclick="fn_relate_tip()"><i class="fa fa-fw fa-question" data-toggle="modal" data-target="#modal-info"></i></a>
                            @if (Model.Product.PD_SEQ > 0)
                            {
                                <button type="submit" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-relate">추천등록</button>
                            }
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="" id="partcle_relate_img" style="min-height:120px"></div>
                    </div>
                </div>

                <div class="box box-info" style="margin-top: 10px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">캐릭터 정보</h3>
                    </div>
                    <div class="box-body">
                        <div class="box-profile col-lg-6">
                            <div ondrop="drop(event)" ondragover="allowDrop(event)">
                                <label class="control-label">A 캐릭터 (본인)</label>
                                <img class="profile-user-img img-responsive img-circle" id="cr_img_i_01" src="@Model.Product.CR_IMG_01" style="min-height: 100px; margin-bottom: 5px;" />
                                <input type="text" class="form-control img_url" name="cr_img_01" id="cr_img_01" value="@Model.Product.CR_IMG_01" placeholder="캐릭터 url"><br />
                                <input type="text" class="form-control" name="cr_name_01" id="cr_name_01" value="@Model.Product.CR_NAME_01" placeholder="A 캐릭터명">
                            </div>
                        </div>
                        <div class="box-profile col-lg-6">
                            <div ondrop="drop(event)" ondragover="allowDrop(event)">
                                <label class="control-label">B 캐릭터 (대화상대)</label>
                                <img class="profile-user-img img-responsive img-circle" id="cr_img_i_02" src="@Model.Product.CR_IMG_02" style="min-height: 100px; margin-bottom: 5px;" />
                                <input type="text" class="form-control img_url" name="cr_img_02" id="cr_img_02" value="@Model.Product.CR_IMG_02" placeholder="캐릭터 url"><br />
                                <input type="text" class="form-control" name="cr_name_02" id="cr_name_02" value="@Model.Product.CR_NAME_02" placeholder="B 캐릭터명">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="col-sm-4">
                            <h3 class="box-title">캐릭터리스트</h3>
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-4">
                                <label>
                                    <input type="checkbox" name="my_particle_img" id="my_particle_img" value="Y">내캐릭터
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="text" name="particle_img_tag" id="particle_img_tag" class="form-control pull-right" placeholder="캐릭터 Tag..">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" onclick="getParticleImgList(1)"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="" id="partcle_img" draggable="true" ondragstart="dragstart_handler1(event);" style="cursor:pointer;min-height:260px"></div>
                        <div class="text-center" id="partcle_img_paging"></div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-fileupload">캐릭터 등록</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modal-fileupload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">캐릭터 등록</h5>
                </div>
                <form method="post" name="form_imgupload" action="/Sully/Product/CharacterUpload" class="form-horizontal frmWrite" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="img_file_type" class="col-sm-2 control-label">이미지 종류</label>
                            <div class="col-sm-10">
                                <select id="img_file_type" name="img_type">
                                    <option value="1">일반</option>
                                    <option value="2">스토리썰링</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="img_file_upload" class="col-sm-2 control-label">이미지 </label>
                            <div class="col-sm-10">
                                <input type="file" multiple id="ch_img_file_upload" name="files" /> * 사이즈(128 x 128)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="img_tag" class="col-sm-2 control-label">Tag</label>
                            <div class="col-sm-10">
                                <input type="text" id="img_tag" name="img_tag" class="form-control" placeholder="Tag Add (경제,금리인상)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save files</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-relate">
        <div class="modal-dialog" style="width:1280px;height:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">추천 등록</h5>
                </div>
                <div class="modal-body" style="width:1280px;height:700px;">
                    <iframe src="/Sully/Product/PopProductList?pno=@Model.Product.PD_SEQ" style="width:1240px;height:650px;border:0px;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><i class="fa fa-fw fa-info"></i>TIP</h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</section>

@section script {
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/scripts/common.js"></script>
    <script src="~/scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        CKEDITOR.replace('quiz_event_info_desc', { customConfig: '/Content/ckeditor/config_product_quiz.js' })

        //초기셋팅
        $(function () {
            $('button:reset').click(function (e) {
                history.go(-1);
                return false;
            });
            getParticleImgList(1);
            getParticleRelateList();

            $('input.opt_provider').on('click', function (e) {
                var type = $(this).val();

                if (type == 3)
                    $('input#img_provider_upload').attr('_required', true).show();
                else
                    $('input#img_provider_upload').removeAttr('_required').hide();
            });

            $.fn.datepicker.dates['ko'] = {
                days: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
                daysShort: ["일", "월", "화", "수", "목", "금", "토"],
                daysMin: ["일", "월", "화", "수", "목", "금", "토"],
                months: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                monthsShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
                today: "오늘",
                clear: "취소",
                format: "yyyy-mm-dd",
                titleFormat: "yyyy년 MM", /* Leverages same syntax as 'format' */
                weekStart: 0
            };
            $('.bootstrap-date').datepicker({ pickerPosition: 'bottom-right', language: 'ko', title: 'yyyy년 MM', autoclose: true });

            $('#push_yn:checkbox').on('click', function (e) {
                if ($(this).is(':checked'))
                    $('#push_info').show();
                else
                    $('#push_info').hide();
            });

            $('#quiz_event_yn:checkbox').on('click', function (e) {
                if ($(this).is(':checked'))
                    $('div#quiz_info').show();
                else
                    $('div#quiz_info').hide();
            });
            $('select#pd_type').on('change', function (e) {
                if ($(this).val() == '7') {
                    $('.check_quiz_event').show();

                    if ($('#quiz_event_yn:checkbox').is(':checked'))
                        $('div#quiz_info').show();
                } else {
                    $('.check_quiz_event').hide();
                    $('div#quiz_info').hide();
                }
            });

            if ($('select#pd_type').val() == '7')
                $('.check_quiz_event').show();
            else
                $('.check_quiz_event').hide();

            if ($('#quiz_event_yn:checkbox').is(':checked'))
                $('div#quiz_info').show();
            else
                $('div#quiz_info').hide();

            if ($('#push_yn:checkbox').is(':checked'))
                $('#push_info').show();
            else
                $('#push_info').hide();
        });

        function fn_product_edit(frm) {
            if ($(frm).data('process')) {
                alert('처리중입니다. 잠시만 기다려 주세요.');
                return false;
            }

            $(frm).data('process', true);

            var pimgurl = $("#pd_img_url").val();
            var ptitle = $('#pd_title').val();
            var imgfile = $('#img_file_upload').val();
            var ptype = $('#pd_type').val();
            var pcate = $('#pd_category').val();
            var ptag = $('#pd_tag').val();
            var quiz_event_prize_image_url = $('input#quiz_event_prize_image_url').val();
            var quiz_event_popup_image_url = $('input#quiz_event_popup_image_url').val();

            var quiz_event_yn = $('input#quiz_event_yn:checkbox:checked').val()
            var quiz_event_range_start_date = $('input#quiz_event_range_start_date').val();
            var quiz_event_range_end_date = $('input#quiz_event_range_end_date').val();
            var quiz_event_notice_date = $('input#quiz_event_notice_date').val();
            var img_quiz_event_popup_img = $('input#img_quiz_event_popup_img').val();
            var img_quiz_event_prize_img = $('input#img_quiz_event_prize_img').val();

            var peditornm = $('#pd_editor_nm').val();
            var charactorimg01 = $('#cr_img_01').val();
            var charactorimg02 = $('#cr_img_02').val();
            var charactorname01 = $('#cr_name_01').val();
            var charactorname02 = $('#cr_name_02').val();

            if ($.trim(ptitle).length == 0) {
                $(frm).removeData('process');
                alert("제목을 입력하여 주시기 바랍니다.");
                return false;
            }
            if ($.trim(ptype).length == 0) {
                alert("타입을 선택하여 주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }
            if ($.trim(pcate).length == 0) {
                alert("카테고리를 선택하여 주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }
            if ($.trim(ptag).length == 0) {
                alert("키워드를 한개 이상을 반드시 입력하여 주시기 바랍니다.(구분자 ,쉼표)");
                $(frm).removeData('process');
                return false;
            }
            if ($.trim(imgfile).length == 0 && $.trim(pimgurl).length == 0) {
                alert("대표 썸네일을 입력하여 주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }
            if ($('input#img_provider_upload').attr('_required') && $.trim($('input#img_provider_upload').val()).length == 0) {
                $(frm).removeData('process');
                alert('업로드할 라벨이미지를 선택해 주시기 바랍니다.');
                return false;
            }

            $('#hdf_push_yn').val($('#push_yn').prop('checked') ? 'Y' : 'N');
            if ($('#push_yn').prop('checked')) {
                if ($('#push_title').val().length > 0 && $.trim($('#push_title').val()).length == 0) {
                    alert('푸시 제목을 올바르게 입력해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }

                if ($('#push_content').val().length > 0 && $.trim($('#push_content').val()).length == 0) {
                    alert('푸시 내용을 올바르게 입력해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }

                if ($('input:checkbox[name=push_category]:checked').length == 0) {
                    alert('푸시를 발송할 카테고리를 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }

                $('#push_title').val($.trim($('#push_title').val()));
                $('#push_content').val($.trim($('#push_content').val()));
            }

            // 썰리퀴즈 이벤트
            if (ptype == '7' && quiz_event_yn == 'Y') {
                if ($.trim(quiz_event_range_start_date).length == 0) {
                    alert('이벤트 시작일을 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                if ($.trim(quiz_event_range_end_date).length == 0) {
                    alert('이벤트 종료일을 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                if (new Date(quiz_event_range_start_date) > new Date(quiz_event_range_end_date)) {
                    alert('이벤트 기간이 올바르지 않습니다.\n다시 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                if ($.trim(quiz_event_notice_date).length == 0) {
                    alert('이벤트 발표예정일을 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                if (new Date(quiz_event_range_end_date) >= new Date(quiz_event_notice_date)) {
                    alert('이벤트 발표예정일은 이벤트가 종료 된 이후로 설정 할 수 있습니다.\n다시 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                if ($.trim(img_quiz_event_popup_img).length == 0 && $.trim(quiz_event_popup_image_url).length == 0) {
                    alert('이벤트 팝업 이미지를 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                if ($.trim(img_quiz_event_prize_img).length == 0 && $.trim(quiz_event_prize_image_url).length == 0) {
                    alert('이벤트 경품 이미지를 선택해 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
            }

            if ($.trim(peditornm).length == 0) {
                alert("노출 기자명을 입력하여  주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }
            if ($.trim(charactorimg01).length == 0) {
                alert("A(본인) 캐릭터 이미지를 입력하여 주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }
            if ($.trim(charactorname01).length == 0) {
                alert("A(본인) 캐릭터명을 입력하여  주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }
            if ($.trim(charactorimg02).length == 0) {
                alert("B(상대방) 캐릭터 이미지를 입력하여 주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }
            if ($.trim(charactorname02).length == 0) {
                alert("B(상대방) 캐릭터명을 입력하여  주시기 바랍니다.");
                $(frm).removeData('process');
                return false;
            }

            return true;
        }

        /*이미지 등록*/
        $('form.frmWrite').ajaxForm({
            beforeSubmit: function (data, frm, option) {
                var imgtype = frm.find('#img_file_type option:selected');
                var imgfile = frm.find('#ch_img_file_upload');
                var itag = frm.find('#img_tag');

                if ($.trim(imgtype.val()).length == 0) {
                    alert('이미지 종류를 선택해 주시기 바랍니다.');
                    imgtype.focus();
                    $(frm).removeData('process');
                    return false;
                }

                if ($.trim(imgfile.val()).length == 0) {
                    alert('파일을 선택하여 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                if ($.trim(itag.val()).length == 0) {
                    alert('키워드 태그를 입력하여 주시기 바랍니다.');
                    $(frm).removeData('process');
                    return false;
                }
                return true;
            },
            success: function (response, status) {
                if ('success' === status.toLowerCase()) {
                    if (response.result) {
                        alert('등록 되었습니다.');
                    } else {
                        alert(response.message);
                    }
                }
                $('#ch_img_file_upload').val('');
                $('#modal-fileupload').modal('hide');
                getParticleImgList(1);
            },
            error: function (e) {
                alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                $(frm).removeData('process');
                return false;
            }
        });

        /*팁정보-에디터*/
        function fn_relate_tip() {
            var msg1 = "<i class=\"fa fa-fw fa-info-circle\"></i> 추천 기사가 <strong>서비스중</strong>이 아닌 경우 노출되지 않습니다.";
            $("#modal-info .modal-body").html(msg1);
        }

        /*이미지 리스트*/
        function getParticleImgList(page) {
            var isMy = $("input[name=my_particle_img]:checked").val();
            if ($.trim(isMy).length == 0)
                isMy = "";

            //$("#partcle_img").html('<div style="position:absolute;top:43%;left:43%"><img src="/Content/spinner.gif"/></div>');
            $.getJSON("/API/Sully/Particle/CharacterImgList", {
                pgi: page,
                ps: 30,
                t: $("#particle_img_tag").val(),
                my: isMy,
                character_type: 1
            }, function (data) {
                if (data.result != null) {
                    if (data.result.r == 1) {
                        $("#partcle_img").html('');

                        for (i = 0; i < data.result.Data.length; i++)
                            $("#partcle_img").append("<img src='" + data.result.Data[i].IMG_URL + "' style='width:75px;height:75px;overflow:hidden;margin:2px;' title='" + data.result.Data[i].IMG_TAG + "'>");

                        $("#partcle_img_paging").html(Pager.PagingHtml(page, data.result.t_cnt, 30, "getParticleImgList"));
                    } else {
                        $("#partcle_img").html('<div style="position:absolute;top:35%;left:30%"><span>캐릭터가 존재하지 않습니다.</span></div>');
                    }
                } else {
                    $("#partcle_img").html('<div style="position:absolute;top:35%;left:30%"><span>캐릭터가 존재하지 않습니다.</span></div>');
                }
            });
        }

        function fn_relate_select() {
            getParticleRelateList();
            $('#modal-relate').modal('hide');
        }

        /*추천 리스트*/
        function getParticleRelateList() {
            var pdseq = $("#pd_seq").val();
            var totcnt = 0, ps1 = 3;
            $("#partcle_relate_img").html('<div style="position:absolute;top:43%;left:43%"><img src="/Content/spinner.gif"/></div>');
            $.getJSON("/API/Sully/Particle/RelateList", { pno: pdseq }, function (data) {
                if (data.result != null) {
                    if (data.result.r == 1) {
                        $("#partcle_relate_img").html('');
                        totcnt = data.result.t_cnt
                        for (i = 0; i < data.result.Data.length; i++) {
                            var sRStatus = data.result.Data[i].PD_SERVICE_STATUS, sRStatusNM = "", sRClass = "warning";
                            var stime = data.result.Data[i].PD_SERVICE_DT;
                            var d1 = new Date();
                            var d2 = new Date(stime);
                            if (status == "RL" && d1.getTime() > (d2.getTime() + 60000)) { alert("지난 시간을 입력하셨습니다."); return; }
                            if (sRStatus == "L" &&stime==undefined&&stime.length>0&& d1.getTime() > (d2.getTime() + 60000)) { sRStatus = "A"; }
                            switch (sRStatus) {
                                case "R":
                                    sRClass = "default";
                                    sRStatusNM ="대기";
                                    break;
                                case "A":
                                    sRClass = "success";
                                    sRStatusNM ="예약대기중";
                                case "L":
                                    sRClass = "success";
                                     sRStatusNM ="서비스중";
                                    break;
                                case "S":
                                    sRClass = "default";
                                    sRStatusNM ="서비스중지";
                                    break;
                                case "E":
                                    sRClass = "default";
                                    sRStatusNM ="종료";
                                    break;
                            }
                            var dt = data.result.Data[i].PD_SERVICE_DT + " " + "<small class=\"label label-" + sRClass + "\"><i class=\"fa fa-clock-o\"></i>" + sRStatusNM + "</small>";
                            $("#partcle_relate_img").append("<div class=\"form-group\">");
                            $("#partcle_relate_img").append("<div class=\"col-sm-2\"><img src='" + data.result.Data[i].PD_IMG_URL + "' style='width:75px;height:75px;overflow:hidden;margin:2px;'></div>");
                            $("#partcle_relate_img").append("<div class=\"col-sm-8\"><p>" + data.result.Data[i].PD_TITLE + "</p><p style=\"margin-bottom: 0\">" + dt + "</p></div>");
                            $("#partcle_relate_img").append("<div class=\"col-sm-2\"><button type=\"button\" class=\"btn btn-danger btn-xs\" onclick=\"btn_relate_delete('" + data.result.Data[i].PD_RELATE_SEQ + "')\">삭제</button></div>");

                            $("#partcle_relate_img").append("</div>");
                        }
                    } else {
                        $("#partcle_relate_img").html('<div style="position:absolute;top:35%;left:30%"><span>추천 프로덕트가 존재하지 않습니다.</span></div>');
                    }
                } else {
                    $("#partcle_relate_img").html('<div style="position:absolute;top:35%;left:30%"><span>추천 프로덕트가 존재하지 않습니다.</span></div>');
                }
            });
        }

        function fn_product_content_go() {
            location.href = "/sully/Product/ContentEdit?pno=@Model.Product.PD_SEQ&pgi=@pgi&only=@req_only&popup=@Request["popup"]"
        }

        function on_img_dbclick() {
            var src = $(event.target).attr("src");
            console.log("src",src);
            if (src != undefined && src.length > 0) {
                var d = "<img src='" + src + "'/><br/>"
                CKEDITOR.instances.editor1.insertHtml(d);
            }
        }

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function dragstart_handler1(ev) {
            ev.dataTransfer.setData("text", ev.target.src);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");

            $(ev.target).closest('div.box-profile').find('img.profile-user-img').attr("src", data).end().find('input.img_url').val(data);
        }

        function fn_product_status(status) {
            var pdseq = $("#pd_seq").val();
            var stime = "";
            if (status != "RL") { stime = ""; }
            if (pdseq == undefined || (pdseq<=0)) { alert("입력전으로 변경이 불가능한 상태입니다."); return; }
            if (status == undefined || (status == "S" && status == "E")) { alert("잘못된 정보입니다."); return; }
            var msg = "";
            if (status == "S") { msg = "중지"; } else { msg = "종료";}
            if (confirm(msg+' 처리 하시겠습니까?')) {
                $.post("/sully/Product/PDStatus", { pseq: pdseq, st: status, serviceTime: stime }, function (data) {
                    alert(data.message);
                    if (data.result) { window.location.href = location.href; }
                }, "json");
            }
        }

        function btn_relate_product(no) {
            var pdseq = $("#pd_seq").val();
            window.open("/Sully/Product/PopProductList?pno=" + pdseq, "JoinsRelate", "width=1240px,height=900px,scrollbars=yes,resizable=yes");
        }

        function btn_relate_delete(no) {
            var pdseq = $("#pd_seq").val();
            if (confirm('추천 프로덕트를 삭제 하시겠습니까?')) {
                $.post("/sully/Product/PDRelateEdit", { pseq: pdseq, rseq: no, st: 'N' }, function (data) {
                    alert(data.message);
                    if (data.result) {
                        getParticleRelateList();
                    }
                }, "json");
            }
        }
       //]]>
    </script>
}
