﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductList

@{
    ViewBag.MenuCode = "M030201";
}
@Html.Navigator("프로덕트 목록", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "프로덕트 관리", Active = false },
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "프로덕트 목록", Active = true }
})

<section class="content">
    
    <div class="box">
        <div class="box-body">
            <form action="/Sully/Product" class="form-inline" method="get">
                <input type="hidden" name="pgi" value="1" />
                <input type="hidden" name="ps" value="@JCube.AF.Util.Converts.ToInt32(Request["ps"], 20)" />

                <div class="form-row">
                    <div class="form-group">
                        <label for="ptype">형식</label>
                        <select name="ptype" class="form-control">
                            <option value="">- 전체 -</option>
                            @foreach (var item in Model.Corner)
                            {
                                <option value="@item.Code" @(JCube.AF.Util.Converts.ToString(Request["ptype"], "").Equals(item.Code) ? "selected" : String.Empty)>@item.CodeName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pst">상태</label>
                        <select name="pst" class="form-control">
                            <option value="">- 전체 -</option>
                            <option value="R" @(("R").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>대기</option>
                            <option value="L" @(("L").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>서비스중</option>
                            <option value="S" @(("S").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>중지</option>
                            <option value="E" @(("E").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>종료</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pcate">카테고리</label>
                        <select name="pcate" class="form-control">
                            <option value="">- 전체 -</option>
                            @foreach (var item in Model.Category)
                            {
                                <option value="@item.Code" @(JCube.AF.Util.Converts.ToString(Request["pcate"], "").Equals(item.Code) ? "selected" : String.Empty)>@item.CodeName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group" style="width: 202px;">
                        <label>서비스 시작일</label>
                        <div class="form-control text-center">
                            <input type="text" class="no-border text-center" name="s_sdt" id="s_sdt" value="@JCube.AF.Util.Converts.ToString(Request["s_sdt"], "")" data-date-format="yyyy-mm-dd" placeholder="시작일" style="width: 80px;" />
                            <span>~</span>
                            <input type="text" class="no-border text-center" name="s_edt" id="s_edt" value="@JCube.AF.Util.Converts.ToString(Request["s_edt"], "")" data-date-format="yyyy-mm-dd" placeholder="종료일" style="width: 80px;" />
                        </div>
                    </div>
                    <div class="form-group" style="width: 202px;">
                        <label>등록일</label>
                        <div class="form-control text-center">
                            <input type="text" class="no-border text-center" name="r_sdt" id="r_sdt" value="@JCube.AF.Util.Converts.ToString(Request["r_sdt"], "")" data-date-format="yyyy-mm-dd" placeholder="시작일" style="width: 80px;" />
                            <span>~</span>
                            <input type="text" class="no-border text-center" name="r_edt" id="r_edt" value="@JCube.AF.Util.Converts.ToString(Request["r_edt"], "")" data-date-format="yyyy-mm-dd" placeholder="종료일" style="width: 80px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ptag">키워드</label>
                        <input type="text" class="form-control" name="ptag" value="@JCube.AF.Util.Converts.ToString(Request["ptag"], "")" placeholder="키워드" />
                    </div>
                    <div class="form-group">
                        <label for="ptitle">제목</label>
                        <input type="text" class="form-control" name="ptitle" value="@JCube.AF.Util.Converts.ToString(Request["ptitle"], "")" placeholder="제목" />
                    </div>
                    
                    <label style="margin: 0 20px;"><input type="checkbox" name="only" id="only" value="Y" @(("Y").Equals(JCube.AF.Util.Converts.ToString(Request["only"], "")) ? "checked" : String.Empty)> 내 프로덕트만</label>
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 검색</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="box">
        <div class="box-header with-border">
            <a href="/Sully/Product/Edit" class="btn btn-success pull-right">신규등록</a>
        </div>
        <div class="box-body">
            <table class="table table-hover dataTable">
                <thead>
                    <tr class="bg-gray-light">
                        <th class="text-center">번호</th>
                        <th class="text-center">고유번호</th>
                        <th class="text-center">타이틀</th>
                        <th class="text-center">이미지</th>
                        <th class="text-center">카테고리</th>
                        <th class="text-center">상태</th>
                        <th class="text-center">서비스일시</th>
                        <th class="text-center">등록일시</th>
                        <th class="text-center">변경</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Entity.Data.Count() > 0)
                    {
                        foreach (var exart in Model.Entity.Data)
                        {
                            var sStatus = (exart.PD_SERVICE_STATUS == "L" && !string.IsNullOrEmpty(exart.PD_SERVICE_DT) && JCube.AF.Util.Converts.ToDateTime(exart.PD_SERVICE_DT) > DateTime.Now) ? "A" : exart.PD_SERVICE_STATUS;
                            var sStatusNM = Joins.Apps.Models.Sully.Pd_ServiceStatusUtil.GetECName(sStatus);
                            var sClass = "warning";
                            var bStop = false;
                            var bEnd = false;
                            var link_parameter = new System.Collections.Specialized.NameValueCollection {
                                { "pno", Convert.ToString(exart.PD_SEQ) },
                                { "pgi", Convert.ToString(Model.Entity.PageNum) },
                                { "ps", JCube.AF.Util.Converts.ToInt32(Request["ps"],20).ToString() },
                                { "ptype", JCube.AF.Util.Converts.ToString(Request["ptype"],"") },
                                { "pst", JCube.AF.Util.Converts.ToString(Request["pst"],"") },
                                { "pcate", JCube.AF.Util.Converts.ToString(Request["pcate"],"") },
                                { "ptag", JCube.AF.Util.Converts.ToString(Request["ptag"],"") },
                                { "ptitle", JCube.AF.Util.Converts.ToString(Request["ptitle"],"") },
                                { "s_sdt", JCube.AF.Util.Converts.ToString(Request["s_sdt"],"") },
                                { "s_edt", JCube.AF.Util.Converts.ToString(Request["s_edt"],"") },
                                { "r_sdt", JCube.AF.Util.Converts.ToString(Request["r_sdt"],"") },
                                { "r_edt", JCube.AF.Util.Converts.ToString(Request["r_edt"],"") },
                                { "only", JCube.AF.Util.Converts.ToString(Request["only"],"") }
                            };

                            switch (exart.PD_SERVICE_STATUS)
                            {
                                case "R":
                                    sClass = "default";
                                    bEnd = true;
                                    break;
                                case "L":
                                    sClass = "success";
                                    bStop = true;
                                    bEnd = true;
                                    break;
                                case "S":
                                    sClass = "default";
                                    bEnd = true;
                                    break;
                                case "E":
                                    sClass = "default";
                                    break;
                            }

                            //Pd_Category
                            <tr class="odd">
                                <td style="vertical-align: middle;" class="text-center">
                                    @(Model.Entity.TotalItemCount - (exart.ROWNUM - 1))
                                </td>
                                <td style="vertical-align: middle;" class="text-center">
                                    <span class="label bg-gray">@exart.PD_SEQ</span>
                                </td>
                                <td style="vertical-align: middle;">
                                    <a href="javascript:void(0);" onclick="fn_product_popup('@exart.PD_SEQ')"><span class="label label-danger">팝업</span></a>
                                    
                                    <a href="@Html.GenerateLink("/Sully/Product/Edit", link_parameter)">
                                        @if (!string.IsNullOrEmpty(exart.PD_PROVIDER_URL))
                                        {
                                            <img src="@exart.PD_PROVIDER_URL" style="max-height: 20px; margin-top: -9px; margin-right: 10px;" />
                                        }
                                        @(exart.PD_TITLE.Ellipsis(100, "..."))
                                    </a>
                                    
                                    @if (exart.QUIZ_EVENT_STATUS > 0)
                                    {
                                        var quiz_event_status_txt = "이벤트 대기중";
                                        var quiz_event_status_class = "bg-gray";
                                        switch (exart.QUIZ_EVENT_STATUS)
                                        {
                                            case 1:
                                                quiz_event_status_txt = "이벤트 대기중";
                                                quiz_event_status_class = "bg-gray";
                                                break;
                                            case 2:
                                                quiz_event_status_txt = "이벤트 진행중";
                                                quiz_event_status_class = "bg-orange";
                                                break;
                                            case 3:
                                                quiz_event_status_txt = "이벤트 종료";
                                                quiz_event_status_class = "bg-green";
                                                break;
                                        }
                                        <a href="/sully/product/download/excel/@exart.PD_SEQ" class="fa fa-save label @quiz_event_status_class" style="margin-right: 5px;"> <small>@quiz_event_status_txt</small></a>
                                    }

                                    <span class="label label-default pull-right">@exart.CORNER_NM</span>
                                </td>

                                <td style="vertical-align: middle;" class="text-center">
                                    <a href="@exart.PD_IMG_URL" target="_blank"><img src="@exart.PD_IMG_URL" style="width:50px" /></a>
                                </td>
                                <td style="vertical-align: middle;" class="text-center">@exart.CATE_NM</td>
                                <td style="vertical-align: middle;" class="text-center">
                                    <a href="@Html.GenerateLink("/Sully/Product/Edit", link_parameter)"><small class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</small></a>
                                    @if (exart.PDC_SEQ <= 0 && exart.PD_SEQ > 0 && exart.PD_SERVICE_STATUS != "E")
                                            {
                                        <span class="label label-danger"> 본문입력전</span>
                                        }
                                </td>
                                <td style="vertical-align: middle;" class="text-center">@string.Format("{0:yyyy-MM-dd HH:mm}", exart.PD_SERVICE_DT)</td>
                                <td style="vertical-align: middle;" class="text-center">@string.Format("{0:yyyy-MM-dd HH:mm}", Convert.ToDateTime(exart.PD_REG_DT))</td>
                                <td style="vertical-align: middle;" class="text-center">
                                    <div class="pull-right">
                                        @if (bStop)
                                        {
                                            <button type="button" class="btn btn-warning btn-xs" onclick="fn_product_status('S','@exart.PD_SEQ')">중 지</button>
                                        }
                                        &nbsp;
                                        @if (bEnd)
                                    {
                                            <button type="button" class="btn btn-danger btn-xs pull-right" onclick="fn_product_status('E', '@exart.PD_SEQ')">종 료</button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center">데이터가 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row text-center">
                @Html.Pager(Model.Entity, new HtmlHelperPagerExtensions.PagerOptions { Parameters = Request.QueryString })
            </div>
        </div>
    </div>

</section>
@section script {
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
    //<![CDATA[

    //초기셋팅
        $(function () {
            $('#s_edt, #s_sdt, #r_edt, #r_sdt').datepicker({
                                                dateFormat: 'yyyy-mm-dd',
                pickerPosition: 'bottom-right',
                autoclose: true
            });
                                        });
        function fn_product_status(status, pdseq) {
            if (pdseq == undefined || (pdseq <= 0)) { alert("입력전으로 변경이 불가능한 상태입니다."); return; }
            if (status == undefined || (status != "S" && status != "E")) { alert("잘못된 정보입니다."); return; }
            var msg = "";
            if (status == "S") { msg = "중지"; } else { msg = "종료"; }
            if (confirm(msg + ' 처리 하시겠습니까?')) {
                $.post("/sully/Product/PDStatus", { pseq: pdseq, st: status, serviceTime: "" }, function (data) {
                    alert(data.message);
                    if (data.result) { window.location.href = location.href; }
                }, "json");
            }
        }
        function fn_product_popup(no) {

            window.open("/Sully/Product/Edit?pno=" + no + "&popup=Y", "JoinsProduct", "width=1800px,height=1000px,scrollbars=yes,resizable=yes");
        }
    //]]>
    </script>
}