﻿@model Joins.Apps.Cms.Models.Sully.ProductView.SSullyProductList

@{
     Layout = "~/Views/Shared/_Layout_PopUp.cshtml"; 
    ViewBag.MenuCode = "M030201";
}
<section class="content">
    
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <form action="/Sully/Product/PopProductList" method="get">
                    <input type="hidden" name="pgi" value="@JCube.AF.Util.Converts.ToInt32(Request["pgi"],1)" />
                    <input type="hidden" name="ps" value="@JCube.AF.Util.Converts.ToInt32(Request["ps"],20)" />
                    <input type="hidden" name="pno" value="@JCube.AF.Util.Converts.ToInt32(Request["pno"],0)" />
                    <input type="hidden" name="no" value="@JCube.AF.Util.Converts.ToInt32(Request["no"],0)" />
                    <table class="table table-hover dataTable">
                        <tbody>
                            <tr>
                                <td>
                                    <label>상태</label>
                                    <select name="pst" class="form-control" style="max-width:120px">
                                        <option value=""> - 전 체 - </option>
                                        <option value="R" @(("R").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>대기</option>
                                        <option value="L" @(("L").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>서비스중</option>
                                        <option value="S" @(("S").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>중지</option>
                                        <option value="E" @(("E").Equals(JCube.AF.Util.Converts.ToString(Request["pst"], "")) ? "selected" : String.Empty)>종료</option>
                                    </select>
                                </td>
                                <td>
                                    <label>카테고리</label>
                                    <select name="pcate" class="form-control" style="max-width:120px">
                                        <option value=""> - 전 체 - </option>
                                        @foreach (var item in Model.Category)
                                        {
                                            <option value="@item.Code" @(JCube.AF.Util.Converts.ToString(Request["pcate"], "").Equals(item.Code) ? "selected" : String.Empty)>@item.CodeName</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label>키워드</label>
                                <input type="text" class="form-control" name="ptag" value="@JCube.AF.Util.Converts.ToString(Request["ptag"], "")" placeholder="키워드 태그..." style="max-width:140px"></td>
                                <td><label>제목</label><input type="text" class="form-control" name="ptitle" value="@JCube.AF.Util.Converts.ToString(Request["ptitle"], "")" placeholder="제목..." style="max-width:180px"></td>
                                <td>
                                    <div class="form-group">
                                        <label>서비스일검색</label>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="s_sdt" id="s_sdt" value="@JCube.AF.Util.Converts.ToString(Request["s_sdt"], "")" data-date-format="yyyy-mm-dd" placeholder="검색시작일" style="max-width:110px">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="s_edt" id="s_edt" value="@JCube.AF.Util.Converts.ToString(Request["s_edt"], "")" data-date-format="yyyy-mm-dd" placeholder="검색종료일" style="max-width:110px">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label>등록일검색</label>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="r_sdt" id="r_sdt" value="@JCube.AF.Util.Converts.ToString(Request["r_sdt"], "")" data-date-format="yyyy-mm-dd" placeholder="검색시작일" style="max-width:110px">
                                            </div>
                                             <div class="col-sm-6">
                                                    <input type="text" class="form-control" name="r_edt" id="r_edt" value="@JCube.AF.Util.Converts.ToString(Request["r_edt"], "")" data-date-format="yyyy-mm-dd" placeholder="검색종료일" style="max-width:110px">
                                                </div>
                                          </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default">검색</button>
                                </td>
                             </tr>
                         </tbody>
                      </table>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
                <table class="table table-hover dataTable">
                    <thead>
                        <tr class="bg-gray-light">
                            <th>번호</th>
                            <th>PID</th>
                            <th>타이틀</th>
                            <th>이미지</th>
                            <th>카테고리</th>
                            <th>상태</th>
                            <th>서비스일시</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Entity.Data.Count() > 0)
                        {
                            foreach (var exart in Model.Entity.Data)
                            {
                                string sStatus = exart.PD_SERVICE_STATUS, sStatusNM = "", sClass = "warning";
                                if (sStatus == "L" && !string.IsNullOrEmpty(exart.PD_SERVICE_DT) && JCube.AF.Util.Converts.ToDateTime(exart.PD_SERVICE_DT) > DateTime.Now) { sStatus = "A"; }
                                sStatusNM = Joins.Apps.Models.Sully.Pd_ServiceStatusUtil.GetECName(sStatus);
                                switch (exart.PD_SERVICE_STATUS)
                                {
                                    case "R":
                                        sClass = "default";
                                        break;
                                    case "L":
                                        sClass = "success";

                                        break;
                                    case "S":
                                        sClass = "default";
                                        break;
                                    case "E":
                                        sClass = "default";
                                        break;
                                }

                                //Pd_Category
                                <tr class="odd" onclick="fn_pd_relate_select('@exart.PD_SEQ')" style="cursor:pointer">
                                    <td style="vertical-align: middle;">
                                        @(Model.Entity.TotalItemCount - (exart.ROWNUM - 1))
                                    </td>
                                    <td style="vertical-align: middle;">
                                        @exart.PD_SEQ
                                    </td>
                                    <td style="vertical-align: middle;">
                                        @if (!string.IsNullOrEmpty(exart.PD_PROVIDER_URL))
                                        {
                                            <img src="@exart.PD_PROVIDER_URL" style="max-height: 20px; margin-top: -12px; margin-right: 10px;" />
                                        }
                                        @(exart.PD_TITLE.Ellipsis(50, "..."))
                                        <span class="label label-default pull-right">@exart.CORNER_NM</span>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <img src="@exart.PD_IMG_URL" style="width:50px" />
                                    </td>
                                    <td style="vertical-align: middle;">@exart.CATE_NM</td>
                                    <td style="vertical-align: middle;">
                                        <small class="label label-@sClass"><i class="fa fa-clock-o"></i> @sStatusNM</small>
                                        @if (exart.PDC_SEQ <= 0 && exart.PD_SEQ > 0 && exart.PD_SERVICE_STATUS != "E")
                                        {
                                            <span class="label label-danger"> 본문입력전</span>
                                        }
                                    </td>
                                    <td style="vertical-align: middle;">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.PD_SERVICE_DT)</td>
                                    <td style="vertical-align: middle;">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", exart.PD_REG_DT)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">데이터가 없습니다.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row text-center">
                    @Html.Pager(Model.Entity, new HtmlHelperPagerExtensions.PagerOptions {
                   Parameters = new System.Collections.Specialized.NameValueCollection {
                                   { "ps", JCube.AF.Util.Converts.ToInt32(Request["ps"],5).ToString() },
                                   { "pno", JCube.AF.Util.Converts.ToString(Request["pno"],"")},
                                   { "ptype", JCube.AF.Util.Converts.ToString(Request["ptype"],"") },
                                   { "pst", JCube.AF.Util.Converts.ToString(Request["pst"],"")  },
                                   { "pcate", JCube.AF.Util.Converts.ToString(Request["pcate"],"")  },
                                   { "ptag", JCube.AF.Util.Converts.ToString(Request["ptag"],"")  },
                                   { "ptitle", JCube.AF.Util.Converts.ToString(Request["ptitle"],"")  },
                                   { "s_sdt", JCube.AF.Util.Converts.ToString(Request["s_sdt"],"")  },
                                   { "s_edt", JCube.AF.Util.Converts.ToString(Request["s_edt"],"")  },
                                   { "r_sdt", JCube.AF.Util.Converts.ToString(Request["r_sdt"],"")  },
                                   { "r_edt", JCube.AF.Util.Converts.ToString(Request["r_edt"],"")  },
                                   { "only", JCube.AF.Util.Converts.ToString(Request["only"],"")  }
                               }
               })
                </div>
            </div>
</section>
@section script {
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    //<![CDATA[

    //초기셋팅
    $(function () {
        $('#s_edt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });
        $('#s_sdt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });
        $('#r_edt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });
        $('#r_sdt').datepicker({
            dateFormat: 'yyyy-mm-dd',
            pickerPosition: 'bottom-right',
            autoclose: true

        });

    });
    function fn_pd_relate_select(reseq) {
        var pdseq = '@(Request["pno"])';
        if (reseq == pdseq) { alert("현재 프로덕트와 동일한 프로덕트입니다."); return false;}
       if (confirm('등록하시겠습니까? 추천등록은 최대 6개까지 가능하며 초과시 최근 등록한 6개만 등록됩니다.')) {
            $.post("/sully/Product/PDRelateEdit", { pseq: pdseq, rseq: reseq, st: 'Y' }, function (data) {
                alert(data.message);
                if (data.result) {
                    window.parent.fn_relate_select();
                }
                self.close();
            }, "json");
          
        }
       
      //  if (confirm("팝업창을 닫으시겠습니까?")) {self.close();}
    }   
    //]]>
</script>
}

