﻿@model Joins.Apps.Cms.Models.Sully.Question.Detail
@{
    ViewBag.MenuCode = "M0305";
}
@Html.Navigator("문의/제보", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "문의/제보", Active = true }
})

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            @if (Model.Member.AdminUnreadCount > 0)
            {
                <button type="button" class="btn-all-read btn bg-maroon btn-xs pull-right"><i class="fa fa-fw fa-check-circle-o"></i> 일괄 읽음처리</button>
            }
            <div class="user-block">
                <img class="img-circle" src="@Model.Member.ProfileImage" style="border: 1px solid #999;">
                <span class="username">
                    @if ("G".Equals(Model.Member.LoginType))
                    {
                        <span class="bg-red" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Google</span>
                    }
                    else if ("F".Equals(Model.Member.LoginType))
                    {
                        <span class="bg-blue" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Facebook</span>
                    }
                    else if ("K".Equals(Model.Member.LoginType))
                    {
                        <span class="bg-yellow" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Kakao</span>
                    }
                    else if ("N".Equals(Model.Member.LoginType))
                    {
                        <span class="bg-green" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Naver</span>
                    }
                    else
                    {
                        @Model.Member.LoginType
                    }
                    <a href="#" onclick="javascript: return false;">@Model.Member.NickName</a>
                </span>
                <span class="description">마지막 접속일시 : @string.Format("{0:yyyy-MM-dd HH:mm}", Model.Member.LastLoginDatetime)</span>
            </div>
        </div>
        <!-- /.box-header -->
    </div>

    <!-- 질문 글 렌더링 위치 -->
    @foreach(var entity in Model.Pages.Data)
    {
        @Html.Partial("~/views/sully/question/partial/questionitem.cshtml", entity)
    }

    <div class="row text-center">
        @Html.Pager(Model.Pages, new HtmlHelperPagerExtensions.PagerOptions { PageParameterName = "page" })
    </div>
</section>

<script type="text/javascript">
    //<![CDATA[
    var search_lock = false;

    $(function () {
        // 일괄읽음 처리
        $('.btn-all-read').on('click', function (e) {
            if (!confirm('정말 일괄 읽음처리하시겠습니까?'))
                return false;

            $.post('/sully/question/api/reply/read/@Model.Member.Seq', function (data) {
                if (data.result == 'Y')
                    location.reload();
            }).fail(function () {
                alert('처리 중 오류가 발생하였습니다.');
            });
        });

        // 답변중 푸시로 보낼 답변 선택
        $('.btn-reply-push').on('click', function (e) {
            var area = $(this).closest('div');
            var question_seq = area.data('questionSeq');
            var reply_seq = area.data('questionReplySeq');

            if (!confirm('정말 해당 답변글을 푸시로 발송하시겠습니까?'))
                return false;

            $.post('/sully/question/api/reply/push/' + question_seq + '/' + reply_seq, function (data) {
                if (data.result == 'Y')
                    location.reload();
            }).fail(function () {
                alert('처리 중 오류가 발생하였습니다.');
            });
        });

        // 답변 삭제
        $('.btn-reply-remove').on('click', function (e) {
            var area = $(this).closest('div');
            var question_seq = area.data('questionSeq');
            var reply_seq = area.data('questionReplySeq');

            if (!confirm('정말 삭제하시겠습니까?'))
                return false;

            $.post('/sully/question/api/reply/remove/' + question_seq + '/' + reply_seq, function (data) {
                if (data.result == 'Y')
                    location.reload();
            }).fail(function () {
                alert('처리 중 오류가 발생하였습니다.');
            });
        });

        // 답변 등록
        $('.btn-submit').on('click', function (e) {
            var $questionArea = $(this).closest('.box-question');
            var $replyArea = $questionArea.find('.box-reply');

            var replyType = parseInt($replyArea.find('.hdf-reply-type').val());

            var params = {
                questionSeq: $questionArea.data('questionSeq'),
                replyType: replyType,
                replyContent: replyType == 1 ? $.trim($replyArea.find('.reply-type-1 textarea').val()) : null,
                linkInternalSeq: replyType == 3 ? $replyArea.find('.reply-type-3 .internal-link .attachment-block').data('seq') : null,
                linkExternalUrl: replyType == 2 ? $.trim($replyArea.find('.reply-type-2 .external-search-item input.txt-url').val()) : null,
                linkExternalDomain: replyType == 2 ? $.trim($replyArea.find('.reply-type-2 .external-search-item input.txt-domain').val()) : null,
                linkExternalThumbnail: replyType == 2 ? $.trim($replyArea.find('.reply-type-2 .external-search-item input.txt-thumbnail').val()) : null,
                linkExternalTitle: replyType == 2 ? $.trim($replyArea.find('.reply-type-2 .external-search-item input.txt-title').val()) : null
            };

            $.post('/sully/question/api/reply', params, function (data) {
                if (data.result == 'Y')
                    location.reload();
                else
                    alert(data.result_msg);
            }).fail(function () {
                alert('처리 중 오류가 발생하였습니다.');
            });

            return false;
        });

        // 답변 영역 펼치기
        $('button.btn-reply').on('click', function (e) {
            $(this).closest('.box-widget').find('.box-reply').toggle();
        });

        // 답변 종류 선택
        $('button.btn-reply-type').on('click', function (e) {
            var $boxArea = $(this).closest('.box-reply');
            var target = $(this).data('target');

            $boxArea.find('.hdf-reply-type').val(target).end()
                .find('.reply-type').hide().end()
                .find('.reply-type-' + target).show().end()
                .find('.reply-control').hide();

            // 답변 내용 초기화
            $boxArea.find('textarea').val('');

            // 내부링크 초기화
            $boxArea.find('.internal-search input').val('').end().find('.internal-link').html('').end().find('.internal-search-result').html('');

            // 외부링크 초기화
            $boxArea.find('.external-search input').val('').end().find('.external-search-item').hide().find('.img-thumbnail').attr('src', '').end()
                        .find('.txt-title').val('').end()
                        .find('.txt-url').val('').end()
                        .find('.txt-thumbnail').val('').end()
                        .find('.txt-domain').val('').end();

            if (target == '1')
                $boxArea.find('.reply-control').show();

            $boxArea.find('.btn-reply-type').removeClass('bg-maroon').addClass('bg-gray-light');
            $(this).addClass('bg-maroon').removeClass('bg-gray-light');

            return false;
        });

        // 외부링크 검색
        $('.box-question .external-search input').on('keypress', function (e) {

            if (e.originalEvent.keyCode == 13) {
                var url = $.trim($(this).val());
                var $replyArea = $(this).closest('.box-reply');
                var $area = $replyArea.find('.external-search-item');

                if (url.length == 0) {
                    alert('주소를 입력해 주시기 바랍니다.');
                    return false;
                }

                search_lock = true;
                $area.find('.img-thumbnail').attr('src', '').end()
                        .find('.txt-title').val('').end()
                        .find('.txt-url').val('').end()
                        .find('.txt-thumbnail').val('').off('blur').on('blur', function (e) {
                            $(this).closest('.external-search-item').find('.img-thumbnail').attr('src', $(this).val());
                        }).end()
                        .find('.txt-domain').val('').end()
                        .hide();

                $.post('/sully/question/api/reply/exeternal_url', {
                    url: url
                }, function (data) {
                    var domain = data['custom:domain'];
                    var url = data['og:url'];
                    var image = data['og:image'];
                    var title = data['og:title'];

                    $area
                        .find('.img-thumbnail').attr('src', image).end()
                        .find('.txt-title').val(title).end()
                        .find('.txt-url').val(url).end()
                        .find('.txt-thumbnail').val(image).end()
                        .find('.txt-domain').val(domain).end()
                        .show();
                    $replyArea.find('.reply-control').show();
                }).always(function () {
                    search_lock = false;
                });
                return false;
            }
        });

        // 내부링크 검색
        $('.box-question .internal-search input').on('keypress', function (e) {
            if (search_lock)
                return false;

            if (e.originalEvent.keyCode == 13) {
                var value = $(this).val();
                var $replyArea = $(this).closest('.box-reply');
                var $area = $replyArea.find('.internal-search-result');

                if ($.trim(value).length == 0) {
                    alert('검색어를 입력해 주시기 바랍니다.');
                    return false;
                }

                search_lock = true;
                $area.html('');
                $.post('/sully/product/search', {
                    page: 1,
                    page_size: 10,
                    search_title: value
                }, function (data) {
                    if (data.total_count == 0) {
                        alert('검색된 프로덕트가 없습니다.');
                        return false;
                    }

                    for (var idx in data.list) {
                        var item = data.list[idx];
                        var html = '';
                        html += '<div class="attachment-block" style="margin-bottom: 0px;" data-seq=' + item.seq + '>';
                        html += '    <img class="img-circle pull-left" src="' + item.image + '" style="height: 30px; width: 30px; border: 1px solid #999;" />';
                        html += '    <div style="margin-left: 40px;">';
                        html += '        <h5 class="attachment-heading"><a href="#" onclick="javascript: return false;">' + item.title + '</a></h5>';
                        html += '        <small class="attachment-text">' + item.service_date + ' / ' + item.category_name + '</small>';
                        html += '    </div>';
                        html += '</div>';

                        $area.append(html);
                    }

                    $area.find('a').one('click', function (e) {
                        var root = $(this).closest('div.attachment-block');

                        root.find('h5').prepend($('<button class="pull-right btn btn-xs bg-orange">삭제</button>').on('click', function (e) {
                            $replyArea.find('.reply-control').hide();
                            $(this).closest('.box-reply').find('.internal-link').html('').hide().end().find('.product-search').show();
                            return false;
                        }));

                        $replyArea.find('.internal-link').append(root).show().end()
                            .find('.product-search').hide()
                            .find('input').val('').end().end();
                        $area.html('');
                        $replyArea.find('.reply-control').show();

                        return false;
                    });
                }).always(function () {
                    search_lock = false;
                });
                return false;
            }
        });
    });
    //]]>
    </script>