﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.QuestionList>

@{
    ViewBag.MenuCode = "M0305";
}
@Html.Navigator("문의/제보", "", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "문의/제보", Active = true }
})

<section class="content">
    <div class="box">
        <table class="table table-hover dataTable">
            <thead>
                <tr class="bg-gray-light">
                    <th class="text-center">번호</th>
                    <th class="text-center">회원 별명</th>
                    <th class="text-center">메일주소</th>
                    <th class="text-center">회원 종류</th>
                    <th class="text-center">최근문의일시</th>
                    <th class="text-center">최근문의 답변일시</th>
                </tr>
                @if (Model.Data != null && Model.Data.Count() > 0)
                {
                    foreach (var item in Model.Data)
                    {
                        <tr onclick="javascript: location.href = '@item.MemberSeq';" style="cursor: pointer;">
                            <td class="text-right">@(Model.TotalItemCount - (item.RowNum - 1))</td>
                            <td>
                                @if (item.IsShowNewFlag)
                                {
                                    <small class="label bg-red">new</small>
                                }
                                @item.MemberNickName
                            </td>
                            <td class="text-center">@item.MemberEmail</td>
                            <td class="text-center">
                                @if ("G".Equals(item.LoginType))
                                {
                                    <span class="bg-red" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Google</span>
                                }
                                else if ("F".Equals(item.LoginType))
                                {
                                    <span class="bg-blue" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Facebook</span>
                                }
                                else if ("K".Equals(item.LoginType))
                                {
                                    <span class="bg-yellow" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Kakao</span>
                                }
                                else if ("N".Equals(item.LoginType))
                                {
                                    <span class="bg-green" style="font-size: 10px; font-weight: bold; padding: 3px 7px; border-radius: 10px;">Naver</span>
                                }
                                else
                                {
                                    @item.LoginType
                                }
                            </td>
                            <td class="text-center">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.QuestionDateTime)</td>
                            <td class="text-center">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.AnswerDateTime)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="6" class="text-center">검색된 데이터가 없습니다.</td></tr>
                }
            </thead>
        </table>
        <div class="row text-center">
            @Html.Pager(Model, new HtmlHelperPagerExtensions.PagerOptions { PageParameterName = "page", Parameters = Request.QueryString })
        </div>
    </div>
</section>