﻿@model Joins.Apps.Models.Page<Joins.Apps.Models.Sully.QuestionDetail>

@if (Model.Data != null)
{
    foreach (var item in Model.Data)
    {
        <div class="answer @("N".Equals(item.AdminYN, StringComparison.OrdinalIgnoreCase) ? "left" : "right")">
            <div class="avatar">
                @if ("N".Equals(item.AdminYN, StringComparison.OrdinalIgnoreCase))
                {
                    <i class="glyphicon glyphicon-user bg-blue"></i>
                }
                else
                {
                    <i class="glyphicon glyphicon-comment bg-red"></i>
                }
            </div>

            <div class="name">
                @if ("N".Equals(item.AdminYN, StringComparison.OrdinalIgnoreCase))
                {
                    if (item.PushYN.Equals("Y", StringComparison.OrdinalIgnoreCase))
                    {
                        <i class="fa fa-bell text-red"></i>
                    }
                    @item.MemberNickName <span class="btn-reply btn btn-xs btn-info" __seq="@item.Seq" __pushyn="@item.PushYN" __user_push_allow_yn="@item.UserAllowPushYN">답글달기</span>
                }
            </div>
            <div class="text">
                @if ("Y".Equals(item.AdminYN, StringComparison.OrdinalIgnoreCase))
                {
                    if (item.PushYN.Equals("Y", StringComparison.OrdinalIgnoreCase))
                    {
                        <i class="fa fa-bell"></i>
                    }
                }
                @Html.Nl2Br(item.Content)
            </div>
            <div class="time">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.RegDT)</div>
        </div>
    }
}
