﻿@{
    ViewBag.MenuCode = "M0301";
}
@Html.Navigator("레이아웃 관리", "레이아웃을 관리합니다", new HtmlHelperNavigatorExtensions.NavigatorInfo[] {
    new HtmlHelperNavigatorExtensions.NavigatorInfo { Name = "레이아웃 관리", Active = true }
})
<style type="text/css">
    .list-layout { list-style: none; padding: 15px; margin: 0px; background-color: #f2f2f2; }
    .list-layout:first-child { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .list-layout:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    
    .list-layout .item { padding: 15px 10px 0 10px; margin-top: 10px; width: 100%; border-radius: 3px; border-top: 3px solid #d2d6de; box-shadow: 0 1px 1px rgba(0,0,0,0.1); background-color: #ffffff; display: inline-block; }
    .list-layout .item:first-child { margin-top: 0px; }
    .list-layout.list-template {  background-color: #ffffff; border: 1px dashed #ccc; }    
    .list-layout.list-template .item {  background-color: #f6f6f6; }

    .list-layout .item.item-disabled { background-color: #f9f9f9; color: #999999; }
    .list-layout.list-area .item .header.form-group { border-bottom: 1px solid #d2d6de; padding-bottom: 15px; margin-bottom: 15px; }
    .list-layout.list-area .item .footer.form-group { border-top: 1px solid #d2d6de; padding-top: 10px; margin-top: 15px; padding-bottom: 15px; }
    .list-layout.list-area .item .header.form-group.no-underline { border-bottom-width: 0px; margin-bottom: 0px; }
    
    .list-layout .item .fa-trash { color: #949494; display: none; margin-left: 10px; cursor: pointer; }
    .list-layout.list-area .item .fa-trash { display: inline-block; }

    .list-layout .item .detail { display: none; }
    .list-layout.list-area .item .detail { display: block; }

    .list-layout.list-area .item[data-type='list-story'] { border-top: 3px solid #f25c62; }
    .list-layout.list-area .item[data-type='list-story'] span > i.fa { color: #f25c62; }
    .list-layout.list-area .item[data-type='list-story'] .fa-trash { line-height: 23px; }

    .list-layout.list-area .item[data-type='list-pedia'] { border-top: 3px solid #04d1aa; }
    .list-layout.list-area .item[data-type='list-pedia'] span > i.fa { color: #04d1aa; }
    .list-layout.list-area .item[data-type='list-pedia'] .fa-trash { line-height: 23px; }

    .list-layout.list-area .item[data-type='list-tour'] { border-top: 3px solid #20cbd4; }
    .list-layout.list-area .item[data-type='list-tour'] span > i.fa { color: #20cbd4; }
    .list-layout.list-area .item[data-type='list-tour'] .fa-trash { line-height: 23px; }
    
    .list-layout.list-area .item[data-type='list-presso'] { border-top: 3px solid #a05c2f; }
    .list-layout.list-area .item[data-type='list-presso'] span > i.fa { color: #a05c2f; }
    .list-layout.list-area .item[data-type='list-presso'] .fa-trash { line-height: 23px; }

    .list-layout.list-area .item[data-type='list-widget-banner'] { border-top: 3px solid #644ffc; }
    .list-layout.list-area .item[data-type='list-widget-banner'] span > i.fa { color: #644ffc; }
    .list-layout.list-area .item[data-type='list-widget-banner'] .fa-trash { line-height: 23px; }

    .list-layout.list-area .item[data-type='list-normal'] .fa-trash { line-height: 23px; }
    .list-layout.list-area .item[data-type='list-widget-weeklyrank'] .fa-trash { line-height: 23px; }
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    데이터 관리
                </div>
                <div class="box-body">
                    <button id="btn-ranking-refresh" class="btn btn-warning"><i class="fa fa-spin fa-refresh"></i> 주간차트 갱신</button>
                    <button id="btn-ssully-quiz-header" class="btn btn-warning"><i class="fa fa-file-picture-o"></i> 썰리퀴즈 리스트 헤더 관리</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    레이아웃 관리
                </div>
                <div class="box-body ajax-layout">
                    <i class="fa fa-spin fa-refresh"></i> 불러오는 중
                </div>
                <div class="box-footer">
                    <button class="btn btn-sm bg-orange pull-right btn-layout-save"><i class="fa fa-save"></i> 저장</button>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box box-default">
                <div class="box-header with-border">쇼케이스 목록</div>
                <div class="box-body showcase-list">
                    <!-- 쇼케이스 등록 목록 영역 -->
                </div>
                <div class="box-body showcase-list-empty">
                    <div class="text-center empty"><small class="text-gray">등록된 쇼케이스가 없습니다.</small></div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-sm bg-orange pull-right btn-showcase-save"><i class="fa fa-save"></i> 저장</button>
                </div>
                <div class="box-header with-border">
                    쇼케이스 추가
                </div>
                <div class="box-body showcase-search">
                    <div class="input-group search">
                        <div class="input-group-btn search-type">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                쇼케이스 종류
                                <span class="fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" data-type="1">프로덕트</a></li>
                                <li><a href="javascript:void(0);" data-type="2">공지사항</a></li>
                                <li><a href="javascript:void(0);" data-type="3">외부링크</a></li>
                            </ul>
                        </div>
                        <input type="text" name="q" class="form-control search-value" placeholder="좌측 검색 종류를 선택해 주세요.">
                        <span class="input-group-btn search-action">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="showcase-search-result margin" style="max-height: 572px; overflow-y: auto;">
                        <!-- 쇼케이스 검색 결과 영역 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="modal-showcase">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">쇼케이스 속성 변경</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div><small class="text-warning">아래 항목은 모두 선택사항이며, 변경을 원하는 항목만 변경하시면 됩니다.</small></div>
                        <div><small class="text-warning">쇼케이스 리스트에서 초기화 버튼을 통해 원래대로 되돌릴 수 있으며, 부분 초기화는 불가능합니다.</small></div>
                        <div><small class="text-warning">URL형식은 저장 이후에는 되돌릴 수 없습니다.</small></div>
                    </div>
                    <div class="form-group">
                        <label for=""><small>제목</small></label>
                        <input type="text" id="txt-title" class="form-control" placeholder="변경하실 제목을 입력해 주세요." />
                    </div>
                    <div class="form-group link-thumbnail">
                        <form id="frmShowcaseThumbnail" action="/sully/main/api/image" method="post">
                            <label for=""><small>썸네일</small></label>
                            <input type="file" id="file_thumbnail" name="file" accept=".jpg, .png">
                        </form>
                    </div>
                    <div class="form-group link-label-image">
                        <form id="frmShowcaseLabel" action="/sully/main/api/image" method="post">
                            <label for=""><small>라벨이미지</small></label>
                            <input type="file" id="file_label_image" name="file" accept=".jpg, .png">
                        </form>
                    </div>
                    <div class="form-group link-reservation-dt">
                        <label><small>노출일시</small></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="txt-reservation-start-dt" class="form-control reservation-time start-dt" placeholder="공란시 즉시 노출합니다" value="">
                        </div>
                    </div>
                    <div class="form-group link-reservation-dt">
                        <label><small>노출 종료일시</small></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="txt-reservation-end-dt" class="form-control reservation-time end-dt" placeholder="공란시 수동으로 노출중지 하셔야 합니다" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs bg-orange pull-right">적용</button>
                </div>
            </div>
        </div>
</div>

<div class="modal" id="modal-ssully-quiz-header">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">썰리퀴즈 리스트 헤더 관리</h5>
            </div>
            <div class="modal-body">
                <div class="form-group link-image-preview">
                    <label><small>미리보기</small></label>
                    <div class="form-group link-image-preview-bg" style="background-color: #644ffc; min-height: 60px; border-radius: 12px;">
                        <img src="" style="width: 100%; max-height: 144px; display: none;" />
                    </div>
                    <div class="form-group link_title" style="background-color: #efefef; border: 1px solid #ccc; min-height: 10px; border-radius: 5px; padding: 5px 10px;">
                    </div>
                </div>
                <hr />
                <div class="form-group link-thumbnail">
                    <label><small>공지사항 및 이미지 등록하기</small></label>
                    <form id="frmCornerHeaderImage" action="/sully/main/api/image" method="post">
                        <button type="button" class="btn btn-xs btn-primary pull-right">업로드</button>
                        <input type="file" id="file_ssully_quiz_header" name="file" accept=".jpg, .png" placeholder="헤더에 사용할 이미지를 선택해 주세요" />
                    </form>
                </div>
                <div class="form-group">
                    <div class="input-group search">
                        <input type="text" name="q" class="form-control search-value" placeholder="연결할 공지사항 제목을 검색해 주세요." style="width: 501px;">
                        <span class="input-group-btn notice-search-action">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="notice-search-result margin" style="max-height: 150px; overflow-y: auto;">
                        <!-- 검색 결과 영역 -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs bg-orange pull-right">적용</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-banner-regist">
    <form id="frmBanner" action="/sully/main/api/image" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">배너 속성</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group link-search">
                        <label for=""><small>프로덕트 검색</small></label>
                        <select class="form-control" style="display: none;">
                            <option>프로덕트</option>
                        </select>
                        <input type="text" class="form-control" placeholder="검색어 입력후 Enter를 입력해 주세요." />
                    </div>
                    <div class="form-group link-result"></div>
                    <div class="form-group link-target"></div>
                    <div class="form-group link-image">
                        <label for=""><small>이미지</small></label>
                        <input type="file" name="file" accept=".jpg, .png">
                    </div>
                    <div class="form-group link-background">
                        <label><small>배경색</small></label>
                        <div class="input-group">
                            <span class="input-group-addon">#</span>
                            <input type="text" class="form-control background-color" placeholder="배경색을 입력해주세요." value="644ffc" />
                        </div>
                    </div>
                    <div class="form-group link-reservation-dt">
                        <label><small>노출일시</small></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control reservation-time start-dt" placeholder="2017-10-11 12:30" value="">
                        </div>
                    </div>
                    <div class="form-group link-reservation-dt">
                        <label><small>노출 종료일시</small></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control reservation-time end-dt" placeholder="2017-10-11 12:30" value="">
                        </div>
                    </div>

                    <div class="form-group link-image-preview">
                        <label><small>미리보기</small></label>
                        <div class="form-group link-image-preview-bg" style="background-color: #644ffc; min-height: 60px; border-radius: 12px;">
                            <img src="" style="width: 100%; max-height: 144px; display: none;" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs bg-orange pull-right">배너 등록하기</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal-banner-list">
    <div class="modal-dialog" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">배너 목록</h5>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
</div>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery.form.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript">
    $(function () {
        // 레이아웃 불러오기
        $('.reservation-time').datetimepicker({ dateFormat: 'yyyy-mm-dd hh:ii', pickerPosition: 'top-right', autoclose: true });

        $(document).on('click', '.list-area li[data-type="list-widget-banner"] .btn-banner-regist', function (e) {
            var $modal = $('#modal-banner-regist');
            $modal.find('.link-search input:text').val('');
            $modal.find('.link-result, .link-target').html('');
            $modal.find('.link-image input:file').val('');
            $modal.find('.reservation-time').val('');
            $modal.find('.link-background input:text').val('644ffc');
            $modal.find('.link-image-preview img').attr('src', '').hide();
            $modal.modal('show');

            return false;
        });
        $(document).on('click', '.list-area li[data-type="list-widget-banner"] .btn-banner-list', function (e) {
            var $modal = $('#modal-banner-list');
            var callback = function () {
                $('#modal-banner-list .modal-body .banner_preview').css('cursor', 'pointer').on('mouseenter', function (e) {
                    var offset = $(this).offset();
                    var $html = $('<div class="banner_preview_plus" style="position: absolute; padding: 10px; background-color: #644ffc; z-index: 9999; border: 5px solid #ccc;"><img src="" style="width: 500px;"></div>');
                    $html.css({
                        'position': 'absolute',
                        'padding': '10px',
                        'background-color': $(this).css('background-color'),
                        'z-index': '9999',
                        'border': '5px solid #ccc',
                        'left': offset.left + $(this).width(),
                        'top': offset.top
                    }).find('img').attr('src', $(this).find('img').attr('src'));
                    $('body').append($html);
                }).on('mouseleave', function (e) {
                    $('body > div.banner_preview_plus').remove();
                });

                $('#modal-banner-list .modal-body .btn-delete').on('click', function (e) {
                    if (confirm('삭제하시겠습니까?')) {
                        $.post('/sully/main/api/layout/banner/remove', {
                            pd_seq: $(this).data('seq'),
                            image_url: $(this).data('image')
                        }, function (data) {
                            if (!data.result) {
                                alert(data.msg);
                                return;
                            }
                            call(1);
                        });
                    }

                    return false;
                });
                $('#modal-banner-list .modal-body ul.pagination li a').on('click', function (e) {
                    call($(this).data('page'));
                    return false;
                });
            };
            var call = function (page) {
                $('#modal-banner-list .modal-body').load('/sully/main/api/layout/banner/list', {
                    page: page
                }, function (data) {
                    callback();
                    $modal.modal('show');
                });
            };

            call(1);
        });

        var loadLayoutAjax = function () {
            $('.ajax-layout').load('/sully/main/api/layout', function () {
                var $area = $('.ajax-layout');

                // 레이아웃 삭제 버튼
                $area.find('.list-area li[data-type] .fa-trash').off('click').one('click', function (e) {
                    $('.list-template li[data-type="' + $(this).closest('li').data('type') + '"]').show();
                    $(this).closest('li').remove();
                });

                // 메인 레이아웃
                $area.find('ul.list-area').sortable({
                    items: '[data-sortable="true"]',
                    revert: true,
                    receive: function (event, ui) {
                        var $item = $(ui.sender);
                        var type = $item.data('type');
                        var is_multiple = $item.data('multiple');

                        if (!is_multiple)
                            $('.list-template li[data-type="' + type + '"]').hide();

                        $('.list-area li[data-type="' + type + '"] .fa-trash').off('click').one('click', function (e) {
                            $(this).closest('li').remove();
                            $('.list-template li[data-type="' + type + '"]').show();
                        });
                    }
                });

                // 메인 레이아웃 템플릿
                $area.find(".list-template li").draggable({ connectToSortable: ".list-area", helper: "clone", revert: "invalid" });
                $area.find("ul, li").disableSelection();
            });
        };

        // 주간차트 갱신
        $('button#btn-ranking-refresh').on('click', function (e) {
            $.get('/sully/main/api/rank/refresh', function (data) {
                if (data.result == 'Y') {
                    alert('갱신되었습니다.');
                    return;
                }

                alert('갱신하지 못했습니다.');
            });
            return false;
        });

        $('button#btn-ssully-quiz-header').on('click', function (e) {
            $.get('/sully/main/api/corner/header', {
                pd_type: 7
            }, function (data) {
                var imageSubmit = function (e) {
                    if ($.trim($('form#frmCornerHeaderImage input:file').val()).length == 0) {
                        alert('업로드할 이미지를 선택해 주시기 바랍니다.');
                        return false;
                    }

                    $('form#frmCornerHeaderImage').ajaxForm({
                        success: function (response, status) {
                            if (!response.result) {
                                alert(response.message);
                                return false;
                            }

                            $('#modal-ssully-quiz-header .link-image-preview-bg img').attr('src', response.image_url).data('_img_data', response.image_url).show();
                        },
                        error: function (e) {
                            alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                            return false;
                        }
                    }).submit();
                };
                var searchNotice = function (e) {
                    var $modal = $('#modal-ssully-quiz-header');
                    var value = $modal.find('.search-value').val();

                    $modal.find('div.notice-search-result').html('')
                        .load('api/corner/header/search', {
                            search_value: value
                        }, function (responseText, textStatus, jqXHR) {
                            $modal.find('div.notice-search-result').find('.btn-add').off().on('click', function (e) {
                                var target = $(this).closest('.attachment-block').find('a');
                                $modal.find('.link_title').text(target.text()).data('_seq', target.data('seq'));
                                $modal.find('div.notice-search-result').html('').end().find('.search-value').val('');
                            });
                        });
                };
                
                var $modal = $('#modal-ssully-quiz-header');
                $modal.find('input.search-value').off().on('keypress', function (e) {
                    if (e.originalEvent.keyCode == 13)
                        $('span.notice-search-action button').click();
                }).end()
                .find('.notice-search-action button').off().on('click', searchNotice).end()
                .find('.link-thumbnail button').off().on('click', imageSubmit).end()
                .find('.modal-footer button').off().on('click', function (e) {
                    $.post('/sully/main/api/corner/header', {
                        pdtype: 7,
                        linktype: 2,
                        linkvalue: $modal.find('.link_title').data('_seq'),
                        imageurl: $modal.find('.link-image-preview-bg img').data('_img_data')
                    }, function (data) {
                        if (data.result != 'Y') {
                            alert(data.msg);
                            return false;
                        }

                        alert('반영되었습니다.');
                        $modal.modal('hide');
                    })
                }).end().modal('show');

                if (data.result != 'Y')
                    return;

                var title = '[외부링크] ';
                if (data.header.link_type == 1)
                    title = '[프로덕트] ';
                else if (data.header.link_type == 2)
                    title = '[공지사항] ';

                $modal.find('.link-image-preview-bg img').attr('src', data.header.image_url).data('_img_data', data.header.image_url).end()
                    .find('.link_title').text(title + data.header.data_title).data('_seq', data.header.link_value).end()
                    .modal('show');

                if ($.trim(data.header.image_url).length > 0)
                    $modal.find('.link-image-preview-bg img').show();
            });
        });

        // 레이아웃 배너 모달창 관련
        $('#modal-banner-regist').find('.link-search input:text').on('keypress', function (e) {
            var $link_result = $('#modal-banner-regist .link-result');
            var $link_target = $('#modal-banner-regist .link-target');
            var $target = $(this);

            if ($target.data('lock'))
                return false;

            if (e.originalEvent.keyCode == 13) {
                var value = $target.val();

                if ($.trim(value).length == 0) {
                    alert('검색어를 입력해 주시기 바랍니다.');
                    return false;
                }

                $target.data('lock', true);
                $link_result.html('');
                $.post('/sully/main/api/layout/banner/search', {
                    page: 1,
                    page_size: 10,
                    search_title: value
                }, function (data) {
                    if (data.total_count == 0) {
                        alert('검색된 프로덕트가 없습니다.');
                        return false;
                    }

                    for (var idx in data.list) {
                        var html = '<div class="attachment-block" style="margin-bottom: 0px;" data-seq=' + data.list[idx].seq + '>';
                        html += '    <img class="img-circle pull-left" src="' + data.list[idx].image + '" style="height: 30px; width: 30px; border: 1px solid #999;" />';
                        html += '    <div style="margin-left: 40px;">';
                        html += '        <h5 class="attachment-heading"><a href="#" onclick="javascript: return false;">' + data.list[idx].title + '</a></h5>';
                        html += '        <small class="attachment-text">' + data.list[idx].service_date + ' / ' + data.list[idx].category_name + '</small>';
                        html += '    </div>';
                        html += '</div>';

                        $link_result.append(html);
                    }

                    $link_result.find('a').one('click', function (e) {
                        var $selected_link = $(this).closest('div.attachment-block');

                        $selected_link.find('h5').prepend($('<button class="pull-right btn btn-xs bg-orange">삭제</button>').on('click', function (e) {
                            $link_target.html('');
                            return false;
                        }));

                        $link_target.html($selected_link);
                        $link_result.html('');

                        return false;
                    });
                }).always(function () {
                    $target.removeData('lock');
                });
                return false;
            }
        }).end() // 내부링크 검색
            .find('.link-background input:text').on('blur', function (e) {
                var re = /[0-9A-Fa-f]{6}/g;
                if (re.test($(this).val())) {
                    $('#modal-banner-regist .link-image-preview .link-image-preview-bg').css('background-color', '#' + $(this).val());
                } else {
                    alert('배경색 코드가 올바르지 않습니다.');
                }
                re.lastIndex = 0;
            }).end() //배너 배경색 입력
            .find('.link-image input:file').on('change', function (e) {
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#modal-banner-regist .link-image-preview img').attr('src', e.target.result).show();
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }).end() // 파일 선택
            .find('.modal-footer button').on('click', function (e) {
                var image = $('#modal-banner-regist .link-image input:file');
                var background = $('#modal-banner-regist .link-background input:text');
                var content = $('#modal-banner-regist .link-target .attachment-block');
                var start_time = $('#modal-banner-regist .reservation-time.start-dt');
                var end_time = $('#modal-banner-regist .reservation-time.end-dt');

                if (!content.data('seq')) {
                    alert('프로덕트를 선택해 주세요.');
                    return false;
                }

                if ($.trim(background.val()).length < 6) {
                    alert('배경색 코드를 입력해 주세요.');
                    return false;
                }

                if ($.trim(image.val()).length == 0) {
                    alert('이미지를 선택해 주세요.');
                    return false;
                }

                if ($.trim(start_time.val()).length == 0) {
                    alert('노출일시를 선택해 주세요.');
                    return false;
                }
                if ($.trim(end_time.val()).length == 0) {
                    alert('노출 종료일시를 선택해 주세요.');
                    return false;
                }

                // 배너 등록하기
                $('form#frmBanner').ajaxForm({
                    success: function (response, status) {
                        if (!response.result) {
                            alert(response.message);
                            return false;
                        }

                        $.post('/sully/main/api/layout/banner', {
                            pd_seq: content.data('seq'),
                            background_color: '#' + $.trim(background.val()),
                            image_url: response.image_url,
                            reservation_start_dt: $.trim(start_time.val()),
                            reservation_end_dt: $.trim(end_time.val())
                        }, function (data) {
                            if (!response.result) {
                                alert(response.message);
                                return false;
                            }

                            alert('등록되었습니다.');
                            $('#modal-banner-regist').modal('hide');
                        });
                    },
                    error: function (e) {
                        alert(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                        return false;
                    }
                }).submit();
            }); // 배너 만들기

        // 레이아웃 저장
        $('button.btn-layout-save').on('click', function (e) {
            var invalid = false;
            var invalid_msg = '';
            var params = [];
            var a = $.each($('ul.list-area li'), function (idx, item) {
                var $item = $(this);
                var type = $item.data('type');
                var param = {
                    order_number: idx + 1
                };

                if (type == 'list-normal') {
                    // 일반형
                    var val = $item.find('input').val();
                    var re = /[0-9]/g;
                    if (!re.test(val)) {
                        invalid = true;
                        invalid_msg = '프로덕트 갯수를 올바르게 입력해 주시기 바랍니다.';
                    } else {
                        param = $.extend(param, {
                            layout_type: 'product',
                            product_count: parseInt($.trim(val))
                        });
                    }
                } else if (type == 'list-widget-banner') {
                    // 배너
                    param = $.extend(param, {
                        layout_type: 'banner'
                    });
                } else if (type == 'list-widget-weeklyrank') {
                    param = $.extend(param, {
                        layout_type: 'weekly_rank'
                    });
                } else if (type == 'list-story') {
                    param = $.extend(param, {
                        layout_type: 'product_story'
                    });
                } else if (type == 'list-pedia') {
                    param = $.extend(param, {
                        layout_type: 'product_pedia'
                    });
                } else if (type == 'list-tour') {
                    param = $.extend(param, {
                        layout_type: 'product_tour'
                    });
                } else if (type == 'list-presso') {
                    param = $.extend(param, {
                        layout_type: 'product_presso'
                    });
                }

                if (invalid) {
                    params = [];
                    return false;
                }

                params.push(param);
            });

            if (invalid) {
                alert(invalid_msg);
                return false;
            }

            if (!confirm('레이아웃 정보를 저장하시겠습니까?'))
                return false;

            // 레이아웃 저장
            $.post('/sully/main/api/layout', {
                param: params
            }, function (data) {
                if (data.result) {
                    alert('저장하였습니다.');
                    loadLayoutAjax();
                    return false;
                }

                alert('저장을 실패하였습니다.');
            });

            return false;
        });
        
        loadLayoutAjax();
    });

    $(function () {
        var showcaseSortable;

        var setShowcaseData = function ($target, item) {
            if ($.trim(item.custom_data.label_image_url || item.original_data.label_image_url).length > 0)
                $target.find('span.showcase-label').removeClass('hide');
            else
                $target.find('span.showcase-label').addClass('hide');

            if ($.trim(item.custom_data.reservation_start_dt || item.original_data.reservation_start_dt).length > 0)
                $target.find('.showcase-reservation').removeClass('hide');
            else
                $target.find('.showcase-reservation').addClass('hide');

            if (item.custom_yn == 'Y')
                $target.find('button.btn-reset').removeClass('hide');
            else
                $target.find('button.btn-reset').addClass('hide');

            var reservation_start_dt = '';
            var reservation_end_dt = '';

            if (item.custom_data.reservation_start_dt || item.original_data.reservation_start_dt)
                reservation_start_dt = item.custom_data.reservation_start_dt || item.original_data.reservation_start_dt;

            if (item.custom_data.reservation_end_dt || item.original_data.reservation_end_dt)
                reservation_end_dt = item.custom_data.reservation_end_dt || item.original_data.reservation_end_dt;

            if ($.trim(reservation_end_dt).length == 0)
                reservation_end_dt = 'x';

            if (item.custom_data.expired == 'Y' || item.original_data.expired == 'Y')
                $target.find('.showcase-reservation').removeClass('bg-maroon').addClass('bg-gray');

            $target.data('item', item).find('.showcase-title').text(item.custom_data.title || item.original_data.title).end()
                .find('.showcase-thumbnail').attr('src', item.custom_data.thumbnail || item.original_data.thumbnail).end()
                .find('.showcase-label img').attr('src', item.custom_data.label_image_url || item.original_data.label_image_url).end()
                .find('.showcase-reservation').text(reservation_start_dt + ' ~ ' + reservation_end_dt).end()
                .find('.showcase-desc').text(item.description);

            $target.find('button.btn-reset').off().on('click', function (e) {
                var $target = $(this).closest('div.attachment-block');
                var item = $target.data('item');
                item.custom_yn = 'N';
                item.custom_data.title = '';
                item.custom_data.thumbnail = '';
                item.custom_data.label_image_url = '';
                item.custom_data.reservation_start_dt = '';
                item.custom_data.reservation_end_dt = '';

                if (item.showcase_type == 3) {
                    item.custom_data.title = item.original_data.title;
                    item.custom_data.thumbnail = item.original_data.thumbnail;
                    item.custom_data.label_image_url = item.original_data.label_image_url;
                }

                setShowcaseData($target, item);
            }).end()
                .find('button.btn-modify').off().on('click', function (e) {
                    var $target = $(this).closest('div.attachment-block');
                    var item = $target.data('item');
                    $('#modal-showcase').modal('show').data('target', $target)
                            .find('input#file_thumbnail').val('').end()
                            .find('input#file_label_image').val('').end()
                            .find('input#txt-title').val(item.custom_data.title).end()
                            .find('input#txt-reservation-start-dt').val(item.custom_data.reservation_start_dt).end()
                            .find('input#txt-reservation-end-dt').val(item.custom_data.reservation_end_dt).end()
                            .find('button.btn').off().on('click', function (e) {
                                // 이미지 업로드
                                var $modal = $(this).closest('#modal-showcase');
                                var $target = $modal.data('target');
                                var item = $target.data('item');

                                var $title = $modal.find('input#txt-title');
                                var $reservation_start_dt = $modal.find('input#txt-reservation-start-dt');
                                var $reservation_end_dt = $modal.find('input#txt-reservation-end-dt');

                                var $deferred_thumbnail = $.Deferred();
                                var $deferred_label = $.Deferred();
                                
                                if ($.trim($modal.find('input#file_thumbnail').val()).length > 0) {
                                    $('form#frmShowcaseThumbnail').ajaxForm({
                                        success: function (response, status) {
                                            if (!response.result) {
                                                alert(response.message);
                                                return false;
                                            }

                                            $deferred_thumbnail.resolve(response.image_url);

                                        },
                                        error: function (e) {
                                            $deferred_thumbnail.reject(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                                            return false;
                                        }
                                    }).submit();
                                } else {
                                    $deferred_thumbnail.resolve('');
                                }

                                if ($.trim($modal.find('input#file_label_image').val()).length > 0) {
                                    $('form#frmShowcaseLabel').ajaxForm({
                                        success: function (response, status) {
                                            if (!response.result) {
                                                alert(response.message);
                                                return false;
                                            }

                                            $deferred_label.resolve(response.image_url);
                                        },
                                        error: function (e) {
                                            $deferred_label.reject(e.responseText + '등록 중 오류가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                                            return false;
                                        }
                                    }).submit();
                                } else {
                                    $deferred_label.resolve('');
                                }

                                $.when($deferred_thumbnail, $deferred_label).done(function (thumbnail, label) {
                                    if ($.trim($title.val()).length > 0) {
                                        item.custom_yn = 'Y';
                                        item.custom_data.title = $.trim($title.val());
                                    }

                                    if ($.trim($reservation_start_dt.val()).length > 0) {
                                        item.custom_yn = 'Y';
                                        item.custom_data.reservation_start_dt = $.trim($reservation_start_dt.val());
                                    }

                                    if ($.trim($reservation_end_dt.val()).length > 0) {
                                        item.custom_yn = 'Y';
                                        item.custom_data.reservation_end_dt = $.trim($reservation_end_dt.val());
                                    }

                                    if ($.trim(thumbnail).length > 0) {
                                        item.custom_yn = 'Y';
                                        item.custom_data.thumbnail = thumbnail;
                                    }

                                    if ($.trim(label).length > 0) {
                                        item.custom_yn = 'Y';
                                        item.custom_data.label_image_url = label;
                                    }

                                    setShowcaseData($target, item);
                                    $('#modal-showcase').modal('hide');
                                }).fail(function () {
                                    alert('처리 중 오류가 발생하였습니다.');
                                });

                                return false;
                            });
                }).end()
                .find('button.btn-delete').off().on('click', function (e) {
                    var $target = $(this).closest('div.attachment-block');
                    $target.remove();

                    if ($('div.showcase-list div.attachment-block').length == 0)
                        $('div.showcase-list-empty').removeClass('hide');
                    else
                        $('div.showcase-list-empty').addClass('hide');
                }).end()
                .find('button.btn-add').off().on('click', function (e) {
                    var $target = $(this).closest('div.attachment-block');
                    var $element = $target.clone(true).off();

                    $element.data('item', JSON.parse(JSON.stringify($element.data('item'))));

                    // 동일한 항목이 존재하는지 여부
                    var showcaseArea = $('div.showcase-list div.attachment-block');

                    if (showcaseArea.length >= 10) {
                        alert('쇼케이스는 10개까지 등록 가능합니다.');
                        return false;
                    }


                    var invalid = false;
                    showcaseArea.each(function (idx, item) {
                        var elementData = $element.data('item');
                        var currentData = $(this).data('item');

                        if (elementData.showcase_type == currentData.showcase_type && elementData.link_key == currentData.link_key) {
                            alert('이미 등록되어 있는 항목입니다.');
                            invalid = true;
                            return false;
                        }
                    });

                    if (!invalid) {
                        $element.find('.btn-delete, .btn-modify').removeClass('hide').end().find('.btn-add').addClass('hide');
                        $('div.showcase-list').append($element);

                        if (showcaseSortable)
                            showcaseSortable.sortable('destroy');

                        showcaseSortable = $("div.showcase-list").sortable().disableSelection();
                    }
                    return false;
                });
        };

        // 쇼케이스 불러오기
        var loadShowcaseAjax = function () {
            $('div.showcase-list').html('');
            $.get('/sully/main/api/showcase', function (data) {
                if (data.length > 0)
                    $('div.showcase-list-empty').addClass('hide');
                else
                    $('div.showcase-list-empty').removeClass('hide');

                $.each(data, function (idx, item) {
                    var $target = $($('script#showcase_template').html());
                    
                    setShowcaseData($target, item);

                    $target.find('.btn-delete, .btn-modify').removeClass('hide');
                    $('div.showcase-list').append($target);
                });

                if (showcaseSortable)
                    showcaseSortable.sortable('destroy');

                showcaseSortable = $("div.showcase-list").sortable().disableSelection();
            });
        };

        // 쇼케이스 검색 영역
        $('div.showcase-search').find('div.search-type ul a').on('click', function (e) {
            var $el = $(this);
            var $search = $el.closest('div.search');
            var type = $el.data('type');
            var text = $el.text();

            if (type == 1)
                $search.find('input.search-value').attr('placeholder', '검색할 프로덕트명을 입력해 주세요.');
            else if (type == 2)
                $search.find('input.search-value').attr('placeholder', '검색할 공지사항명을 입력해 주세요.');
            else if (type == 3)
                $search.find('input.search-value').attr('placeholder', '이동할 URL을 입력해 주세요.');

            $search.data('type', type).find('button.dropdown-toggle').html(text + '&nbsp;<span class="fa fa-caret-down"></span>');
        }).end() // 쇼케이스 검색 종류
            .find('input.search-value').on('keypress', function (e) {
                if (e.originalEvent.keyCode == 13)
                    $('span.search-action button').click();
            }).end() // 쇼케이스 검색 필드
            .find('span.search-action button').on('click', function (e) {
                var $search = $(this).closest('div.search');
                var type = $search.data('type');
                var value = $search.find('input.search-value').val();

                if ($.trim(type).length == 0) {
                    alert('검색 종류를 선택해 주세요.');
                    return false;
                }

                if ($.trim(value).length == 0) {
                    alert((type == 3) ? '외부링크 url을 입력해 주세요' : '검색어를 입력해 주세요');
                    return false;
                }

                $('div.showcase-search-result').find('button.btn-add').off('click').end().html('');
                $.post('/sully/main/api/showcase/search', {
                    type: type,
                    search_value: value
                }, function (response) {
                    if (response.result === 'N')
                        alert(response.msg);
                    else {
                        if (!response.data) {
                            alert('검색 결과가 없습니다.');
                            return false;
                        }

                        $.each(response.data, function (idx, item) {
                            var $target = $($('script#showcase_template').html());

                            setShowcaseData($target, item);

                            $target.find('.btn-add').removeClass('hide');
                            $('div.showcase-search-result').append($target)
                        });
                    }
                }).fail(function () {
                    alert('요청중 장애가 발생하였습니다. 다시 시도해 주시기 바랍니다.');
                });

            }); // 쇼케이스 검색 버튼

        $('button.btn-showcase-save').on('click', function (e) {
            var params = [];
            var invalid = false;

            $('div.showcase-list div.attachment-block').each(function (idx, item) {
                var item = $(item).data('item');
                var title = item.custom_data.title || item.original_data.title;
                var thumbnail = item.custom_data.thumbnail || item.original_data.thumbnail;


                if ($.trim(title).length == 0) {
                    alert('제목이 입력되지 않은 쇼케이스가 있습니다.');
                    invalid = true;
                    return false;
                };

                // url 및 공지사항은 썸네일 필수
                if ((item.showcase_type == 2 || item.showcase_type == 3) && $.trim(item.custom_data.thumbnail).length == 0) {
                    alert('썸네일이 업로드되지 않은 쇼케이스가 있습니다.');
                    invalid = true;
                    return false;
                } else if ($.trim(thumbnail).length == 0) {
                    alert('썸네일이 업로드되지 않은 쇼케이스가 있습니다.');
                    invalid = true;
                    return false;
                }

                params.push({
                    idx: idx + 1,
                    showcase_type: item.showcase_type,
                    link_key: item.link_key,
                    data: item.custom_data
                });
            });

            if (!invalid) {
                $.post('/sully/main/api/showcase', {
                    data: params
                }, function (data) {
                    if (data.result == 'N') {
                        alert(data.message);
                        return false;
                    }

                    alert('저장하였습니다.');
                    loadShowcaseAjax();
                    return false;
                });
            }
            return false;
        }); // 쇼케이스 저장

        loadShowcaseAjax();
    });
</script>
<script type="text/template" id="showcase_template">
    <div class="attachment-block margin-bottom-none" style="border-radius: 20px; padding-left: 10px; padding-right: 10px;">
        <button class="btn-delete btn btn-xs bg-red fa fa-trash pull-right hide" title="삭제"></button>
        <button class="btn-modify btn btn-xs fa fa-gear pull-right hide" title="수정"></button>
        <button class="btn-reset btn btn-xs fa fa-repeat pull-right hide" title="되돌리기"></button>
        <button class="btn-add btn btn-xs fa fa-plus pull-right hide" title="추가"></button>

        <img class="showcase-thumbnail img-circle pull-left" src="#" style="height: 30px; width: 30px; border: 1px solid #999;" />
        <div style="margin-left: 40px;">
            <h5 class="attachment-heading">
                <a class="showcase-title" href="#" onclick="javascript: return false;"></a>
                <span class="showcase-label label pull-right bg-gray hide" style="padding-bottom: 8px;"><img src="" style="max-height: 20px;" /></span>
            </h5>
            <div>
                <small class="showcase-desc attachment-text"></small>
                <span class="showcase-reservation label bg-maroon fa fa-eye hide" style="font-size: 11px;"></span>
            </div>
        </div>
    </div>
</script>