﻿@model Joins.Apps.Models.Sully.LoginUserInfo

@section HeaderPublishCSSJavascript {
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_account.css?t=@ViewContext.ViewBag.CssCacheString">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<div class="container">
    <header class="sub">
        <h1 class="vis-title">내 정보</h1>
        <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>
        <button type="button" id="edit-confirm">확인</button>
    </header>


    <div class="mypage">
        <div class="info">
            <div class="photo">
                <form id="frm_profile_image" method="post" action="/User/Info/Upload" enctype="multipart/form-data">
                    <input type="file" id="pic" name="profile_image" accept="image/*">
                </form>
                <label for="pic"></label>
                <span class="thumbnail"><img src="@Model.ProfileImgUrl" alt="프로필이미지"></span>
            </div>
            <div class="field">
                <ul>
                    <li class="username">
                        <input type="text" placeholder="닉네임" id="username" maxlength="10" value="@Model.NickName">
                        <a href="" class="btn-del">닉네임삭제</a>
                        <span>최대 10자까지 한글,영어,숫자로 입력해주세요</span>
                    </li>
                    <li class="gender select-type">
                        <!-- 선택되면 on 클래스 -->
                        <a href=""@Html.Raw("F".Equals(Model.Gender, StringComparison.OrdinalIgnoreCase) ? @" class=""on _select""" : "") data-value="F">여자</a>
                        <a href=""@Html.Raw("M".Equals(Model.Gender, StringComparison.OrdinalIgnoreCase) ? @" class=""on _select""" : "") data-value="M">남자</a>
                    </li>
                    <li class="age">
                        @if (string.IsNullOrWhiteSpace(Model.Age))
                        {
                            <!-- 나이가 있으면 choosen클래스 -->
                            <p class="age-input trg-layer">연령을 선택하세요</p>
                        }
                        else
                        {
                            <p class="age-input trg-layer choosen">@(Model.Age)대</p>
                        }
                    </li>
                </ul>

                <div class="interest">
                    <p>당신의 관심사</p>
                    @if (Model.Category == null || Model.Category.Count() == 0)
                    {
                        <!-- 관심사 설정 안되어있으면 -->
                        <span class="default" id="my-interest">관심사를 기반으로 좋아할 만한 뉴스를 추천해드려요!</span>
                    }
                    else
                    {
                        <!--관심사 있으면 selected 클래스-->
                        <span class="selected" id="my-interest">@string.Join(",", Model.Category.Select(x => x.CategoryName))</span>
                    }

                    <a href="" class="btn-add trg-layer">추가</a>
                </div>
            </div>
        </div>
        <div class="util">
            <ul>
                <li class="logout">
                    <span>@Model.Email</span>
                    <a href="/User/Logout" id="btn-logout">로그아웃</a>
                </li>
                <li class="exit" id="btn-exit">
                    <a href="/User/Withdraw">
                        <span>회원탈퇴</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <!-- Layer -->
    <div class="bg-layer"></div>
    <!-- 연령대 설정 -->
    <div class="age-select list-layer">
        <div class="panel">
            <ul>
                <!-- 선택되면 on 클래스 -->
                <li @Html.Raw("10".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="10">10대</a></li>
                <li @Html.Raw("20".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="20">20대</a></li>
                <li @Html.Raw("30".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="30">30대</a></li>
                <li @Html.Raw("40".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="40">40대</a></li>
                <li @Html.Raw("50".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="50">50대</a></li>
                <li @Html.Raw("60".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="60">60대</a></li>
                <li @Html.Raw("70".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="70">70대</a></li>
                <li @Html.Raw("80".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="80">80대</a></li>
                <li @Html.Raw("90".Equals(Model.Age) ? @"class=""_select""" : "")><a href="" data-value="90">90대</a></li>
            </ul>
            <button type="button" class="btn-save">연령대 저장</button>
        </div>
    </div>


    <!-- 관심사 설정 -->
    <div class="interest-select list-layer">
        <div class="panel">
            <ul>
                <!-- 선택되면 on 클래스 -->
                <li @Html.Raw(Model.Category.Count(x=>"101".Equals(x.CategoryCode)) > 0 ? @"class=""_select""" : "")>
                    <input type="checkbox" value="" id="int-1" class="chk-int" data-value="101">
                    <label for="int-1" class="chk-label"></label>
                    <label for="int-1" class="txt-label">정치</label>
                </li>
                <li @Html.Raw(Model.Category.Count(x=>"201".Equals(x.CategoryCode)) > 0 ? @"class=""_select""" : "")>
                    <input type="checkbox" value="" id="int-2" class="chk-int" data-value="201">
                    <label for="int-2" class="chk-label"></label>
                    <label for="int-2" class="txt-label">경제</label>
                </li>
                <li @Html.Raw(Model.Category.Count(x=>"301".Equals(x.CategoryCode)) > 0 ? @"class=""_select""" : "")>
                    <input type="checkbox" value="" id="int-3" class="chk-int" data-value="301">
                    <label for="int-3" class="chk-label"></label>
                    <label for="int-3" class="txt-label">사회</label>
                </li>
                <li @Html.Raw(Model.Category.Count(x=>"801".Equals(x.CategoryCode)) > 0 ? @"class=""_select""" : "")>
                    <input type="checkbox" value="" id="int-4" class="chk-int" data-value="801">
                    <label for="int-4" class="chk-label"></label>
                    <label for="int-4" class="txt-label">세계</label>
                </li>
                <li @Html.Raw(Model.Category.Count(x=>"401".Equals(x.CategoryCode)) > 0 ? @"class=""_select""" : "")>
                    <input type="checkbox" value="" id="int-5" class="chk-int" data-value="401">
                    <label for="int-5" class="chk-label"></label>
                    <label for="int-5" class="txt-label">문화</label>
                </li>
                <li @Html.Raw(Model.Category.Count(x=>"701".Equals(x.CategoryCode)) > 0 ? @"class=""_select""" : "")>
                    <input type="checkbox" value="" id="int-6" class="chk-int" data-value="701">
                    <label for="int-6" class="chk-label"></label>
                    <label for="int-6" class="txt-label">IT</label>
                </li>
            </ul>
            <button type="button" class="btn-save">관심사 저장</button>
        </div>
    </div>


    <!-- 로그아웃 -->
    <div class="confirm-layer member-logout">
        <p class="message">정말 로그아웃하시겠어요?</p>
        <img src="https://images.joins.com/ssully/common/mypage/img_setting_logout.png" alt="로그아웃">

        <div class="btn-area">
            <button type='button' class="cancel">취소</button>
            <button type='button' class="verify">확인</button>
        </div>
    </div>


    <!-- 탈퇴 -->
    <div class="confirm-layer member-exit">
        <p class="message">정말 탈퇴하시겠어요?</p>
        <img src="https://images.joins.com/ssully/common/mypage/img_setting_leave.png" alt="탈퇴">

        <div class="btn-area">
            <button type='button' class="verify">탈퇴</button>
            <button type='button' class="cancel">아니오</button>
        </div>

    </div>

    <!--// Layer -->
</div>

<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_user.js"></script>
<script src="~/Scripts/jquery.form.min.js"></script>
<script>
    $(function () {
        if (!$("body").hasClass("mobile")) {
            $(".info").css({
                height: $(window).height()
						- $(".util").height()
						- $("header").height()
            });
        }

        // 프로필 이미지 선택
        $('form#frm_profile_image input:file').on('change', function (e) {
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('span.thumbnail img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        });

        // 수정완료 버튼
        $("#edit-confirm").on("click", function (e) {
            e.preventDefault();
        });

        // 로그아웃
        $(".member-logout .verify").on("click", function (e) {
            e.preventDefault();
            location.href = '/User/Logout';
        });

        // 탈퇴
        $(".member-exit .verify").on("click", function (e) {
            e.preventDefault();
            location.href = '/User/Withdraw';
        });

        // 연령대 선택
        $('.age-select li a').on('click', function (e) {
            $('.age-select li').removeClass('_select');
            $(this).closest('li').addClass('_select');
        });
        // 관심사 선택
        $('.interest-select li label').on('click', function (e) {
            if ($(this).closest('li').hasClass('_select'))
                $(this).closest('li').removeClass('_select');
            else
                $(this).closest('li').addClass('_select');
        });
        // 수정
        $('button#edit-confirm').on('click', function (e) {
            var nickname = $.trim($('input#username').val());
            var gender = $('li.gender a._select').data('value');
            var age = $('div.age-select li._select a').data('value');
            var category = $('div.interest-select li._select input').map(function () { return $(this).data('value'); }).get();
            var $deferred = $.Deferred();

            $.post('/User/Info/NickName', {
                nick_name: nickname
            }).fail(function () {
                alert('처리중 오류가 발생하였습니다. 잠시 후 다시 시도해 주시기 바랍니다.');
            }).done(function (response) {
                if (response.hasOwnProperty('ssully_login_result'))
                    return;

                // step1. 닉네임 유효성 검증
                var data = {
                    result: true,
                    parameter: {
                        name: nickname,
                        gender: gender,
                        age: age,
                        category: category
                    }
                };

                if (response.result == 'N') {
                    $('li.username span').html(response.msg);
                    return;
                }

                // step2. 프로필 이미지 검증 및 업로드
                if ($.trim($('input#pic:file').val()).length == 0) {
                    $deferred.resolve(data);
                    return;
                }

                $('form#frm_profile_image').ajaxForm({
                    beforeSubmit: function (arr, $form, options) {
                        var fileInput = $form.find('input:file');

                        if ($.trim(fileInput.val()).length == 0) {
                            alert('업로드할 이미지를 선택해 주시기 바랍니다.');
                            return;
                        }

                        var filePath = fileInput.val();
                        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                        if (!allowedExtensions.exec(filePath)) {
                            alert('업로드 가능한 파일이 아닙니다.');
                            fileInput.val('');
                            return;
                        }
                    },
                    success: function (response, status) {
                        if (response.hasOwnProperty('ssully_login_result'))
                            return;

                        if (response.result != 'Y') {
                            alert(response.msg);
                            return;
                        }

                        data.result = true;
                        data.parameter = $.extend(data.parameter, { profileimageurl: response.image_url });
                        $deferred.resolve(data);
                    },
                    error: function (e) {
                        alert('프로필 이미지 업로드 중 오류가 발생하였습니다. 잠시 후 다시 시도해 주시기 바랍니다.');
                    }
                }).submit();
            });

            // step3. 사용자 정보 수정
            $deferred.done(function (data) {
                console.log(data);

                if (!data.result)
                    return false;

                $.post('/User/Info', data.parameter, function (response) {
                    if (response.hasOwnProperty('ssully_login_result'))
                        return;

                    if (response.result != 'Y') {
                        alert(response.msg);
                        return;
                    }

                    location.reload();
                }).fail(function () {
                    alert('처리 중 오류가 발생하였습니다.');
                });
            });
        });
    });
</script>