﻿@section HeaderPublishCSSJavascript {
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<div class="container login">
    <h1><img src="https://images.joins.com/ssully/common/bi.png" alt="썰리"></h1>

    <ul class="login-list">
        <li class="kakao">
            <a href="javascript:void(0);" data-type="kakao">카카오톡</a>
        </li>
        <li class="naver">
            <a href="javascript:void(0);" data-type="naver">네이버</a>
        </li>
        <li class="facebook">
            <a href="javascript:void(0);" data-type="facebook">페이스북</a>
        </li>
        <li class="google">
            <a href="javascript:void(0);" data-type="google">구글</a>
        </li>
    </ul>

    <p class="txt-noti">가입 시 <a href="/Common/TermsOfUse" class="underline">이용약관</a> 및 <a href="/Common/PrivacyPolicy" class="underline">개인정보취급방침</a>에 동의하게 됩니다.</p>
</div>
<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('a[data-type]').on('click', function (e) {
            SSullyLogin.Login($(this).data('type'), $.trim('@Request.UrlReferrer') || '/');

            return false;
        });
    });
//]]>
</script>