﻿@model Joins.Apps.SSully.Helpers.LoginCookie

@section HeaderPublishCSSJavascript {
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
<link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/style_account.css?t=@ViewContext.ViewBag.CssCacheString">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}

<div class="container join-proc">

    <div class="page-wrap">
        <!-- first -->
        <div class="page proc1">
            <p class="comment">안녕하세요<br />썰리가 앞으로 당신을 어떻게 부르면 될까요?</p>

            <div class="field">
                <input type="text" placeholder="이름" id="username" maxlength="10">
                <span>최대 10자까지 한글,영어,숫자로 입력해주세요</span>
            </div>
        </div>
        <!--// first -->
        <!-- second -->
        <div class="page proc2">
            <p class="comment">
                <strong id="confirm-name"></strong>님<br />
                성별과 연령대를 알려주세요<br />
                좋아할 만한 뉴스를 추천할게요
            </p>

            <div class="field">
                <ul class="select-type">
                    <!-- 선택되면 on 클래스 -->
                    <li class="gender">
                        <a href="" data-value="F" class="on">여자</a>
                        <a href="" data-value="M">남자</a>
                    </li>
                    <li class="age">
                        <!-- 나이가 있으면 choosen클래스 -->
                        <p class="age-input trg-layer">연령을 선택하세요</p>
                        <!--
                        <p class="age-input choosen trg-layer">20대</p>
                        -->
                    </li>
                </ul>
            </div>


        </div>
        <!--// second -->
        <!-- third -->
        <div class="page proc3">
            <p class="comment">
                당신의 관심사는 무엇인가요?<br />
                선택한 관심분야의 뉴스를 추천할게요
            </p>

            <div class="field">
                <ul class="select-type category">
                    <!-- 선택되면 on 클래스 -->
                    <li><a href="" data-value="101">정치</a></li>
                    <li><a href="" data-value="201">경제</a></li>
                    <li><a href="" data-value="801">세계</a></li>
                    <li><a href="" data-value="301">사회</a></li>
                    <li><a href="" data-value="401">문화</a></li>
                    <li><a href="" data-value="701">IT</a></li>
                </ul>
            </div>
        </div>
        <!--// third -->
    </div>


    <!-- 이름 입력하면 disabled 제거 -->
    <a href="" class="go-next disabled">다음</a>


    <!-- Layer -->
    <div class="bg-layer"></div>
    <!-- 연령대 설정 -->
    <div class="age-select list-layer">
        <div class="panel">
            <ul>
                <!-- 선택되면 on 클래스 -->
                <li><a href="" data-value="10">10대</a></li>
                <li><a href="" data-value="20">20대</a></li>
                <li><a href="" data-value="30">30대</a></li>
                <li><a href="" data-value="40">40대</a></li>
                <li><a href="" data-value="50">50대</a></li>
                <li><a href="" data-value="60">60대</a></li>
                <li><a href="" data-value="70">70대</a></li>
                <li><a href="" data-value="80">80대</a></li>
                <li><a href="" data-value="90">90대</a></li>
            </ul>
            <button type="button" class="btn-save">연령대 저장</button>
        </div>
    </div>

</div>

<script src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_user.js"></script>

<script>
    var ajax_lock = false;

    $(function () {
        var _fn = _module();

        $(".go-next").on("click", function (e) {
            e.preventDefault();
            if (!$(this).hasClass("disabled")) {
                var curpage = _fn.get_pageIdx();

                if (curpage != $(".page").length) {
                    if (curpage == 1) {
                        // 닉네임 체크
                        if (!ajax_lock) {
                            ajax_lock = true;
                            $.post('/User/Regist/NickName', {
                                nick_name: $("#username").val()
                            }, function (data) {
                                if (data.hasOwnProperty('ssully_login_result'))
                                    return;

                                if (data.result != 'Y') {
                                    $('div.proc1 div.field span').text(data.msg);
                                    return;
                                }

                                $("#confirm-name").text($("#username").val());
                                _fn.move_page(curpage);
                            }).error(function () {
                                alert('처리중 오류가 발생하였습니다. 잠시 후 다시 시도해 주시기 바랍니다.');
                            }).always(function () {
                                ajax_lock = false;
                            });
                        } else {
                            alert('처리중입니다. 잠시만 기다려주세요.');
                        }

                        return false;
                    }

                    _fn.move_page(curpage);
                } else {
                    // Go
                    if (_fn.get_ready()) {
                        if (!ajax_lock) {
                            ajax_lock = true;

                            $.post('/User/Regist', {
                                gender: $('div.proc2 li.gender a.on').data('value'),
                                age: $('div.age-select li.on a').data('value'),
                                category: $('div.proc3 ul.category li a.on').map(function () {
                                    return $(this).data('value');
                                }).get()
                            }, function (data) {
                                if (data.hasOwnProperty('ssully_login_result'))
                                    return;

                                if (data.result == 'Y') {
                                    location.href = '/';
                                    return;
                                }

                                alert(data.msg);
                                return;
                            }).error(function () {
                                alert('처리중 오류가 발생하였습니다. 잠시 후 다시 시도해 주시기 바랍니다.');
                            }).always(function () {
                                ajax_lock = false;
                            });
                        } else {
                            alert('처리중입니다. 잠시만 기다려주세요.');
                        }
                    }
                }
            }
        });
    });
</script>