﻿@section HeaderPublishCSSJavascript {
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_common@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
    <link rel="stylesheet" href="https://static.joins.com/html/mobile/ssuly/html/css/renewal/ssully_list@(ViewContext.ViewBag.CssSuffixFileName).css?t=@ViewContext.ViewBag.CssCacheString">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://static.joins.com/html/mobile/ssuly/html/js/ssully_ver3.js?t=@ViewContext.ViewBag.JsCacheString"></script>
}


<!-- 카테고리 리스트 container -->
<div class="container list">
    <header class="main-list">
        <h1 class="hidden">썰리</h1>
        <h2 class="sub_tit"><span class="bold">스크랩</span></h2>
        <a href="javascript:void(0);" onclick="javascript: history.go(-1);" class="pre_page"><span>이전 페이지로 이동</span></a>
    </header>

    <div class="my-contents">
        <!-- 내역 없을 때 s -->
        <section class="module default no-data hide">
            <div class="empty">스크랩 내역이 없습니다.</div>
        </section>
        <!--// 내역 없을 때 e -->
        <!-- 내역 있을 때 -->
        <section class="module default hide">
            <h3 class="sec-title indent">리스트</h3>
            <ul class="def-list"></ul>
        </section>
        <!--// 내역 있을 때 -->
    </div>

</div>
<!--// 카테고리 리스트 container -->

<script type="text/javascript">
    //<![CDATA[
    var search_lock = false;

    $(function () {
        var set_history_state = function (page, page_size, restore) {
            history.replaceState({
                page: page,
                page_size: page_size,
                scroll_top: $(window).scrollTop(),
                restore: restore
            }, '', '');
        };

        $.fn.isInViewport = function () {
            if ($(this).length == 0)
                return false;

            var elementTop = $(this).offset().top;
            var elementBottom = elementTop + $(this).outerHeight();

            var viewportTop = $(window).scrollTop();
            var viewportBottom = viewportTop + $(window).height();

            return elementBottom > viewportTop && elementTop < viewportBottom;
        };

        var search_list = function (page, page_size) {
            if (search_lock)
                return false;

            search_lock = true;

            $.ajax({
                url: '/User/Scrap',
                method: 'GET',
                cache: false,
                data: {
                    page: page,
                    page_size: page_size
                },
                success: function (response) {
                    if (response.hasOwnProperty('ssully_login_result'))
                        return;

                    var $target = $('div.my-contents ul.def-list');

                    if (page == 1 && response.total_count == 0) {
                        $('section.default:not(.no-data)').addClass('hide');
                        $('section.default.no-data').removeClass('hide');
                    } else {
                        $('section.default.no-data').addClass('hide');
                        $('section.default:not(.no-data)').removeClass('hide');
                    }

                    if (response.total_count > 0) {
                        $.each(response.data, function (idx, item) {
                            var $html = $($('script#item-template').html());

                            $html.find('a').attr('href', '/View/' + item.product_seq);
                            $html.find('figcaption p.date').text(item.publish_date);
                            $html.find('figcaption p.subject').text(item.product_title);
                            $html.find('span.thumb img').attr('src', item.thumbnail_url);

                            if ($.trim(item.provider_url).length > 0)
                                $html.find('figcaption span.ic-label img').attr('src', item.provider_url);
                            else
                                $html.find('figcaption span.ic-label').remove();

                            $target.append($html);
                        });

                        if (response.data.length < history.state.page_size)
                            $('div.my-contents ul.def-list li:last').data('is_end', true);
                    } else {
                        $('div.my-contents ul.def-list li:last').data('is_end', true);
                    }
                },
                error: function (request, status, error) {
                    alert('처리 중 오류가 발생하였습니다.\n잠시 후 다시 시도해 주시기 바랍니다.');
                },
                complete: function () {
                    search_lock = false;

                    if (history.state.restore)
                        $(window).scrollTop(history.state.scroll_top);

                    set_history_state(history.state.page, history.state.page_size, false);

                    if ($('div.my-contents ul.def-list li:last').isInViewport() && !$('div.my-contents ul.def-list li:last').data('is_end') && !search_lock) {
                        var state = $.extend(history.state, {
                            page: history.state.page + 1
                        });
                        set_history_state(state.page, state.page_size, false);
                        search_list(state.page, state.page_size);
                    }

                    $('div.my-contents ul.def-list li a').off('click').on('click', function (e) {
                        set_history_state(history.state.page, history.state.page_size, true);
                        location.href = $(this).attr('href');
                    });
                }
            });
        };

        if (history.state && history.state.restore) {
            search_list(1, history.state.page * history.state.page_size);
        } else {
            set_history_state(1, 10, false);
            search_list(history.state.page, history.state.page_size);
        }

        $(window).on('scroll', function (e) {
            if ($('div.my-contents li:last').isInViewport() && !$('div.my-contents li:last').data('is_end') && !search_lock) {
                var state = $.extend(history.state, {
                    page: history.state.page + 1
                });

                set_history_state(state.page, state.page_size, false);
                search_list(state.page, state.page_size);
            }
        });
    });
    //]]>
</script>

<script type="text/template" id="item-template">
    <li>
        <a href="">
            <figure>
                <span class="thumb">
                    <img src="" alt="" class="thumb-img">
                </span>
                <figcaption>
                    <span class="ic-label"><img src="" alt=""></span>
                    <p class="subject"></p>
                    <p class="date"></p>
                </figcaption>
            </figure>
        </a>
    </li>
</script>